{% extends "freeform/_layouts/main" %}
{% hook "freeform.prepareCpTemplate" %}

{% set extraPageHeaderHtml %}

    {% if currentUser.can("freeform-formsManage") %}
        <div class="buttons">
            <a class="btn submit add icon" href="{{ url('freeform/forms/new/') }}">
                {{ "New Form"|t }}
            </a>
        </div>
    {% endif %}

{% endset %}

{% set title = craft.freeform.name ~ ": " ~ ("Forms"|t) %}
{% set selectedSubnavItem = "forms" %}

{% set content %}
    <div id="noforms"{% if forms %} class="hidden"{% endif %}>
        <p>{{ "No forms found"|t }}</p>
    </div>

    {% if forms|length %}
        <table id="forms" class="data fullwidth collapsible">
            <thead>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Handle"|t }}</th>
            <th scope="col">{{ "Description"|t }}</th>
            <th scope="col">{{ "Submissions"|t }}</th>
            <th scope="col">{{ "Blocked Spam"|t }}</th>
            <td class="thin"></td>
            <td class="thin"></td>
            </thead>
            <tbody>
            {% for form in forms %}
                <tr data-id="{{ form.id }}" data-name="{{ form.name|t }}">
                    <th scope="row" data-title="{{ 'Name'|t }}">
                        {% if currentUser.can("freeform-formsManage") %}
                            <a href="{{ url('freeform/forms/' ~ form.id) }}">
                                {{ form.name }}
                            </a>
                        {% else %}
                            {{ form.name }}
                        {% endif %}
                    </th>
                    <td data-title="{{ 'Handle'|t }}">
                        <code>
                            {{ form.handle }}
                        </code>
                    </td>
                    <td style="width: 50%;">
                        {{ form.description }}
                    </td>
                    <td>
                        {{ totalSubmissionsByForm[form.id] is defined ? totalSubmissionsByForm[form.id] : 0 }}
                    </td>
                    <td class="spam-count" data-form-id="{{ form.id }}">
                        {{ form.spamBlockCount }}
                    </td>
                    <td>
                        <button
                            type="submit"
                            class="btn small reset-spam-count"
                            data-confirm-message="{{ "Are you sure you want to reset the spam count for '{formName}'"|t({formName: form.name}) }}"
                            data-form-id="{{ form.id }}"
                        >
                            {{ "Reset Spam Count"|t }}
                        </button>
                    </td>
                    <td class="thin">
                        <div class="action-buttons">
                            {% if currentUser.can("freeform-formsManage") %}
                                <form method="post" action="{{ url("freeform/forms/duplicate") }}">
                                    {{ getCsrfInput() }}
                                    <input type="hidden" name="id" value="{{ form.id }}" />
                                    <a class="clone icon" title="{{ 'Clone'|t }}" role="button"></a>
                                </form>
                                <a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endset %}


{% set js %}
    var adminTable = new Craft.AdminTable({
    tableSelector: '#forms',
    noObjectsSelector: '#noforms',
    newObjectBtnSelector: '#newformcontainer',
    deleteAction: 'freeform/forms/delete',
    confirmDeleteMessage: '{{ "Are you sure you want to delete this form?"|t }}'
    });

    $("a.clone.icon").click(function() {
        $(this).parents("form:first").submit();

        return false;
    });
{% endset %}
{% includeJs js %}
