{% extends "_layouts/basecp" %}
{% set title = "Tests" %}
{% includecssresource "lib/qunit/qunit-1.22.0.css" %}
{% includejsresource "lib/qunit/qunit-1.22.0.js" %}
{% includejsresource "js/tests.js" %}

{% block body %}
	<div id="body">
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>
	</div>
{% endblock %}

{% includecss "#body { max-width: 800px; margin: 50px auto; }" %}
