{{ form.renderTag }}
<div class="contact-form">
{% if form.pages|length > 1 %}
    <ul class="nav nav-tabs">
        {% for page in form.pages %}
            <li class="{{ form.currentPage.index == loop.index0 ? "active" : "disabled" }}">
                {% if form.currentPage.index == loop.index0 %}
                    <a href="javascript:;">{{ page.label }}</a>
                {% else %}
                    <a href="javascript:;">{{ page.label }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="row {{ form.customAttributes.rowClass }}">
        <div class="col-md-5 col-md-offset-1">
{% for row in form %}

        {% for field in row %}
            {% set width = (12 / (row|length)) %}

            {% set isCheckbox = field.type in ["checkbox"] %}

            {% set columnClass = isCheckbox ? "checkbox" : "form-group" %}
            {% set columnClass = columnClass ~ (field.errors|length ? " has-error" : "") %}
            {% set columnClass = columnClass ~ form.customAttributes.columnClass %}
            {% set columnClass = columnClass ~ " " ~ width ~ " " %}

            {% if field.type == "submit" %}
                {% set columnClass = columnClass ~ " submit-align-" ~ field.position %}
            {% endif %}

            {% if field.type == "checkbox_group" %}

                <div class="{{ columnClass }}">
                    {{ field.renderLabel({
                        labelClass: (field.required ? " required" : ""),
                        instructionsClass: "help-block",
                        useRequiredAttribute: true,
                        errorClass: "help-block",
                    }) }}

                    {% for option in field.options %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                    name="{{ field.handle }}[]"
                                    value="{{ option.value }}"
                                    {{ option.checked ? "checked" : "" }}
                                />
                                {{ option.label }}
                            </label>
                        </div>
                    {% endfor %}

                    {{ field.renderInstructions() }}
                    {{ field.renderErrors() }}
                </div>
            {% elseif field.handle == "coverLetter" %}

            <div class="form-group 12 ">
              <div class="attachment mb-10">
                  <label class="form-label nowrap" for="form-input-coverletter">Cover Letter</label>

<input name="coverLetter" type="file" id="form-input-coverletter" class="form-control ">
</div>
              </div>


              {% elseif field.handle == "resume" %}

              <div class="form-group 12 ">
                <div class="attachment mb-10">
                    <label class="form-label nowrap" for="form-input-resume">Resume</label>

            <input name="resume" type="file" id="form-input-resume" class="form-control ">
            </div>
                </div>



            {% elseif field.type == "radio_group" or (field.type == "dynamic_recipients" and field.showAsRadio) %}

                <div class="{{ columnClass }}">
                    {{ field.renderLabel({
                        labelClass: (field.required ? " required" : ""),
                        instructionsClass: "help-block",
                        errorClass: "help-block",
                          useRequiredAttribute: true,
                    }) }}

                    {% for option in field.options %}
                        <div class="radio">
                            <label>
                                <input type="radio"
                                    name="{{ field.handle }}"
                                    value="{{ option.value }}"
                                    {{ option.checked ? "checked" : "" }}
                                />
                                {{ option.label }}
                            </label>
                        </div>
                    {% endfor %}

                    {{ field.renderInstructions() }}
                    {{ field.renderErrors() }}
                </div>

                {% elseif field.type == "textarea" %}


                {% elseif field.type == "submit" %}


                {% elseif field.type == "select" %}
                <div class="select-holder mb-10">



                            <select name="{{ field.handle }}" id="form-input-questionType" class="form-control select-btn">
                              <option value="" disabled selected>{{ field.label }}</option>

                        {% for option in field.options %}
                                <option value="{{ option.value }}" >{{ option.value }}</option>
                                      {% endfor %}

                        </select>


                    {{ field.renderInstructions() }}
                    {{ field.renderErrors() }}
                </div>







            {% else %}

                <div class="{{ columnClass }} hidden-label">
                    {{ field.render({
                        class: isCheckbox ? "checkbox" : "form-control",
                        instructionsClass: "help-block",
                        instructionsBelowField: true,
                        labelClass: (field.required ? " required" : ""),
                        errorClass: "help-block",
                          useRequiredAttribute: true, 
                    }) }}
                </div>

            {% endif %}
        {% endfor %}

{% endfor %}
</div>


{% for row in form %}
<div class="col-md-5 ">
        {% for field in row %}
        {% if field.type == "textarea" %}
        <div class="form-group hidden-label">
                <label for="form-input-message"></label>
<textarea name="message" id="form-input-message" class="form-control textarea-block" rows="12" placeholder="Message"></textarea>
            </div>
        {% endif%}
        {% endfor %}
      </div>
      {% endfor %}
  </div>
  <div class="row">

      {% for row in form %}
              {% for field in row %}
              {% if field.type == "submit" %}
                  <div class=" text-center">
                      <button type="submit" name="form_page_submit" class = "blue-btn blue-outline submit">Submit</button>
                  </div>
                    {% endif%}
              {% endfor %}

            {% endfor %}

            </div>
</div>
{{ form.renderClosingTag }}
