{{ form.renderTag }}

{% if form.pages|length > 1 %}
    <ul class="nav nav-tabs">
        {% for page in form.pages %}
            <li class="{{ form.currentPage.index == loop.index0 ? "active" : "disabled" }}">
                {% if form.currentPage.index == loop.index0 %}
                    <a href="javascript:;">{{ page.label }}</a>
                {% else %}
                    <a href="javascript:;">{{ page.label }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

    <div class="row {{ form.customAttributes.rowClass }}">

{% for row in form %}

        {% for field in row %}
            {% set width = (12 / (row|length)) %}

            {% set isCheckbox = field.type in ["checkbox"] %}

            {% set columnClass = isCheckbox ? "checkbox" : "form-group" %}
            {% set columnClass = columnClass ~ (field.errors|length ? " has-error" : "") %}
            {% set columnClass = columnClass ~ form.customAttributes.columnClass %}
          {% set columnClass = columnClass ~ " col-lg-" ~ width ~ " col-xs-12" %}
            {% if field.type == "submit" %}
                {% set columnClass = columnClass ~ " submit-align-" ~ field.position %}
            {% endif %}

            {% if field.handle == "sampleRequests" %}

                <div class="{{ columnClass }}">
          <div class="container-fluid">
            <div class="row radio-fields">
                    {% for option in field.options %}
                        <div class=" col-xs-6">
                            <label class=  "" id  ="{{ option.label|kebab }}">
                                <input type="checkbox" class = ""
                                    name="{{ field.handle }}"
                                    value="{{ option.value }}"
                                    {{ option.checked ? "checked" : "" }}
                                />
                              <h4 class="white text-uppercase" style = "margin-top: -3px">  {{ option.label }}</h4>
                            </label>
                        </div>
                    {% endfor %}
  </div>
                    {{ field.renderInstructions() }}
                    {{ field.renderErrors() }}
                </div>
  </div>

  {% elseif field.handle == "prototypeDate" %}

  <div class="form-group col-lg-4 col-xs-12 hidden-label date-field" style="">
<label for="form-input-prototypeDate" style="">Prototype Date</label>
<input name="prototypeDate" type="date" id="form-input-prototypeDate" class="form-control" placeholder="Prototype Date">
</div>


  {% elseif field.handle == "productionDate" %}
<div class="form-group col-lg-4 col-xs-12 hidden-label date-field">
                    <label for="form-input-productionDate">Production Date</label>
<input name="productionDate" type="date" id="form-input-productionDate" class="form-control" placeholder="Production Date">
                </div>

  {% elseif field.handle == "quantity" %}


                <div class="form-group col-lg-6 col-xs-12 hidden-label">
                                    <label for="form-input-quantity">Quantity</label>
                <input name="quantity" type="number" id="form-input-quantity" class="form-control" placeholder="Quantity">
                                </div>


            {% elseif field.type == "checkbox_group" %}

                <div class="{{ columnClass }}">
                    {{ field.renderLabel({
                        labelClass: (field.required ? " required" : ""),
                        instructionsClass: "help-block",
                        errorClass: "help-block",
                    }) }}

                    {% for option in field.options %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                    name="{{ field.handle }}[]"
                                    value="{{ option.value }}"
                                    {{ option.checked ? "checked" : "" }}
                                />
                                {{ option.label }}
                            </label>
                        </div>
                    {% endfor %}

                    {{ field.renderInstructions() }}
                    {{ field.renderErrors() }}
                </div>



                {% elseif field.type == "submit" %}

                  <div class="form-group col-xs-12 hidden-label">
                <div class=" text-center">
                    <button type="submit" name="form_page_submit" class = "outline-btn white submit btn">Submit</button>
                </div>
              </div>


                {% elseif field.type == "select" %}
                <div class ="{{ columnClass }}">
                <div class="select-holder mb-10" style = "background-color: white;">



                            <select name="{{ field.handle }}" id="{{ field.handle }}-input-questionType" class="form-control select-btn ">
                              <option value="" disabled selected>{{ field.label }}</option>

                        {% for option in field.options %}
                                <option value="{{ option.value }}" >{{ option.value }}</option>
                                      {% endfor %}

                        </select>


                    {{ field.renderInstructions() }}
                    {{ field.renderErrors() }}
                </div>


          </div>




            {% else %}

                <div class="{{ columnClass }} hidden-label">
                    {{ field.render({
                        class: isCheckbox ? "checkbox" : "form-control",
                        instructionsClass: "help-block",
                        instructionsBelowField: true,
                        labelClass: (field.required ? " required" : ""),
                        useRequiredAttribute: true,
                        errorClass: "help-block",
                    }) }}
                </div>

            {% endif %}
        {% endfor %}

{% endfor %}


</div>



{{ form.renderClosingTag }}
