{% extends "demo/bootstrap/view" %}

{% set baseUrlSegments = 1 %}
{% set segment1 = craft.request.segment(baseUrlSegments + 1) %}
{% set segment2 = craft.request.segment(baseUrlSegments + 2) %}
{% set segment3 = craft.request.segment(baseUrlSegments + 3) %}
{% set segment4 = craft.request.segment(baseUrlSegments + 4) %}
{% set segment5 = craft.request.segment(baseUrlSegments + 5) %}

{% set formHandle = segment3 %}

{% block content %}

    <div class="container">
        <div class="alert alert-warning">
            This is a complete AJAX example, but currently does not work with multi-page forms.
        </div>

        <div id="form-loader"></div>
    </div>

{% endblock %}


{% block footerJs %}
    {{ parent() }}
    {% include "demo/ajax/ajaxify" %}

    <script>
        loadExternalForm(
          "/demo/ajax-flexbox-source/{{ formHandle }}",
          document.getElementById("form-loader")
        );
    </script>
{% endblock %}
