{% extends "demo/foundation/view" %}

{% set baseUrlSegments = 1 %}
{% set segment1 = craft.request.segment(baseUrlSegments + 1) %}
{% set segment2 = craft.request.segment(baseUrlSegments + 2) %}
{% set segment3 = craft.request.segment(baseUrlSegments + 3) %}
{% set segment4 = craft.request.segment(baseUrlSegments + 4) %}
{% set segment5 = craft.request.segment(baseUrlSegments + 5) %}

{% set formHandle = segment3 %}

{% block content %}

    <div class="row">
        <div class="callout warning">
            This is a complete AJAX example, but currently does not work with multi-page forms.
        </div>

        <div id="form-loader"></div>
    </div>

{% endblock %}


{% block footerJs %}
    {{ parent() }}
    {% include "demo/ajax/ajaxify" %}

    <script>
      loadExternalForm(
        "/demo/ajax-foundation-source/{{ formHandle }}",
        document.getElementById("form-loader")
      );

      function renderFormSuccess(form) {
        const successMessage = document.createElement("div");
        successMessage.classList.add("callout", "success");

        const paragraph = document.createElement("p");
        paragraph.appendChild(document.createTextNode("Form submitted successfully"));

        successMessage.appendChild(paragraph);

        form.insertBefore(successMessage, form.childNodes[0]);
      }

      function renderErrors(errors, form) {
        for (const key in errors) {
          if (!errors.hasOwnProperty(key)) {
            continue;
          }

          const messages = errors[key];
          const errorsList = document.createElement("ul");
          errorsList.classList.add("errors");

          for (const message of messages) {
            const listItem = document.createElement("li");
            listItem.appendChild(document.createTextNode(message));
            errorsList.appendChild(listItem);
          }


          const inputList = form.querySelectorAll("*[name=" + key + "], *[name='" + key + "[]']");
          for (const input of inputList) {
            input.parentElement.classList.add("has-error");
            input.parentElement.appendChild(errorsList);
          }
        }
      }

      function renderFormErrors(errors, form) {
        const errorBlock = document.createElement("div");
        errorBlock.classList.add("callout", "alert", "form-errors");
        errorBlock.appendChild(document.createTextNode("This form has errors"));

        if (errors.length) {
          const errorsList = document.createElement("ul");
          for (const message of errors) {
            const listItem = document.createElement("li");
            listItem.appendChild(document.createTextNode(message));
            errorsList.appendChild(listItem);
          }

          errorBlock.appendChild(errorsList);
        }

        form.insertBefore(errorBlock, form.childNodes[0]);
      }
    </script>
{% endblock %}
