{% extends "freeform/_layouts/settings" %}
{% hook "freeform.prepareCpTemplate" %}

{% set selectedSubnavItem = "statuses" %}

{% set extraPageHeaderHtml %}

    {% if currentUser.can("freeform-settingsManage") %}
        <div class="buttons">
            <a class="btn submit add icon" href="{{ url('freeform/settings/statuses/new/') }}">
                {{ "New Status"|t }}
            </a>
        </div>
    {% endif %}

{% endset %}

{% set title = craft.freeform.name ~ ": " ~ ("Statuses"|t) %}

{% set content %}
    <div id="nostatuses"{% if statuses %} class="hidden"{% endif %}>
        <p>{{ "No statuses found"|t }}</p>
    </div>

    {% if statuses|length %}
        <table id="statuses" class="data fullwidth collapsible">
            <thead>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Handle"|t }}</th>
            <th scope="col">{{ "Is Default"|t }}</th>
            <td class="thin"></td>
            <td class="thin"></td>
            </thead>
            <tbody>
            {% for status in statuses %}
                <tr data-id="{{ status.id }}" data-name="{{ status.name|t }}">
                    <th scope="row" data-title="{{ 'Name'|t }}">
                        <span class="color-indicator" style="background: {{ status.color }};"></span>
                        {% if currentUser.can("freeform-settingsManage") %}
                            <a href="{{ url('freeform/settings/statuses/' ~ status.id) }}">
                                {{ status.name }}
                            </a>
                        {% else %}
                            {{ status.name }}
                        {% endif %}
                    </th>
                    <td data-title="{{ 'Handle'|t }}">
                        <code>
                            {{ status.handle }}
                        </code>
                    </td>
                    <td>{% if status.isDefault %}<span data-icon="check"></span>{% endif %}</td>
                    <td><td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a></td>
                    <td class="thin">
                        {% if currentUser.can("freeform-settingsManage") and not status.isDefault %}
                            <a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endset %}


{% set js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#statuses',
        noObjectsSelector: '#nostatuses',
        newObjectBtnSelector: '#newstatuscontainer',
        deleteAction: 'freeform/statuses/delete',
        confirmDeleteMessage: '{{ "Are you sure you want to delete this status?"|t }}',
        sortable: true,
        reorderAction: 'freeform/statuses/reorder',
        reorderSuccessMessage: '{{ "Success"|t }}',
        reorderFailMessage:    '{{ "Failed"|t }}',
    });
{% endset %}
{% includeJs js %}
