{% extends "_layouts/main" %}

{% block main %}
  <div class="text-center  mt-60 mb-30">
    <h1 class="blue">{{ entry.title }}</h1>
</div>
  <div class="container article-post relative career-post">
<div class="row">
  <div class="col-lg-9 article-post">

    <div class="mb-40">
        {% if entry.jobDescription | length %}
    {{ entry.jobDescription }}
    {% else %}
  <p>  {{ craft.entries.id(34).first.snippet }}</p>
    <p>Abracon’s mission is to enable customers go to market goals by providing support throughout the initial design, development, and manufacturing processes. We aim to minimize end-system design challenges and time-to-market through our highly trained engineering resources and global manufacturing capabilities, while developing close and long term relationships with our valued customers.</p>
<p>Our vision is to manufacture globally accessible components optimized for the designs of the future.</p>
    {% endif %}
</div>
      <a href="" class="blue-btn apply-btn mb-70 reverse-btn">Apply</a>

    <hr class = "mb-70">

    <span class = "h4 blue text-uppercase">
      <a href="/careers" class = "return-arrow blue">
        <span class="return-arrow-btn">
          <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class = "return-arrow">
          <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class = "return-arrow">

        </span>
        View all career postings
      </a>
    </span>

  </div>
    <div class="col-lg-3 post-sidebar job-sidebar">


    <a href="" class="blue-btn apply-btn mb-70 reverse-btn">Apply</a>

    {% set otherJobs = craft.entries({ section: 'careers',  id: 'not ' ~ entry.id }).limit(5) %}

    <div class="hidden-md">
    {% if otherJobs | length > 1 %}
      <p class="large blue">Other Available Positions</p>
      <hr>
      <ul class="list-unstyled ">
        {% for entries in otherJobs %}
          <li><a href="{{ entries.url }}" class="p body-grey">{{ entries.title }}</a></li>
        {% endfor %}
      </ul>



      <h5 class="h5 blue text-uppercase ">
        <a class="blue arrow-link" href="/careers">View All
          <div class ="x-smol-arrow-btn blue-arrow">
            <img alt="arrow >"  src="/assets/icons/small-blue-arrow.svg">
            <img alt="arrow >"  src="/assets/icons/small-blue-arrow.svg">
        </div>

        </a>
      </h5>

          {% endif %}
</div>

    </div>

</div>
</div>

{% set emailAddress = "careers@abracon.com" %}
{% if entry.emailRecipient | length %}
  {% set emailAddress = entry.emailRecipient.value %}
{% endif %}


<div class="careers-pop pop-up">
  <div class="close-me"><img src="/assets/icons/close-me.svg" alt="X"></div>
  <div class="container text-center">
    <h2 class=" h1 light-blue mb-15">{{ entry.title }}</h1>
    <p class="white" >{{ entry.snippet }}</p>






      {{ craft.freeform.form("careersSubmission", {
          labelClass: "form-label",
          inputClass: "form-control",
          instructionsBelowField: true,
            dynamicNotification: { recipients: emailAddress, template: "newCareersSubmission" },
          overrideValues: {
              careerTitle: entry.title,
          }
            }).render() }}


    </div>
</div>

{% endblock %}
