{% extends "_layouts/main" %}

{% block main %}



{% set banner = entry.banner.first %}
<div class="img-left-section text-left-section">
  <div class="row no-gutters flex">
    <div class="col-xs-12 col-md-7 no-gutters relative hidden-overflow image-background-row text-col careers-container" style="background-image: url(/uploads/banner-images/background.png)">
      <div class="mr-20">
      <h1 class="white">{{ banner.headerText }}</h1>
      <p class="white large">{{ banner.description }}</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 dark-blue-background bottom-right-img-background text-col" style="background-image: url(/assets/imgs/large-bottom-right-circuit.png)">
      <h3 class="light-blue text-uppercase">{{ banner.subHeader1 }}</h3>
      <p class="white">{{ banner.subDescription1 }}</p>
      <h3 class="light-blue text-uppercase">{{ banner.subHeader2 }}</h3>
      <p class="white">{{ banner.subDescription2 }}</p>
    </div>
  </div>
</div>


<div class="container newsies careers">
  <div class="row">
    <div class="col-xs-12">
      <div class="career-title">
<h2 class="blue ">Available Positions</h2>
<span class="blue-line mb-10"></span>
</div>
<div class="position-snippet">

  {% for job in craft.entries.section("careers") %}
  <div class="row mb-20">
  <div class="col-sm-9 mb-20">
    <h3 class="blue text-uppercase"><a href="{{ job.url }}" class="blue">{{ job.title }}</a></h3>
    <h4 class="light-blue text-uppercase mb-10">{{ job.location }}</h4>
    <p class = "">{{ job.snippet }}</p>
  </div>
  <div class="col-sm-3">
    {% if job.type == "noDescription" %}
      <a href="#" class="blue-btn reverse-btn career-target"  data-target = ".modal-{{loop.index}}">APPLY NOW</a>
    {% else %}
      <a href="{{ job.url }}" class="blue-btn reverse-btn " >LEARN MORE</a>
    {% endif %}
  </div>
</div>


{% if job.type == "noDescription" %}

<div class="careers-pop pop-up modal-{{loop.index}}">
  <div class="close-me"><img src="/assets/icons/close-me.svg" alt="X"></div>
  <div class="container text-center">
    <h2 class=" h1 light-blue mb-15">{{ job.title }}</h1>


    {{ craft.freeform.form("careersSubmission", {
        labelClass: "form-label",
        inputClass: "form-control",
        instructionsBelowField: true,
        overrideValues: {
            careerTitle: entry.title,
        }
          }).render() }}


    </div>
</div>
{% endif %}

  {% endfor %}



</div>

</div>
</div>

</div>





{% endblock %}
