/*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 *//*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 *//*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 */.fields-row h1,.fields-row h2,.fields-row h3,.fields-row h4,.fields-row h5,.fields-row h6{margin:20px 0 !important;padding:0 !important;border:0 !important;vertical-align:baseline;font-size:100%;font-family:inherit !important;font-weight:normal !important;text-transform:none !important;color:#000000 !important}.fields-row h1{font-size:25px !important}.fields-row h2{font-size:23px !important}.fields-row h3{font-size:21px !important}.fields-row h4{font-size:19px !important}.fields-row h5{font-size:17px !important}.fields-row h6{font-size:15px}.fields-row ul{display:block;list-style-type:disc;margin:1em 0;padding-left:40px}.fields-row ol{display:block;list-style-type:decimal;margin:1em 0;padding-left:40px}.fields-row{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;margin:0 -10px 0;padding:0}.fields-row:last-child{border-bottom:none}.fields-row>div{-ms-flex:1 1 0px;flex:1 1 0;padding:10px 10px}.fields-row .field-required .field.checkboxfield label:after{position:relative;top:-1px;content:"*";margin:0 0 0 7px;font-family:Craft, sans-serif;font-size:7px;color:#da5a47}#status-menu-btn{background:none;border:none;box-shadow:none;padding-left:0}#status-menu-btn:focus{outline:none;box-shadow:none}.tab-content{margin:0}.input>input{margin-top:3px}.input>input:first-child{margin-top:0}
