{% requireEdition CraftClient %}

<div class="cp-image" data-type="{{ imageType }}">
	<div class="cp-current-image"
		{% if craft.rebrand.isImageUploaded(imageType) -%}
			{% set image = craft.rebrand.getImageVariable(imageType) %}
			 style="background-image: url('{{ image.url }}'); width: {{ image.width }}px; height: {{ image.height }}px;"
		{%- endif %}>
	</div>

	<div class="cp-image-controls">
		{% if craft.rebrand.isImageUploaded(imageType) %}
			<div class="btn upload">{% if imageType == 'logo' %}{{ block('changeLogoLabel') }}{% else %}{{ block('changeIconLabel') }}{% endif %}</div>
			<div class="btn delete">{% if imageType == 'logo' %}{{ block('deleteLogoLabel') }}{% else %}{{ block('deleteIconLabel') }}{% endif %}</div>
		{% else %}
			<div class="btn upload">{% if imageType == 'logo' %}{{ block('uploadLogoLabel') }}{% else %}{{ block('uploadIconLabel') }}{% endif %}</div>
		{% endif %}
	</div>
</div>
