{#
 # Status field
 #}
{% macro statusField(statuses, current = '', default = 'enabled') %}
    {% set current_status = current ?? default %}
    
    <input type="hidden" name="status" value="{{ current_status }}" />

    <div class="btn menubtn statusmenubtn">
        <span class="status {{ current_status }}"></span>{{ current_status|capitalize }}
    </div>

    <div class="menu status-settings">
        <ul class="padded">
            {#
             # Set status
             #}
            {% for status, label in statuses %}
                <li>
                    <a data-status="{{ status }}" {{ (status == current_status) ? 'class="sel"' : '' }}>
                        <span class="status {{ status }}"></span>{{ label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro templateField(config, input) %}
    {% include "_includes/forms/field" with config|merge({ input: input }) only %}
{% endmacro %}

{% macro templateElementSelectField(config) %}
    {{ _self.templateField(config, _self.templateElementSelect(config)) }}
{% endmacro %}

{% macro templateElementSelect(config) %}
    {% include "acpostman/_helpers/templatesType" with config only %}
{% endmacro %}