{% if name is defined and name %}
    <input type="hidden" name="{{ name }}" value="">
{% endif -%}

{% set elements = (elements is defined and elements ? elements : []) -%}
{% set jsClass = (jsClass is defined and jsClass ? jsClass : 'Craft.BaseElementSelectInput') -%}
{% set sources = (sources is defined and sources ? sources : null) -%}
{% set criteria = (criteria is defined and criteria ? criteria : null) -%}
{% set sourceElementId = (sourceElementId is defined and sourceElementId ? sourceElementId : null) -%}
{% set storageKey = (storageKey is defined and storageKey ? storageKey : null) -%}
{% set viewMode = (viewMode is defined ? viewMode : 'list') %}

<div id="{{ id }}" class="elementselect">
    <div class="elements">
        {% for element in elements %}
            {% include "_elements/element" with {
            context: 'field',
            size: (viewMode == 'large' ? 'large' : 'small')
            } %}
        {% endfor %}
    </div>

    <div class="btn add icon dashed">{{ selectionLabel is defined ? selectionLabel : (addButtonLabel is defined ? addButtonLabel : "Choose"|t) }}</div>
</div>

{% set jsSettings = {
    id: id|namespaceInputId,
    name: name|namespaceInputName,
    elementType: elementType.getClassHandle(),
    sources: sources,
    criteria: criteria,
    sourceElementId: sourceElementId,
    viewMode: viewMode,
    limit: limit,
    modalStorageKey: storageKey,
} %}

{% includejs %}
    new {{ jsClass }}({{ jsSettings|json_encode|raw }});

    $('.elementselect, .categoriesfield').each(function () {
        $(this).data('elementSelect').on('selectElements', onSelectElements);
    });

    $('.elementselect, .categoriesfield').each(function () {
        $(this).data('elementSelect').on('removeElements', onRemoveElements);
    });

    function onSelectElements(e) {
        var $field = $(e.target);
        var selectedElements = e.elements;

        $.ajax({
            type: 'GET',
            url: '/actions/ACPostman/getEmailBody',
            data: { 
                id: selectedElements[0].id
            },
            success: function( result ){
                $('#fields-emailBody-field').find('#redactor-uuid-0').children().remove()
                $('#fields-emailBody-field').find('#redactor-uuid-0').append(result.body)
                $('#fields-emailBody').val(result.body)
            }
            ,error: function(e){
                console.warn( e )
            }
        });
    }

    function onRemoveElements(e){
        var $field = $(e.target);
        var selectedElements = e.elements;

        $('#fields-emailBody').val(null)
        $('#fields-emailBody-field').find('#redactor-uuid-0').children().remove()
    }


{% endincludejs %}