<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demo Templates for Freeform">
    <meta name="author" content="Solspace">
    <title>Freeform | {{ pageTitle ? pageTitle : "Home" }}</title>

    {% block headerCss %}{% endblock %}

</head>

<body>

{% block nav %}{% endblock %}

{% block content %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

{% block footerJs %}{% endblock %}

</body>
</html>
