{% requireAdmin %}

{% extends (CraftEdition >= CraftClient ? "settings/email/_layout" : "_layouts/cp") %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% set fullPageForm = true %}

{% if CraftEdition >= CraftClient %}
	{% set selectedNavItem = 'settings' %}
{% else %}
	{% set title = "Email Settings"|t %}
{% endif %}

{% import "_includes/forms" as forms %}
{% includejsresource "js/email_settings.js" %}
{% includeTranslations
	"Email sent successfully! Check your inbox.",
	"An unknown error occurred."
%}


{% if settings is not defined %}
	{% set settings = craft.systemSettings.email %}
	{% set freshSettings = true %}
{% else %}
	{% set freshSettings = false %}
{% endif %}


{% block content %}
		<input type="hidden" name="action" value="systemSettings/saveEmailSettings">
		<input type="hidden" name="redirect" value="settings">

		{{ forms.textField({
			first: true,
			label: "System Email Address"|t,
			instructions: "The email address Craft CMS will use when sending email."|t,
			id: 'emailAddress',
			name: 'emailAddress',
			value: settings.emailAddress,
			autofocus: true,
			required: true,
			errors: (freshSettings ? null : settings.getErrors('emailAddress'))
		}) }}

		{{ forms.textField({
			label: "Sender Name"|t,
			instructions: "The “From” name Craft CMS will use when sending email."|t,
			id: 'senderName',
			name: 'senderName',
			value: settings.senderName,
			required: true,
			errors: (freshSettings ? null : settings.getErrors('senderName'))
		}) }}

		{% if CraftEdition >= CraftClient %}
			{{ forms.textField({
				label: "HTML Email Template"|t,
				instructions: "The template Craft CMS will use for HTML emails"|t,
				id: 'template',
				name: 'template',
				value: settings.template,
				errors: (freshSettings ? null : settings.getErrors('template'))
			}) }}
		{% endif %}

		<hr>

		{{ forms.selectField({
			label: "Protocol"|t,
			instructions: "The protocol Craft CMS will use to send email."|t,
			id: 'protocol',
			name: 'protocol',
			options: { php: "PHP Mail"|t, sendmail: "Sendmail"|t, smtp: "SMTP"|t, pop: "POP"|t, gmail: "Gmail"|t },
			value: settings.protocol
		}) }}

		<div id="hidden-fields" class="hidden">
			{{ forms.textField({
				label: "Username"|t,
				id: 'username',
				name: 'username',
				value: settings.username,
				errors: (settings.protocol != 'Smtp' ? (freshSettings ? null : settings.getErrors('username')) : null)
			}) }}

			{{ forms.passwordField({
				label: "Password"|t,
				id: 'password',
				name: 'password',
				value: settings.password,
				errors: (settings.protocol != 'Smtp' ? (freshSettings ? null : settings.getErrors('password')) : null)
			}) }}

			{{ forms.textField({
				label: "Port"|t,
				id: 'port',
				name: 'port',
				value: settings.port,
				size: 4,
				errors: (freshSettings ? null : settings.getErrors('port'))
			}) }}

			{{ forms.textField({
				label: "Host Name"|t,
				id: 'host',
				name: 'host',
				value: settings.host,
				errors: (freshSettings ? null : settings.getErrors('host'))
			}) }}

			{{ forms.textField({
				label: "Timeout"|t,
				id: 'timeout',
				name: 'timeout',
				value: settings.timeout,
				size: 2,
				errors: (freshSettings ? null : settings.getErrors('timeout'))
			}) }}

			{{ forms.checkboxField({
				label: "Use SMTP Keep Alive"|t,
				id: 'smtpKeepAlive',
				name: 'smtpKeepAlive',
				checked: settings.smtpKeepAlive
			}) }}

			{{ forms.checkboxField({
				label: "Use SMTP authentication"|t,
				id: 'smtpAuth',
				name: 'smtpAuth',
				checked: settings.smtpAuth,
				toggle: 'smtpAuthCredentials-field'
			}) }}

			<div id="smtpAuthCredentials-field" class="nested-fields{% if not settings.smtpAuth %} hidden{% endif %}">
				{{ forms.textField({
					label: "Username"|t,
					id: 'smtp-username',
					name: 'smtpUsername',
					value: settings.username,
					errors: (settings.protocol == 'Smtp' ? (freshSettings ? null : settings.getErrors('username')) : null)
				}) }}

				{{ forms.passwordField({
					label: "Password"|t,
					id: 'smtpPassword',
					name: 'smtpPassword',
					value: settings.password,
					errors: (settings.protocol == 'Smtp' ? (freshSettings ? null : settings.getErrors('password')) : null)
				}) }}
			</div>

			{{ forms.selectField({
				label: "SMTP Secure Transport Type",
				id: 'smtpSecureTransportType',
				name: 'smtpSecureTransportType',
				options: { none: "None"|t, ssl: "SSL"|t, tls: "TLS"|t },
				default: 'none',
				value: settings.smtpSecureTransportType
			}) }}
		</div>

		<hr>

		<div class="buttons">
			<div id="test" class="btn">{{ "Test"|t }}</div>
			<div id="test-spinner" class="spinner hidden"></div>
		</div>
{% endblock %}
