{% requireEdition CraftClient %}
{% requireAdmin %}

{% extends "settings/email/_layout" %}
{% set selectedNavItem = 'messages' %}

{% includecssresource "css/email_messages.css" %}
{% includejsresource "js/email_messages.js" %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% includeTranslations
	"Couldn’t save message.",
	"Message saved."
%}

{% block content %}
	<div id="messages">
		{% for message in craft.emailMessages.getAllMessages() %}
			<h2>{{ message.heading }}</h2>
			<div class="pane message" data-key="{{ message.key }}">
				<div class="subject">{{ message.subject }}</div>
				<div class="body">{{ message.body|nl2br }}</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
