{#
/**
 * Retour plugin for Craft CMS
 *
 * RetourFieldType HTML
 *
 * @author    Andrew Welch
 * @copyright Copyright (c) 2016 nystudio107
 * @link      http://nystudio107.com
 * @package   Retour
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set disableFields = values.redirectChangeable ? false : true %}
{% set locale = craft.isLocalized() ? (element ? element.locale : craft.locale) %}

<div id="{{ id }}" class="retour-field">

    <div class="retour-field-title">
        <img class="retour-icon" src="{{ resourceUrl('retour/icon.svg') }}" width="16px" height="auto" /><span>&nbsp;Retour Redirect</span>
    </div>

    <div class="field first">
        <div class="heading">
            <div class="instructions"><p>{{ "Retour will look for 404 (Not Found) URLs that match the Legacy URL Pattern below, and redirect them to this entry's URL." |t |raw}}</p></div>
        </div>
    </div>

    <div class="field">
        <div class="heading">
            <label for= id ~ "redirectSrcUrl">{{ "Legacy URL Pattern"|t}}</label>
            <div class="instructions"><p>{{ "Enter the URL pattern that Retour should match.  This matches against the path, the part of the URL after the domain name.  You can include tags that output entry properties, such as <code>{title}</code> or <code>{myCustomField}</code> in the text field below.  e.g.: Exact Match: <code>/recipes/{recipeid}</code> or RegEx Match: <code>.*RecipeID={recipeid}$</code> where <code>{recipeid}</code> is a field handle to a field in this entry." |t |raw}}</p></div>
        </div>
       {{ forms.textField({
            fieldClass: 'nomarginfield',
            id: id ~ "redirectSrcUrl",
            class: 'nicetext',
            name: name ~ "[redirectSrcUrl]",
            value: values.redirectSrcUrl,
            required: true,
            disabled: disableFields,
            locale: field.translatable ? locale,
        }) }}
    </div>

    <div class="field">
        <div class="heading">
            <label for= id ~ "redirectMatchType">{{ "Pattern Match Type"|t}}</label>
            <div class="instructions"><p>{{ "What type of matching should be done with the Legacy URL Pattern.  Details on RegEx matching can be found at <a href='http://regexr.com/' target='blank'>regexr.com</a>  If a plugin provides a custom matching function, you can select it here." |t |raw}}</p></div>
        </div>
        {{ forms.selectField({
            fieldClass: 'nomarginfield',
            class: 'selectField',
            id: id ~ "redirectMatchType",
            options: matchList,
            name: name ~ "[redirectMatchType]",
            value: values.redirectMatchType,
            disabled: disableFields,
            locale: field.translatable ? locale,
        }) }}
    </div>

    <div class="field">
        <div class="heading">
            <label for= id ~ "redirectHttpCode">{{ "Redirect Type"|t}}</label>
            <div class="instructions"><p>{{ "Select whether the redirect should be permanent or temporary." |t |raw}}</p></div>
        </div>
        {{ forms.selectField({
            fieldClass: 'nomarginfield',
            class: 'selectField',
            id: id ~ "redirectHttpCode",
            options: {
                "301": "301 - Permanent"|t,
                "302": "302 - Temporary"|t,
                "410": "410 - Gone"|t,
            },
            name: name ~ "[redirectHttpCode]",
            value: values.redirectHttpCode,
            disabled: disableFields,
            locale: field.translatable ? locale,
        }) }}
    </div>

</div>
