{% extends "_layouts/basecp" %}
{% set title = "Install Craft CMS"|t %}
{% includecssresource "css/install.css" %}
{% includejsresource "js/install.js" %}

{% includeTranslations
	"All done!",
	"Go to Craft CMS"
%}

{% block body %}
	<div id="bg"></div>
	<div class="beginbtncontainer">
		<div id="beginbtn" class="btn big submit">{{ "Begin"|t }}</div>
	</div>

	{% include "_special/install/account" %}
	{% include "_special/install/site" %}
	{% include "_special/install/installing" %}
{% endblock %}
