{% import "_includes/forms" as forms %}


<div id="site" class="modal">
	<h1>{{ "Setup your site"|t }}</h1>

	<form id="siteform" accept-charset="UTF-8">
		{{ getCsrfInput() }}
		{{ forms.textField({ first: true, label: "Site Name"|t, id: 'siteName', value: defaultSiteName, maxlength: 255 }) }}
		{{ forms.textField({ label: "Site URL"|t, id: 'siteUrl', value: defaultSiteUrl, maxlength: 255 }) }}

		{% set localeInput %}
			<div class="select">
				<select id="locale">
					{% for locale in craft.i18n.getAllLocales() %}
						<option value="{{ locale.id }}"{% if locale.id == craft.locale %} selected{% endif %}>{{ locale.id }} ({{ locale.name }})</option>
					{% endfor %}
				</select>
			</div>
		{% endset %}
		{{ forms.field({ label: "Locale"|t, id: 'locale' }, localeInput) }}

		<div class="buttons">
			<div id="sitesubmit" class="btn big submit">{{ "Finish up"|t }}
				<input type="submit" tabindex="-1">
			</div>
		</div>
	</form>

	{% include "_special/install/dots" with {dot: 2} %}
</div>
