{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set title = "General Settings"|t %}
{% set fullPageForm = true %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}


{% macro configWarning(setting, file) -%}
	{{ "This is being overridden by the {setting} config setting."|t({
		setting: '<a href="http://craftcms.com/docs/config-settings#'~setting~'" target="_blank">'~setting~'</a>'
	})|raw }}
{%- endmacro %}

{% from _self import configWarning %}


{% block content %}
	<input type="hidden" name="action" value="systemSettings/saveGeneralSettings">
	<input type="hidden" name="redirect" value="settings">

	{{ forms.lightswitchField({
		first: true,
		label: "System Status"|t,
		warning: (craft.config.isSystemOn is sameas(true) or craft.config.isSystemOn is sameas(false) ? configWarning('isSystemOn')),
		id: 'on',
		name: 'on',
		on: info.on
	}) }}

	{{ forms.textField({
		label: "Site Name"|t,
		warning: (craft.config.siteName ? configWarning('siteName')),
		id: 'siteName',
		name: 'siteName',
		value: info.siteName,
		autofocus: true,
		required: true,
		errors: info.getErrors('siteName')
	}) }}

	{{ forms.textField({
		label: "Site URL"|t,
		warning: (craft.config.siteUrl ? configWarning('siteUrl')),
		id: 'siteUrl',
		class: 'ltr',
		name: 'siteUrl',
		value: info.siteUrl,
		required: true,
		errors: info.getErrors('siteUrl')
	}) }}

	{{ forms.selectField({
		label: "Timezone"|t,
		warning: (craft.config.timezone ? configWarning('timezone')),
		id: 'timezone',
		name: 'timezone',
		value: info.timezone,
		options: timezoneOptions
	}) }}

	{% if CraftEdition >= CraftClient %}
		<hr>

		{% includeTranslations
			"Are you sure you want to delete the logo?"
		%}

		{% includejsresource "lib/fileupload/jquery.fileupload.js" %}
		{% includejsresource "lib/jcrop/jquery.Jcrop.min.js" %}
		{% includejsresource "js/rebrand.js" %}
		{% includecssresource "lib/jcrop/jquery.Jcrop.min.css" %}
		{% includecssresource "css/rebrand.css" %}

		{{ forms.field({
			label: "Login Page Logo"|t,
			instructions: "SVG file recommended. The logo will be displayed at {size} wide."|t({ size: '300px' })
		}, include('settings/general/_images/logo')) }}

		{{ forms.field({
			label: "Site Icon"|t,
			instructions: "Square SVG file recommended. The logo will be displayed at {size} by {size}."|t({ size: '32px' })
		}, include('settings/general/_images/icon')) }}

		<div class="clear"></div>
	{% endif %}
{% endblock %}
