{% extends "demo/_layouts/bootstrap" %}

{% set pageTitle = "Bootstrap" %}
{% set page = "bootstrap" %}

{% set baseUrlSegments = 1 %}
{% set segment1 = craft.request.segment(baseUrlSegments + 1) %}
{% set segment2 = craft.request.segment(baseUrlSegments + 2) %}
{% set segment3 = craft.request.segment(baseUrlSegments + 3) %}
{% set segment4 = craft.request.segment(baseUrlSegments + 4) %}
{% set segment5 = craft.request.segment(baseUrlSegments + 5) %}

{% set formHandle = segment2 %}
{% set isSuccess  = segment3 == "success" %}

{% block content %}

    <div class="container">
        {% if isSuccess %}
            <div class="alert alert-success" role="alert">
                <p class="lead">
                    Form submitted successfully!
                </p>
            </div>
        {% endif %}

        {% include "demo/bootstrap/_form" with { formHandle: formHandle } %}
    </div>

{% endblock %}
