{% extends "demo/_layouts/materialize" %}

{% set pageTitle = "Materialize" %}
{% set page = "materialize" %}

{% block content %}

<div class="container">

    {% set forms = craft.freeform.forms %}

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Form Name</th>
            <th>Handle</th>
            {% if currentUser and currentUser.admin %}
            <th>Submissions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for form in forms %}
            <tr>
                <td>{{ form.id }}</td>
                <td>
                    <a href="{{ siteUrl }}demo/materialize/{{ form.handle }}">
                        {{ form.name }}
                    </a>
                </td>
                <td class="code">{{ form.handle }}</td>
                {% if currentUser and currentUser.admin %}
                    <td>
                        <a href="{{ siteUrl }}demo/materialize/{{ form.handle }}/submissions">
                            {{ craft.freeform.submissions({formId: form.id}).count }} submissions
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
