/*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 *//*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 *//*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 *//*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 */.composer-option-table>table{width:100%;overflow:hidden;border-radius:4px;border:1px solid #ccc;border-collapse:separate;border-spacing:0;box-shadow:0 1px 5px -1px rgba(0,0,0,0.1)}.composer-option-table>table thead tr th{border-radius:4px 4px 0 0;padding:4px 10px;background-image:linear-gradient(#fff, #f9fafa);border-bottom:1px solid rgba(0,0,0,0.15);box-shadow:0 2px 1px -2px rgba(0,0,0,0.2);font-weight:bold;vertical-align:top;font-size:11px;color:rgba(0,0,0,0.5);text-align:left}.composer-option-table>table tbody tr td{background:#fff;border-top:1px solid rgba(0,0,0,0.07);border-left:1px solid rgba(0,0,0,0.07);vertical-align:middle;text-align:center}.composer-option-table>table tbody tr td:first-child{border-left:none}.composer-option-table>table tbody tr td input{display:block;overflow:hidden;width:100%;padding:7px 10px;box-sizing:border-box;border:none !important;background:#fff;font-family:HelveticaNeue, sans-serif;font-size:13px;line-height:16px;color:#29323d;resize:none}.composer-option-table>table tbody tr td input.code{color:#29323d !important}.composer-option-table>table tbody tr td.composer-option-row-checkbox{padding:0 10px}.composer-option-table>table tbody tr td.composer-option-row-checkbox>input{margin:0 !important}.composer-option-table>table tbody tr td.action{background:#ebedef;padding:0 5px}.composer-option-table>table tbody tr td.action+.action{border-left:none}.composer-option-table>table tbody tr td.action>a:after{position:relative;top:1px;font-family:Craft, sans-serif;font-size:13px;color:rgba(0,0,0,0.2)}.composer-option-table>table tbody tr td.action>a.delete:after{content:"\72"}.composer-option-table>table tbody tr td.action>a.move:after{content:"\e617"}.composer-option-table>table tbody tr td.action>a:hover{text-decoration:none}.composer-option-table>table tbody tr td .select{display:block;margin:3px 3px !important}.composer-option-table>table tbody tr td .select>select{width:128px;padding:4px 20px 5px 8px !important;font-size:11px;font-family:Menlo, monospace}.composer-option-table>table tbody tr td.read-only{max-width:93px;word-wrap:break-word;padding:3px 10px;color:#555;text-align:left}.composer-option-table>table tbody tr:first-child td{border-top:none}.composer-option-table table+.btn.add{display:block;width:100%;border-radius:0 0 3px 3px;border:1px dashed rgba(0,0,0,0.2);border-top:none;background:none;box-shadow:none;color:#29323d}/*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2018, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 */.freeform-colorpicker-preview-wrapper{padding:5px;background:#fff;border-radius:1px;box-shadow:0 0 0 1px rgba(0,0,0,0.1);display:inline-block;cursor:pointer}.freeform-colorpicker-preview-wrapper .freeform-colorpicker-preview{width:36px;height:14px;border-radius:2px}.freeform-colorpicker-wrapper{position:absolute;z-index:2}.freeform-colorpicker-wrapper .freeform-colorpicker-cover{position:fixed;top:0;bottom:0;left:0;right:0}/*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 */.builder{position:relative;background:#fff;-ms-flex:1 1 60%;flex:1 1 60%;overflow:hidden}.builder>div{height:100%}.builder .layout{padding:7px 0 0}.builder .composer-row-placeholder{padding:10px 10px;opacity:0}.builder .composer-row-placeholder>div{overflow:hidden;height:1px;border-top:2px dashed #BBBDBE}.builder .composer-row-placeholder.active{opacity:1}.builder .composer-form-actions{position:absolute;top:11px;right:8px;display:-ms-inline-flexbox;display:inline-flex}.builder .composer-row{position:relative;min-height:60px;padding:0;background:#fff}.builder .composer-row .composer-row-placeholder{position:absolute;top:0;left:0;right:0;padding:0 10px}.builder .composer-row .composer-column-container{position:relative;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;-ms-flex-align:stretch;align-items:stretch;padding:0 10px}.builder .composer-row .composer-column-container .composer-column{position:relative;-ms-flex:0 1 100%;flex:0 1 100%;padding:7px 8px;border:2px dashed transparent;transition:background .2s ease-out}.builder .composer-row .composer-column-container .composer-column.composer-column-active{background:rgba(243,244,247,0.4);border-color:rgba(187,189,190,0.2)}.builder .composer-row .composer-column-container .composer-column:hover{background:rgba(243,244,247,0.4)}.builder .composer-row .composer-column-container .composer-column.composer-column-placeholder>div{height:100%;min-height:30px;border:2px dashed #BBBDBE;background:#F3F4F7;box-sizing:border-box;transition:all 0.15s ease-out}.builder .composer-row .composer-column-container .composer-column .composer-column-actions{left:auto;right:8px;top:12px;z-index:2}.builder .composer-row .composer-column-container .composer-column,.builder .composer-row .composer-column-container .composer-column *{cursor:pointer}.builder .composer-row .composer-column-container .composer-column input:focus{border-color:#e3e5e8;box-shadow:none}.builder .composer-row .composer-column-container .composer-column.can-receive{background:#EBF4F9}.builder .composer-row .composer-column-container .composer-column input,.builder .composer-row .composer-column-container .composer-column textarea,.builder .composer-row .composer-column-container .composer-column select,.builder .composer-row .composer-column-container .composer-column button{pointer-events:none}.builder .composer-row .composer-column-container .composer-column label.composer-field-required>span.required{position:relative;top:-3px;left:0;height:10px;color:#da5a47;font-family:Craft, sans-serif;font-size:7px;font-weight:bold;line-height:10px}.builder .composer-row .composer-column-container .composer-column .composer-field-checkbox-single span{left:4px !important}.builder .composer-row .composer-column-container .composer-column .composer-column-instructions{position:relative;top:-5px;color:#8f98a3;font-family:HelveticaNeue;font-size:11px}.builder .composer-row .composer-column-container .composer-column label{display:block;margin-bottom:8px;color:#576574}.builder .composer-row .composer-column-container .composer-column label>input[type=checkbox],.builder .composer-row .composer-column-container .composer-column label>input[type=radio]{margin-right:5px}.builder .composer-row .composer-column-container .composer-column label.badge-only .composer-label-badge{padding:0;margin:0 5px 0 0}.builder .composer-row .composer-column-container .composer-column label.composer-field-label{font-weight:700}.builder .composer-row .composer-column-container .composer-column:hover .composer-actions{display:-ms-inline-flexbox;display:inline-flex}.builder .composer-row .composer-column-container .composer-column .composer-ft-datetime-wrapper:after,.builder .composer-row .composer-column-container .composer-column .composer-ft-number-wrapper:after,.builder .composer-row .composer-column-container .composer-column .composer-ft-regex-wrapper:after,.builder .composer-row .composer-column-container .composer-column .composer-ft-confirmation-wrapper:after,.builder .composer-row .composer-column-container .composer-column .composer-ft-website-wrapper:after,.builder .composer-row .composer-column-container .composer-column .composer-ft-email-wrapper:after,.builder .composer-row .composer-column-container .composer-column .composer-ft-phone-wrapper:after{font-size:20px;font-family:"solspace-freeform-craft", sans-serif;display:block;position:absolute;right:17px;top:40px;color:#CCC}.builder .composer-row .composer-column-container .composer-column .composer-ft-datetime-wrapper:after{content:'\f133'}.builder .composer-row .composer-column-container .composer-column .composer-ft-website-wrapper:after{content:'\e813'}.builder .composer-row .composer-column-container .composer-column .composer-ft-confirmation-wrapper:after{content:'\e814'}.builder .composer-row .composer-column-container .composer-column .composer-ft-email-wrapper:after{content:'\e800'}.builder .composer-row .composer-column-container .composer-column .composer-ft-regex-wrapper:after{content:'\e80b'}.builder .composer-row .composer-column-container .composer-column .composer-ft-number-wrapper:after{content:'\f292'}.builder .composer-row .composer-column-container .composer-column .composer-ft-phone-wrapper:after{content:'\e80a'}.builder .composer-row .composer-column-container .composer-column .composer-ft-rating-wrapper .rating{display:-ms-flexbox;display:flex;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap}.builder .composer-row .composer-column-container .composer-column .composer-ft-rating-wrapper .rating>span{display:block;margin:0 5px 5px 0;cursor:pointer;font-size:200%}.builder .composer-row .composer-column-container .composer-column .composer-ft-rating-wrapper .rating>span:after{content:'★ '}.builder .composer-row .composer-column-container .composer-column .composer-ft-rating-wrapper .rating>span:last-child{margin:0 0 5px}.composer-label-badge{display:inline-block;padding:0 7px;margin:0 0 0 5px;color:#BBBDBE;border-radius:4px;font-size:12px;font-weight:normal}.composer-label-badge.composer-label-badge-warning:before,.composer-label-badge.composer-label-badge-visibility:before,.composer-label-badge.composer-label-badge-template:before{position:relative;margin-right:5px;font-family:Craft, sans-serif}.composer-label-badge.composer-label-badge-warning{color:#e69647;top:1px}.composer-label-badge.composer-label-badge-warning:before{content:"\61"}.composer-label-badge.composer-label-badge-visibility{color:#576574}.composer-label-badge.composer-label-badge-visibility:before{font-family:solspace-freeform-craft;content:"\e801"}.composer-label-badge.composer-label-badge-template{color:#576574}.composer-label-badge.composer-label-badge-template:before{font-family:solspace-freeform-craft;content:"\f121"}.property-editor .composer-property-flex{display:-ms-flexbox;display:flex}.property-editor .composer-property-flex>*{margin-right:10px !important}.property-editor .composer-property-flex>*:last-child{margin-right:0 !important}/*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 */@font-face{font-family:'solspace-freeform-craft';src:url("../font/solspace-freeform-craft.eot?61199501");src:url("../font/solspace-freeform-craft.eot?61199501#iefix") format("embedded-opentype"),url("../font/solspace-freeform-craft.woff2?61199501") format("woff2"),url("../font/solspace-freeform-craft.woff?61199501") format("woff"),url("../font/solspace-freeform-craft.ttf?61199501") format("truetype"),url("../font/solspace-freeform-craft.svg?61199501#solspace-freeform-craft") format("svg");font-weight:normal;font-style:normal}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"solspace-freeform-craft";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.5em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-email:before{content:'\e800'}.icon-hidden:before{content:'\e801'}.icon-file:before{content:'\e802'}.icon-checkbox:before{content:'\e803'}.icon-select:before{content:'\e804'}.icon-submit:before{content:'\e805'}.icon-mailinglist:before{content:'\e806'}.icon-flash:before{content:'\e807'}.icon-textarea:before{content:'\e808'}.icon-bell:before{content:'\e809'}.icon-phone:before{content:'\e80a'}.icon-asterisk:before{content:'\e80b'}.icon-basket:before{content:'\e80c'}.icon-location:before{content:'\e80d'}.icon-key:before{content:'\e80e'}.icon-clock:before{content:'\e80f'}.icon-globe:before{content:'\e810'}.icon-star-empty:before{content:'\e811'}.icon-heart-empty:before{content:'\e812'}.icon-link:before{content:'\e813'}.icon-cw:before{content:'\e814'}.icon-lock:before{content:'\e815'}.icon-table:before{content:'\f0ce'}.icon-magic:before{content:'\f0d0'}.icon-radio-empty:before{content:'\f10c'}.icon-smile:before{content:'\f118'}.icon-html:before{content:'\f121'}.icon-calendar-empty:before{content:'\f133'}.icon-dollar:before{content:'\f155'}.icon-radio:before{content:'\f192'}.icon-paragraph:before{content:'\f1dd'}.icon-toggle-on:before{content:'\f205'}.icon-input:before{content:'\f246'}.icon-hashtag:before{content:'\f292'}.icon-user-o:before{content:'\f2c0'}.icon-dynamic_recipients:before{content:'\e800'}.icon-checkbox_group:before{content:'\e803'}.icon-mailing_list:before{content:'\e806'}.icon-radio_group:before{content:'\f192'}.icon-text:before{content:'\f246'}.icon-datetime:before{content:'\f133'}.icon-regex:before{content:'\e80b'}.icon-number:before{content:'\f292'}.icon-website:before{content:'\e813'}.icon-confirmation:before{content:'\e814'}.icon-rating:before{content:'\e811'}.animate-spin{-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;display:inline-block}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-o-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-ms-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}/*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 */.joyride-tooltip__header{padding-bottom:15px !important;border-bottom:1px solid #c96252 !important}.joyride-tooltip__button--skip{color:#c96252 !important}.joyride-tooltip__button--primary{background-color:transparent !important;background-image:linear-gradient(#da5a47, #cc5643);color:#FFFFFF !important;box-shadow:inset 0 0 0 1px rgba(0,0,20,0.1) !important}.joyride-tooltip__button--secondary{color:#29323d !important}.joyride-beacon__inner{background-color:#3af !important}.joyride-beacon__outer{background-color:rgba(51,170,255,0.3) !important;border-color:#3af !important}/*!
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 */.composer-html-content h1,.composer-html-content h2,.composer-html-content h3,.composer-html-content h4,.composer-html-content h5,.composer-html-content h6{margin:20px 0 !important;padding:0 !important;border:0 !important;vertical-align:baseline;font-size:100%;font-family:inherit !important;font-weight:normal !important;text-transform:none !important;color:#000000 !important}.composer-html-content h1{font-size:25px !important}.composer-html-content h2{font-size:23px !important}.composer-html-content h3{font-size:21px !important}.composer-html-content h4{font-size:19px !important}.composer-html-content h5{font-size:17px !important}.composer-html-content h6{font-size:15px}.composer-html-content ul{display:block;list-style-type:disc;margin:1em 0;padding-left:40px}.composer-html-content ol{display:block;list-style-type:decimal;margin:1em 0;padding-left:40px}.joyride-beacon{display:inline-block;height:36px;position:relative;width:36px;z-index:1500}.joyride-beacon__inner{animation:joyride-beacon-inner 1.2s infinite ease-in-out;background-color:#f04;border-radius:50%;display:block;height:50%;left:50%;opacity:0.7;position:relative;top:50%;transform:translate(-50%, -50%);width:50%}.joyride-beacon__outer{animation:joyride-beacon-outer 1.2s infinite ease-in-out;background-color:rgba(255,0,68,0.2);border:2px solid #f04;border-radius:50%;display:block;box-sizing:border-box;height:100%;left:0;opacity:0.9;position:absolute;top:0;transform:translateY(-50%);transform-origin:center;width:100%}.joyride-overlay{bottom:0;left:0;position:absolute;right:0;top:0;z-index:1500}.joyride-hole{border-radius:4px;box-shadow:0 0 0 9999px rgba(0,0,0,0.5),0 0 15px rgba(0,0,0,0.5);position:absolute}.joyride-hole.safari{box-shadow:0 0 999px 9999px rgba(0,0,0,0.5),0 0 15px rgba(0,0,0,0.5)}.joyride-tooltip{background-color:#fff;border-radius:4px;color:#555;cursor:default;filter:drop-shadow(-1px -2px 3px rgba(0,0,0,0.3)) drop-shadow(1px 2px 3px rgba(0,0,0,0.3));opacity:0;padding:20px;transform:translate3d(0, 0, 0);width:290px;z-index:1510}@media screen and (min-width: 480px){.joyride-tooltip{width:360px}}@media screen and (min-width: 960px){.joyride-tooltip{width:450px}}.joyride-tooltip--animate{animation:joyride-tooltip 0.4s forwards;animation-timing-function:cubic-bezier(0, 1.05, 0.55, 1.18)}.joyride-tooltip__triangle{background-repeat:no-repeat;position:absolute}.joyride-tooltip.bottom,.joyride-tooltip.bottom-left,.joyride-tooltip.bottom-right{margin-top:18px}.joyride-tooltip.bottom .joyride-tooltip__triangle,.joyride-tooltip.bottom-left .joyride-tooltip__triangle,.joyride-tooltip.bottom-right .joyride-tooltip__triangle{background-image:url("data:image/svg+xml,%3Csvg%20width%3D%2236px%22%20height%3D%2218px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolygon%20points%3D%220%2C%200%208%2C%208%2016%2C0%22%20fill%3D%22%23fff%22%20transform%3D%22scale%282.25%29%20rotate%28180 8 4%29%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");height:18px;left:50%;top:-16px;transform:translateX(-50%);width:36px}.joyride-tooltip.top,.joyride-tooltip.top-left,.joyride-tooltip.top-right{margin-bottom:18px}.joyride-tooltip.top .joyride-tooltip__triangle,.joyride-tooltip.top-left .joyride-tooltip__triangle,.joyride-tooltip.top-right .joyride-tooltip__triangle{background-image:url("data:image/svg+xml,%3Csvg%20width%3D%2236px%22%20height%3D%2218px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolygon%20points%3D%220%2C%200%208%2C%208%2016%2C0%22%20fill%3D%22%23fff%22%20transform%3D%22scale%282.25%29%20rotate%280%29%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");bottom:-16px;height:18px;left:50%;transform:translateX(-50%);width:36px}.joyride-tooltip.bottom-left .joyride-tooltip__triangle,.joyride-tooltip.top-left .joyride-tooltip__triangle{left:3%;transform:translateX(0)}@media screen and (min-width: 480px){.joyride-tooltip.bottom-left .joyride-tooltip__triangle,.joyride-tooltip.top-left .joyride-tooltip__triangle{left:2%}}.joyride-tooltip.bottom-right .joyride-tooltip__triangle,.joyride-tooltip.top-right .joyride-tooltip__triangle{left:auto;right:3%;transform:translateX(0)}@media screen and (min-width: 480px){.joyride-tooltip.bottom-right .joyride-tooltip__triangle,.joyride-tooltip.top-right .joyride-tooltip__triangle{right:2%}}.joyride-tooltip.left{margin-right:18px}.joyride-tooltip.left .joyride-tooltip__triangle{background-image:url("data:image/svg+xml,%3Csvg%20width%3D%2218px%22%20height%3D%2236px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolygon%20points%3D%220%2C%200%208%2C%208%2016%2C0%22%20fill%3D%22%23fff%22%20transform%3D%22scale%282.25%29%20rotate%28270 8 8%29%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");height:36px;right:-16px;width:18px}.joyride-tooltip.right{margin-left:18px}.joyride-tooltip.right .joyride-tooltip__triangle{background-image:url("data:image/svg+xml,%3Csvg%20width%3D%2218px%22%20height%3D%2236px%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpolygon%20points%3D%220%2C%200%208%2C%208%2016%2C0%22%20fill%3D%22%23fff%22%20transform%3D%22scale%282.25%29%20rotate%2890 4 4%29%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E");height:36px;left:-16px;width:18px}.joyride-tooltip__close{color:rgba(85,85,85,0.5);font-size:30px;line-height:12px;position:absolute;right:10px;text-decoration:none;top:10px;z-index:10;display:block}.joyride-tooltip__close:hover,.joyride-tooltip__close:focus{color:rgba(60,60,60,0.5);outline:none;text-decoration:none}.joyride-tooltip__close--header{right:20px;top:20px}.joyride-tooltip__header{border-bottom:1px solid #f04;color:#555;font-size:20px;padding-bottom:6px;position:relative}.joyride-tooltip__main{font-size:16px;padding:12px 0 18px}.joyride-tooltip__footer{text-align:right}.joyride-tooltip__button--primary{background-color:#f04;border-radius:4px;color:#fff;outline:none;padding:6px 12px;text-decoration:none;transition:background-color 0.2s ease-in-out}.joyride-tooltip__button--primary:active,.joyride-tooltip__button--primary:focus,.joyride-tooltip__button--primary:hover{background-color:#ff1f5a;color:#fff;text-decoration:none}.joyride-tooltip__button--secondary{color:#f04;margin-right:10px;outline:none}.joyride-tooltip__button--skip{color:#ccc;float:left;margin-right:10px}.joyride-tooltip--standalone .joyride-tooltip__main{padding-bottom:0}.joyride-tooltip--standalone .joyride-tooltip__footer{display:none}@keyframes joyride-tooltip{0%{transform:scale(0.1)}100%{opacity:1;transform:perspective(1px) scale(1)}}@keyframes joyride-beacon-inner{20%{opacity:0.9}90%{opacity:0.7}}@keyframes joyride-beacon-outer{0%{transform:scale(1)}45%{opacity:0.7;transform:scale(0.75)}100%{opacity:0.9;transform:scale(1)}}#main>div.padded{padding:0 !important}.composer-actions{display:none}.composer-actions>li{display:block;margin:0 2px;cursor:pointer;width:16px;height:16px;text-align:center;font-size:14px}.composer-actions>li:after{font-family:Craft, sans-serif;color:#BCBEBF}.composer-actions>li.composer-action-integrations:after{content:"\77"}.composer-actions>li.composer-action-settings:after{content:"settings"}.composer-actions>li.composer-action-move:after{content:"\e617"}.composer-actions>li.composer-action-remove:hover:after{color:#da5a47}.composer-actions>li.composer-action-remove:after{content:"\72"}.composer-actions.composer-row-actions{position:absolute;top:16px;right:27px}.composer-actions.composer-column-actions{position:absolute;top:6px;left:6px}.builder-interface .builder-blocks{display:-ms-flexbox;display:flex;min-height:500px;border-top:1px solid #E6E7EA}.builder-interface .builder-blocks>div{padding:10px 15px 60px}.builder-interface .builder-blocks>div.builder{padding:0}.builder-interface .builder-blocks>div.builder>div{padding:0 0 60px}.builder-interface .builder-blocks h3{margin:0 0 10px !important;font-size:1.15rem;font-weight:500}.builder-interface .builder-blocks .tabs .tab-list-wrapper{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;background:#F4F4F6;box-shadow:inset 0 -1px 0 #E6E7EA}.builder-interface .builder-blocks .tabs .tab-list-wrapper>ul{-ms-flex:1 1 auto;flex:1 1 auto;width:400px;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;overflow-x:auto;overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.builder-interface .builder-blocks .tabs .tab-list-wrapper>ul>li{position:relative;-ms-flex:0 0 auto;flex:0 0 auto;cursor:pointer;display:block;height:40px;padding:10px 18px 0;margin:0 1px -1px 0;box-sizing:border-box;font-size:14px;color:#555;white-space:nowrap}.builder-interface .builder-blocks .tabs .tab-list-wrapper>ul>li.active{background:#fff;border:1px solid #E6E7EA;border-bottom:none;border-top:none}.builder-interface .builder-blocks .tabs .tab-list-wrapper>ul>li.active:first-child{border-left:none}.builder-interface .builder-blocks .tabs .tab-list-wrapper>ul>li:hover{text-decoration:none}.builder-interface .builder-blocks .tabs .tab-list-wrapper>ul>li .composer-page-actions{display:-ms-inline-flexbox;display:inline-flex;position:relative;top:1px;right:-6px}.builder-interface .builder-blocks .tabs .tab-list-wrapper>ul>li .composer-page-actions .composer-action-remove{font-size:12px}.builder-interface .builder-blocks .tabs .tab-list-wrapper .tab-list-controls{-ms-flex:0 0 38px;flex:0 0 38px}.builder-interface .builder-blocks .tabs .tab-list-wrapper .tab-list-controls>.new{position:relative;top:10px;left:9px;height:24px;padding:3px 6px;border:none;border-radius:3px;color:#29323d;font-size:13px;box-shadow:inset 0 0 0 1px rgba(0,0,20,0.1);background-image:linear-gradient(#fff, #fafafa)}.builder-interface .builder-blocks .tabs .tab-list-wrapper .tab-list-controls>.new:hover{text-decoration:none}.builder-interface .builder-blocks .tabs .tab-list-wrapper .tab-list-controls>.new:after{content:"\2b";position:relative;top:1px;font-family:Craft, sans-serif}.field-list .field-container h3,.property-editor h3{padding:0;text-transform:uppercase;font-size:11px !important;font-weight:bold !important;color:#b9bfc6}.sticky{background:#FAFAFA;z-index:1000;padding:0 0}.field-list{background:#FAFAFA;-ms-flex:0 2 200px;flex:0 2 200px}.field-list .field-container{position:fixed;padding-right:8px;box-sizing:content-box}.field-list .field-container>div>div{margin:0 0 10px}.field-list .field-container>div>div ul li{display:block;margin:0 0 5px;padding:5px 10px;cursor:move;background:#fff;border:1px dashed #ddd;color:#000;transition:background .2s ease-out}.field-list .field-container>div>div ul li.is-dragging{background:#EBF4F9}.field-list .field-container>div>div ul li .composer-label-badge{display:block;padding:0;margin:0}.property-editor{background:#FAFAFA;-ms-flex:0 2 325px;flex:0 2 325px;overflow:hidden}.property-editor>div{position:fixed;padding-right:8px;box-sizing:content-box}.property-editor .composer-form-settings{margin-bottom:10px}.property-editor .composer-form-settings>a{margin-right:5px;padding-top:1px !important;font-size:12px}.property-editor .composer-form-settings>a:before{position:relative;top:-1px;font-size:11px !important}.property-editor h4{color:#29323d;font-size:16px}.property-editor *[readonly]{background:#ECECEC;border:1px solid #ccc;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);color:#555}.property-editor .ace_editor{border:1px solid #e3e5e8;border-radius:3px}.composer-save{position:absolute;top:58px;right:0;z-index:2}.composer-group-values{display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;margin-bottom:5px}.composer-group-values input[type=text]{display:block;-ms-flex:1 1 45%;flex:1 1 45%;width:45% !important;margin-right:5px !important}.composer-group-values input[type=checkbox]{-ms-flex:0 0 10%;flex:0 0 10%;margin:9px auto 0 !important}.composer-options-show-custom-values{display:block;margin-bottom:5px}.composer-options-show-custom-values>input{margin-right:5px}.composer-add-new-field-wrapper,.composer-add-new-notification-wrapper,.composer-add-new-template-wrapper{margin-top:10px}.composer-add-new-field-wrapper.active,.composer-add-new-notification-wrapper.active,.composer-add-new-template-wrapper.active{padding:10px;background:#fff;border:1px dashed #ddd}.composer-add-new-field-wrapper>button,.composer-add-new-notification-wrapper>button,.composer-add-new-template-wrapper>button{margin:0 auto;font-size:13px}.composer-new-field-form .btn.cancel{margin-right:10px}.composer-new-field-form .field{margin:10px 0 7px}.composer-submit-positioning{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between}.composer-submit-positioning>div{-ms-flex:1 0 0px;flex:1 0 0;text-align:center}.composer-submit-positioning>div:first-child{text-align:left}.composer-submit-positioning>div:last-child{text-align:right}.composer-submit-positioning>div>label>span{display:block}.composer-submit-position-wrapper{display:-ms-flexbox;display:flex}.composer-submit-position-wrapper.composer-submit-position-spread{-ms-flex-pack:justify;justify-content:space-between;padding-right:25px}.composer-submit-position-wrapper.composer-submit-position-left{-ms-flex-pack:start;justify-content:flex-start}.composer-submit-position-wrapper.composer-submit-position-center{-ms-flex-pack:center;justify-content:center}.composer-submit-position-wrapper.composer-submit-position-right{-ms-flex-pack:end;justify-content:flex-end;padding-right:25px}.composer-submit-position-wrapper>input:not(:first-child){margin-left:5px}.composer-property-item{margin:16px 0}.composer-property-item .composer-property-heading{margin-bottom:4px}.composer-property-item .composer-property-heading>label{position:relative;font-weight:bold;color:#576574}.composer-property-item .composer-property-heading .composer-property-instructions{margin-top:4px;font-size:11px;line-height:1.4;color:#8f98a3}.composer-property-item .composer-property-input input:not([type=checkbox]),.composer-property-item .composer-property-input input:not([type=radio]),.composer-property-item .composer-property-input textarea:not([type=checkbox]),.composer-property-item .composer-property-input textarea:not([type=radio]){width:100%;min-height:30px;padding:5px 7px;margin:0;box-sizing:border-box;transition:box-shadow linear 100ms;background:#fff;border:1px solid #e3e5e8;border-radius:3px;box-shadow:0 0 5px rgba(51,170,255,0);font-size:13px;line-height:16px;color:#29323d;font-family:HelveticaNeue, sans-serif}.composer-property-item .composer-property-input input:not([type=checkbox])[readonly],.composer-property-item .composer-property-input input:not([type=radio])[readonly],.composer-property-item .composer-property-input textarea:not([type=checkbox])[readonly],.composer-property-item .composer-property-input textarea:not([type=radio])[readonly]{background:#ECECEC;border:1px solid #ccc;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);color:#555}.composer-property-item .composer-property-input input:not([type=checkbox]).code,.composer-property-item .composer-property-input input:not([type=radio]).code,.composer-property-item .composer-property-input textarea:not([type=checkbox]).code,.composer-property-item .composer-property-input textarea:not([type=radio]).code{font-family:Menlo, monospace;font-size:0.9em !important;color:#ABA7A7}.composer-property-item .composer-property-input input[type=radio],.composer-property-item .composer-property-input input[type=checkbox],.composer-property-item .composer-property-input textarea[type=radio],.composer-property-item .composer-property-input textarea[type=checkbox]{width:auto;margin-right:5px;min-height:0}.composer-property-item .composer-property-checkbox-list label{display:block}.composer-property-item label>input[type=radio]{margin-right:5px}.errors>*{margin-bottom:5px;font-size:12px;color:#da5a47}.errors>*:before{content:"·";padding-right:5px}
