{% for key,value in object %}
{% if value is iterable %}{% if value|keys|first=="0" %}{%for i in 0..level %}    {% endfor %}"{{ key |raw }}": [{% for subValue in value %}{% if subValue is iterable %}

{%for i in 0..level+1 %}    {% endfor %}{
{% include 'json-ld/_json-ld_core' with {'object': subValue, 'level': (level + 2) } only %}
{%for i in 0..level+1 %}    {% endfor %}}{% if not loop.last%},{% else %}

{%for i in 0..level %}    {% endfor %}
{% endif %}{% else %}"{{ subValue |raw }}"{% if not loop.last%},{% endif %}{% endif %}{% endfor %}]{% else %}{%for i in 0..level %}    {% endfor %}"{{ key |raw }}": {
{% include 'json-ld/_json-ld_core' with {'object': value, 'level': (level + 1) } only %}{%for i in 0..level %}    {% endfor %}}{% endif %}{% else %}{%for i in 0..level %}    {% endfor %}"{% if key == "type" %}@{% endif %}{{ key |raw }}": "{{ value |raw }}"{% endif %}{% if not loop.last %},
{% else %} 
{% endif %}
{% endfor %}