{% extends "_layouts/cp" %}
{% set title = "Settings"|t %}

{% includecssresource 'css/settings.css' %}
{% includejsresource 'js/settings.js' %}

{% block content %}
	{% for category, items in craft.cp.settings(80) %}
		<h2>{{ category }}</h2>

		<ul class="icons">
			{% for handle, item in items %}
				<li>
					<a href="{% if item.url is defined %}{{ url(item.url) }}{% else %}{{ url('settings/'~handle) }}{% endif %}" {% if item.icon is defined %}data-icon="{{ item.icon }}"{% endif %}>

						{% if item.iconUrl is defined %}
							<img src="{{ item.iconUrl }}" />
						{% endif %}

						{{ item.label }}
					</a>
				</li>
			{% endfor %}
		</ul>

		<hr>
	{% endfor %}

	<h2>{{ "Tools"|t }}</h2>

	<ul class="icons">
		{% for tool in tools %}
			<li><a id="tool-{{ tool.getClassHandle() }}" data-icon="{{ tool.getIconValue() }}">{{ tool.getName() }}</a></li>
			{% includejs 'new Craft.Tool("'~tool.getClassHandle()~'", '~tool.getOptionsHtml()|json_encode~', "'~tool.getButtonLabel()~'");' %}
		{% endfor %}
	</ul>
{% endblock %}
