{% requireEdition CraftPro %}
{% requireAdmin %}

{% extends "_layouts/cp" %}
{% set title = "Content Locales"|t %}

{% import "_includes/forms" as forms %}

{% includejsresource "js/locales.js" %}
{% includecssresource "css/locales.css" %}

{% includeTranslations
	"Are you sure you want to delete “{name}” and all its associated content?",
	"Name",
	"Locale ID",
	"Reorder",
	"Delete",
	"New locale added.",
	"Unable to add the new locale.",
	"What do you want to do with any content that is only available in {language}?",
	"Transfer it to:",
	"Delete it",
	"Delete {language}"
%}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}


{% block content %}
	<form method="post" accept-charset="UTF-8">
		<input type="hidden" name="action" value="languageSettings/save">
		<input type="hidden" name="redirect" value="settings">
		{{ getCsrfInput() }}

		<h2>{{ "Which locales does your content target?"|t }}</h2>

		<div class="field">
			<table id="locales" class="data fullwidth collapsible">
				<tbody>
					{% for locale in craft.i18n.getSiteLocales() %}
						<tr data-id="{{ locale.id }}" data-name="{{ locale.name }}">
							<th scope="row" data-title="{{ 'Name'|t }}" width="40%">{{ locale.name }}</th>
							<td data-title="{{ 'Locale ID' }}">{{ locale.id }}</td>
							<td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a></td>
							<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div id="addlocale" class="field">
			<div class="texticon add icon">
				{{ forms.text({
	                placeholder: "Add a new locale…"|t,
					id: 'addlocaleinput',
					autocomplete: false
				}) }}
				<div class="spinner hidden"></div>
			</div>
		</div>
	</form>
{% endblock %}

{% includejs %}
	new Craft.Locales(
	{
		{%- for locale in craft.i18n.getAllLocales() %}
			{%- if not loop.first %},{% endif -%}
			'{{ locale.id }}': '{{ locale.name }}'
		{%- endfor -%}

	}, [

		{%- for locale in craft.i18n.getSiteLocales() %}
			{%- if not loop.first %},{% endif -%}
			'{{ locale.id }}'
		{%- endfor -%}

	]);
{% endincludejs %}
