{% requireAdmin %}

{% extends "_layouts/cp" %}
{% set title = "Routes"|t %}

{% includecssresource "css/routes.css" %}
{% includejsresource "js/routes.js" %}


{% set extraPageHeaderHtml %}
	<div class="buttons right">
		<div id="add-route-btn" class="btn submit add icon">{{ "New route"|t }}</div>
	</div>
{% endset %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% includeTranslations
	"Global",
	"New route order saved.",
	"Couldn’t save new route order.",
	"If the URI looks like this",
	"Add a token",
	"Load this template",
	"Edit Route",
	"Create a new route",
	"Route Saved.",
	"Couldn’t save route.",
	"Are you sure you want to delete this route?",
	"Route deleted."
%}

{% set docsUrl = 'http://craftcms.com/docs/routing' %}


{% set routes = craft.routes.getDbRoutes() %}


{% block content %}
	<p id="noroutes"{% if routes %} class="hidden"{% endif %}>
		{{ "No routes exist yet."|t }}
	</p>

	<div id="routes">
		{% for route in routes %}
			<div class="route" data-id="{{ route.id }}"{% if route.locale %} data-locale="{{ route.locale }}"{% endif %}>
				<div class="url-container">
					{%- spaceless %}
						{% if craft.isLocalized() %}
							<span class="locale">{{ route.locale ?: "Global"|t }}</span>
						{% endif %}
						<span class="url">{{ route.urlDisplayHtml|raw }}</span>
					{% endspaceless -%}
				</div>
				<div class="template">{{ route.template }}</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}


{% includejs %}
	Craft.routes.tokens = {
		{% for name, pattern in tokens %}
			{% if not loop.first %},{% endif %}
			"{{ name|e('js') }}": "{{ pattern|e('js') }}"
		{% endfor %}
	};

	{% if craft.isLocalized() %}
		Craft.routes.locales = {{ craft.i18n.getSiteLocaleIds()|json_encode|raw }};
	{% endif %}
{% endincludejs %}
