{% spaceless %}

{% for element in elements %}
	<li data-id="{{ element.id }}" class="{% if element.id in disabledElementIds %}disabled{% endif %} {% if showCheckboxes %}has-checkbox{% endif %}">
		{% include "_elements/element" %}
		{% if showCheckboxes %}<div class="checkbox" title="{{ 'Select'|t }}"></div>{% endif %}
	</li>
{% endfor %}

{% endspaceless -%}
