body.ltr #crumbs li:after {
    content: '|';
}

#crumbs li:after {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#crumbs li:last-child:after {
    content: '' !important;
}

.dl-horizontal dt {
    float: left;
    width: 75px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}

.dl-horizontal dd {
    margin-left: 95px;
    margin-bottom: 12px;
    color: #666;
    font-size: 14px;
}