{% extends "utils/_layout" %}

{% import "_includes/forms" as forms %}

{% block content %}
	<p id="nologs"{% if logs %} class="hidden"{% endif %}>{{ "No deprecation errors to report!"|t }}</p>

	{% if logs %}
		<div class="buttons">
			<div id="clearall" class="btn submit">{{ "Clear All"|t }}</div>
		</div>

		<table id="deprecationerrors" class="data fullwidth">
			<thead>
				<th>{{ "Message"|t }}</th>
				<th>{{ "Origin"|t }}</th>
				<th class="centeralign">{{ "Last Occurrence"|t }}</th>
				<th class="thin nowrap centeralign">{{ "Stack Trace"|t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for log in logs %}
					<tr data-id="{{ log.id }}">
						<td>{{ log.message|raw }}</td>
						<td>{{ log.getOrigin()|replace('/', '/<wbr>')|raw }}</td>
						<td class="centeralign">{{ log.lastOccurrence.localeDate() }}</td>
						<td class="thin nowrap centeralign viewtraces"><a role="button">{{ "View"|t }}</a></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
