{#
/**
 * Products plugin for Craft CMS
 *
 * ProductsFieldType HTML
 *
 * @author    DRL
 * @copyright Copyright (c) 2019 DRL
 * @link      https://abracon.com/
 * @package   Products
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    id: id ~ 'someField',
    class: 'nicetext',
    name: name ~ '[someField]',
    value: values.someField,
    errors: values.getErrors('someField'),
    required: false,
}) }}
