{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set title = craft.acpostman.pluginName ~ ( ( emailTemplate.id ) ? ': ' ~ emailTemplate.title : ':  New email template' ) %}

{% set crumbs = [
{ label: "Sent Emails", url: url('acpostman') },
{ label: "Templates" | t, url: url('acpostman/templates') },
{ label: "Settings" | t, url: url('acpostman/settings') },
] %}

{% includeCssResource "acpostman/css/ACPostman.css" %}

{% block saveButton %}
    <div class="buttons">
        <div class="btngroup submit first">
            <input type="submit" class="btn submit" value="{{ 'Save template' | t }}">
            <span class="glyphicon glyphicon-question-sign">?</span>
        </div>
    </div>
{% endblock %}

{% block main %}
    <input type="hidden" name="action" value="ACPostman_Template/save">
    <input type="hidden" name="redirect" value="acpostman/templates">
    {% if emailTemplate.id %}<input type="hidden" name="templateId" value="{{ emailTemplate.id }}">{% endif %}
    {{ getCsrfInput() }}

    <div class="grid first" data-max-cols="3">
        <div class="item" data-position="left">
            <div class="pane">
                <div>

                    {{ forms.textField({
                        label: "Title"|t,
                        id: 'title',
                        name: 'title',
                        value: emailTemplate.title,
                        errors: emailTemplate.getErrors('title'),
                        first: true,
                        autofocus: true,
                        required: true
                    }) }}

                    {{ forms.textareaField({
                        label: "Message Template" | t,
                        id: 'templateBody',
                        name: 'templateBody',
                        class: 'myFieldsRedactorClass',
                        value: emailTemplate.body,
                        errors: emailTemplate.getErrors('templateBody'),
                        rows: 18
                    }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% includeJs %}
$(function()
{
    new Craft.RichTextInput({
        id: 'templateBody',
        assetSources: [],
        linkOptions: [],
        redactorConfig: {
            minHeight: 150,
            plugins: ["source","fullscreen"]
        }
    });
});
{% endincludejs %}