{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% import "acpostman/_helpers/macros.twig" as acpostman %}

{% set fullPageForm = true %}
{% set title = craft.acpostman.pluginName ~ ': Compose new email' %}

{% set crumbs = [
{ label: "Sent Emails", url: url('acpostman') },
{ label: "Templates" | t, url: url('acpostman/templates') },
{ label: "Settings" | t, url: url('acpostman/settings') },
] %}

{% set selectedTab = 'compose' %}
{% set templatesElementType = craft.elements.getElementType('ACPostman_Template') %}

{% includeCssResource "acpostman/css/ACPostman.css" %}

{% block saveButton %}
    {% if email.id == null %}
        <div class="buttons">
            <div class="btngroup submit first">
                <input type="submit" class="btn submit" value="{{ 'Send and Save' | t }}">
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    {% if email.id == null %}
        <input type="hidden" name="action" value="ACPostman/sendAndSave">
        <input type="hidden" name="redirect" value="acpostman">
    {% endif %}
    {# {% if email.id %}<input type="hidden" name="emailId" value="{{ email.id }}">{% endif %} #}
    {{ getCsrfInput() }}

    <div class="grid first" data-max-cols="3">
        <div class="item" data-position="left">
            <div class="pane">
                <div>
                    {# {% set elementType = craft.elements.getElementType('Asset') %} #}
                    {{ acpostman.templateElementSelectField({
                        label: "Email Type" | t,
                        id: 'templateId',
                        name: 'templateId',
                        elementType: templatesElementType,
                        selectionLabel: "Choose" | t,
                        limit: 1,
                        required: true,
                        elements: [email.template],
                        errors: email.getErrors('templateId'),
                    }) }}

                    {% for tab in email.getFieldLayout().getTabs() %}
                        <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
                            {% include "_includes/fields" with {
                            fields: tab.getFields(),
                            element: email,
                            } only %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% includejs %}
    var defaultFields = {{ defaultFields|json_encode|raw }}

    if( defaultFields ){
        $('#fields-fromName').val(defaultFields[$( "select[name='fields[sendAs]']" ).find(":selected").index()].fromName);

        var obj = {};
        defaultFields = defaultFields.map(function(v,k) {
             obj['{key}'.replace(/{key}/,v.sendAs)] = v;
        });

        $( "select[name='fields[sendAs]']" ).change(function( e ) {
           var data = obj[$(this).val()];
           $('#fields-fromName').val(data.fromName);
        });
    }
{% endincludejs %}