{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set title = craft.acpostman.pluginName ~ ' | Subject: '  ~ email.subject %}

{% set crumbs = [
{ label: "Sent Emails", url: url('acpostman') },
{ label: "Templates" | t, url: url('acpostman/templates') },
{ label: "Settings" | t, url: url('acpostman/settings') },
] %}

{% includeCssResource "acpostman/css/ACPostman.css" %}

{% block saveButton %}
    <div class="buttons">
        <div class="btngroup submit first">
            <input type="submit" class="btn submit" value="{{ 'Back' | t }}">
        </div>
    </div>
{% endblock %}

{% block main %}
    <input type="hidden" name="action" value="ACPostman/index">
    <input type="hidden" name="redirect" value="acpostman">

    <div class="grid first" data-max-cols="3">
        <div class="item" data-position="left">
            <div class="pane">
                <dl class="dl-horizontal">
                    <dt>Email Type</dt>
                    <dd>{{ ( email.title is defined ) ? email.title : email.emailType.first.title}}</dd>
                    <dt>Send As</dt>
                    <dd>{{ email.sendAs }}</dd>
                    <dt>From Name</dt>
                    <dd>{{ email.fromName }}</dd>
                    <dt>Send To</dt>
                    <dd>{{ email.sendTo }}</dd>
                    <dt>Email Body</dt>
                    <dd>{{ email.emailBody }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}