{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set postman = craft.acpostman %}
{% set title = postman.pluginName ~ ' Settings' %}

{% set tabs = {
    sent: { label: "Sent Emails"|t, url: url('acpostman') },
    templates: { label: "Templates"|t, url: url('acpostman/templates') },
    settings: { label: "Settings"|t, url: url('acpostman/settings') },
} %}

{% set selectedTab = 'settings' %}

{% set settings = postman.settings %}

{% set content %}
    <input type="hidden" name="action" value="plugins/savePluginSettings">
    <input type="hidden" name="redirect" value="acpostman/settings">
    <input type="hidden" name="pluginClass" value="acpostman">
    {{ getCsrfInput() }}

    {{ forms.textField({
        label: "Plugin Name" | t,
        instructions: "The plugin name as you'd like it to be displayed in the Admin CP sidebar menu." | t,
        id: 'customPluginName',
        name: 'settings[customPluginName]',
        value: settings.customPluginName,
        placeholder: postman.getPluginName,
        autofocus: true,
        first: true,
    }) }}
    {# <h2>Default Settings</h2> #}

    {{ forms.editableTableField({
        label: "Template Defaults " | t,
        instructions: "This will be the default value for the fields." | t,
        id: 'defaultFields',
        name: 'defaultFields',
        cols: {
            "sendAs" : {
                "heading" : "Send As" | t,
                "type" : "text",
            },
            "fromName" : {
                "heading" : "From Name" | t,
                "type" : "text",
            }
        },
        required: true,
        rows: defval,
    }) }}

    <hr>
    {% include "_includes/fieldlayoutdesigner" with {
        fieldLayout: craft.acpostman.fieldlayout
    } only %}
{% endset %}

{% includejs %}
    $('#defaultFields-field .btn.add').remove();
    $('thead tr th:last-child').remove();
    $('td.action').remove();
    $( "tr td:first-child textarea" ).attr('readonly',true);
{% endincludejs %}