{% extends '_layouts/elementindex' %}
{% import "_includes/forms" as forms %}
{% set elementType = 'ACPostman_Template' %}

{% set fullPageForm = true %}
{% set title = craft.acpostman.pluginName ~ ' Email Templates' %}

{% set tabs = {
    sent: { label: "Sent Emails"|t, url: url('acpostman') },
    templates: { label: "Templates"|t, url: url('acpostman/templates') },
    settings: { label: "Settings"|t, url: url('acpostman/settings') },
} %}
{% set selectedTab = 'templates' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ url('acpostman/newTemplate') }}" class="btn submit add icon">{{ "Compose New Template"|t }}</a>
    </div>
{% endset %}

{% block sidebar %}
    {% if sources is not empty %}
        <nav>
            {% include "_elements/sources" %}
        </nav>
    {% endif %}
{% endblock %}