{% extends "_layouts/basecp" %}
{% set title = "Craft CMS Update"|t %}
{% includecssresource "css/update.css" %}
{% includejsresource "js/update.js" %}

{% includeTranslations
	"Unable to determine what to update.",
	"A fatal error has occurred:",
	"Status:",
	"Response:",
	"Send for help",
	"All done!",
	"Craft CMS was unable to install this update :(",
	"The site has been restored to the state it was in before the attempted update.",
	"No files have been updated and the database has not been touched."
%}

{% block body %}
	<div id="graphic" class="spinner big"></div>
	<div id="status">{{ "Preparing to update…"|t }}</div>
{% endblock %}

{% set data = {
	handle: handle|hash,
	manualUpdate: craft.request.getSegment(1) == 'manualupdate' ? 1 : 0
} %}

{% includejs %}
	new Craft.Updater({{ data|json_encode|raw }});
{% endincludejs %}
