{% requirePermission 'performUpdates' %}

{% extends "_layouts/cp" %}
{% set title = "Updates"|t %}
{% includecssresource "css/updates.css" %}
{% includejsresource "js/updates.js" %}
{% includeTranslations
	"You’ve got updates!",
	"You’re all up-to-date!",
	"Critical",
	"Update",
	"Download",
	"Craft’s <a href=\"http://craftcms.com/license\" target=\"_blank\">Terms and Conditions</a> have changed.",
	"I agree.",
	"Seriously, download.",
	"Seriously, update.",
	"Install",
	"{app} update required",
	"Released on {date}",
	"Show more",
	"Added",
	"Improved",
	"Fixed",
	"Download"
%}


{% block pageHeader %}
{% endblock %}


{% block main %}
	<div id="graphic" class="spinner big"></div>
	<div id="status">{{ "Checking for updates…"|t }}</div>
{% endblock %}
