{% extends "_layouts/cp" %}

{% set fullPageForm = true %}
{% set docsUrl = 'http://craftcms.com/docs/tags' %}

{% import "_includes/forms" as forms %}

{% block content %}
	<input type="hidden" name="action" value="tags/saveTagGroup">
	<input type="hidden" name="redirect" value="settings/tags">

	{% if tagGroup.id %}<input type="hidden" name="tagGroupId" value="{{ tagGroup.id }}">{% endif %}

	<div id="taggroup-settings">
		{{ forms.textField({
			first: true,
			label: "Name"|t,
			instructions: "What this tag group will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: tagGroup.name,
			errors: tagGroup.getErrors('name'),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this tag group in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: tagGroup.handle,
			errors: tagGroup.getErrors('handle'),
			required: true
		}) }}
	</div>

	<div id="taggroup-fieldlayout" class="hidden">
		{% include "_includes/fieldlayoutdesigner" with {
			fieldLayout: tagGroup.getFieldLayout(),
			customizableTabs: false
		} only %}
	</div>
{% endblock %}


{% if not tagGroup.handle %}
	{% includejs %}
		new Craft.HandleGenerator('#name', '#handle');
	{% endincludejs %}
{% endif %}
