{% extends "_layouts/cp" %}
{% set title = "Tag Groups"|t %}

{% set extraPageHeaderHtml %}
	<div class="buttons right">
		<a href="{{ url('settings/tags/new') }}" class="btn submit add icon">{{ "New tag group"|t }}</a>
	</div>
{% endset %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% set docsUrl = 'http://craftcms.com/docs/tags' %}


{% block content %}
	<div id="notaggroups"{% if tagGroups|length %} class="hidden"{% endif %}>
		<p>{{ "No tag groups exist yet."|t }}</p>
	</div>

	{% if tagGroups|length %}
		<table id="taggroups" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Handle"|t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for tagGroup in tagGroups %}
					<tr data-id="{{ tagGroup.id }}" data-name="{{ tagGroup.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('settings/tags/' ~ tagGroup.id) }}">{{ tagGroup.name|t }}</a></th>
						<td data-title="{{ 'Handle'|t }}"><code>{{ tagGroup.handle }}</code></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}


{% includejs %}
	new Craft.AdminTable({
		tableSelector: '#taggroups',
		noObjectsSelector: '#notaggroups',
		deleteAction: 'tags/deleteTagGroup',
		confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its tags?"|t }}',
	});
{% endincludejs %}
