{% extends "freeform/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = "notifications" %}
{% set saveShortcutRedirect = 'freeform/notifications/{id}' %}

{% set crumbs = [
    { label: craft.freeform.name, url: url('freeform') },
    { label: "Notifications"|t, url: url('freeform/notifications') },
    { label: title, url: '' },
] %}

{% set fullPageForm %}
    <form method="post" accept-charset="UTF-8" data-saveshortcut="1">
{% endset %}

{% block saveButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li>
                        <a class="formsubmit" data-redirect="{{ continueEditingUrl }}">
                            {{ "Save and continue editing"|t }}
                            <span class="shortcut">⌘S</span>
                        </a>
                    </li>
                    <li>
                        <a class="formsubmit" data-redirect="{{ url('freeform/notifications/new') }}">
                            {{ "Save and add another"|t }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="pane">
        <div id="content" class="content">
            <div class="body">

                <input type="hidden" name="action" value="freeform/notifications/save">
                <input type="hidden" name="redirect" value="freeform/notifications">
                {% if notification.id %}<input type="hidden" name="notificationId" value="{{ notification.id }}">{% endif %}
                {{ getCsrfInput() }}

                {{ forms.textField({
                    first: true,
                    label: "Name"|t,
                    instructions: "What this field will be called in the CP."|t,
                    id: 'name',
                    name: 'name',
                    value: notification.name,
                    errors: notification.getErrors('name'),
                    autofocus: true,
                    required: true
                }) }}

                {{ forms.textField({
                    label: "Handle"|t,
                    instructions: "How you’ll refer to this notification template in the templates."|t,
                    id: 'handle',
                    class: 'code',
                    name: 'handle',
                    value: notification.handle,
                    errors: notification.getErrors('handle'),
                    required: true
                }) }}

                {{ forms.textareaField({
                    label: "Description"|t,
                    instructions: "Description of this notification."|t,
                    id: 'description',
                    name: 'description',
                    value: notification.description,
                    errors: notification.getErrors('description'),
                    required: false
                }) }}

                <hr>

                {{ forms.textField({
                    label: "Subject"|t,
                    instructions: "The subject line for the email notification."|t,
                    id: 'subject',
                    name: 'subject',
                    value: notification.subject,
                    errors: notification.getErrors('subject'),
                    required: true
                }) }}

                {{ forms.textField({
                    label: "From Email"|t,
                    instructions: "The email address that the email will appear from in your email notification."|t,
                    id: 'fromEmail',
                    name: 'fromEmail',
                    value: notification.fromEmail,
                    errors: notification.getErrors('fromEmail'),
                    required: true
                }) }}

                {{ forms.textField({
                    label: "From Name"|t,
                    instructions: "The name that the email will appear from in your email notification."|t,
                    id: 'fromName',
                    name: 'fromName',
                    value: notification.fromName,
                    errors: notification.getErrors('fromName'),
                    required: true
                }) }}

                {{ forms.textField({
                    label: "Reply-to Email"|t,
                    instructions: "The reply-to email address for your email notification. Leave blank to use 'From Email' address."|t,
                    id: 'replyToEmail',
                    name: 'replyToEmail',
                    value: notification.replyToEmail,
                    errors: notification.getErrors('replyToEmail')
                }) }}

                {{ forms.lightswitchField({
                    label: "Include Attachments?"|t,
                    instructions: "Include uploaded files as attachments in email notification."|t,
                    name: "includeAttachments",
                    on: notification.includeAttachments,
                    errors: notification.getErrors("includeAttachments"),
                }) }}

                {{ forms.textareaField({
                    label: "Email Body",
                    instructions: "The content of the email notification. See documentation for availability of variables.",
                    id: "emailBody",
                    name: "bodyHtml",
                    value: notification.bodyHtml,
                    errors: notification.getErrors("bodyHtml"),
                    required: false,
                }) }}

                <style>
                    #editor {
                        display: none;
                        overflow: hidden;

                        width: 100%;
                        height: 400px;
                        margin-top: -20px;

                        border-radius: 3px;
                        border: 1px solid #e3e5e8;
                    }

                    #emailBody {
                        display: none;
                    }
                </style>
                <div id="editor">{{ notification.bodyHtml }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% includeJsResource "freeform/js/cp/ace/ace.js" %}
{% includeJsResource "freeform/js/cp/ace/mode-html.js" %}
{% includeJsResource "freeform/js/cp/ace/theme-github.js" %}

{% set js %}
    {% if not notification.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    var textarea = $('textarea[name="bodyHtml"]').hide();

    editor.getSession().setValue(textarea.val());
    editor.getSession().on('change', function(){
        textarea.val(editor.getSession().getValue());
    });

    editor.getSession().setUseWorker(false);
    editor.getSession().setMode("ace/mode/html");

    document.getElementById("editor").style.display = "block";
{% endset %}
{% includeJs js %}
