{% requireEdition CraftPro %}

{% import "_includes/forms" as forms %}

{{ forms.textField({
	label: "Access Key ID"|t,
	id: 'keyId',
	name: 'keyId',
	value: settings.keyId,
	errors: settings.getErrors('keyId'),
    class: 'google-key-id',
	required: true
}) }}

{{ forms.textField({
	label: "Secret Access Key"|t,
	id: 'secret',
	name: 'secret',
	value: settings.secret,
	errors: settings.getErrors('secret'),
    class: 'google-secret-key',
	required: true
}) }}

{% set bucketInput %}
    <table class="inputs">
        <tr>
            <td>
                {{ forms.select({
                    id: 'bucket',
                    name: 'bucket',
                    options: { (settings.bucket): settings.bucket },
                    value: settings.bucket,
                    readonly: true,
                    class: 'google-bucket-select'
                }) }}
            </td>
            <td>
                <div class="btn google-refresh-buckets">{{ "Refresh"|t }}</div>
            </td>
            <td>
                <div class="spinner hidden"></div>
            </td>
        </tr>
    </table>
{% endset %}

{{ forms.field({
    label: "Bucket"|t,
    id: 'bucket'
}, bucketInput) }}

{{ forms.textField({
    label: "Subfolder"|t,
    instructions: "If you want to use a bucket’s subfolder as a Source, specify the path to use here."|t,
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    value: settings.subfolder,
    errors: settings.getErrors('subfolder'),
    required: false,
    placeholder: "path/to/subfolder"|t
}) }}

{{ forms.lightswitchField({
    label: "Assets in this source have public URLs"|t,
    name: 'publicURLs',
    on:   settings.publicURLs,
    toggle: "url-field"
}) }}

<div id="url-field" class="{% if not settings.publicURLs %}hidden{% endif %}">
    {{ forms.textField({
        label: "URL Prefix"|t,
        instructions: "If you have set up a CNAME record pointing to this bucket, you can enter it here. Otherwise leave this setting alone."|t,
        id: 'urlPrefix',
        class: 'ltr',
        name: 'urlPrefix',
        value: settings.urlPrefix,
        errors: settings.getErrors('urlPrefix'),
        required: true,
        class: 'google-url-prefix'
    }) }}
</div>

{% set cacheInput %}
	<table class="inputs">
		<tr>
			<td>
				{{ forms.textField({
				id: 'expiresAmount',
				value: settings.expires.amount,
				size: 2,
				class: 'expires-amount'
				}) }}
			</td>
			<td>
				{{ forms.select({
				id: 'expiresPeriod',
				options: periods,
				value: settings.expires.period,
				class: 'expires-period'
				}) }}
			</td>
		</tr>
	</table>
	{{ forms.hidden({
		name: "expires",
		value: settings.expires.amount ~ settings.expires.period,
		class: "expires-combined"
	}) }}
{% endset %}

{{ forms.field({
	label: "Cache Duration"|t,
    instructions: "The Cache-Control duration that assets should be uploaded to the cloud with.",
	id: 'cacheDuration',
}, cacheInput) }}
