{% extends "_layouts/ajax" %}

{% block main %}


{% set resources = craft.entries.section("applicationNotes, qualityEnvironmentalCompliance, solutionGuides, productFlyers, productTrainingModules, engineeringToolbox, video") %}



{# order by title, revision date #}

{% set section = "" %}

{% if craft.request.getParam("section") | length  %}
    {% set section = craft.request.getParam("section") | trim('?') %}

    {% set resources = craft.entries.section(section) %}
{% endif %}




{% if craft.request.getParam("search") | length  %}
    {% set resources = resources.search(craft.request.getParam("search")  | trim('?')  ).order("score") %}
{% endif %}








{# order by Product Line, product type #}

{% if craft.request.getParam("group") | length %}

  {#  {% set resources = resources | group('productLine.first().title')%} #}

{% endif %}




{# filter by Product Line, product type #}


{% if craft.request.getParam("line") | length %}

  {% set relatedEntry = craft.entries.id(craft.request.getParam("line")).first %}
  {% set resources = resources.relatedTo(relatedEntry) %}

{% endif %}



{% if craft.request.getParam("type") | length %}

  {% set relatedEntry = craft.categories.id(craft.request.getParam("type")).first %}
  {% set resources = resources.relatedTo(relatedEntry) %}

{% endif %}



{# order by title, revision date #}

{% set order = "" %}

{% if craft.request.getParam("sort") | length%}
  {% set resources = resources.order(craft.request.getParam("sort")) %}
{% endif %}




{% if not craft.request.isAjax %}




<style>
.resource-tab{
  margin-bottom: 5px;
}</style>



<div class="products-jumbotron img-background" style="background-image: url(https://abracon.com/uploads/banner-images/background.png)">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="white  mb-10 ">Resources </h1>
        <p class="white mb-20">Abracon offers design tools, calculators, documentation, application notes and solutions guides to get you to market fast. </p>
            <a href="http://abracon.com/catalog-request-form " class="btn ">Request a Catalog</a>                         <a href="https://abracon.com/uploads/resources/Abracon-Component-Solutions-Catalog.pdf" class="btn mr-10 mb-10 ml-10  mt-10 " target="_blank">Download Catalog</a>
                  </div>
    </div>
  </div>
</div>

<div class="xl-container mt-40 mb-50">


  <div class="row">
    <div class="col-sm-12">
      <form action="/resources-new" id = "resource-search" >
        <input type="text" name = "search" class = "resource-search" {% if craft.request.getParam("search") | length %} value="{{ craft.request.getParam("search") }}" {% endif %} placeholder="SEARCH ALL RESOURCES">
        <button type="submit" name="button" class = "button"></button>
      </form>
    </div>
  </div>




  <div class="row">


  <div class="col-md-3">
    <div class="resource-tab text-uppercase {% if section == '' %}active{% endif %}" data-section = "all" data-url = "" data-icon = "/uploads/icons/Product_Flyer.svg">
      <div class="icon-block">
        <div class="icon-holder"><img alt="Environmental Icon" src="https://abracon.com/uploads/icons/productflyer_icon.svg"></div>
      </div><span>All</span>
    </div>

    <div class="resource-tab text-uppercase {% if section == 'qualityEnvironmentalCompliance' %}active{% endif %}" data-section = "qualityEnvironmentalCompliance" data-url = "?&section=qualityEnvironmentalCompliance"  data-icon = "/uploads/logos/environmental-icon.svg">
      <div class="icon-block">
        <div class="icon-holder"><img alt="Environmental Icon" src="https://abracon.com/uploads/icons/environmental_icon.svg"></div>
      </div><span>Quality &amp; Environmental Compliance</span>
    </div>
    <div class="resource-tab text-uppercase {% if section == 'applicationNotes' %}active{% endif %}" data-section = "applicationNotes" data-url = "?&section=applicationNotes"  data-icon = "/uploads/logos/applications-icon.svg">
      <div class="icon-block">
        <div class="icon-holder"><img alt="Note Icon" src="https://abracon.com/uploads/icons/note_icon.svg"></div>
      </div><span>Application Notes</span>
    </div>
    <div class="resource-tab text-uppercase {% if section == 'solutionGuides' %}active{% endif %}" data-section = "solutionGuides" data-url = "?&section=solutionGuides"  data-icon = "/uploads/logos/solutions-guide-icon.svg">
      <div class="icon-block">
        <div class="icon-holder"><img alt="List Icon" src="https://abracon.com/uploads/icons/solutionguides_icon.svg"></div>
      </div><span>Solutions Guides</span>
    </div>
    <div class="resource-tab text-uppercase {% if section == 'productFlyers' %}active{% endif %}" data-section = "productFlyers" data-url = "?&section=productFlyers"  data-icon = "/uploads/icons/Product_Flyer.svg">
      <div class="icon-block">
        <div class="icon-holder"><img alt="Productflyer Icon" src="https://abracon.com/uploads/icons/productflyer_icon.svg"></div>
      </div><span>Product Flyers</span>
    </div>
    <div class="resource-tab text-uppercase {% if section == 'productTrainingModules' %}active{% endif %}" data-section = "productTrainingModules" data-url = "?&section=productTrainingModules"  data-icon = "/uploads/logos/product-training-modules-icon.svg">
      <div class="icon-block">
        <div class="icon-holder"><img alt="Product Training Icon" src="https://abracon.com/uploads/icons/producttraining-icon.svg"></div>
      </div><span>Product Training Modules</span>
    </div>
    <div class="resource-tab text-uppercase {% if section == 'engineeringToolbox' %}active{% endif %}" data-section = "engineeringToolbox" data-url = "?&section=engineeringToolbox"  data-icon = "/uploads/logos/toolbox-icon.svg">
      <div class="icon-block">
        <div class="icon-holder"><img alt="Engineering Icon" src="https://abracon.com/uploads/icons/engineering-icon.svg"></div>
      </div><span>Engineering Toolbox</span>
    </div>
    <div class="resource-tab text-uppercase {% if section == 'video' %}active{% endif %}" data-section = "video" data-url = "?&section=video"  data-icon = "/uploads/icons/video-btn.svg">
      <div class="icon-block">
        <div class="icon-holder"><img alt="Videoset Icon Light" src="https://abracon.com/uploads/icons/videoset_icon_light.png"></div>
      </div><span>Video</span>
    </div>
  </div>




  <div class="col-md-9 ">
    <div class="table-holder">
      <div class="flex align-center mb-30 table-header" >
          <img src="/uploads/icons/Product_Flyer.svg" alt="Product Flyer" class = "mr-15" style = "width: 57px; height: 55px;">
          <h3 class="dark-blue text-uppercase">All</h3>
      </div>
      <div class="row mb-15">
        <div class="col-md-8">
            <b class = "mr-10">Filter By:</b>
            <select name=""  class = "mr-10" style = "width: 250px;" id = "line-filter">
              {% if not craft.request.getParam("line") | length %} <option value=""  selected disabled>Product Line</option> {% endif %}
              <option value="" >All</option>

              {% for option in craft.entries.section("products") %}
                <option value="?&line={{ option.id }}"   {% if  craft.request.getParam("line") == option.id %}selected{% endif %} >{{ option.title }}</option>
              {% endfor %}
            </select>
            <select name="" style = "width: 250px;" id = "type-filter">
              {% if not craft.request.getParam("type") | length %} <option value=""  selected disabled>Product Type</option> {% endif %}

              <option value="" >All</option>
              {% for option in craft.categories.group("productType") %}
                <option value="?&type={{ option.id }}"  {% if  craft.request.getParam("type") == option.id %}selected{% endif %}>{{ option.title }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="col-md-4 text-right">
          Number of Entries Shown
          <select name="" id="">
            <option value="10" >10</option>
          </select>
        </div>
      </div>


  <div class="relative table-container">

  <div class="loader">
    <div>
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
  </div>

    <div class="ajax-content">

    <table style = "width: 100%;" class = "resource-table">
      <tr>
        <th style = "width: 50px;">
        </th>
        <th style = "width: 170px;" class = "text-left"><span class="resource-header">Product Line</span></th>
        <th style = "width: 170px;" class = "text-left"><span class="resource-header">Product Type</span></th>
        <th style = "width: 475px;" class = "text-left">
          <div class="flex align-center">
            <span class="resource-header">Title</span>
            <div class = "sort-toggle">
              <span class="up-toggle {% if craft.request.getParam('sort') == 'title desc'%}bold{% endif %}" data-sort = "title desc"></span>
              <span class="down-toggle {% if craft.request.getParam('sort') == 'title'%}bold{% endif %}" data-sort = "title"></span>
            </div>
          </div>
        </th>
        <th style = "width: 170px;" class = "text-left">
          <div class="flex align-center">
            <span class="resource-header">Rev Date</span>
            <div class = "sort-toggle">

              <span class="up-toggle {% if craft.request.getParam('sort') == 'dateUpdated desc'%}bold{% endif %}" data-sort = "dateUpdated desc"></span>
              <span class="down-toggle {% if craft.request.getParam('sort') == 'dateUpdated'%}bold{% endif %}" data-sort = "dateUpdated"></span>

            </div>
          </div>
        </th>
      </tr>



      {% paginate resources.limit(10) as pageInfo, pageEntries %}

      {% for entry in pageEntries %}
        {% include "_partials/table-rows"%}
      {% endfor  %}
    </table>
    </div>
    </div>
  </div>
  </div>
  </div>
</div>




{% else %}


<div class="ajax-content">
  <table style = "width: 100%;" class = "resource-table">
    <tr>
      <th style = "width: 50px;">
      </th>
      <th style = "width: 170px;" class = "text-left"><span class="resource-header">Product Line</span></th>
      <th style = "width: 170px;" class = "text-left"><span class="resource-header">Product Type</span></th>
      <th style = "width: 475px;" class = "text-left">
        <div class="flex align-center">
          <span class="resource-header">Title</span>
          <div class = "sort-toggle">
            <span class="up-toggle {% if craft.request.getParam('sort') == 'title desc'%}bold{% endif %}" data-sort = "title desc"></span>
            <span class="down-toggle {% if craft.request.getParam('sort') == 'title'%}bold{% endif %}" data-sort = "title"></span>
          </div>
        </div>
      </th>
      <th style = "width: 170px;" class = "text-left">
        <div class="flex align-center">
          <span class="resource-header">Rev Date</span>
          <div class = "sort-toggle">

            <span class="up-toggle {% if craft.request.getParam('sort') == 'dateUpdated desc'%}bold{% endif %}" data-sort = "dateUpdated desc"></span>
            <span class="down-toggle {% if craft.request.getParam('sort') == 'dateUpdated'%}bold{% endif %}" data-sort = "dateUpdated"></span>

          </div>
        </div>
      </th>
    </tr>

    {% paginate resources.limit(10) as pageInfo, pageEntries %}

    {% for entry in pageEntries %}
      {% include "_partials/table-rows"%}


    {% endfor %}
  </table>
</div>

{% endif %}






{% endblock %}
