{% set resources = craft.entries.section("productFlyers")%}



{# order by title, revision date #}

{% set section = "" %}

{% if craft.request.getParam("section") | length  %}
    {% set section = craft.request.getParam("section") %}
    {% set resources = craft.entries.section(section) %}
{% endif %}



{# order by title, revision date #}

{% set order = "" %}

{% if craft.request.getParam("order") | length%}
  {% set resources = resources.order(order) %}
{% endif %}



{# order by Product Line, product type #}

{% if craft.request.getParam("group") | length %}

  {#  {% set resources = resources | group('productLine.first().title')%} #}

{% endif %}




<div class="ajax-content">
<table style = "width: 100%;" class = "resource-table">
  <tr>
    <th style = "width: 50px;">
    </th>
    <th style = "width: 170px;" class = "text-left"><span class="resource-header">Product Line</span></th>
    <th style = "width: 170px;" class = "text-left"><span class="resource-header">Product Type</span></th>
    <th style = "width: 475px;" class = "text-left"><span class="resource-header">Title</span></th>
    <th style = "width: 170px;" class = "text-left"><span class="resource-header">Rev Date</span></th>
  </tr>

  {% for entry in resources %}
  <tr>
      <td>
        <div class="expandor">
          <span></span>
          <span></span>
        </div>
      </td>
      <td>
        {% for cat in entry.productLine %}
          {{ cat }}
        {% endfor %}
      </td>
      <td>
        {% for type in entry.productType %}
          {{ type }}
        {% endfor %}
      </td>
      <td>
        <a href="{{ entry.upload.first.url }}" target = "_blank">
          {{ entry.title }}
        </a>
      </td>
      <td>
        {{ entry.dateUpdated |date('m/d/Y') }}
      </td>
  </tr>
  <tr class = "additional-info" style = "display: none;">
    <td colspan="5">
      <div class="flex align-center pt-30 pb-30">
      {% for thumb in entry.assetThumbnail %}
        <a href="{{ entry.upload.first.url }}" target = "_blank">
          <img src="{{ thumb.url }}" alt="{{ thumb.title }}" class = "product-thumb-img">
        </a>
      {% endfor %}
      <div class = "pr-70">
      <p>{{ entry.description }}</p>
      </div>
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
</div>
