{% extends "_layouts/main" %}

{% block main %}

{% include "_partials/banner.html" %}


{% for about in entry.textWithImage %}
<div class="img-left-section">
  <div class="row no-gutters flex">
    <div class="col-lg-7 col-md-6 no-gutters relative hidden-overflow image-background-row">
      <img src="{{ about.image.first.url }}" alt="{{ about.image.first.title }}">
    </div>
    <div class="col-xs-12 col-lg-5 col-md-6 dark-blue-background bottom-right-img-background text-col" style="background-image: url(/assets/imgs/large-bottom-right-circuit.png)">
      <div>
        <h3 class="light-blue text-uppercase">{{ about.header1 }}</h3>
        <p class="white">{{ about.description1 }}</p>
        <h3 class="light-blue text-uppercase">{{ about.header2 }}</h3>
        <p class="white">{{ about.description2 }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="pt-60 pb-50">
  <div class="medium-container">
    <div class="flex row align-center justify-center ">
      {% for num in entry.numberInfo %}
        <div class="col {% if not loop.last %}border-right{% endif %} text-center no-border-md pr-40 pl-40 pt-30 pb-30 mt-20 mb-20 pb-sm-0 pt-sm-0">
          <h2 class="h1 blue mb-10">{{ num.number }}</h2>
          <h3 class="light-blue text-uppercase">{{ num.description}}</h3>
        </div>
      {% endfor %}

    </div>
  </div>
</div>


<div class="gradient-background pt-90 pb-90">
  <div class="container">
  <div class="row">
    {% for icon in entry.iconInfo %}
    <div class="col-md-5 col-sm-10 col-md-offset-1 col-sm-offset-2 text-left relative mb-40 pr-50">
      <img src="{{ icon.icon.first.url }}" alt="{{ icon.icon.first.title }}" class = "mb-30 absolute about-icon">
      <h3 class="light-blue text-uppercase mb-10">{{ icon.headerText|nl2br|raw }}</h3>
      <p class="white">{{ icon.description}}</p>
    </div>
    {% endfor %}

  </div>
  </div>
</div>





{% set history = entry.history.first %}
<div class="bottom-img-background building-img" style = "background-image: url({{ history.backgroundImage.first.url }})">
  <div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
      <div class="videoWrapper shadowVideo">
  		  <iframe width="560" height="315" src="https://www.youtube.com/embed/Q8YwuD4_nRY?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  		</div>
    </div>
      </div>
      <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
          <h2 class="blue mb-20-md blue mb-20-md mb-20 mt-40">{{ history.headerText }}</h2>
        <p>{{ history.description }}</p>
      </div>
    </div>

</div>
</div>



{% include "./_partials/related-pages-block.html" %}


{% endblock %}
