/* Flexbox stuff */
/* Other */
/* RTL stuff */
#action-menubtn { margin: -6px 0; }

#action-spinner { position: absolute; top: 10px; }
body.ltr #action-spinner { right: 0; }
body.rtl #action-spinner { left: 0; }

#verifypasswordmodal { width: 350px; }

#verifypasswordmodal .buttons { margin-top: 1em; }

#verifypasswordmodal .buttons .spinner { position: absolute; top: 0; margin-top: 0; }
body.ltr #verifypasswordmodal .buttons .spinner { right: 0; }
body.rtl #verifypasswordmodal .buttons .spinner { left: 0; }

/*# sourceMappingURL=account.css.map */
