/* Flexbox stuff */
/* Other */
/* RTL stuff */
.widget.gethelp .front .pane { padding: 0; overflow: hidden; }

.widget.gethelp .front .pane > h2 { display: none; }

.cs-screen { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.cs-screen:not(:first-child) { display: none; opacity: 0; }

.cs-screen .cs-opt-icon svg { display: block; margin: 0 auto 14px; width: 50px; height: 50px; }
.cs-screen .cs-opt-icon svg rect, .cs-screen .cs-opt-icon svg circle, .cs-screen .cs-opt-icon svg ellipse, .cs-screen .cs-opt-icon svg line, .cs-screen .cs-opt-icon svg polyline, .cs-screen .cs-opt-icon svg polygon, .cs-screen .cs-opt-icon svg path, .cs-screen .cs-opt-icon svg text { fill: #ebedef; stroke-width: 0; }

.cs-screen-home .cs-opt { display: block; padding: 24px; text-align: center; cursor: pointer; }

.cs-screen-home .cs-opt:first-child { border-radius: 4px 4px 0 0; }

.cs-screen-home .cs-opt:not(:first-child) { border-top: 1px solid #fafafa; }

.cs-screen-home .cs-opt:last-child { border-radius: 0 0 4px 4px; }

.cs-screen-home .cs-opt h2 { margin: -7px 0 0; font-weight: normal; }

.cs-screen-home .cs-opt p { margin-top: 3px; color: #b9bfc6; }

.cs-screen-home .cs-opt:hover { background: #fafafa; }

.cs-screen-2, .cs-screen-support { padding: 24px; }

.cs-screen-2 .cs-search-results-container { position: relative; margin: 0 -24px; padding: 0 24px; max-height: 250px; overflow: scroll; background: #fafafa; -webkit-box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.1), inset 0 -2px 2px -2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.1), inset 0 -2px 2px -2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.1), inset 0 -2px 2px -2px rgba(0, 0, 0, 0.1); }

.cs-screen-2 .cs-search-results-container .cs-search-icon { padding-top: 10px; }

.cs-screen-2 .cs-search-results-container .cs-search-icon svg { display: block; margin: 0 auto; width: 30px; height: 30px; }

.cs-screen-2 .cs-search-results-container h2 { margin: 7px 0 14px; font-weight: normal; text-align: center; color: #8f98a3; }

.cs-screen-2 .cs-search-results { position: relative; padding: 14px 0 14px; }

.cs-screen-2 .cs-search-results:before { display: block; content: '.'; font-size: 0; position: absolute; top: 0; left: 50%; margin: 0 -10px; width: 20px; height: 1px; background: #e3e5e8; }

.cs-screen-2 .cs-search-results a { display: block; position: relative; }
body.ltr .cs-screen-2 .cs-search-results a { padding: 3px 0 3px 20px; }
body.rtl .cs-screen-2 .cs-search-results a { padding: 3px 20px 3px 0; }

.cs-screen-2 .cs-search-results a .status { position: absolute; top: 6px; }
body.ltr .cs-screen-2 .cs-search-results a .status { left: 0; }
body.rtl .cs-screen-2 .cs-search-results a .status { right: 0; }

.cs-screen-2 .cs-forms { position: relative; }

.cs-screen-2 .cs-forms .submit { display: block; margin: 0 auto; max-width: 365px; }

.cs-screen-2 .cs-search-form { -webkit-transition: padding-top linear 100ms; -moz-transition: padding-top linear 100ms; -ms-transition: padding-top linear 100ms; transition: padding-top linear 100ms; }

.cs-screen-2.with-results .cs-search-form { padding-top: 24px; }

.cs-screen-2 .cs-search-form p { text-align: center; }

.cs-screen-2 .cs-support-form .submit { -webkit-transition: margin-top linear 100ms; -moz-transition: margin-top linear 100ms; -ms-transition: margin-top linear 100ms; transition: margin-top linear 100ms; }

.cs-screen-2 .cs-support-form .cs-support-more:not(.hidden) + .submit { margin-top: 24px; }

.cs-screen-2 .cs-support-form .spinner { position: absolute; bottom: 0; }
body.ltr .cs-screen-2 .cs-support-form .spinner { right: -24px; }
body.rtl .cs-screen-2 .cs-support-form .spinner { left: -24px; }

/*# sourceMappingURL=CraftSupportWidget.css.map */
