/* Flexbox stuff */
/* Other */
/* RTL stuff */
span.draft { margin-top: -4px; display: inline-block; border: 2px solid #bbb; border-radius: 4px; padding: 0 4px; height: 16px; vertical-align: middle; font-size: 11px; line-height: 16px; text-transform: uppercase; font-weight: bold; color: #29323d; }

h1 span.draft span { display: none; }

body.ltr #locales { padding: 0 0 0 24px; }
body.rtl #locales { padding: 0 24px 0 0; }

#locales li { position: relative; }
body.ltr #locales li { padding: 7px 45px 7px 0; }
body.rtl #locales li { padding: 7px 0 7px 45px; }

#locales li + li { border-top: 1px solid #e3e5e8; }

#locales li.sel { cursor: default; }

#locales li.sel:before { font-size: 11px; font-family: 'Craft'; speak: none; -webkit-font-feature-settings: "liga", "dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -moz-font-feature-settings: "liga", "dlig"; -ms-font-feature-settings: "liga", "dlig"; -o-font-feature-settings: "liga", "dlig"; font-feature-settings: "liga", "dlig"; text-rendering: optimizeLegibility; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; direction: ltr; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block; text-align: center; font-style: normal; vertical-align: middle; word-wrap: normal !important; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; content: 'check'; }
body.ltr #locales li.sel:before { float: left; }
body.rtl #locales li.sel:before { float: right; }
body.ltr #locales li.sel:before { margin: 3px 0 0 -16px ; }
body.rtl #locales li.sel:before { margin: 3px -16px 0 0 ; }

#locales li a { color: #29323d; }

#locales li a:hover { color: #0d78f2; cursor: pointer; }

#locales li .lightswitch { position: absolute; top: 50%; margin-top: -9px; }
body.ltr #locales li .lightswitch { right: 9px; }
body.rtl #locales li .lightswitch { left: 9px; }

#locales li .status { display: block; position: absolute; top: 50%; margin: -5px 0 0; }
body.ltr #locales li .status { right: 16px; }
body.rtl #locales li .status { left: 16px; }

/*# sourceMappingURL=entry.css.map */
