/* Flexbox stuff */
/* Other */
/* RTL stuff */
#main #graphic { display: block; margin: 200px auto 0; }

#main #graphic.error { background-image: url(../images/error.png); }

#main #graphic.success { background-image: url(../images/success.png); }

#main #status { margin: 20px auto 250px; text-align: center; font-size: 16px; line-height: 20px; color: #666; }

#main .critical { border-radius: 2px; padding: 2px 5px; font-weight: normal; color: #fff; background: #d6301a; }
body.ltr #main .critical { margin-left: 5px; }
body.rtl #main .critical { margin-right: 5px; }

#main .release { direction: ltr; }

/* Keep this LTR since the actual release notes are only LTR */
#main .update .header { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-align: center; align-items: center; margin: -24px -24px 24px; padding: 24px; }

#main .update .header h1 { flex-grow: 1; -ms-flex: 1; margin: 0; }

#main .update .header .buttons { margin: 0; }

#main .update .release h2 { margin-bottom: 0; }

#main .update .release + .release { margin-top: 24px; }

#main .update .release .release-date { margin-top: 4px; }

#main .update .release .release-notes { position: relative; direction: ltr; }

#main .update .release .release-notes.fade-out { max-height: 120px; overflow: hidden; }

#main .update .release .release-notes.fade-out:after { display: block; position: absolute; left: 0; bottom: 0; content: '.'; font-size: 0; width: 100%; height: 48px; background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #fff); background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), #fff); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #fff); background-image: linear-gradient(top, rgba(255, 255, 255, 0), #fff); }

body.ltr #main .update .release .release-notes ul li { padding: 3px 0 3px 24px; }
body.rtl #main .update .release .release-notes ul li { padding: 3px 24px 3px 0; }

#main .update .release .release-notes ul li:before { font-family: 'Craft'; speak: none; -webkit-font-feature-settings: "liga", "dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -moz-font-feature-settings: "liga", "dlig"; -ms-font-feature-settings: "liga", "dlig"; -o-font-feature-settings: "liga", "dlig"; font-feature-settings: "liga", "dlig"; text-rendering: optimizeLegibility; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; direction: ltr; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block; text-align: center; font-style: normal; vertical-align: middle; word-wrap: normal !important; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-size: 16px; }
body.ltr #main .update .release .release-notes ul li:before { float: left; }
body.rtl #main .update .release .release-notes ul li:before { float: right; }
body.ltr #main .update .release .release-notes ul li:before { margin: 1px 0 1px -24px ; }
body.rtl #main .update .release .release-notes ul li:before { margin: 1px -24px 1px 0 ; }

#main .update .release .release-notes ul li.added:before { content: 'wand'; color: #5286d9; }

#main .update .release .release-notes ul li.improved:before { content: 'brush'; }

#main .update .release .release-notes ul li.fixed:before { content: 'screwdriver'; color: #da5a47; }

#main .update .release .show-full-notes { display: block; }
body.ltr #main .update .release .show-full-notes { margin: 7px 0 0 24px ; }
body.rtl #main .update .release .show-full-notes { margin: 7px 24px 0 0 ; }

/*# sourceMappingURL=updates.css.map */
