/* Flexbox stuff */
/* Other */
/* RTL stuff */
.user-permissions { position: relative; }

.user-permissions h3:first-child { margin-top: 14px !important; }

.user-permissions .select-all { font-size: 0.9em; margin: 13px 0; color: #0d78f2; cursor: pointer; }

.user-permissions .select-all:hover { text-decoration: underline; }

.user-permissions .checkbox { position: absolute; right: 0; }

.user-permissions input.checkbox:disabled + label { opacity: .5; }

.user-permissions input.checkbox:disabled + label:before, .user-permissions div.checkbox.disabled:before { opacity: 0.5; }

.user-permissions ul ul li:before { display: block; position: absolute; margin-top: 8px; content: '.'; font-size: 0; width: 10px; height: 0; border-top: 1px solid #eee; }

.user-permissions ul ul ul li:before { width: 30px; }

.user-permissions ul ul ul ul li:before { width: 45px; }

body.ltr .user-permissions h3 { padding-right: 0.5em; }
body.rtl .user-permissions h3 { padding-left: 0.5em; }
body.ltr .user-permissions h3 { border-right: 1px solid #eee; }
body.rtl .user-permissions h3 { border-left: 1px solid #eee; }
body.ltr .user-permissions h3 { margin-right: 0.5em; }
body.rtl .user-permissions h3 { margin-left: 0.5em; }

body.ltr .user-permissions h3, body.ltr .user-permissions .select-all { float: left; }
body.rtl .user-permissions h3, body.rtl .user-permissions .select-all { float: right; }

.user-permissions ul { clear: both; }

body.ltr .user-permissions ul ul li .checkbox + label { padding-left: 35px; }
body.rtl .user-permissions ul ul li .checkbox + label { padding-right: 35px; }

body.ltr .user-permissions ul ul ul li .checkbox + label { padding-left: 55px; }
body.rtl .user-permissions ul ul ul li .checkbox + label { padding-right: 55px; }

body.ltr .user-permissions ul ul li:before { left: 20px; }
body.rtl .user-permissions ul ul li:before { right: 20px; }

/*# sourceMappingURL=user-permissions.css.map */
