{% if page is not defined %}
    {% set page = "" %}
{% endif %}

<ul id="resources" class="dropdown-content">
    <li><a href="https://solspace.com">Solspace.com</a></li>
    <li><a href="https://solspace.com/craft/freeform/docs">Documentation</a></li>
    <li><a href="https://solspace.com/craft/support">Support</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="{{ siteUrl }}_freeform/materialize" class="brand-logo">Freeform Demo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="{{ page == "bootstrap" ? "active" }}"><a href="{{ siteUrl }}_freeform/bootstrap">Bootstrap</a></li>
            <li class="{{ page == "foundation" ? "active" }}"><a href="{{ siteUrl }}_freeform/foundation">Foundation</a></li>
            <li class="{{ page == "materialize" ? "active" }}"><a href="{{ siteUrl }}_freeform/materialize">Materialize</a></li>

            <!-- Dropdown Trigger -->
            <li>
                <a class="dropdown-button" href="#!" data-activates="resources">
                    Resources<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>

        </ul>
    </div>
</nav>
