{% import '_includes/forms' as forms %}

{% set columnType %}
	{{ forms.select({
		id: 'columnType',
		name: 'columnType',
		options: columns,
		value: settings.columnType
	}) }}
{% endset %}

{{ forms.selectField({
	label: "Redactor Config"|t,
    instructions: "You can save custom {name} configs as {ext} files in {path}."|t({
			name: 'Redactor',
			ext: '`.json`',
			path: '`craft/config/redactor/`'
		}) ~
		' <a href="http://imperavi.com/redactor/docs/settings/" target="_blank">'~"View available settings"|t~'</a>',
    id: 'configFle',
    name: 'configFile',
    options: redactorConfigOptions,
    value: settings.configFile
}) }}

{{ forms.checkboxSelectField({
	id: 'availableAssetSources',
	name: 'availableAssetSources',
	label: 'Available Asset Sources'|t,
	instructions: 'The asset sources that should be available when selecting assets (if the selected config has an Image or File button).'|t,
	options: assetSourceOptions,
	values: settings.availableAssetSources,
}) }}

{{ forms.checkboxSelectField({
	id: 'availableTransforms',
	name: 'availableTransforms',
	label: 'Available Image Transforms'|t,
	instructions: 'The image transforms that should be available when selecting images (if the selected config has an Image button).'|t,
	options: transformOptions,
	values: settings.availableTransforms,
}) }}

{{ forms.checkboxField({
	label: "Clean up HTML?"|t,
	instructions: "Removes <code>&lt;span&gt;</code>’s, empty tags, and most <code>style</code> attributes on save."|t,
	id: 'cleanupHtml',
	name: 'cleanupHtml',
	checked: settings.cleanupHtml
}) }}

{{ forms.checkboxField({
	label: "Purify HTML?"|t,
	instructions: 'Removes any potentially-malicious code on save, by running the submitted data through <a href="http://htmlpurifier.org/" target="_blank">HTML Purifier</a>.'|t,
	warning: 'Disable this at your own risk!'|t,
	id: 'purifyHtml',
	name: 'purifyHtml',
	checked: settings.purifyHtml,
	toggle: 'purifier-config-container'
}) }}

<div id="purifier-config-container"{% if not settings.purifyHtml %} class="hidden"{% endif %}>
    {{ forms.selectField({
        label: "HTML Purifier Config"|t,
        instructions: "You can save custom {name} configs as {ext} files in {path}."|t({
				name: 'HTML Purifier',
				ext: '`.json`',
				path: '`craft/config/htmlpurifier/`'
			}) ~
			' <a href="http://htmlpurifier.org/live/configdoc/plain.html" target="_blank">'~"View available settings"|t~'</a>',
        id: 'purifierConfig',
        name: 'purifierConfig',
        options: purifierConfigOptions,
        value: settings.purifierConfig
    }) }}
</div>

{{ forms.field({
	label: "Column Type"|t,
	instructions: "The underlying database column type to use when saving content."|t,
	id: 'columnType',
	warning: (existing ? "Changing this may result in data loss."|t),
}, columnType) }}
