{% extends "_layouts/main" %}

{% block main %}

  <div class="text-center  mt-40 mb-30">
    <h1 class="blue">{{ category.title }}</h1>
</div>

  <div class="container newsies">
    <div class="row relative">
      <div class="col-lg-9">
      {% for entries in craft.entries.section("news").relatedTo( category ) %}

        {% include "news/_snippet.html" %}
        {% endfor %}

      </div>
      <div class="col-lg-3 category-sidebar">
        <p class="large blue">Categories</p>
        <hr>
        <ul class="list-unstyled text-uppercase blue">
          {% for cat in craft.categories.group("news") %}

          <li><a href="{{ cat.url }}" class="h4 blue {% if craft.request.url == cat.url %}active{% endif %}">{{ cat.title }}</a></li>

          {% endfor %}
        </ul>
        <br>
        <h5 class="h5 blue text-uppercase ">
          <a class="blue arrow-link" href="/news">View All
            <div class ="x-smol-arrow-btn blue-arrow">
              <img alt="arrow >"  src="/assets/icons/small-blue-arrow.svg">
              <img alt="arrow >"  src="/assets/icons/small-blue-arrow.svg">
          </div>

          </a>
        </h5>
      </div>
    </div>
  </div>


{% endblock %}
