{% extends "_layouts/main" %}

{% block main %}
  <div class=" blog-intro text-center">
		<div class="container">
      <h1 class="blue {% if entry.title | length > 50 %} smol-title {% endif %}">{{ entry.title }} </h1>
		</div>
  </div>
  <!--[if IE]>
  <style>

  .category-sidebar{
    top: 0;
  }

 </style>
  <![endif]-->
  <style>.wysiwyg img{
    height: auto !important;
    max-width: 100%;
  }

  .wysiwyg h1, .wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5, .wysiwyg h6{
    color: #253c75;
  }


</style>



  <div class="container article-post  relative">
		<div class="row ">
      <div class="col-xs-12 post-intro ">
      {% if entry.bannerImage.first %}
      {% set thumb = {
  mode: 'stretch',
  width: 1000
} %}
			<img src="{{ entry.bannerImage.first.url(thumb)}}" alt="{{ entry.bannerImage.first.title }}" class = "img-responsive">
      {% endif %}
			<h4 class="dark-blue text-uppercase">{% if entry.newsCategory.first|length %} <a href="{{entry.newsCategory.first.url }}" class="dark-blue"> {{ entry.newsCategory.first }}</a> |  {% endif %}{{ entry.postDate|date("m") }}.{{ entry.postDate|date("d") }}.{{ entry.postDate|date("y") }}</h4>
</div>
		</div>
    <div class="row relative">
      <div class="floating-share text-center">
        <h4 class="blue text-uppercase">
          Share
        </h4>
        <a href="#" onClick="window.open('https://twitter.com/home?status={{   entries.title|url_encode }}{{   entries.getUrl() }}','share','resizable,height=360,width=470'); return false;" ><img alt="twitter" src="/assets/icons/twitter-share.svg"></a>
      <a href="#" onClick="window.open('https://www.facebook.com/sharer/sharer.php?u={{   entries.getUrl() }}','share','resizable,height=360,width=470'); return false;"><img alt="facebook" src="/assets/icons/facebook-share.svg"></a>
        <a href="#" onClick="window.open('https://plus.google.com/share?url={{   entries.getUrl() }}','share','resizable,height=360,width=470'); return false;"><img alt=" google-plus" src="/assets/icons/google-plus-share.svg"></a>
            <a href="#" onClick="window.open('http://www.linkedin.com/shareArticle?mini=true&url={{   entries.getUrl() }}&title={{   entries.title }}','share','resizable,height=360,width=470'); return false;"><img alt="linkedin" src="/assets/icons/linkedin-share.svg"></a>

      </div>
      <div class="main-content">
      <div class="col-lg-9 article-post content" id = "postStart">


        {% for block in entry.blogPost %}
        {% include "_news-blocks/" ~ block.type ~ ".html"%}
        {% endfor %}


        <hr class = "mt-60 mb-60">

				<span class = "h4 blue text-uppercase">
          <a href="/news" class = "return-arrow blue">
            <span class="return-arrow-btn">
              <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class = "return-arrow">
              <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class = "return-arrow">

            </span>
          READ MORE ARTICLES
          </a>
        </span>



			</div>

      </div>
      <div class="col-lg-3 post-sidebar sidebar">
        <div class="sidebar__inner">
        <p class="large blue">Latest Articles</p>
        <hr>
        <ul class="list-unstyled ">
          {% for entries in craft.entries({ section: 'news',  id: 'not ' ~ entry.id }).limit(5) %}
            <li><a href="{{ entries.url }}" class="p body-grey">{{ entries.title }}</a></li>
          {% endfor %}
        </ul>
        <h5 class="h5 blue text-uppercase ">
          <a class="blue arrow-link" href="/news">View All
            <div class ="x-smol-arrow-btn blue-arrow">
              <img alt="arrow >"  src="/assets/icons/small-blue-arrow.svg">
              <img alt="arrow >"  src="/assets/icons/small-blue-arrow.svg">
          </div>

          </a>
        </h5>
</div>
      </div>
    </div>


  </div>

{% endblock %}
