<div class="post-snippet">
  <div class="row ">
    {% if entries.thumbnail.first.url|length %}
    <div class="col-md-11 col-xs-12">
      <a href="{{ entries.url}}">
        {% set thumb = {
    mode: 'stretch',
    width: 840,
    quality: 83
} %}
      <img src="{{ entries.thumbnail.first.url(thumb) }}" alt="{{ entries.thumbnail.first.title }}" class = "img-responsive">
      <br>
      </a>
    </div>
    {% endif %}
    <div class="col-xs-11">
      <h2 class="blue"><a href="{{ entries.url }}" class="blue">{{ entries.title }}</a></h2>
      <p> {{ entries.snippet}} <br> <a href="{{ entries.url }}" class="h4 blue text-uppercase">Read More</a></p>
      <div class="share-row">
        <h4 class="inline-block text-uppercase blue">Share</h4>
          <a href="#" onClick="window.open('https://twitter.com/home?status={{   entries.title|url_encode }}{{   entries.getUrl() }}','share','resizable,height=360,width=470'); return false;" ><img alt="twitter" src="/assets/icons/twitter-share.svg"></a>
        <a href="#" onClick="window.open('https://www.facebook.com/sharer/sharer.php?u={{   entries.getUrl() }}','share','resizable,height=360,width=470'); return false;"><img alt="facebook" src="/assets/icons/facebook-share.svg"></a>
          <a href="#" onClick="window.open('https://plus.google.com/share?url={{   entries.getUrl() }}','share','resizable,height=360,width=470'); return false;"><img alt=" google-plus" src="/assets/icons/google-plus-share.svg"></a>
              <a href="#" onClick="window.open('http://www.linkedin.com/shareArticle?mini=true&url={{   entries.getUrl() }}&title={{   entries.title }}','share','resizable,height=360,width=470'); return false;"><img alt="linkedin" src="/assets/icons/linkedin-share.svg"></a>




      </div>
    </div>
  </div>
</div>
<hr class = "post-hr">
