{% extends "_layouts/main" %}

{% block main %}

{% include "_partials/banner.html"%}


  <div class="container newsies">
    <div class="row">
      <div class="col-lg-9">
        {% paginate craft.entries.section("news").limit(6) as pageInfo, pageEntries %}


          {% for entries in pageEntries %}
            {% include "news/_snippet.html" %}



        {% endfor %}
      </div>
      <div class="col-lg-3 category-sidebar">
        <p class="large blue">Categories</p>
        <hr>
        <ul class="list-unstyled text-uppercase blue">
          {% for cat in craft.categories.group("news") %}

          <li><a href="{{ cat.url }}" class="h4 blue">{{ cat.title }}</a></li>

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="pagination text-center">
  {% paginate craft.entries.section("news").limit(6) as pageInfo, pageEntries %}
  <ul class = "list-unstyled">



{% if pageInfo.prevUrl %}
<li><a href="{{ pageInfo.prevUrl }}"><img src="/assets/icons/blue-return.svg" alt="< arrow"></a></li>
{% else %}
<li><img class = "empty-arrow" src="/assets/icons/grey-return.svg" alt="< arrow"></li>

{% endif %}

{% for page, url in pageInfo.getPrevUrls(6) %}
<li>  <a href="{{ url }}" class = "body-grey">{{ page }}</a>    </li>
{% endfor %}

<li class = "active"><a href="#" class = " blue">{{ pageInfo.currentPage }}</a></li>

{% for page, url in pageInfo.getNextUrls(6) %}
<li>  <a href="{{ url }}" class = "body-grey">{{ page }}</a>    </li>
{% endfor %}

{% if pageInfo.nextUrl %}
  <li><a href="{{ pageInfo.nextUrl }}"><img src="/assets/icons/blue-forward.svg" alt="> arrow"></a></li>
{% else %}
<li><img class = "empty-arrow" src="/assets/icons/grey-forward.svg" alt="> arrow"></li>

{% endif %}


</div>



{% endblock %}
