{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block pageTitle %}
	{{ parent() }}
	{% if entry.id %}
		{% include "entries/_revisions" %}
	{% endif %}
{% endblock %}

{% set sectionHandle = section.handle %}
{% set isSingle = section.type == 'single' %}
{% set isVersion = entry.getClassHandle() == 'EntryVersion' %}
{% set isDraft = entry.id and entry.getClassHandle() == 'EntryDraft' %}

{% set canPublish = currentUser.can('publishEntries'~permissionSuffix) %}
{% set canSave = (
	(entry.id or currentUser.can('createEntries'~permissionSuffix)) and
	(not entry.id or not entry.enabled or canPublish) and
	(isSingle or entry.authorId == currentUser.id or currentUser.can('publishPeerEntries'~permissionSuffix))
) %}


{% hook "cp.entries.edit" %}


{% block saveButton %}
	{% if isDraft %}

		<input type="hidden" name="action" value="entryRevisions/saveDraft">
		<input type="hidden" name="redirect" value="{{ baseCpEditUrl }}/drafts/{{ entry.draftId }}">
		<input type="hidden" name="draftId" value="{{ entry.draftId }}">

		<div class="btngroup">
			<input type="submit" class="btn submit" value="{{ 'Save draft'|t }}">

			{# Are they allowed to publish this draft? #}
			{% set canPublishDraft = (
				canPublish and
				(isSingle or entry.authorId == currentUser.id or currentUser.can('publishPeerEntries'~permissionSuffix)) and
				(entry.creatorId == currentUser.id or currentUser.can('publishPeerEntryDrafts'~permissionSuffix))
			) %}

			{# Are they allowed to delete this draft? #}
			{% set canDeleteDraft = (
				entry.creatorId == currentUser.id or currentUser.can('deletePeerEntryDrafts'~permissionSuffix)
			) %}

			{% if canPublishDraft or canDeleteDraft %}
				<div class="btn submit menubtn"></div>
				<div class="menu">
					{% if canPublishDraft %}
						<ul>
							<li><a class="formsubmit"
							       data-action="entryRevisions/publishDraft"
							       data-redirect="{{ entry.getCpEditUrl() }}">
								{{ "Publish draft"|t }}
							</a></li>
						</ul>
					{% endif %}

					{% if canPublishDraft and canDeleteDraft %}
						<hr>
					{% endif %}

					{% if canDeleteDraft %}
						<ul>
							<li><a class="formsubmit"
							       data-action="entryRevisions/deleteDraft"
							       data-confirm="{{ 'Are you sure you want to delete this draft?'|t }}"
				   			       data-redirect="{{ entry.getCpEditUrl() }}">
								{{ 'Delete draft'|t }}
							</a></li>
						</ul>
					{% endif %}
				</div>
			{% endif %}
		</div>

	{% elseif isVersion %}

		{# Are they allowed to publish changes? #}
		{% if
			canPublish and
			(isSingle or entry.authorId == currentUser.id or currentUser.can('publishPeerEntries'~permissionSuffix))
		%}

			<input type="hidden" name="action" value="entryRevisions/revertEntryToVersion">
			<input type="hidden" name="redirect" value="{{ entry.getCpEditUrl() }}">
			<input type="hidden" name="versionId" value="{{ entry.versionId }}">

			<div class="secondary-buttons">
				<input type="button" class="btn submit formsubmit" value="{{ 'Revert entry to this version'|t }}">
			</div>
		{% endif %}

	{% elseif canSave %}

		<input type="hidden" name="action" value="entries/saveEntry">
		<input type="hidden" name="redirect" value="entries/{{ sectionHandle }}">

		<div class="btngroup">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

			<div class="btn submit menubtn"></div>
			<div class="menu">
				<ul>
					<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">
						{{ forms.optionShortcutLabel('S') }}
						{{ "Save and continue editing"|t }}
					</a></li>

					{% set nextEntryParams = [] %}
					{% if showEntryTypes %}
						{% set nextEntryParams = nextEntryParams|merge(['typeId={type.id}']) %}
					{% endif %}
					{% if section.type == 'structure' %}
						{% set nextEntryParams = nextEntryParams|merge(['parentId={parent.id}']) %}
					{% endif %}

					{% if not isSingle %}
						<li><a class="formsubmit" data-redirect="entries/{{ sectionHandle }}/new{% if nextEntryParams %}?{{ nextEntryParams|join('&') }}{% endif %}">{{ "Save and add another"|t }}</a></li>
					{% endif %}

					<li><a class="formsubmit" data-action="entryRevisions/saveDraft" data-redirect="{{ baseCpEditUrl }}/drafts/{draftId}">{{ 'Save as a draft'|t }}</a></li>

					{% if not isSingle and entry.id %}
						<li><a class="formsubmit" data-param="entryId" data-value="" data-redirect="{{ continueEditingUrl }}">{{ "Save as a new entry"|t }}</a></li>
					{% endif %}
				</ul>
			</div>
		</div>

	{% else %}

		<input type="hidden" name="action" value="entryRevisions/saveDraft">
		<input type="hidden" name="redirect" value="{{ baseCpEditUrl }}/drafts/{draftId}">

		<input type="submit" class="btn submit first" value="{{ 'Save as a draft'|t }}">

	{% endif %}
{% endblock %}


{% block main %}
		{% if not isVersion %}
			<input type="hidden" name="sectionId" value="{{ section.id }}">
			{% if entry.id %}<input type="hidden" name="entryId" value="{{ entry.id }}">{% endif %}
			{% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ entry.locale }}">{% endif %}
		{% else %}
			<input type="hidden" name="versionId" value="{{ entry.versionId }}">
		{% endif %}

		<div class="grid first" data-max-cols="3">
			<div class="item" data-position="left" data-colspan="2">
				<div id="fields" class="pane">
					{% include "_includes/tabs" %}
					{% include "entries/_fields" with {
						static: isVersion
					} %}
				</div>
			</div><!--/item-->

			<div class="item" data-position="right">

				{% if showPreviewBtn %}
					{% include "_includes/previewbtns" %}
				{% endif %}

				{% if craft.isLocalized() and section.getLocales() | length > 1 %}
					<ul id="locales" class="pane">
						{% set parentIdParam = craft.request.getParam('parentId.0') ?: craft.request.getParam('parentId') %}
						{% for localeId in localeIds %}
							{% set localeName = craft.i18n.getLocaleById(localeId).name %}
							<li{% if localeId == entry.locale %} class="sel"{% endif %}>
								{%- if localeId == entry.locale -%}
									{{ localeName }}
									{{ forms.lightswitch({
										name: 'localeEnabled',
										on:   entry.localeEnabled,
										small: true,
										disabled: isVersion
									}) }}
								{%- else -%}
									{% set localeUrl = url(
										'entries/'~sectionHandle~'/'~craft.request.getSegment(3)~'/'~localeId,
										(parentIdParam ? { parentId: parentIdParam })
									) -%}
									<a href="{{ localeUrl }}">{{ localeName }}</a>
									<div class="status {{ localeId in enabledLocales ? 'enabled' : 'disabled' }}"></div>
								{%- endif -%}
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if not isSingle or canPublish %}
					<div id="settings" class="pane meta">

						{% if not isSingle %}
							{% if showEntryTypes %}
								{{ forms.selectField({
									label: "Entry Type"|t,
									id: 'entryType',
									name: 'typeId',
									value: entryType.id,
									options: entryTypeOptions
								}) }}
							{% endif %}

							{{ forms.textField({
								label: "Slug"|t,
								locale: entry.locale,
								id: 'slug',
								name: 'slug',
								value: entry.slug,
								placeholder: "Enter slug"|t,
								errors: (not isVersion ? entry.getErrors('slug')|merge(entry.getErrors('uri'))),
								disabled: isVersion
							}) }}

							{% if parentOptionCriteria is defined %}
								{{ forms.elementSelectField({
									label: "Parent"|t,
									id: 'parentId',
									name: 'parentId',
									elementType: elementType,
									selectionLabel: "Choose"|t,
									sources: ['section:'~section.id],
									criteria: parentOptionCriteria,
									limit: 1,
									elements: (parent is defined and parent ? [parent]),
									errors: entry.getErrors('parent')
								}) }}
							{% endif %}

							{% if CraftEdition == CraftPro and currentUser.can('editPeerEntries'~permissionSuffix) %}
								{{ forms.elementSelectField({
									label: "Author"|t,
									id: 'author',
									name: 'author',
									elementType: userElementType,
									selectionLabel: "Choose"|t,
									criteria: authorOptionCriteria,
									limit: 1,
									elements: (author is defined and author ? [author])
								}) }}
							{% endif %}

							{{ forms.dateTimeField({
								label: "Post Date"|t,
								id: 'postDate',
								name: 'postDate',
								value: (entry.postDate ? entry.postDate : null),
								errors: entry.getErrors('postDate'),
								disabled: isVersion
							}) }}

							{{ forms.dateTimeField({
								label: "Expiry Date"|t,
								id: 'expiryDate',
								name: 'expiryDate',
								value: (entry.expiryDate ? entry.expiryDate : null),
								errors: entry.getErrors('expiryDate'),
								disabled: isVersion
							}) }}
						{% endif %}

						{% if canPublish or (not isVersion and canDeleteEntry) %}

							{% set statusInput %}
								{% if canPublish %}
									<div class="left">
										{{ forms.lightswitch({
											id: 'enabled',
											name: 'enabled',
											on: entry.enabled,
											disabled: isVersion
										}) }}
									</div>
								{% endif %}

								{% if not isSingle and not isVersion and canDeleteEntry %}
									<div class="right">
										<input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}" data-action="entries/deleteEntry"
											data-confirm="{{ 'Are you sure you want to delete this entry?'|t }}"
											data-redirect="entries">
									</div>
								{% endif %}
							{% endset %}

							{{ forms.field({
								label: (canPublish ? "Enabled"|t),
								id: 'enabled'
							}, statusInput) }}
						{% endif %}

					</div><!--/pane-->

					{% if entry.id %}
						<div class="pane lightpane meta">
							<div class="data">
								<h5 class="heading">{{ "Date Created"|t }}</h5>
								<div class="value">{{ entry.dateCreated.localeDate() }} {{ entry.dateCreated.localeTime() }}</div>
							</div>
							<div class="data">
								<h5 class="heading">{{ "Date Updated"|t }}</h5>
								<div class="value">{{ entry.dateUpdated.localeDate() }} {{ entry.dateUpdated.localeTime() }}</div>
							</div>
							{% if entry.revisionNotes %}
								<div class="data">
									<h5 class="heading">{{ "Version Notes"|t }}</h5>
									<div class="value">{{ entry.revisionNotes }}</div>
								</div>
							{% endif %}
						</div>
					{% endif %}

				{% endif %}

				{# Give plugins a chance to add other panes here #}
				{% hook "cp.entries.edit.right-pane" %}

				{% if (
					not isDraft and not isVersion and canSave and
					section.enableVersioning
				) %}
					<hr>
					<input type="text" name="revisionNotes" class="fullwidth textline" placeholder="{{ 'Notes about your changes'|t }}" autocomplete="off">
				{% endif %}

			</div><!--/item-->
		</div><!--/grid-->
{% endblock %}


{% if not entry.slug %}
	{% includejs "window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');" %}
{% endif %}
