{% if entryType.hasTitleField %}
	{% include "entries/_titlefield" %}
{% endif %}

<div>
	{% for tab in entryType.getFieldLayout().getTabs() %}
		<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
			{% include "_includes/fields" with {
				fields:  tab.getFields(),
				element: entry,
				static:  (static is defined ? static : false)
			} only %}
		</div>
	{% endfor %}
</div>
