{% set drafts = craft.entryRevisions.getEditableDraftsByEntryId(entry.id, entry.locale) %}
{% set baseUrl = 'entries/'~entry.getSection().handle~'/'~entry.id~(entry.slug ? '-'~entry.slug)~'/' %}

<div id="revision-btn" class="btn menubtn">{{ revisionLabel }}</div>

<div class="menu">
	<ul class="padded">
		{% set currentVersionEditTime = currentVersionEditTime ?? entry.dateUpdated %}
		<li><a{% if entry.getClassHandle() == 'Entry' %} class="sel"{% endif %} href="{{ entry.getCpEditUrl() }}">{{ "Current"|t }}
			<span class="light">
				{{ currentVersionEditTime.uiTimestamp() }}
				{%- if currentVersionCreator is defined %}, {{ currentVersionCreator }}{% endif %}
			</span>
		</a></li>
	</ul>

	{% if drafts %}
		<h6>{{ "Drafts"|t }}</h6>
		<ul class="padded">
			{% for draft in drafts %}
				<li><a{% if entry.getClassHandle() == 'EntryDraft' and draft.draftId == draftId %} class="sel"{% endif %} href="{{ url(baseUrl~'drafts/'~draft.draftId) }}">
					{{ draft.name|t }}
					<span class="light">{{ "by {creator}"|t({ creator: draft.creator }) }}</span>
				</a></li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if section.enableVersioning %}
		{% set versions = craft.entryRevisions.getVersionsByEntryId(entry.id, entry.locale) %}
		{% if versions %}
			<h6>{{ "Recent Versions"|t }}</h6>
			<ul class="padded">
				{% for version in versions %}
					<li><a{% if entry.getClassHandle() == 'EntryVersion' and version.versionId == versionId %} class="sel"{% endif %} href="{{ url(baseUrl~'versions/'~version.versionId) }}">
						{{ "Version {num}"|t({ num: version.num }) }}
						<span class="light">{{ version.dateCreated.uiTimestamp() }}, {{ version.creator }}</span>
					</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
</div>

{% if entry.getClassHandle() == 'EntryDraft' %}
	<a id="editdraft-btn" class="btn edit icon" title="{{ 'Edit Draft Settings'|t }}"></a>
	{% includejsresource 'js/EntryDraftEditor.js' %}
	{% includejs 'new Craft.EntryDraftEditor('~entry.draftId~', "'~revisionLabel|e('js')~'", "'~entry.revisionNotes|e('js')~'");' %}
	{% includeTranslations "Draft Name", "Notes" %}
{% endif %}
