{% extends "_layouts/main" %}

{% block main %}

  {% set query = craft.request.getParam('q') %}
  {% set order = craft.request.getParam('o') %}

<div class="search-banner">


  <div class="container">
    <div class="row no-gutters relative">


    <form action="/search">
      <div class="clear-btn"><img src="/assets/icons/search-clear.svg" alt="X"></div>
      <input type="search" name="q" placeholder="Search" value = "{{ query }}" class = "search-page-input">
      <input class="submit-glass" type="submit" value="">
      <div class="text-center">
      <h4 class="white text-uppercase">Sort By:</h4>
      <label class="radio-btn">

                <input type="radio" name="o" value = "score" {% if order != "score" %}{% else %} checked = "checked" {% endif %}>
        <span class="circle"></span>

        <span class="white"> Alphabetical</span>
      </label>
      <label class="radio-btn">
                <input type="radio" name="o" {% if order == "dateUpdated" %} checked = "checked" {% endif %}value = "dateUpdated">
        <span class="circle"></span>

        <span class="white">Modified Date</span>
      </label>
      </div>
    </form>
      </div>
</div>



</div>





<div class="container results-page">

  {% if order|length %}

    {% set entries = craft.entries.search(query).order(order) %}
    {% set assets = craft.assets.search(query).source("and, not icons, not bannerImages, not images, not headshots, not logos, not blog, not resumes").order(order) %}


  {% else %}

  {% set entries = craft.entries.search(query).order('title') %}

  {% set assets = craft.assets.search(query).source("and, not icons, not bannerImages, not images, not headshots, not logos, not blog, not resumes").order('title') %}

  {% endif %}


{% if entries | length or assets | length%}



  {% if assets|length %}

  {% for cat in craft.categories.group('assetType') %}

{% if assets.relatedTo(cat)|length %}
  <div class="text-center">
  <h2 class="blue">{{ cat.title }} Results</h2>
</div>
  {% for row in assets.relatedTo(cat)|batch(3)%}
  <div class="row">
    {% for entry in row %}
      <div class="col-sm-4">
        <div class="search-result">
    <a href="{{ entry.url }}" class = "h4 light-blue text-uppercase">{{entry.extension}}</a> <br>
      <a href="{{ entry.url }}" class = "large body-grey">{{ entry.title }}</a>
    </div>
    </div>
      {% endfor %}
  </div>
    {% endfor %}


    {% endif %}
{% endfor %}


{% for cat in craft.categories.group('resources') %}

{% if assets.relatedTo(cat)|length %}
<div class="text-center">
<h2 class="blue">{{ cat.title }} Results</h2>
</div>
{% for row in assets.relatedTo(cat)|batch(3)%}
<div class="row">
  {% for entry in row %}
    <div class="col-sm-4">
      <div class="search-result">
  <a href="{{ entry.url }}" class = "h4 light-blue text-uppercase">{{entry.extension}}</a> <br>
    <a href="{{ entry.url }}" class = "large body-grey">{{ entry.title }}</a>
  </div>
  </div>
    {% endfor %}
</div>
  {% endfor %}


  {% endif %}
{% endfor %}




  {% endif %}



  {% if entries|length %}
  <div class="text-center">
  <h2 class="blue">Webpage Results</h2>
</div>

  {% for row in entries|batch(2) %}
  <div class="row">
    {% for entry in row %}
    <div class="col-sm-6">
      <div class="search-result">
      <a href="{{ entry.url }}" class = "h4 light-blue text-uppercase">{{ entry.section }}</a> <br>
      <a href="{{ entry.url }}" class = "large body-grey">{{ entry.title }}</a>
      </div>
    </div>
      {% endfor %}
  </div>
    {% endfor %}


  {% endif %}


  {% else %}
  <div class="text-center">
      <h1 class = "blue mt-60">Your search for “{{ query }}” didn’t return any results.</h1>
        </div>
  {% endif %}

</div>



{% endblock %}
