
{% extends "_layouts/main" %}

{% block main %}

<div class="search-banner">


  <div class="container">
    <div class="row no-gutters relative">
      <div class="text-center">
      <h1 class = "white mb-20">Search</h1>
</div>
    <form action="{{ url('search') }}">
      <div class="clear-btn"><img src="/assets/icons/search-clear.svg" alt="X"></div>
      <input type="search" name="q" placeholder="Search" value = "{{ query }}" class = "search-page-input">
      <input class="submit-glass" type="submit" value="">
      <div class="text-center">
      <h4 class="white text-uppercase">Sort By:</h4>
      <label class="radio-btn">

                <input type="radio" name="o" value = "score" {% if order != "score" %}{% else %} checked = "checked" {% endif %}>
        <span class="circle"></span>

        <span class="white"> Relevance</span>
      </label>
      <label class="radio-btn">
                <input type="radio" name="o" {% if order == "dateUpdated" %} checked = "checked" {% endif %}value = "dateUpdated">
        <span class="circle"></span>

        <span class="white">Modified Date</span>
      </label>
      </div>
    </form>
      </div>
</div>



</div>


<div class="container text-center">

</div>




{% endblock %}
