{% extends "_layouts/main" %}

{% block main %}

<div class="jumbotron text-center jumbotron-padding" style = "background-image: url(/uploads/banner-images/background.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
      <h1 class="white mb-10">Thank You</h1>
      <p class="white">Thanks for your submission - we'll get back to you as soon possible</p>
    </div>
    </div>
  </div>
</div>
<div class="application-list bottom-img-background text-center" style="background-image: url(/assets/icons/circuit-fade.png)">

  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <a href="/" class="blue-btn light-blue-outline">Home</a>
      </div>
      <div class="col-sm-4 text-center">
          <a href="/news" class="blue-btn light-blue-outline">News</a>
      </div>
      <div class="col-sm-4 text-center">
          <a href="/products.php" class="blue-btn light-blue-outline" target = "_blank">Search Parametric</a>
      </div>
    </div>
  </div>


</div>
{% endblock %}
