.contact-jumbotron
  padding-top: 80px
  padding-bottom: 230px
  h1
    margin-bottom: 20px
.contact-icons
  margin-top: 30px
  img
    margin-right: 8px
  span
    border-left: solid 2px white
    margin-left: 20px
    margin-right: 20px
    display: inline-block
    margin-bottom: -10px
    height: 30px
.contact-container
  margin-top: -170px
  background-color: white
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.25)

  .blue-background
    padding-top: 30px
    padding-bottom: 25px

.contact-form
  padding-top: 50px
  padding-bottom: 60px
  input:not(.submit)
    margin-bottom: 13px
  input:not(.submit), textarea
    width: 100%
    font-size: 12px
    letter-spacing: 2px
    line-height: 17px
    font-weight: 500
    border: solid 1px #9B9B9B
    padding-top: 15px
    padding-bottom: 15px
    padding-left: 15px
    font-size: 12px
    color: #2B2C29
    letter-spacing: 2px
    font-weight: bold
    &:focus
      border-color: #2B2C29
      outline: none
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
    text-transform: uppercase
    font-size: 12px
    color: #9B9B9B
    letter-spacing: 2px
    font-weight: bold
  form
    padding-top: 50px
    padding-bottom: 50px
  .submit
    padding-top: 10px
    padding-bottom: 10px
    width: 190px
    margin-top: 30px
.support-section
  padding-top: 80px
  padding-bottom: 70px
  .bottom-border
    padding-bottom: 20px
    padding-left: 0
    padding-right: 0
    margin-left: 25px
    margin-right: 25px
    width: calc(50% - 25px)
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
  p.large
    margin-bottom: 10px
  .large-arrow-btn
    display: inline-block
    margin-top: 40px
.support-jumbotron
  a
    margin-top: 30px
.support-container
  margin-top: -120px
@media(max-width: 992px)
  .support-container
    .row
      flex-wrap: wrap
  .contact-container
    margin-top: -125px
  .contact-icons
    a
      display: block
      margin-bottom: 15px
    span
      display: none
  .support-section .bottom-border, .support-section .bottom-border:first-child, .support-section .bottom-border:last-child
    width: 100%
    padding-left: 25px
    padding-right: 25px
    margin-left: 0
    margin-right: 0
    margin-bottom: 25px
    border-bottom: none
  .support-container
    .col-md-4
      margin-top: 20px
  .contact-jumbotron
    padding-bottom: 200px
  .support-form
    padding-top: 0
    .mt-80
      margin-top: 40px
@media (max-width: 768px)
  .contact-container
    margin-top: 0
  .contact-jumbotron
    padding-bottom: 50px
    padding-top: 40px
    height: auto
.map-inner
  display: inline-block
  top: -83px
  left: calc(50% - 184px)
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.26)
  position: absolute
  z-index: 5
  background-color: white
  padding: 40px 50px
  img
    margin-bottom: 20px
.map-holder
  margin-top: 100px
.date-field
  position: relative
.date-field label
  display: block
  position: absolute
  top: 0
  left: 10px
  width: calc(100% - 20px)
  line-height: 47px
  background-color: white
  padding-left: 15px
  padding-left: 15px
  font-size: 12px
  color: #9b9b9b
  letter-spacing: 2px
  font-weight: 700
  text-transform: uppercase
.date-field label:focus
  display: none
.date-field input:not(.submit)
  margin-bottom: 0
@media (max-width: 991px)
  .date-field input:not(.submit)
    margin-bottom: 10px
  .date-field label
    position: relative
    background-color: transparent
    color: white
    left: 0
