@import 'bootstrap'
//General
html
  box-sizing: border-box
  -ms-overflow-style: scrollbar
*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
body
  margin: 0
.text-uppercase
  text-transform: uppercase
.text-lowercase
  text-transform: lowercase
.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right
.pull-left
  margin-right: auto
.pull-right
  margin-right: auto
.pull-center
  margin-left: auto
  margin-right: auto
.float-left
  float: left
.float-right
  float: right
.white
  color: white
a
  text-decoration: none
  color: inherit
  &:active, &:visited, &:focus
    color: inherit
img
  max-width: 100%

.list-unstyled
  padding: 0
  margin-left: 0
  list-style: none
  li
    margin: 0

// fonts

h1, h2, h3, h4, h5, h6, p
  margin: 0
.h1
  font-size: 40px
  line-height: 40px
.h2
  font-size: 34px
  line-height: 34px
.h3
  font-size: 28px
  line-height: 28px
.h4
  font-size: 24px
  line-height: 24px
.h5
  font-size: 18px
  line-height: 18px
.h6
  font-size: 15px
  line-height: 15px






//Container
.container
  margin-left: auto
  margin-right: auto
  padding-left: 25px
  padding-right: 25px
  max-width: 1170px
  width: 100%
.container-fluid
  padding-left: 25px
  padding-right: 25px
  width: 100%
.half-container
  max-width: 585px
  margin-left: auto
  margin-right: auto
.relative
  position: relative
.row
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  margin-right: -25px
  margin-left: -25px

.col, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .colfifth, .col
  padding-left: 25px
  padding-right: 25px
  min-height: 1px

.no-gutters
  margin-right: 0
  margin-left: 0
  >
    .col, [class*="col-"]
      padding-right: 0
      padding-left: 0
.col
  -webkit-flex-basis: 0
  -ms-flex-preferred-size: 0
  flex-basis: 0
  -webkit-box-flex: 1
  -webkit-flex-grow: 1
  -ms-flex-positive: 1
  flex-grow: 1
  max-width: 100%
.col1
  -ms-flex: 0 0 8.333333%
  flex: 0 0 8.333333%
  max-width: 8.333333%

.col2
  -ms-flex: 0 0 16.666667%
  flex: 0 0 16.666667%
  max-width: 16.666667%

.col3
  -ms-flex: 0 0 25%
  flex: 0 0 25%
  max-width: 25%

.col4
  -ms-flex: 0 0 33.333333%
  flex: 0 0 33.333333%
  max-width: 33.333333%

.col5
  -ms-flex: 0 0 41.666667%
  flex: 0 0 41.666667%
  max-width: 41.666667%

.col6
  -ms-flex: 0 0 50%
  flex: 0 0 50%
  max-width: 50%

.col7
  -ms-flex: 0 0 58.333333%
  flex: 0 0 58.333333%
  max-width: 58.333333%

.col8
  -ms-flex: 0 0 66.666667%
  flex: 0 0 66.666667%
  max-width: 66.666667%

.col9
  -ms-flex: 0 0 75%
  flex: 0 0 75%
  max-width: 75%

.col10
  -ms-flex: 0 0 83.333333%
  flex: 0 0 83.333333%
  max-width: 83.333333%

.col11
  -ms-flex: 0 0 91.666667%
  flex: 0 0 91.666667%
  max-width: 91.666667%

.col12
  -ms-flex: 0 0 100%
  flex: 0 0 100%
  max-width: 100%
.colfifth
  -ms-flex: 0 0 20%
  flex: 0 0 20%
  max-width: 20%

.offset1
  margin-left: 8.333333%

.offset2
  margin-left: 16.666667%

.offset3
  margin-left: 25%

.offset4
  margin-left: 33.333333%

.offset5
  margin-left: 41.666667%

.offset6
  margin-left: 50%

.offset7
  margin-left: 58.333333%

.offset8
  margin-left: 66.666667%

.offset9
  margin-left: 75%

.offset10
  margin-left: 83.333333%

.offset11
  margin-left: 91.666667%



// Button
.btn
  display: inline-block
  min-width: 100px
  &:active, &:visited, &:focus
    color: inherit


// Nav


.nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: white

// Footer

.footer
  a
    color: inherit


//forms



input, textarea
  width: 100%
  padding: 5px 10px
  border: 1px solid #C4C4C4
  font-size: inherit
  color: inherit
  &:focus
    outline: 0
    border-color: #00163A

input.btn
  width: auto



// nav


.nav
  position: fixed
  top: 0
  left: 0
  text-transform: uppercase
  width: 100%
  z-index: 99
  transition: all .2s ease

.upper-nav
  ul
    float: right
    margin-bottom: 0
    li
      display: inline-block
      a
        display: inline-block
      &:last-child
        margin-right: 0
        transition: all 0.2s cubic-bezier(0.42, 0.07, 0.09, 1.02)
        a

        &:hover


.main-nav
  transition: all .3s
  &.scrolling
    background-color: rgba(255, 255, 255, 0.9)
    ul
      li
        a
          color: #1C3762
          &:hover

      .drop a
        color: #B59850
  .container
    width: auto
    max-width: 1170px
  ul
    float: right
    margin-bottom: 0
    li
      display: inline-block
      &:last-child
        margin-right: 0
      a
        display: inline-block
        &:hover
          text-decoration: none

.scrolling-logo
  display: none
.scrolling
  .scrolling-logo
    display: inline-block
    position: relative
    top: 5px
  .non-scrolling-logo
    display: none


.has-drop
  position: relative
  &:hover .drop,
    display: block

.has-superdrop
  &:hover .superdrop
    display: block
.drop
  position: absolute
  width: 231px
  left: calc(50% - 116px)
  top: 57px
  text-align: center
  display: none
  z-index: 2
  background-color: white
.drop, .superdrop
  li a
    &:hover
  &:before
    content: url(/assets/home/triangle-menu.png)
    left: calc(50% - 74px)
    position: absolute
    top: -29px
    width: 20px

    z-index: -1
  &.double-drop
    width: 437px
    left: calc(50% - 218px)
    ul
      float: left
      margin-left: auto
      margin-right: auto
      width: 50%
  ul
    float: none
    padding-left: 0
    li
      display: block
      a
        &:hover
      &:last-child

.superdrop
  position: absolute
  width: 100%
  left: 0
  top: 144px
  text-align: center
  display: none
  z-index: 2
  background-color: white



// Mobile Menu



.mobile-nav-header, .mobile-button
  display: none
.mobile-nav-container
  display: inline
.mobile-home-logo
  display: none
.mobile-hr, .mobile-builder-thumb, .mobile-select
  display: none
.main-nav ul .mobile-li
  display: none

// modals

.modal-full
  opacity: 0
  z-index: -2
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: white
  transition: all 0s
  align-items: center
  justify-content: center
  &.showme
    display: flex
    opacity: 1
    top: 0
    z-index: 999
    transition: all 0.2s cubic-bezier(0.42, 0.07, 0.09, 1.02)
    color: pink
  .closeme
    position: absolute
    top: 30px
    right: 30px
    padding: 10px
    cursor: pointer

.modal-card
  opacity: 0
  z-index: -2
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0,.5)
  transition: all 0s
  align-items: center
  justify-content: center
  &.showme
    display: flex
    opacity: 1
    top: 0
    z-index: 999
    transition: all 0.2s cubic-bezier(0.42, 0.07, 0.09, 1.02)
    .modal-inner
      opacity: 1
      top: 0
  .closeme
    position: absolute
    top: 30px
    right: 30px
    padding: 10px
    cursor: pointer
  .modal-inner
    opacity: 0
    height: 400px
    width: 500px
    background-color: white
    position: relative
    top: 20px
    transition: all 0.4s cubic-bezier(0.42, 0.07, 0.09, 1.02)
@media (max-width: 800px)
  .main-nav
    display:
