@import 'colors'
b
  font-weight: 900
.nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 69
  transition: all .25s ease
  li
    display: inline-block

.nav-hider
  position: fixed
  width: 100%
  height: 300px
  background-color: $blue
  top: -300px
  z-index: 421
  left: 0
.upper-nav
  background-color: $blue
  color: white
  font-weight: bold
  font-size: 9px
  letter-spacing: 2px
  padding-right: 20px
  a
    align-items: center
    padding: 5px 18px
    display: inline-block
    &:hover
      color: $light-blue
  .social-icon
    padding: 0 5px
    width: 23px
    text-align: center
  .arrow-link
    position: relative
    width: 100%
  .x-smol-arrow-btn
    position: absolute
    top: calc(50% - 11px)
    right: 0
.main-nav .search
  margin-left: 0
  padding-left: 15px


.main-nav
  background-color: white
  font-weight: 600
  font-size: 15px
  .logo
    margin-top: 25px
    img
      transition: all .2s
      transform-origin: bottom left

    a
      padding: 0
  li
    padding-top: 20px
    padding-bottom: 20px
    margin-left: 15px

  a
    padding: 10px 5px 2px
    display: inline-block
    span
      display: inline-block
      padding-bottom: 2px
      border-bottom: solid 1px transparent
    &:hover
      color: $light-blue
      span
        border-bottom: solid 1px $light-blue




.breadcrumbs
  font-weight: 600
  font-size: 10px
  letter-spacing: 1.67px
  line-height: 17px
  background-color: white
  color: $very-light-grey
  border-top: solid 1px #9B9B9B
  position: relative
  z-index: -3
  border-bottom: solid 1px #9B9B9B
  transition: all .2s ease
  top: 0
  li
    margin-right: 2px
    &:first-child
      a
        padding-left: 0
  a
    display: inline-block
    padding: 9px 3px
  a.active
    color: $blue
    font-weight: 800


// DROPDOWN SHENANIGANS

.drop-helper
  position: fixed
  height: 22px
  top: 81px
  width: 100%
  left: 0
  z-index: 173
  display: none

.has-drop, .has-supernav-drop
  position: relative

.has-drop
  &:hover
    a
      color: $light-blue
    .drop
      display: block
      a
        color: white
        &:hover
          color: $light-blue
.drop, .special-drop
  position: absolute
  background-color: $dark-blue
  left: calc(50% - 70px)
  width: 140px
  top: 33px
  z-index: 1

  li
    border-bottom: solid 1px white
    padding-left: 14px
    padding-right: 14px
    width: 100%
    text-align: left
    &:last-child
      border-bottom: none
  a
    padding-left: 0
    padding-right: 0
    color: white
    display: inline-block
    line-height: 12px
    padding-top: 14px
    padding-bottom: 14px
    width: 100%
    position: relative
    img
      position: absolute
      top: calc(50% - 8px)
      right: 0
.special-drop
  top: 80px
  left: calc(50% - 70px)
  .h5
    margin-left: 0
    padding: 0
    padding-left: 10px
    padding-right: 15px

  .arrow-link
    display: flex
  .special-arrow
    height: 20px
    margin-left: auto
.has-supernav-drop
  a
    padding: 10px 15px 2px 5px
    &:hover, &:focus
      span
        color: $light-blue
        border-bottom: solid 1px $light-blue
      .arrow-light
        display: block
      .arrow-dark
        display: none
  span
    padding-bottom: 1px
    display: inline-block
    border-bottom: solid 1px transparent
  p
    margin-top: 10px
.nav-drop
  position: absolute
  top: 40px
  right: 0
  &.arrow-light
    display: none

.has-supernav-drop
  &:hover, &:focus
    .supernav-drop
      top: 103px
    .drop-helper
      display: block
.drop
  position: absolute
  display: none

.supernav-drop
  position: fixed
  background: linear-gradient(-175deg, #2C549B 0%, #253C75 74%)
  width: 100%
  left: 0
  top: -330px
  z-index: -1
  transition: all .2s ease
  height: 400px
  padding-top: 30px

  .container
    max-width: 940px
  .light-blue
    color: $light-blue
    &:hover
      color: white
  .no-left-padding
    padding-left: 0
  h2
    margin-bottom: 10px
  .arrow-link
    white-space: nowrap
    width: 130px
    padding-top: 10px
    padding-bottom: 10px
    margin-bottom: 5px
  .x-smol-arrow-btn
    float: right
    margin-top: -14px
    img
      margin-top: 1px
      float: right
  h4
    margin-bottom: 10px
  .product-nav-title
    margin-bottom: 7px
  .product-list-items
    li
      display: block
      padding: 0
      margin: 0
      border-left: solid 1px transparent
      transition: all .15s ease
      &:hover
        border-left: solid 1px white
        margin-left: -5px
        padding-left: 5px
    a
      font-size: 13px
      color: #FFFFFF
      letter-spacing: 0
      line-height: 16px
      font-weight: 100
      margin-bottom: 0
      padding: 5px 5px 5px 0
      width: 100%
      display: block

  .application-list-item
    img
      padding: 0
    li
      margin-left: 0
      padding-top: 0
      padding-bottom: 40px
      text-transform: uppercase
    a
      color: $light-blue
      &:hover
        color: white
    .icon-block
      margin-right: 20px


// search things
.search-toggle
  padding: 5px
  img
    margin-top: -5px
    width: 20px
    height: 20px
.search
  position: relative
  &:hover, &:focus
    cursor: pointer
    .drop-helper
      display: block
    img
      filter: brightness(70%)
    .search-drop
      top: 75px

.search-drop.dropped
  top: 75px
.search-drop
  right: -15px
  top: -250px
  width: 290px
  background-color: $dark-blue
  position: absolute
  transition: all .25s
  z-index: -1
  form
    padding: 15px
    border-bottom: solid 1px white
    &:last-child
      border-bottom: none
  input:not(.submit-arrow)
    width: 198px
  .submit-arrow
    height: 30px
    width: 30px
    margin-left: 6px
    background-color: transparent
    background-image: url(/assets/icons/submit-btn.svg)
    background-size: 22px
    background-position: center
    background-repeat: no-repeat
    outline: none
.mobile-nav
  display: none
.scrolling
  .nav
    top: -33px
  &.up
    .nav
      top: 0
    .breadcrumbs
      transform: translateY(0)
  .breadcrumbs
    transform: translateY(-34px)
  .has-supernav-drop, .main-nav .has-drop
    padding-top: 15px
    padding-bottom: 15px
  .nav-drop
    top: 35px
  .logo img
    transform: scale(.8)
  .has-supernav-drop:hover .supernav-drop, .has-supernav-drop:focus .supernav-drop
    top: 70px
  .special-drop
    top: 76px
.scrolling.up
  .has-supernav-drop:hover .supernav-drop, .has-supernav-drop:focus .supernav-drop
    top: 103px
  .special-drop
    top: 75px
@media(min-width: 992px)
  .show-mobile
    display: none !important

@media (max-width: 992px)
  .no-right-border-mobile
    border-right: none !important

  .scrolling .main-nav .has-drop
    padding-top: 0
    padding-bottom: 0

  .hidden-nav-mobile
    display: none
  .mobile-nav
    display: block
    position: absolute
    width: 100%
    z-index: 99
    background-color: white
    position: fixed
    top: 0
    left: 0
    height: 60px
    padding-left: 25px
    padding-right: 25px
    cursor: pointer
  .mobile-logo
    display: inline-block
    margin-right: auto
    width: auto
    float: left
    margin-top: 15px
    img
      width: 164px
  .mobile-trigger
    margin-left: auto
    width: 60px
    height: 60px
    position: relative
    padding: 10px
    display: inline-block
    float: right
    margin-right: -10px
    span
      height: 2px
      width: 30px
      left: 15px
      background-color: $blue
      display: inline-block
      position: absolute
      transition: all .25s
      &:nth-child(1)
        top: 21px
      &:nth-child(2)
        top: 29px
      &:nth-child(3)
        top: 37px
    &.open
      span
        height: 2px
        width: 30px
        left: 15px
        background-color: $blue
        display: inline-block
        position: absolute
        transition: all .25s
        &:nth-child(1)
          top: 30px
          transform: rotate(45deg)
        &:nth-child(2)
          opacity: 0
        &:nth-child(3)
          top: 30px
          transform: rotate(-45deg)
  .main-nav, .upper-nav
    background-color: transparent
  .nav, .scrolling .nav
    display: flex
    flex-wrap: wrap
    top: -100% !important
    transition: all .2s ease-in-out
    background-image: linear-gradient(-175deg, #2C549B 0%, #253C75 74%)
    &.open
      top: 60px !important
    .hide-mobile
      display: none
    ul
      width: 100%
      .inline-block-mobile:last-child
        border-right: none
    .inline-block-mobile
      display: inline-block
      font-size: 10px
      color: #FFFFFF
      letter-spacing: 1.67px
      line-height: 17px
      text-align: center
      border-bottom: none
      text-transform: uppercase
      width: auto
      border-right: solid 1px rgba(255, 255, 255, .4)
      margin: 15px auto

    .right-mobile
      text-align: right
    .btn-mobile
      border-bottom: none
      display: inline-block
      width: 50%
      float: left
      margin-top: 10px
      padding-bottom: 20px

      a
        display: inline-block
        font-size: 10px
        color: #FFFFFF
        letter-spacing: 1.67px
        line-height: 17px
        width: auto
        text-align: center
        border-bottom: none
        margin-left: auto
        margin-right: auto
        text-transform: uppercase
        border: solid 2px $light-blue
        font-size: 12px
        color: #FFFFFF
        letter-spacing: 2px
        line-height: 17px
        font-weight: bold
        padding: 5px 30px
        border-radius: 15px
        margin-left: 10px
        margin-right: 10px
        width: 162px
    li
      display: block
      width: 100%
      padding: 0
      font-size: 15px
      text-transform: none
      background-color: transparent
      width: 100%
      margin-left: 0
      text-align: left
      letter-spacing: 0
      border-bottom: solid 1px rgba(255, 255, 255, .4)
      a
        color: white
        width: 100%
        padding: 11px 25px
        span
          border-bottom: none
      a:not(.btn-mobile)
        span
          text-decoration: none
          border-bottom: none


    .float-right
      float: none
      text-align: center
    .large-container
      padding-left: 0
      padding-right: 0
    .search
      display: none
  .drop-helper, .social-icon, .nav-drop
    display: none !important
  .upper-nav
    order: 2
    width: 100%
    padding-top: 10px
    padding-right: 0
    max-width: 500px
    margin-left: auto
    margin-right: auto
    ul li:nth-child(4)
      border-right: none !important
  .main-nav
    width: 100%
    order: 1
    li
      display: block

  .drop, .supernav-drop
    display: none !important
  .breadcrumbs
    order: 3
    width: 100%
    display: none
  .footer-logo
    text-align: center
  .logo, .main-footer ul, .main-footer .grey-divider
    display: none
  .main-footer h3
    margin-top: 10px
    display: inline-block
  .nav li.inline-block-mobile a
    padding-left: 10px
    padding-right: 10px
    padding-top: 5px
    padding-bottom: 5px
  .nav .inline-block-mobile, .scrolling .nav .inline-block-mobile
    margin: 5px auto
@media (max-width: 400px)
  .nav li.inline-block-mobile a
    padding-left: 10px
    padding-right: 10px
  .nav .btn-mobile a, .scrolling .nav .btn-mobile a
    width: 130px
    padding-left: 0
    padding-right: 0
