@import 'colors'
.newsies
  margin-top: 80px
.share-row
  margin-top: 40px
  a
    padding: 5px
    margin-left: 6px
    &:hover
      img
        filter: brightness(30%) saturate(390%)
  img
    transition: all .1s
    height: 14px
.post-snippet
  h2
    margin-bottom: 10px
    font-size: 27px
    line-height: 32px
  p
    margin-top: 20px
  .h4
    display: inline-block
    padding-top: 12px
  a:hover
    color: $light-blue
.post-hr
  margin-top: 50px
  margin-bottom: 60px
.csspositionsticky
  .category-sidebar, .post-sidebar, .floating-share
    top: 140px
    transition: all .25s
.csspositionsticky .up
  .category-sidebar, .post-sidebar, .floating-share
    top: 168px
.category-sidebar
  position: sticky
  li
    margin-bottom: 5px
  .x-smol-arrow-btn
    margin-bottom: -6px
  a:hover
    color: $light-blue

.post-intro
  padding-top: 60px
  padding-bottom: 40px
  img
    margin-bottom: 24px
    width: 100%
.article-post
  p
    margin-bottom: 15px
    a
      text-decoration: underline
  li
    margin-bottom: 10px
  a
    color: $blue
    &:hover
      color: $light-blue
.post-sidebar
  position: sticky
  li
    margin-bottom: 15px
    font-size: 14px
    line-height: 18px
  .x-smol-arrow-btn
    margin-bottom: -6px
.floating-share
  position: sticky
  top: 150px
  margin-left: -100px
  float: left
  h4
    margin-bottom: 15px
  a
    display: block
    margin-bottom: 15px
  img
    height: 20px
.wysiwyg
  margin-bottom: 15px
  td, th
    padding: 5px 7px
    border: solid 1px $light-grey
    font-size: 12px
    line-height: 15px
.blockquote
  position: relative
  &:before
    content: "“"
    position: absolute
    top: -5px
    left: -16px
    font-size: 30px
    color: #253C75
    letter-spacing: 0
    line-height: 29px
    font-weight: bold
.blog-intro
  padding-top: 40px
.pagination
  display: block
  text-align: center
  margin-bottom: 80px
  li
    display: inline-block
    font-size: 18px
    letter-spacing: 1.8px
    line-height: 29px
    font-weight: 600
  a
    padding: 1px 7px 2px 8px
    &:hover
      color: $dark-grey
  img
    margin-top: -3px
  .active a
    border: solid 2px $light-blue
    border-radius: 50%
  .empty-arrow
    padding: 2px 8px

.full-img
  margin-bottom: 15px
@media (max-width: 1200px)
  .floating-share
    display: none
    position: relative
    top: 0
    left: 0
    margin-top: 50px
    a
      display: inline-block
      margin-left: 10px
    h4
      display: inline-block
  .post-sidebar
    display: none
@media (max-width: 992px)
  .newsies
    margin-top: 40px
    padding-bottom: 70px
  .category-sidebar
    display: none
  .post-sidebar
    display: none
  .floating-share
    display: none
  .post-intro
    padding-top: 20px
  .blog-intro
    padding-top: 20px
@media (max-width: 768px)

  .newsies
    margin-top: 40px
    padding-bottom: 40px
  .post-snippet h2, .smol-title
    font-size: 23px
    line-height: 26px
