@import "colors"
.tabbed-items
  max-width: 1200px
  margin-left: auto
  margin-right: auto
.tabs
  display: flex
  flex-wrap: wrap
  li
    display: inline-block
    background-color: $blue
    color: white
    border-right: solid 1px white
    border-left: solid 1px white
    width: 14.2857143%
    height: 60px
    padding-left: 15px
    padding-right: 15px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    line-height: 17px
    margin-top: 2px
    &:first-child
      border-left: solid 1px $blue
    &:last-child
      border-right: solid 1px $blue
.icon-col-no-top
  padding-top: 0
  li
    margin-bottom: 10px
.product-intro
  padding-top: 25px
  padding-bottom: 40px
.product-lineup

  h3
    margin-bottom: 10px
  li
    margin-bottom: 15px
    border-left: solid 2px transparent
    transition: all .2s ease
    &:hover
      border-left: solid 2px $blue
      padding-left: 5px
      margin-left: -5px
    a
      display: block
  .icon-col .icon-block-smol
    left: -28px
    top: 7px
    width: 48px
    height: 48px
    .connectivity-icon
      width: 27px
      height: 24px
    .power-icon
      width: auto
      height: 25px
    .icon-holder
      width: 100%
      height: 100%
      img
        max-height: 24px
        max-width: 24px
.product-lineup-hr
  margin-top: 60px
  margin-bottom: 50px
.tab-img
  padding: 0px 40px
.tab
  background-color: white
  min-height: 490px
  width: 100%
  border: solid 1px #B0B0B0
  border-top: none
  padding: 60px 40px 40px
  .border-right
    border-right: solid 1px #B0B0B0
  .border-bottom
    border-bottom: solid 1px #B0B0B0
.tab.size-1
  min-height: 690px

.tabbed-list
  padding: 0 25px 160px
  .product-intro
    padding-top: 60px
    padding-bottom: 40px
.product-card-smol
  width: 300px
  display: inline-block
  box-shadow: 0 0 10px 2px rgba(0,0,0,.2)
  margin-bottom: 30px
  margin-left: 10px
  margin-right: 10px
  transition: all .2s ease
  &:hover
    box-shadow: 0 0 18px 5px rgba(0, 0, 0, 0.2)
  .product-card-inner
    padding: 40px 20px 20px
    background-color: white
    height: calc(100% - 50px)
    img
      max-width: 100%
      padding-left: 40px
      padding-right: 40px
  h3
    margin-top: 25px
    margin-bottom: 10px
.product-list
  padding-top: 55px
  padding-bottom: 120px
  .intro-paragraph
    margin-bottom: 60px
.related-products
  h3
    margin-bottom: 30px
  .blue-line
    margin-bottom: 30px
    margin-top: 15px
    height: 3px
    width: 30px
  .blue-btn
    margin-bottom: 90px
.table
  margin-bottom: 40px
.featured-block
  padding: 30px 60px
  min-height: 200px
.top-info
  padding-bottom: 70px
  margin-left: 0
  margin-right: 0
  h2
    margin-top: 10px
    margin-bottom: 15px
  p
    margin-bottom: 40px
.featured-item-text
  margin-bottom: 15px
.tabs .active-tab
  background-color: white
  color: $blue
  border-top: solid 1px #B0B0B0
  border-left: solid 1px #B0B0B0 !important
  border-right: solid 1px #B0B0B0 !important


@media (max-width: 1200px)
  .products-cards
    text-align: center
  .product-card
    width: calc(100% - 55px)
    max-width: 900px
    margin-left: auto
    margin-right: auto
    float: none
    margin-bottom: 40px
    .card-container
      min-height: 0
      max-width: 600px
      margin-left: auto
      margin-right: auto
  .product-image-jumbotron
    img
      max-width: 100%
      margin: 50px auto 40px
    .row
      flex-wrap: wrap
  .product-intro
    padding-top: 0

  .product-card
    width: 100%
.tabbed-list
  .dropdown
    display: none
  .dropdown-list
    height: 230px
@media (max-width: 1200px)
  .product-lineup
    margin-left: 0
    ul
      padding-left: 25px
      margin-top: 20px


@media (max-width: 1070px)
  .back-tabbed
    margin-top: 30px
    margin-bottom: 25px
  .back-untabbed
    margin-top: 50px
    margin-bottom: 55px
  .product-image-jumbotron
    background-attachment: inherit
    background-position: bottom center
  .tabbed-list .dropdown
    display: inline-block
  .tabbed-list .tabs
    display: none

  .tabbed-list .dropdown
    max-width: calc(100% - 30px)
    margin-left: 15px
    margin-right: 15px
  .tab
    padding: 0
    border: none
  .tab .border-right
    border-right: none
    border-bottom: solid 1px #B0B0B0
  .featured-block
    padding: 20px 25px
    min-height: 0
  .tabbed-list
    padding: 40px 0 40px
    background-image: none !important
  .bottom-section
    margin-left: 0
    margin-right: 0
  .tab-img
    margin-bottom: 20px
  .tabbed-items
    padding-left: 15px
    padding-right: 15px
  .top-info
    padding-bottom: 40px
@media (max-width: 992px)
  .tab-img
    margin-left: auto
    margin-right: auto
  .first-white-section.mt-80
    margin-top: 50px
  .product-lineup
    margin-left: -15px

    ul
      margin-top: 0
    .icon-col
      margin-bottom: 0
      .icon-block-smol
        left: calc(50% - 24px)
        top: -24px
  .product-image-jumbotron
    padding-top: 20px
    padding-bottom: 40px
  .applications-intro .btn
    display: none
  .product-lineup .icon-col .icon-block-smol
    top: -69px
@media (max-width: 768px)

  .product-image-jumbotron img
    margin-top: 0
    width: auto
    max-height: 240px
  .tab.size-1, .tab.size-0
    min-height: 0

  .tab
    min-height: 0
    margin-bottom: 40px
  .tabbed-list .product-intro
    padding-top: 0
  .product-lineup
    .icon-col
      padding-left: 15px
      padding-right: 15px
    ul
      padding-left: 0
      text-align: center
