@import 'colors'
html
  background-color: $dark-grey
  background-size: 100%
body
  background-color: white
  color: $body-grey
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  padding-top: 103px
html .white
  color: white
html .light-blue
  color: $light-blue
html .dark-blue
  color: $dark-blue
html .blue
  color: $blue
html .body-grey
  color: $body-grey
.nowrap
  white-space: nowrap
a
  text-decoration: none
  &:hover, &:focus
    text-decoration: none
.col, [class*="col-"]
  padding-right: 25px
  padding-left: 25px
.row
  margin-left: -25px
  margin-right: -25px
.no-margin
  margin-left: 0
  margin-right: 0
.no-gutters
  margin-right: 0
  margin-left: 0
  >
    .col, [class*="col-"]
      padding-right: 0
      padding-left: 0
.pr-20
  padding-right: 20px
.pull-left
  float: left
.pull-right
  float: right
.hidden-overflow
  overflow: hidden
.hidden-label label
  display: none
.relative
  position: relative
.text-uppercase
  text-transform: uppercase
.float-right
  float: right
.large-container
  padding-left: 25px
  padding-right: 25px
  max-width: 1400px
  width: 100%
  margin-left: auto
  margin-right: auto
.medium-container
  padding-left: 25px
  padding-right: 25px
  max-width: 1300px
  width: 100%
  margin-left: auto
  margin-right: auto
.container
  max-width: 970px
  padding-left: 25px
  padding-right: 25px
.container-fluid
  padding-left: 25px
  padding-right: 25px
.half-container
  max-width: 425px
  margin-left: auto
  margin-right: auto
.dark-blue-background
  background-color: $dark-blue
.blue-background
  background-color: $blue
.list-unstyled
  padding: 0
  margin: 0
  list-style: none
  li
    margin: 0
.fixed-jumbo
  background-size: 100%
.smol-arrow-btn, .x-smol-arrow-btn
  line-height: 20px
  height: 24px
  width: 24px
  border: solid 2px $light-blue
  border-radius: 50%
  position: relative
  overflow: hidden
  img
    position: absolute
    width: 7px
    transition: all .2s
  img:first-child
    top: 4px
    left: 7px
  img:last-child
    top: 4px
    left: -20px
.smol-arrow, .learn-arrow-btn
  border: solid 2px
  height: 30px
  width: 30px
  border-radius: 50%
  display: inline-block
  overflow: hidden
  position: relative
  margin-bottom: -10px
  img
    transition: all .3s
    width: 8px
  img:first-child
    position: absolute
    top: 7px
    left: 9px
  img:last-child
    position: absolute
    top: 7px
    left: -30px
.return-arrow-btn
  border: solid 2px $light-blue
  height: 37px
  width: 37px
  border-radius: 50%
  display: inline-block
  overflow: hidden
  position: relative
  margin-bottom: -14px
  margin-right: 10px
  img
    height: 14px
    transition: all .3s
    position: absolute
    margin: 0
  img:first-child
    position: absolute
    top: 9px
    right: 14px
  img:last-child
    top: 9px
    right: -30px
.return-arrow:hover
  .return-arrow-btn
      img:first-child
        transform: translateX(-30px)
      img:last-child
        transform: translateX(-44px)
.return-arrow-btn
  border: solid 2px $light-blue
  height: 37px
  width: 37px
  border-radius: 50%
  display: inline-block
  overflow: hidden
  position: relative
  margin-bottom: -14px
  margin-right: 10px
  img
    height: 14px
    transition: all .3s
    position: absolute
    margin: 0
  img:first-child
    position: absolute
    top: 9px
    right: 14px
  img:last-child
    top: 9px
    right: -30px
.return-arrow:hover
  .return-arrow-btn
      img:first-child
        transform: translateX(-30px)
      img:last-child
        transform: translateX(-44px)
.x-smol-arrow-btn
  border: solid 1px
  height: 19px
  width: 19px
  border-radius: 50%
  display: inline-block
  overflow: hidden
  position: relative
  margin-bottom: -10px
  img
    width: 6px
    transition: all .3s
  img:first-child
    position: absolute
    top: 4px
    left: 6px
  img:last-child
    position: absolute
    top: 4px
    left: -30px
.arrow-link
  display: inline-block
.arrow-link:hover
  .smol-arrow, .learn-arrow-btn
    img:first-child
      transform: translateX(30px)
    img:last-child
      transform: translateX(40px)
  .smol-arrow-btn
    img:first-child
      transform: translateX(23px)
    img:last-child
      transform: translateX(27px)
  .x-smol-arrow-btn
    img:first-child
      transform: translateX(23px)
    img:last-child
      transform: translateX(36px)
.large-arrow
  height: 62px
  width: 62px
  display: inline-block
  border: solid 2px
  overflow: hidden
  position: relative
  border-radius: 50%
  img
    transition: all .3s
  img:first-child
    position: absolute
    top: 15px
    left: 22px
  img:last-child
    position: absolute
    top: 15px
    left: -40px
.white-arrow-btn:hover, .arrow-w-text:hover
  .large-arrow
    img:first-child
      transform: translateX(60px)
    img:last-child
      transform: translateX(62px)

.blue-arrow
  border-color: $light-blue
.med-arrow-btn
  line-height: 20px
  padding: 4px 6px
  border: solid 2px $light-blue
  border-radius: 50%
  img
    margin-left: 2px
    margin-top: -2px

.large-arrow-btn
  line-height: 30px
  img
    padding: 9px 13px
    border: solid 2px $light-blue
    border-radius: 50%
    margin-left: 2px
    margin-top: -3px
.return-arrow
  margin-right: 10px

.inline-block
  display: inline-block


.icon-block
  display: inline-block
  width: 40px
  height: 40px
  vertical-align: middle
  background-color: white
  border: solid 2px $light-blue
  transform: rotate(45deg)
  position: relative
  .icon-holder
    width: 36px
    height: 36px
    padding-top: 0
    padding-bottom: 0
    display: flex
    align-items: center
    justify-content: center
    transform: rotate(-45deg)
  img
    position: relative
    height: 23px
    width: auto
    max-width: 23px
.icon-block-smol
  display: inline-block
  width: 32px
  height: 32px
  vertical-align: middle
  background-color: white
  border: solid 3px $light-blue
  transform: rotate(45deg)
  position: relative
  .icon-holder
    width: 26px
    height: 26px
    padding-top: 0
    padding-bottom: 0
    display: flex
    align-items: center
    justify-content: center
    transform: rotate(-45deg)
  img
    max-height: 15px
    max-width: 15px
    position: relative
  .connectivity-icon
    width: 17px
    height: 17px
    max-height: 100%
    max-width: 100%
    margin-bottom: -2px
    margin-right: -3px
  .power-icon
    width: 18px
    height: 18px
    max-width: none
    max-height: none
    margin-left: 2px
    margin-top: 1px
form:not(.ao-form)
  input
    font-size: 10px
    color: #626262
    letter-spacing: 1.67px
    line-height: 11px
    font-weight: 600
    padding: 10px
    width: auto
    border: solid 1px transparent
    &:focus
      outline: none
      border: solid 1px $light-grey
.has-breadcrumb
  padding-top: 140px
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.right-overflow
  direction: rtl
.outline-btn
  background-color: transparent
.btn, .blue-btn
  font-size: 14px
  color: #FFFFFF
  letter-spacing: 2px
  font-weight: bold
  text-transform: uppercase
  border: solid 2px white
  padding: 8px 36px
  border-radius: 40px
  display: inline-block
  text-align: center
  transition: all .2s
  line-height: 24px
  &:hover
    background-color: rgba(255,255,255,.2)
.blue-btn, .blue-btn:visited
  color: $blue
  border-color: $light-blue
  min-width: 190px
  background-color: white
.btn:hover
  background-color: rgba(255, 255, 255, .2)
  color: white
.blue-btn.white-text
  color: white
.search-drop .header-btn, .search-drop .header-btn:visited
  background-color: transparent
  color: white
  margin-left: auto
  margin-right: auto
  padding-top: 7px
  padding-bottom: 6px
  display: block
  width: 225px
  margin-top: 9px
  margin-bottom: 9px
  transition: all .1s ease
  &:hover
    background-color: rgba(255, 255, 255, 0.18)
.reverse-btn:hover
  background-color: $blue
  color: white
.blue-outline
  border-color: $light-blue
.transparent-background
  background-color: transparent
.img-background
  background-size: cover
.graph-background
  background-size: 700px auto
  background-position: center center
  background-repeat: no-repeat
  background-color: $dark-blue

.small-white-arrow-btn
  padding: 4px 2px
  width: 24px
  height: 24px
.bottom-img-background
  background-position: center bottom
  background-size: 100%
  background-repeat: no-repeat

.bottom-right-img-background
  background-position: bottom right
  background-repeat: no-repeat
.circuit-background
  background-position: center bottom
  background-size: 100%
  background-repeat: no-repeat
  background-attachment: fixed
.inherit-background
  background-attachment: inherit
.building-img
  padding-top: 80px
  padding-bottom: 35%
.image-columns, .small-image-columns
  display: flex
  .col
    display: flex
    position: relative
  .row
    max-width: 655px
    margin-left: auto
    margin-right: auto
    position: relative
  .white-arrow-btn
    position: absolute
    right: 0px
    bottom: 0
  h2
    margin-bottom: 10px
  .floating-laptop
    position: absolute
    bottom: -300px
    left: -170px
  .floating-phone
    position: absolute
    bottom: -400px
    left: -220px
.absolute
  position: absolute
.about-icon
  left: -90px
  margin-top: -20px

.jumbotron-padding
  height: 310px
  padding-bottom: 20px
  display: flex
  align-items: center
  justify-content: center
.products-jumbotron
  height: 310px
  padding-bottom: 20px
  display: flex
  align-items: center
  justify-content: center

.header-text
  padding-top: 70px
  padding-bottom: 80px
  p
    margin-top: 30px
.image-columns
  .col
    padding: 95px 50px 60px
  .row
    height: 250px
.small-image-columns
  .col
    padding: 90px 50px 70px
  .row
    height: 180px
.flex
  display: flex
  flex-basis: auto
.align-center
  align-items: center
.justify-center
  justify-content: center
.wrap
  flex-wrap: wrap

.align-center
  align-items: center
.image-background-row
  img
    position: absolute
    top: 0
    left: 0
    min-height: 100%
    min-width: 100%
    max-width: none
.img-left-section
  .text-col
    padding: 100px 80px 80px
    div
      max-width: 375px
  .careers-container
    div
      max-width: 506px
      margin-left: auto
      margin-right: 20px
  h3
    margin-bottom: 5px
  p
    margin-bottom: 40px
.text-left-section
  h1
    margin-bottom: 20px
.product-card
  width: calc(33.33333% - 50px)
  box-shadow: 0 0 8px rgba(0,0,0,.4)
  background-color: white
  display: inline-block
  float: left
  margin-left: 25px
  margin-right: 25px
  .card-container
    padding: 20px 30px 90px
    min-height: 340px
  .icon-block
    margin-top: -67px
  .connectivity-icon
    margin-top: 5px
    margin-left: 5px
    height: 25px
    width: 25px
    max-width: none
  .power-icon
    margin-left: 2px
    margin-top: 4px
  h2
    margin-bottom: 15px
  li
    display: inline-block
  p
    margin-bottom: 25px
.blue-bar, .thin-blue-bar
  padding-left: 25px
  padding-right: 25px
  a
    display: inline-block
    line-height: 60px
    width: 100%
  .white-arrow-btn
    width: auto
  .learn-more-text
    width: 100%
  .arrow-link
    display: inline-block
.floating-blue-bar
  position: absolute
  bottom: 0
  left: 0
  width: 100%
.blue-bar
  .arrow-container
    position: absolute
    top: 9px
    right: 25px
.medium-arrow-btn
  line-height: 20px
  height: 30px
  width: 30px
  border: solid 2px $light-blue
  border-radius: 50%
  position: relative
  display: inline-block
  overflow: hidden
  img
    position: absolute
    height: 13px
    transition: all .25s
  img:first-child
    top: 6px
    left: 10px
  img:last-child
    top: 6px
    left: -40px
.medium-large-arrow
  border: solid 2px $light-blue
  height: 37px
  width: 37px
  border-radius: 50%
  display: inline-block
  overflow: hidden
  position: relative
  margin-bottom: -14px
  margin-right: 10px
  img
    height: 14px
    transition: all .3s
    position: absolute
    margin: 0
  img:first-child
    position: absolute
    top: 9px
    left: 13px
  img:last-child
    top: 9px
    left: -40px
  &:hover
    img:first-child
      transform: translateX(23px)
    img:last-child
      transform: translateX(53px)
.arrow-link:hover
  img:first-child
    transform: translateX(23px)
  img:last-child
    transform: translateX(50px)
.thin-blue-bar .arrow-link:hover
  img:last-child
    transform: translateX(47px)
.thin-blue-bar
  .medium-arrow-btn
    width: 24px
    height: 24px
    img
      position: absolute
      height: 10px
      transition: all .2s
    img:first-child
      top: 5px
      left: 7px
    img:last-child
      top: 5px
      left: -40px
  a
    line-height: 50px

.products-cards
  max-width: 1230px
  margin-left: auto
  margin-right: auto
  margin-top: -220px
.blue-laptop-bar
  height: 151px
  background: linear-gradient(-177deg, #2C549B 0%, #253C75 100%)
.gradient-background
  background: linear-gradient(-177deg, #2C549B 0%, #253C75 100%)
.database-laptop
  padding-top: 160px
  h2
    margin-bottom: 20px
  p
    padding-bottom: 60px
  .floating-laptop
    margin-bottom: -120px
    margin-top: -60px
    margin-right: -150px
  .floating-phone
    margin-bottom: -151px
    margin-top: -86px
    position: relative
    left: 92px
  .blue-btn
    margin-top: 40px
    transition: all .3s
.login-page
  margin-bottom: 30px
  .floating-line
    position: absolute
    height: calc(100% - 80px)
    background-color: #979797
    top: 40px
    width: 1px
    left: calc(50% - 1px)
  .contact-form
    padding-left: 50px
    padding-right: 50px
.floating-bottom-right-circuit
  position: absolute
  bottom: 151px
  right: 0
  z-index: 0
.product-image-jumbotron
  padding-top: 70px
  padding-bottom: 90px
  background-size: auto 100%
  background-position: right
  background-repeat: no-repeat
  h1
    margin-bottom: 20px
  p
    margin-bottom: 30px
  img
    max-width: 120%


.lineup-title-text
  padding-top: 8px
  padding-bottom: 0
.blue-line,
  height: 2px
  width: 20px
  background-color: $light-blue
  display: inline-block
.grey-line
  background-color: #979797
  height: 1px
  width: 30px
  display: inline-block

.application-box
  padding-top: 40px
  padding-bottom: 40px
.featured-application
  transition: all .2s
  &:hover
    background-color: rgba(255,255,255,.1)
  a
    width: 100%
    display: inline-block
.related-resources
  padding-top: 60px
  padding-bottom: 80px
  p
    transition: all .2s ease
    border-left: solid 2px transparent
    margin-left: -2px
    width: calc(100% - 80px)
  a:hover p
    border-left: solid 2px $dark-grey
    padding-left: 7px
    margin-left: -9px
    padding-right: 5px
    margin-right: 7px
  img
    height: 37px
    position: absolute
    right: 25px
    top: calc(50% - 17px)
  a
    height: 94px
    display: flex
    align-items: center
    border-bottom: solid 1px #B0B0B0
    position: relative
.resource-section
  padding-top: 80px
  padding-bottom: 90px
  min-height: 940px

.grey-background
  background-color: $very-light-grey
.light-grey-background
  background-color: #EEEEEE
.related-products
  padding-top: 120px
  padding-bottom: 0
hr
  margin-top: 5px
  margin-bottom: 10px
  border-color: #CBCBCB
blockquote
  margin-left: 0
  margin-top: 50px
  margin-bottom: 50px
  padding-left: 0
  border-left: 0
  font-size: 21px
  color: #253C75
  letter-spacing: 0
  line-height: 27px
  font-weight: 600
.article-post
  margin-bottom: 70px
.bottom-border
  border-bottom: solid 1px $light-grey
.border-right
  border-right: solid 1px $light-grey
.leadership-section
  padding-top: 100px
  padding-bottom: 43px
  h3
    margin-top: 15px
    margin-bottom: 5px
  h4
    margin-bottom: 10px
  .row
    margin-bottom: 80px
  img
    margin-left: auto
    margin-right: auto
.card
  background-color: white
  padding: 50px 55px 60px
  height: calc(100% - 70px)
  h2
    margin-bottom: 20px
.shadow
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.25)
.mt-140
  margin-top: -140px
.md-large-container
  max-width: 1067px
  margin-left: auto
  margin-right: auto
  padding-left: 25px
  padding-right: 25px
.how-to-buy-section
  min-height: 950px
  padding-top: 70px
  h3
    margin-bottom: 5px
  p
    margin-bottom: 25px
  .grey-line
    margin-top: 30px
  .floating-line
    position: absolute
    height: 840px
    width: 1px
    background-color: #979797
    left: calc(39% + 25px)
  .col:first-child
    padding-right: 50px
  .col:last-child
    padding-left: 50px
.dropdown
  border: solid 1px $very-light-grey
  position: relative
  width: 460px
  background-image: url(/assets/icons/down-arrow.png)
  background-position: calc(100% - 20px) 55%
  background-repeat: no-repeat
  .curr
    padding: 20px
    cursor: pointer
  .curr, a
    font-size: 12px
    color: #9B9B9B
    letter-spacing: 2px
    line-height: 17px
    font-weight: bold
    text-transform: uppercase
.area-dropdown .dropdown-list
  overflow: scroll
  height: 182px




.expandor
  width: 26px
  height: 26px
  display: block
  position: relative
  border-radius: 50%
  border: solid 2px #243C77
  cursor: pointer
  span
    position: absolute
    top: 10px
    left: 5px
    height: 2px
    width: 12px
    background-color: #61B6E2
    &:nth-child(1)
      transform: rotate(90deg)
      transition: all .2s ease
  &.opened
    span:nth-child(1)
      transform: rotate(0)



form:not(.ao-form) .resource-search
  width: 100%
  font-size: 12px
  border: solid 1px #979797
  letter-spacing: 2px
  font-weight: bold
  padding-left: 65px
  padding-right: 65px
  margin-bottom: 35px
  background-image: url(/uploads/icons/search-glass.svg)
  background-position: 22px center
  background-repeat: no-repeat
  line-height: 54px
  height: 54px
  position: relative
  &::placeholder
    font-size: 12px
    letter-spacing: 2px
    font-weight: bold
    color: #9B9B9B
#resource-search
  position: relative
  button
    border: none
    outline: none
    width: 54px
    height: 54px
    background-image: url(/uploads/icons/go-btn.svg)
    background-repeat: no-repeat
    background-position: center
    position: absolute
    top: 0
    right: 0
    background-color: transparent

.sort-toggle
  width: 15px
  margin-left: 5px
  text-align: center
  height: 20px
  span
    position: relative
    width: 14px
    padding-left: 3px
    padding-right: 3px
    height: 9px
    cursor: pointer
    display: block
    margin: 1px
    &:after
      content: ""
      width: 6px
      height: 1px
      background-color: #626262
      display: inline-block
      transform: rotate(45deg)
      margin-left: -1px
      position: absolute
      top: 3px
      right: 2px
    &:before
      content: ""
      width: 6px
      height: 1px
      background-color: #626262
      display: inline-block
      transform: rotate(-45deg)
      margin-right: -1px
      position: absolute
      top: 3px
      left: 2px
    &.bold::before, &.bold::after
      height: 2px
  .down-toggle
    &:after
      transform: rotate(-45deg)
      top: auto
      bottom: 2px
    &:before
      transform: rotate(45deg)
      top: auto
      bottom: 2px









.product-thumb-img
  padding-right: 70px
  padding-left: 70px
  float: left


.resource-table
  td, th
    border-color: #C2C2C2
  .text-left
    text-align: left

.table-container
  min-height: 500px


.loader
  position: absolute
  /* top: 0 */
  left: 0
  display: flex
  width: 100%
  height: 100%
  background-color: rgba(37, 60, 117, 0.82)
  align-items: center
  justify-content: center
  display: none
  &.show-me
    display: flex
.lds-roller
  display: inline-block
  position: relative
  width: 64px
  height: 64px
  div
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
    transform-origin: 32px 32px
    &:after
      content: " "
      display: block
      position: absolute
      width: 6px
      height: 6px
      border-radius: 50%
      background: #fff
      margin: -3px 0 0 -3px
    &:nth-child(1)
      animation-delay: -0.036s
      &:after
        top: 50px
        left: 50px
    &:nth-child(2)
      animation-delay: -0.072s
      &:after
        top: 54px
        left: 45px
    &:nth-child(3)
      animation-delay: -0.108s
      &:after
        top: 57px
        left: 39px
    &:nth-child(4)
      animation-delay: -0.144s
      &:after
        top: 58px
        left: 32px
    &:nth-child(5)
      animation-delay: -0.18s
      &:after
        top: 57px
        left: 25px
    &:nth-child(6)
      animation-delay: -0.216s
      &:after
        top: 54px
        left: 19px
    &:nth-child(7)
      animation-delay: -0.252s
      &:after
        top: 50px
        left: 14px
    &:nth-child(8)
      animation-delay: -0.288s
      &:after
        top: 45px
        left: 10px

@keyframes lds-roller
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)


.table-holder
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.22)
  padding: 30px 40px




.resource-header
  font-family: 'Open Sans', sans-serif
  font-weight: bold
  font-size: 16px
  color: #626262
  letter-spacing: 0
  line-height: 24px
  text-align: left

.xl-container
  width: 100%
  max-width: 1372px
  margin-left: auto
  margin-right: auto



.representative-blocks .dropdown
  width: 300px
.dropdown-list
  position: absolute
  top: calc(100% + 1px)
  height: 300px
  width: 100%
  overflow: scroll
  display: none
  background-color: white
  z-index: 5
  border-bottom: solid 1px #9B9B9B
  border-left: solid 1px #9B9B9B
  border-right: solid 1px #9B9B9B
  padding-top: 10px
  a
    display: block
    background-color: white
    border: solid 1px white
    padding: 10px 20px
    cursor: pointer
    &:hover
      background-color: #c6c6c6
.show-me
  display: block
.mr-auto
  margin-right: auto
.ml-auto
  margin-left: auto
.mx-auto
  margin-left: auto
  margin-right: auto
.m-0
  margin: 0
.mt-0
  margin-top: 0
.mb-0
  margin-bottom: 0
.ml-0
  margin-left: 0
.mr-5
  margin-right: 5px
.mt-5
  margin-top: 5px
.mb-5
  margin-bottom: 5px
.ml-5
  margin-left: 5px
.mr-5
  margin-right: 5px
.mt-10
  margin-top: 10px
.mb-10
  margin-bottom: 10px
.ml-10
  margin-left: 10px
.mr-10
  margin-right: 10px
.mt-15
  margin-top: 15px
.mb-15
  margin-bottom: 15px
.ml-15
  margin-left: 15px
.mr-15
  margin-right: 15px
.mt-20
  margin-top: 20px
.mb-20
  margin-bottom: 20px
.ml-20
  margin-left: 20px
.mr-20
  margin-right: 20px

.mt-30
  margin-top: 30px
.mb-30
  margin-bottom: 30px
.ml-30
  margin-left: 30px
.mr-30
  margin-right: 30px


.mt-40
  margin-top: 40px
.mb-40
  margin-bottom: 40px
.ml-40
  margin-left: 40px
.mr-40
  margin-right: 40px

.mt-50
  margin-top: 50px
.mb-50
  margin-bottom: 50px
.ml-50
  margin-left: 50px
.mr-50
  margin-right: 50px

.mt-60
  margin-top: 60px
.mb-60
  margin-bottom: 60px
.ml-60
  margin-left: 60px
.mr-60
  margin-right: 60px

.mt-70
  margin-top: 70px
.mb-70
  margin-bottom: 70px
.ml-70
  margin-left: 70px
.mr-70
  margin-right: 70px

.mt-80
  margin-top: 80px
.mb-80
  margin-bottom: 80px
.ml-80
  margin-left: 80px
.mr-80
  margin-right: 80px



.p-0
  padding: 0
.pt-0
  padding-top: 0
.pb-0
  padding-bottom: 0
.pl-0
  padding-left: 0
.p-5
  padding: 5px
.pr-5
  padding-right: 5px
.pt-5
  padding-top: 5px
.pb-5
  padding-bottom: 5px
.pl-5
  padding-left: 5px
.pr-5
  padding-right: 5px
.p-10
  padding: 10px
.pt-10
  padding-top: 10px
.pb-10
  padding-bottom: 10px
.pl-10
  padding-left: 10px
.pr-10
  padding-right: 10px
.pt-20
  padding-top: 20px
.pb-20
  padding-bottom: 20px
.pl-20
  padding-left: 20px
.pr-20
  padding-right: 20px
.pt-30
  padding-top: 30px
.pb-30
  padding-bottom: 30px
.pl-30
  padding-left: 30px
.pr-30
  padding-right: 30px
.pt-40
  padding-top: 40px
.pb-40
  padding-bottom: 40px
.pl-40
  padding-left: 40px
.pr-40
  padding-right: 40px
.p-50
  padding: 50px
.pt-50
  padding-top: 50px
.pb-50
  padding-bottom: 50px
.pl-50
  padding-left: 50px
.pr-50
  padding-right: 50px
.pt-60
  padding-top: 60px
.pb-60
  padding-bottom: 60px
.pl-60
  padding-left: 60px
.pr-60
  padding-right: 60px

.pt-80
  padding-top: 80px
.pb-90
  padding-bottom: 90px
.pt-90
  padding-top: 90px
.pb-80
  padding-bottom: 80px
.representative
  display: none
  margin-top: 40px
  h4
    margin-bottom: 10px
  a:nth-child(5)
    display: inline-block
    margin-bottom: 10px
.floating-representativeList
  position: absolute
  left: 70px
  bottom: 40px
form:not(.ao-form)
  select::-ms-expand
    display: none
  select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
.logo-holder
  display: none
  width: 32%
  text-align: center
  height: 115px
  padding-left: 20px
  padding-right: 20px
  img
    max-height: 90px
    max-width: 117px
.inline-block
  display: inline-block
.americas
  display: flex
.fixed-bg
  background-attachment: fixed

.resource-tab
  background-color: $blue
  color: white
  width: 100%
  padding: 5px 10px
  font-weight: bold
  font-size: 12px
  color: #FFFFFF
  letter-spacing: 2px
  line-height: 16px
  height: 60px
  width: 300px
  margin-bottom: 15px
  display: flex
  align-items: center
  .icon-block
    background-color: transparent
    height: 32px
    width: 32px
    margin-right: 15px
    margin-left: 15px
    img
      position: relative
      height: 17px
      width: auto
      max-width: 18px
  .icon-holder
    width: 28px
    height: 28px
  &.active
    background-color: #61B6E2
    .icon-block
      border-color: #253C75
  &:hover
    background-color: #61B6E2
    cursor: pointer
    .icon-block
      border-color: #253C75
.hidden-tab
  display: none
.resource-links
  margin-top: 10px
  a
    display: inline-block
    font-size: 14px
    letter-spacing: 2px
    line-height: 17px
    font-weight: 700
    text-transform: none
    width: 100%
    &:hover
      color: $light-blue
.resource-category-list
  display: none
.show-me
  display: block
.show-me-flex
  display: flex
.arrow-w-text
  h4
    width: 50%
    display: inline-block
    text-align: right
    padding-right: 10px
    margin-bottom: -10px
    position: relative
    bottom: -10px
.search-banner
  background-image: url(/uploads/banner-images/products-bg.jpg)
  background-size: cover
  padding-top: 80px
  padding-bottom: 70px
  h4, span
    display: inline-block
    margin-right: 10px
form:not(.ao-form)
  .submit-glass
    background-image: url(/assets/icons/search-glass-page.svg)
    background-repeat: no-repeat
    background-position: center
    background-color: $light-blue
    border-radius: 0
    width: 77px
    height: 54px
    float: left
form:not(.ao-form)
  .search-page-input
    line-height: 32px
    width: calc(100% - 150px)
    float: left
    font-weight: 600
    font-size: 21px
    color: #253C75
    letter-spacing: 0
    margin-bottom: 20px
    padding-left: 60px
    &:focus
      border: solid 1px transparent

.results-page
  padding-bottom: 124px
  h2
    margin-top: 80px
    margin-bottom: 40px
  .search-result
    margin-bottom: 30px
.radio-btn
  input
    opacity: 0
    pointer-events: none
  .circle
    height: 15px
    width: 15px
    background-color: white
    border-radius: 50%
    border: solid 2px white
    display: inline-block
    margin-bottom: -2px
    margin-right: 5px
form:not(.ao-form)
  select
    background-color: white
    border: none
    width: 100%
    font-size: 12px
    color: #9B9B9B
    letter-spacing: 2px
    line-height: 17px
    font-weight: 400
    padding-top: 15px
    padding-bottom: 15px
    font-weight: bold
    text-transform: uppercase
    -webkit-appearance: none
    background-image: url(/assets/icons/triangle.png)
    background-position: calc(100% - 17px) center
    background-repeat: no-repeat
    background-size: 10px
    color: black
    &:focus
      outline: none
.select-holder
  border: solid 1px #9B9B9B
  padding-left: 15px

  font-size: 12px
  color: #9B9B9B
  letter-spacing: 2px
  line-height: 17px
  font-weight: 400
.radio-btn input:checked ~ .circle
  background-color: transparent
.clear-btn
  cursor: pointer
  position: absolute
  width: 50px
  height: 55px
  padding: 14px 15px
.search-result
  transition: all .2s
  margin-right: 10px
  border-left: solid 2px transparent
  &:hover
    border-left: solid 2px $blue
    padding-left: 10px
    margin-right: 0
  a
    width: 100%
    display: inline-block
.career-post
  padding-top: 60px
.videoWrapper
	position: relative
	padding-bottom: 56.25%
	padding-top: 25px
	height: 0

.videoWrapper iframe
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%


.pop-up
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: #253C75
  opacity: 0
  pointer-events: none
  z-index: -1
  display: flex
  align-items: center
  justify-content: center
  transition: all .3s ease
  transform: translateY(20px)
.pop-up.show-me
  pointer-events: auto
  opacity: 1
  transform: translateY(0px)
  z-index: 99
.attachment
  input
    display: none
  label
    width: 100%
    height: 47px
    background-color: white
    display: block
    text-align: left
    padding: 10px 15px
    color: #9B9B9B
    font-size: 12px
    color: #9B9B9B
    letter-spacing: 2px
    font-weight: bold
    text-transform: uppercase
    cursor: pointer
    background-image: url(/assets/icons/paperclip.png)
    background-repeat: no-repeat
    background-position: calc(100% - 20px) center
.pop-up input, .pop-up textarea
  border: none !important
.form-container textarea
  margin-bottom: 10px
.contact-inner
  padding-top: 60px
  width: 100%



.contact-inner
  select
    border: none
    padding-top: 16px
    padding-bottom: 15px
@media (max-height: 790px)
  .contact-inner
    height: 100vh
    overflow-y: scroll
    min-height: 100vh
@media (max-width: 1200px)
  .contact-inner
    height: 100vh
    overflow-y: scroll
    min-height: 100vh
@media (max-width: 992px)
  .pop-up
    .contact-inner
      padding-top: 40px
    .close-me.parts-close
      position: fixed
      margin-left: auto
      top: 0
      right: 0
.close-me
  position: absolute
  top: 40px
  right: 40px
  padding: 20px
  cursor: pointer
.career-title
  margin-bottom: 50px
  h2
    margin-bottom: 5px
.careers
  padding-bottom: 120px
  h3
    margin-bottom: 5px
.resource-list
  display: none
.warranty-div
  max-width: 300px
  margin-left: auto
  margin-right: auto
  .large-arrow:hover
    img
      transform: translateX(62px)
.show-md
  display: none
.crossref-input
  border: solid 1px #4B5555

.crossref-table
  max-width: 1555px
.table
  margin-left: auto
  margin-right: auto
  width: 100%
.part-modal .col, .part-modal [class*=col-]
  padding-left: 10px
  padding-right: 10px
  margin-bottom: 5px
.radio-fields input, .radio-fields h4
  width: auto
  float: left
  margin-right: 10px
  font-size: 15px
  font-weight: 600
.contact-form .radio-fields  input:not(.submit), .contact-form  .radio-fields textarea
  width: auto
  float: left
.radio-fields
  padding-top: 15px
.disabled-input
  opacity: .5
#form-input-quantity
  transition: all .2s
#se-cross-ref
  .search-page-input
    width: calc(100% - 77px)
.modal-backdrop
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  display: none
  transition: all .2s
  z-index: -1
  &.show-me
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(0, 0, 0, 0.6)
    z-index: 99

.modal-container
  width: 100%
  max-width: 700px
  background-color: black
  position: relative
.videoWrapper
  position: relative
  padding-bottom: 56.25%
  /* 16:9
  height: 0
  padding-top: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.video-btn
  cursor: pointer

.close-btn
  position: absolute
  top: -40px
  right: -60px
  width: 34px
  border-radius: 50%
  border: solid 2px white
  cursor: pointer
  transition: all .2s ease
  img
    width: 100%
    transition: all .2s ease

.close-btn:hover
  transform: scale(1.1)
@media (max-width: 1200px)
  .crossref-table
    overflow-x: scroll
    table
      width: 1200px
@media (max-width: 800px)
  .legend
    overflow-x: scroll
    table
      width: 800px
  .pop-up
    .close-me.parts-close
      top: -15px
@media (max-width: 900px)
  .modal-container
    max-width: 100%
  .close-btn
    position: absolute
    top: -100px
    right: calc(50% - 24px)
    width: 48px
    border-radius: 50%
    border: solid 2px white
    cursor: pointer
    img
      width: 100%


@media (max-width: 400px)
  #se-cross-ref
    .search-page-input
      width: 100%
.crossref-button
  font-size: 11px
  line-height: 11px
  white-space: nowrap
  padding-left: 19px
  padding-right: 19px
  width: 100%
th
  border: 1px solid #4B5555
  padding: 11px 15px

td
  border: 1px solid #4B5555
  padding: 10px
.legend
  margin-bottom: 60px
@media (max-width: 1200px)
  .image-columns .col
    padding: 120px 50px 100px
  .mb-20-md
    margin-bottom: 20px
  .image-columns, .small-image-columns
    flex-wrap: wrap
  .applications-jumbotron .circuit-background
    background-position: center center
    bottom: -32px
    left: 0
    width: 100%
    top: auto
  .image-columns .row
    height: auto
  .image-columns .white-arrow-btn, .small-image-columns .white-arrow-btn
    position: relative
    left: 100%
    bottom: 0
.landing-banner
  padding-top: 140px
  padding-bottom: 150px
  input, textarea, select
    width: 100%
    border: solid 2px white
    background-color: transparent
    color: white
    margin-bottom: 15px
    &::placeholder
      color: white
      text-transform: uppercase

@media (max-width: 992px)
  .landing-banner
    padding-top: 60px
    padding-bottom: 60px
  .image-columns .white-arrow-btn, .small-image-columns .white-arrow-btn
    position: relative
    left: 0
    bottom: 0
    float: right
  .image-columns .row
    max-width: none
  .show-md
    display: block
  .no-border-md
    border: none
  .img-left-section
    .text-col
      padding: 60px 40px 50px
      div
        max-width: 100%
    .careers-container
      div
        max-width: 100%
        margin-left: auto
        margin-right: auto
  .left-medium
    text-align: left
  .career-snippet .mb-20
    margin-bottom: 40px
  .fixed-bg
    background-attachment: inherit
  .login-page
    padding-top: 30px
    padding-bottom: 30px
    .contact-form
      padding-top: 20px
      padding-bottom: 20px
  .resource-list
    display: block
  .circuit-background
    background-position: center bottom
  .floating-representativeList
    display: none
  .has-breadcrumb, body
    padding-top: 60px
  .center-medium
    text-align: center
  .slider-container img
    margin-left: auto
    margin-right: auto
    max-height: 250px

  .slider-container
    margin-top: 40px

  .blue-bar .arrow-link, .thin-blue-bar .arrow-link
    width: 100%

  .database-laptop p
    padding-bottom: 0
  .database-laptop
    padding-top: 50px
    padding-bottom: 60px
  .text-left-sm
    text-align: left
  .flex
    flex-wrap: wrap

  .floating-line
    display: none
  .dropdown
    max-width: 100%
    margin-left: auto
    margin-right: auto
  .how-to-buy-section .col:last-child, .how-to-buy-section .col:first-child
    padding-left: 25px
    padding-right: 25px
    margin-bottom: 40px
  .area-select p, .area-select h3
    width: 100%
  .hidden-md
    display: none
  .leadership-section
    padding-top: 40px
    .col-md-4
      padding-bottom: 40px
    .row
      margin-bottom: 0
  .career-post
    .row
      display: flex
      flex-wrap: wrap
    .article-post
      order: 3
  .job-sidebar
    order: 1
  .pop-up
    flex-wrap: wrap
    .close-me
      position: relative
      margin-left: auto
      top: 0
      img
        width: 20px
    .container
      padding-top: 0
      height: 100%
      overflow-y: scroll
      padding-bottom: 40px
  .resource-section
    padding-top: 30px
    padding-bottom: 60px
    min-height: 0
    background-image: none !important
  .resource-links
    margin-top: 30px
  .resource-tab
    display: none
  .flex
    flex-wrap: wrap
  .warranty-div
    max-width: 100%
    text-align: center
    span
      display: none
    .pr-20
      padding-right: 0
      text-align: center
@media (max-width: 768px)
  .image-columns .col, .small-image-columns .col
    justify-content: center
  .pb-sm-0
    padding-bottom: 0
  .pt-sm-0
    padding-top: 0
  .radio-btn
    display: block
    margin-left: -20px
    margin-top: 10px
  .center-mobile
    text-align: center
  .search-banner
    padding-top: 60px
  .left-mobile
    text-align: left
  .hidden-sm
    display: none
  .textarea-block
    margin-top: 10px
  .career-post
    .mb-70
      margin-bottom: 50px
  .container, .container-fluid, .large-container
    padding-left: 15px
    padding-right: 15px
  .row:not(.no-gutters)
    margin-left: -15px
    margin-right: -15px
  .col, [class*="col-"]
    padding-right: 15px
    padding-left: 15px
  .hidden-xs
    display: none
  .image-columns .col
    padding: 40px 30px 10px
  .image-columns .row
    height: auto
  .image-columns .warranty-padding
    padding-bottom: 40px
  .arrow-w-text h4
    width: 100%
    padding-right: 100px
  .image-columns .white-arrow-btn, .small-image-columns .white-arrow-btn
    position: relative
    left: 0
    bottom: 0
    display: inline-block
    margin-top: 20px
    margin-bottom: 10px
    float: right
  .stationary-left-block
    padding-left: 25px !important
    padding-right: 25px !important
  .jumbotron-padding
    padding-top: 60px
    padding-bottom: 80px
    height: auto
    background-size: cover
  .img-left-section
    .text-col
      padding: 60px 30px 10px
  .text-left-section
    .image-background-row
      padding-top: 40px
      padding-bottom: 20px
  .building-img
    padding-top: 40px
  .header-text
    padding-top: 40px
    padding-bottom: 50px

  .card
    padding: 40px 25px
  .image-columns .mb-60
    margin-bottom: 30px
  .logo-holder
    display: none
    width: 50%
    text-align: center
    height: 115px
    padding-left: 20px
    padding-right: 20px
    img
      max-height: 90px
      max-width: 100%
  .how-to-buy-section
    margin-top: 0
    min-height: 0
    padding-bottom: 40px
    padding-left: 0
    padding-right: 0
  .representative-blocks .dropdown
    width: 100%
@media (max-width: 400px)
  .submit-glass
    display: none
  .search-page-input
    width: 100%
  input[type="search"]
    box-sizing: border-box
