{% requireEdition CraftPro %}
{% requireAdmin %}

{% extends "settings/users/_layout" %}
{% set selectedNavItem = 'fields' %}

{% set docsUrl = 'http://craftcms.com/docs/fields#field-layouts' %}


{% block content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		<input type="hidden" name="action" value="users/saveFieldLayout">
		<input type="hidden" name="redirect" value="settings">
		{{ getCsrfInput() }}

		{% include "_includes/fieldlayoutdesigner" with {
			fieldLayout: craft.fields.getLayoutByType('User'),
			customizableTabs: false,
			pretendTabName: "Profile"|t
		} only %}

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endblock %}
