<div class="recententries-container">
	{% if entries|length %}
		<table class="data fullwidth">
			{% for entry in entries %}
				<tr>
					<td>
						<a href="{{ entry.getCpEditUrl() }}">{{ entry.title }}</a>
						<span class="light">
							{{ entry.dateCreated.uiTimestamp() }}
							{%- if CraftEdition >= CraftClient and entry.author %}, {{ entry.author.username }}{% endif -%}
						</span>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>{{ "No entries exist yet."|t }}</p>
	{% endif %}
</div>
