
{% extends "_layouts/main" %}

{% block main %}

{% include "_partials/banner.html"%}

{% set resources = entry.supportResources.first %}
  <div class="container support-intro text-center pt-50">
    <p class = "large mb-30">{{ resources.text }}</p>


    <div class="row quality-environmental-compliance resource-category-list  show-me-flex  wrap">
{% for resource in resources.assets %}
  <div class="col-sm-3 text-left flex mb-10 "><a href="{{ resource.url }}" class="blue large  pb-10 bottom-border">{{ resource.title }}</a></div>
{% endfor %}






                              </div>
  </div>


  <div class = "bottom-img-background" style="background-image: url(/assets/icons/circuit-fade.png)">





</div>



    {% if entry.type == "techSupportForm" %}
  <div class="container  support-form contact-form">
        {{ craft.freeform.form("techSupportForm").render() }}
  </div>
    {% elseif entry.type == "regulatoryRequestForm" %}
  <div class="container  support-form contact-form">
        {{ craft.freeform.form("regulatoryRequestForm").render() }}
  </div>
    {% elseif entry.type == "embeddedForm" %}
      <div class="container">
        {{ entry.styles | raw }}
            {{ entry.codeBlock | raw }}


</div>
    {% else %}
  <div class="container  support-form contact-form">
        {{ craft.freeform.form("rmaForm").render() }}
</div>
    {% endif %}


</div>
  {% include "./_partials/related-pages-block.html" %}
{% endblock %}
