
{% extends "_layouts/main" %}

{% block main %}

{% include "_partials/banner.html" %}

  <div class="large-container support-container">
    <div class="row flex justify-center">

      {% for block in entry.formDescription %}

      <div class="  col-md-4 text-center flex">
        <div>
        <div class="card shadow">
        <h2 class="blue"><a href="{{ block.formLink }}" class="blue">{{ block.formName }}</a></h2>
        <p>{{ block.formDescription }}</p>
        </div>
        <div class="blue-bar blue-background shadow">
          <div class="row">
            <div class="col-sm-12 text-left white relative arrow-link">
              <a class="h4 text-uppercase blue-outline white" href="{{ block.formLink }}">
                Learn More
              <div class = "arrow-container">
                <span class = "medium-arrow-btn">
                  <img alt="arrow >" class="white-arrow-btn" src="/assets/icons/white-arrow.svg">
                  <img alt="arrow >" class="white-arrow-btn" src="/assets/icons/white-arrow.svg">
                </span>
              </div>
                </a>
            </div>
          </div>
        </div>
        </div>
      </div>

      {% endfor %}


    </div>
  </div>




  {% set database = entry.databaseDescription.first %}
  <div class="database-laptop">

  <div class="bottom-right-img-background relative" >
  <img src="/assets/icons/product-connect.png" alt="circuits" class="floating-bottom-right-circuit hidden-md" >
    <div class="container">
          <div class="row">
            <div class="col-md-3 relative right-overflow hidden-sm">
                <img src="{{ database.laptopImage.first.url }}" alt="{{ database.laptopImage.first.title }}" class = "floating-phone hidden-md">
            </div>
            <div class="col-md-6">
              <h2 class="blue"><a href="{{ database.linkUrl }}" class="blue">{{ database.headerText }}</a></h2>
              <p>{{ database.description }}</p>
            </div>
            <div class="col-lg-3 text-right left-mobile">
              <a href="{{ database.linkUrl }}" class="blue-btn reverse-btn">{{ database.linkText }}</a>
            </div>
          </div>
    </div>
  <div class="blue-laptop-bar blue-backgound hidden-md"></div>

  </div>
  </div>


{% endblock %}
