{% extends "freeform/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "Email Templates"|t }}</h2>

    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="freeform/settings/saveSettings">
        <input type="hidden" name="redirect" value="freeform/settings/email-templates">
        {{ getCsrfInput() }}

        {{ forms.textField({
            class: "code",
            label: "Directory Path"|t,
            instructions: "Provide a relative path to the Craft root folder where your email templates directory is. This allows you to use Twig template files for your email formatting, and helps Composer locate these files when setting up notifications."|t,
            placeholder: "templates/freeform_emails/",
            id: "emailTemplateDirectory",
            name: "settings[emailTemplateDirectory]",
            value: settings.emailTemplateDirectory,
            errors: settings.getErrors("emailTemplateDirectory"),
        }) }}

        {% if settings.absoluteEmailTemplateDirectory %}
            {{ forms.selectField({
                label: "Default Email Notification Creation Method"|t,
                instructions: "Which storage method to use when creating new email notifications with 'Add New Notification' option in Composer."|t,
                name: "settings[emailTemplateStorage]",
                options: {
                    "db": "Database Entry",
                    "template": "Template File",
                },
                value: settings.emailTemplateStorage,
                errors: settings.getErrors("emailTemplateStorage"),
            }) }}

            {% set templateFiles = craft.freeform.settings.listTemplatesInEmailTemplateDirectory() %}

            <div id="components-wrapper">
                <div>
                    <button type="button" class="btn submit small icon add" id="add-demo-template">
                        {{ "Add an email template"|t }}
                    </button>

                    <ul class="directory-structure">
                        <li class="dir">
                            <span>{{ settings.emailTemplateDirectory }}</span>
                            <ul>
                                {% for file in templateFiles %}
                                    <li class="file">
                                        <span>{{ file }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}

        <input type="submit" class="btn submit" value="{{ "Save"|t }}">
    </form>

{% endblock %}

{% set addDemoTemplateJs %}
    var data = {
        templateName: "sample_template",
    };

    data["{{ craft.config.csrfTokenName }}"] = "{{ craft.request.csrfToken }}";

    $("#add-demo-template").on({
        click: function() {
            $.ajax({
                url: "{{ url("freeform/settings/addEmailTemplate") }}",
                type: "post",
                dataType: "json",
                data: data,
                success: function(response) {
                    if (!response.errors.length) {
                        window.location.reload();
                    } else {
                        for (var i = 0; i < response.errors.length; i++ ) {
                            var message = response.errors[i];
                            Craft.cp.displayNotification("error", message);
                        }
                    }
                }
            });
        }
    });
{% endset %}
{% includeJs addDemoTemplateJs %}
