{% extends "settings/assets/_layout" %}
{% set selectedNavItem = 'sources' %}

{% set docsUrl = 'http://craftcms.com/docs/assets' %}


{% block content %}
	<p id="nosources"{% if sources|length %} class="hidden"{% endif %}>
		{{ "No asset sources exist yet."|t }}
	</p>

	{% if sources|length %}
		{% set sortable  = (sources|length > 1) %}

		<table id="sources" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				{% if CraftEdition == CraftPro %}<th scope="col">{{ "Type"|t }}</th>{% endif %}
				{% if sortable %}<td class="thin"></td>{% endif %}
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for source in sources %}
					<tr data-id="{{ source.id }}" data-name="{{ source.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('settings/assets/sources/' ~ source.id) }}">{{ source.name|t }}</a></th>
						{% if CraftEdition == CraftPro %}<td data-title="{{ 'Type'|t }}">{{ source.getSourceType().getName() }}</td>{% endif %}
						{% if sortable %}<td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a></td>{% endif %}
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('settings/assets/sources/new') }}">{{ "New asset source"|t }}</a>
	</div>
{% endblock %}


{% includejs %}
	var adminTable = new Craft.AdminTable({
		tableSelector: '#sources',
		noObjectsSelector: '#nosources',
		sortable: true,
		reorderAction: 'assetSources/reorderSources',
		deleteAction: 'assetSources/deleteSource',
		onDeleteObject: function()
		{
			// Hide the Assets tab if that was the last one
			if (adminTable.totalObjects == 0)
			{
				$('#nav-assets').remove();
			}
		}
	});
{% endincludejs %}
