{% extends "_layouts/landing" %}

{% block main %}


{% if entry.type == "wysiwgy" %}

{{ entry.wysiwyg }}

{% elseif entry.type == "landingPageCreator" %}
<div class="container contact-form hidden-label">
<style>
.freeform-row .freeform-column .freeform-label {
	display: none;
}
.freeform-row .freeform-column .freeform-input {
	width: 100%;
	display: block;
	box-sizing: border-box;
	border: solid 1px;
}
select {
	background-color: #fff;
	border: solid 1px;
	width: 100%;
	font-size: 12px;
	color: #9b9b9b;
	letter-spacing: 2px;
	line-height: 17px;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-appearance: none;
	background-image: url(/assets/icons/triangle.png);
	background-position: calc(100% - 17px) center;
	background-repeat: no-repeat;
	background-size: 10px;
	border-radius: 0;
	padding-left: 15px;
}
button {
	font-size: 14px;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	border: solid 2px #fff;
	padding: 8px 36px;
	border-radius: 40px;
	display: inline-block;
	text-align: center;
	transition: all .2s;
	line-height: 24px;
	color: #253c75;
	border-color: #61b6e2;
	min-width: 190px;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 190px;
	margin-top: 30px;
}
.freeform-row .freeform-column .freeform-input {
	border: solid 1px #9b9b9b;
}
</style>
{% for block in entry.blogPost %}

{% include "_news-blocks/" ~ block.type ~ ".html"%}
{% endfor %}

</div>


{% elseif entry.type == "newProduct" %}
{% include "landing-pages/_product-announcement.html"%}


{% elseif entry.type == "landingPageCreator20" %}



{% include "landing-pages/_template-2.html"%}


{% else %}


{% include "landing-pages/_template.html"%}


{% endif %}


{% endblock%}
