{% include "landing-pages/_landing-styles.html" %}

<div class="container text-center">
  <h2 class = "mb-40 h2">{{ entry.subheader }} </h2>
</div>

{% set banner = entry.landingPageBanner.first %}



{% if banner.type == "formBellow" %}

<div class="{% if banner.type == "formBellow" %}landing-banner {% else %} small-img-background{% endif %}" style = "background-size: cover; background-image: url({{ banner.backgroundImage.first.url }});">
<div class="container" >
  <div class="row">
    <div class="col-lg-6 mb-20 mt-20">
      <h1 class="white h1 mb-20">{{ banner.header }}</h1>
      <p class = "white">{{ banner.body }}</p>
      {% if banner.type == "ctaButton" %} <a href="{{ banner.link }}" class="btn white-border white">{{ banner.ctaText }}</a>{% endif %}
    </div>
    <div class="col-lg-6 landing-inputs mb-20 mt-20">
        {{ entry.form.render() }}
    </div>
  </div>
</div>
</div>



{% else %}

<div class="{% if banner.type == "formBellow" %}img-background {% else %} small-img-background{% endif %}" style = "background-size: cover; background-image: url({{ banner.backgroundImage.first.url }});">
<div class="container text-center" >
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="white h1 mb-20">{{ banner.header }}</h1>
      <p class = "white">{{ banner.body }}</p>
      {% if banner.type == "ctaButton" %} <a href="{{ banner.link }}" class="btn white-border white">{{ banner.ctaText }}</a>{% endif %}
    </div>
  </div>
</div>
</div>

{% endif %}







<div class="product-information pt-10 pb-10">
		<div class="text-center">
			<p class="large text-uppercase">{{ entry.headerText}}</p>
		</div>
		<div class="container">
			<div class="row">
				<h3 class="white blue-headline text-center">Product Information</h3>
			</div>

      {% set data = entry.datasheets.first %}
			<div class="row dark-grey-background">
				<div class="">
					<div class="col-4">

						<img src="/iotoptimized_quartzcrystals/assets/download-icon.svg" alt="download icon">
						<h3 class="blue text-uppercase">Download <br> Datasheets</h3>

					</div>

					<div class="col-4 pl-0">

						<p><b>{{ data.firstSeriesHeader }}</b></p>
						<p>{% for link in data.firstSeries %}<a href="{{ link.datasheetLink }}" target="_blank">{{ link.seriesNumber }}</a>  {% if not loop.last %}|{% endif %} {% endfor %}</p>

					</div>
					<div class="col-4">

            <p><b>{{ data.secondSeriesHeader }}</b></p>
            <p>{% for link in data.secondSeries %}<a href="{{ link.datasheetLink }}" target="_blank">{{ link.seriesNumber }}</a>  {% if not loop.last %}|{% endif %} {% endfor %}</p>

					</div>
				</div>
			</div>
			<div class="table">
				<div class="row">
					<div class="col-8">
						<h3 class="blue text-uppercase mb-20">Applications</h3>
					</div>
					<div class="col-4">
						<h3 class="blue features-normal text-uppercase mb-20">Features</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-8 border-right">

						<div class="row">
{% set apps = entry.applicationsTable %}
{% set batchsize = apps|length / 2 %}
  {% for app  in entry.applicationsTable|batch(batchsize) %}
							<div class="col-6">
{% for col in app %}

								<span class="application-title">{{ col.header }}</span>
								<ul>
                  {% for bullet in col.bullets %}
									<li>{{ bullet.bullet }}</li>
                  {% endfor %}
								</ul>
                {% endfor %}
							</div>
                {% endfor %}

						</div>
					</div>
					<div class="col-4">
            {% for feature in entry.featuresTable %}
						<h3 class="blue features-mobile">{{ feature.header }}</h3>
            {% for feature in feature.features %}
						<p>{{ feature.item }}</p>
            {% endfor %}
              {% endfor %}
					</div>
				</div>
				<div class="row dimension-title">
					<div class="col-12 text-center">
						<h3 class="blue text-uppercase mt-30 mb-40">Available Dimensions</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center"><img alt="{{ entry.dimensionsImages.first.fullSizeImages.first.title }}" class="dimensions-normal" src="{{ entry.dimensionsImages.first.fullSizeImages.first.url }}">
            <img alt="{{ entry.dimensionsImages.first.fullSizeImages.first.url }}" class="dimensions-small" src="{{ entry.dimensionsImages.first.fullSizeImages.first.url }}"></div>
				</div>
			</div>
		</div>
	</div>
