{% if entry.banner.first.type == "banner" %}

{% set banner = entry.banner.first %}
<div class="jumbotron text-center jumbotron-padding img-background" style = "background-image: url({{ banner.background.first.url }})">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
      <h1 class="white {% if banner.description|length %} mb-15 {% endif %}">{{ banner.headerText }}</h1>
      <p class="white"> {{ banner.description }}</p>
    </div>
    </div>
  </div>
</div>
<div class="container ">

  {{ entry.form.render() }}

</div>
{% elseif entry.banner.first.type == "bannerWithCta" %}

<div class="" style="background-image: url(/uploads/banner-images/background.png); padding-top: 80px;padding-bottom: 280px;">
  <div class="container">
    <div class="row">
      <div class=" text-center col-md-8 col-md-offset-2">
        <h1 class="white">Contact</h1>

        <h3 class="contact-icons white text-uppercase mb-30">
        <a href="tel:512.371.6159" class="white"><img src="/assets/icons/phone.svg" alt="phone">512.371.6159</a><span></span>
        <a href="tel:abinfo@abracon.com" class="white"><img src="/assets/icons/email.svg" alt="email">abinfo@abracon.com</a>
      </h3>


        <a href="{{ entry.banner.first.ctaLink }}" class="btn white-outline">{{ entry.banner.first.ctaText }}</a>
      </div>
    </div>
  </div>
</div>

<div class="container contact-container" style = "margin-bottom: 50px;">

  {{ entry.form.render() }}

</div>
{% elseif entry.banner.first.type == "productBanner" %}

{% set banner = entry.banner.first %}
<div class="product-image-jumbotron" style="background-image: url(/assets/icons/grey-slantarooski.png)">
  <div class="container">
    <div class="row flex align-center wrap-md justify-center">
      <div class="col-md-7 right-overflow"><img alt="{{ banner.productBannerImage.first.title }}" src="{{ banner.productBannerImage.first.url }}" class = "img-responsive"></div>
      <div class="col-md-5">
        <h1 class="blue {% if entry.title | length  > 24 %} smol-title {% endif %}">   {% if entry.databaseUrl|length %}<a href="{{ entry.databaseUrl }}" class="blue">{{ entry.title }}</a>{% else %}{{ entry.title }}{% endif %}</h1>
        <p>{{ banner.description }}</p>
        {% if entry.databaseUrl|length %}<a class="blue-btn reverse-btn" href="{{ entry.databaseUrl }}" target = "_blank">Search Parametric</a>{% endif %}
      </div>
    </div>
  </div>
</div>
<div class="light-grey-background text-center lineup-title-text">
</div>


<div class="container">

  {{ entry.form.render() }}

</div>

{% else %}



{% endif %}










<div class="gradient-background pt-90 pb-90">
  <div class="container">
    <div class="row">
      {% for icon in entry.iconInfo %}
      <div class="col-md-5 col-sm-10 col-md-offset-1 col-sm-offset-2 text-left relative mb-40 pr-50">
        <img src="{{ icon.icon.first.url }}" alt="{{ icon.icon.first.title }}" class="mb-30 absolute about-icon">
        <h3 class="light-blue text-uppercase mb-10">{{ icon.headerText|nl2br|raw }}</h3>
        <p class="white">{{ icon.description}}</p>
      </div>
      {% endfor %}

    </div>
  </div>
</div>

<div class="pt-60 pb-50">
  <div class="medium-container">
    <div class="flex row align-center justify-center ">
      {% for num in entry.numberInfo %}
      <div class="col {% if not loop.last %}border-right{% endif %} text-center no-border-md pr-40 pl-40 pt-30 pb-30 mt-20 mb-20 pb-sm-0 pt-sm-0">
        <h2 class="h1 blue mb-10">{{ num.number }}</h2>
        <h3 class="light-blue text-uppercase">{{ num.description}}</h3>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<div class=" bottom-img-background " style="background-image: url(/assets/icons/circuit-fade.png)">

<div class="container">
  {{ entry.wysiwyg }}
</div>
</div>
