
{% include "landing-pages/_styles.html" %}


{% for block in entry.landingPageCreator %}

  {% if block.type == "banner" %}
  <div class="jumbotron" style = "background-image: url({{ block.backgroundImage.first.url }})">
  		<div class="container">

  		<h1 class="white mb-30">{{ block.header | nl2br }}</h1>
      <a href="" class="btn white banner-btn">Play Video</a>


  		<img alt="{{ block.foregroundImages.first.title }}" class="crystal-img" src="{{ block.foregroundImages.first.url }}"></div>
  		<div class="bottom-triangle"><img alt="" src="/iotoptimized_quartzcrystals/assets/bottom-triangle.svg"></div>
  	</div>

    {% elseif block.type == "bannerWithText"%}
    <div class="jumbotron" style = "background-image: url({{ block.backgroundImage.first.url }})">
      <img alt="{{ block.foregroundImage.first.title }}" class="clear-clock-img" src="{{ block.foregroundImage.first.url }}">
        <div class="container">

        <h1 class="white mb-30">{{ block.header | nl2br }}</h1>
        <h3 class = "light-blue mb-30">{{ block.subheader }}</h3>
        {% if block.text | length %}
            <p class= "white mb-10"> {{ block.text | striptags("<br><a><div>") }}</p>
        {% endif %}
        {% if block.videoLink | length %}
        <a href="" class="banner-btn white btn video-btn " data-link = "{{ block.videoLink }}"> <img alt="Videoset Icon Light" src="https://abracon.com/uploads/icons/videoset_icon_light.png" style = "margin-right:3px;"> {{ block.tagline }} </a>
        {% endif %}
        </div>


        <div class="bottom-triangle"><img alt="" src="/iotoptimized_quartzcrystals/assets/bottom-triangle.svg"></div>
      </div>

      {% if block.videoLink | length %}
      <div class="modal-backdrop">

	<div class="modal-container">
		<div class="videoWrapper">
		  <iframe width="560" height="315" src="{{ block.videoLink }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
		</div>
	</div>


</div>
  {% endif %}



  {% elseif block.type == "formAndText"%}


  <div class="first-section">
  	<div class="large-container">
  		<div class="row">


        <div class="col-6 mb-30">
          {% for row in block.text %}
          <h2 class="blue mb-20 text-uppercase">{{ row.header }}</h2>
          <h3 class ="blue mb-20 text-uppercase" >{{ row.subheader }}</h3>
          <p>{{ row.body | nl2br  }}</p>
          {% endfor %}
        </div>

  			<div class="col-6 form-holder">
  				<div class="form-overlay"></div>
  				<div class="text-center intro-text">
  					<h2 class="blue mb-10">Subscribe to Learn More</h2>
  					<p class="small">Fill out the form to join our Email List</p>
  				</div>
  				{{ block.form.render() }}
  			</div>


  		</div>
  	</div>
  </div>



    {% elseif block.type == "embeddedFormAndText"%}


    <div class="first-section">
    	<div class="large-container">
    		<div class="row">


          <div class="col-6 mb-30">
            {% for row in block.text %}
            <h2 class="blue mb-20 text-uppercase">{{ row.header }}</h2>
            <h3 class ="blue mb-20 text-uppercase" >{{ row.subheader }}</h3>
            <p>{{ row.body | nl2br  }}</p>
            {% endfor %}
          </div>

    			<div class="col-6 form-holder">
    				<div class="form-overlay"></div>

    				{{ block.embeddedCode | raw  }}
    			</div>


    		</div>
    	</div>
    </div>




  {% elseif block.type == "table"%}

  <div class="product-information">
  	<div class="text-center">
  		<p class="large">The best match for your energy saving MCU</p>
  	</div>
  	<div class="container">
  		<div class="row">
  			<h3 class="white blue-headline text-center">Product Information</h3>
  		</div>
  		<div class="row dark-grey-background">
  			<div class="">
  				<div class="col-4">
  					<img alt="" src="assets/download-icon.svg">
  					<h3 class="blue ">Download<br>
  					Datasheets</h3>
  				</div>
  				<div class="col-4">
  					<p><b>ABMxW Series</b></p>
  					<p><a href="assets/ABM8W.pdf" target="_blank">ABM8W</a> | <a href="assets/ABM10W.pdf" target="_blank">ABM10W</a> | <a href="assets/ABM11W.pdf" target="_blank">ABM11W</a> | <a href="assets/ABM12W.pdf" target="_blank">ABM12W</a></p>
  				</div>
  				<div class="col-4">
  					<p><b>ABSxW Series</b></p>
  					<p><a href="assets/ABS07W.pdf" target="_blank">ABS07W</a> | <a href="assets/ABS06W.pdf" target="_blank">ABS06W</a></p>
  				</div>
  			</div>
  		</div>
  		<div class="table">
  			<div class="row">
  				<div class="col-8">
  					<h3 class="blue mb-10">Applications</h3>
  				</div>
  				<div class="col-4">
  					<h3 class="blue mb-10 features-normal">Features</h3>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-8 border-right">
  					<div class="row">
  						<div class="col-6">
  							<span class="application-title">Consumer</span>
  							<ul>
  								<li>Portable audio/video</li>
  								<li>Set-top box</li>
  								<li>Mobile devices</li>
  								<li>IP Gateways</li>
  							</ul><span class="application-title">Industrial</span>
  							<ul>
  								<li>Process monitoring</li>
  								<li>Pressure sensors</li>
  								<li>Metering</li>
  								<li>Energy harvesting</li>
  								<li>Portable instrumentation</li>
  								<li>Solar power/inverters</li>
  							</ul><span class="application-title">RF</span>
  							<ul>
  								<li>WiFi</li>
  								<li>Bluetooth/Bluetooth Low</li>
  								<li>Energy (BLE)</li>
  								<li>Zigbee</li>
  							</ul><span class="application-title">Reference designs</span>
  							<ul>
  								<li>NXP IoT Edge-node Rapid Prototyping Tool</li>
  								<li>ST Micro STM32F4xx</li>
  								<li>Ambiq Micro</li>
  							</ul>
  						</div>
  						<div class="col-6">
  							<span class="application-title">IoT</span>
  							<ul>
  								<li>Agriculture monitoring</li>
  								<li>Medical monitoring</li>
  								<li>Industrial process control</li>
  								<li>Machine to machine (M2M)</li>
  								<li>Civil infrastructure monitoring</li>
  								<li>Real-time location systems (RTLS)</li>
  								<li>Robotics</li>
  								<li>Drones</li>
  								<li>Smart lighting</li>
  								<li>Smart city</li>
  								<li>Home automation</li>
  								<li>Home security</li>
  							</ul><span class="application-title">Wearables</span>
  							<ul>
  								<li>Fitness monitors</li>
  								<li>Virtual reality</li>
  								<li>Wearable displays</li>
  								<li>Health monitors</li>
  								<li>Smart watches</li>
  								<li>Illumination/LED</li>
  							</ul>
  						</div>
  					</div>
  				</div>
  				<div class="col-4">
  					<h3 class="blue features-mobile mb-10">Features</h3>
  					<p>Optimized for low power MCUs and RF chipsets</p>
  					<p>As low as 0.40mm max height for height constrained designs</p>
  					<p>As low as 3pF plating capacitance, lowest available on the market with guaranteed low ESR</p>
  					<p>Wide availability of options including -40°C to 125°C operation</p>
  				</div>
  			</div>
  			<div class="row dimension-title">
  				<div class="col-12 text-center">
  					<h3 class="blue mb-30 mt-50">Available Dimensions</h3>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-12 text-center"><img alt="" class="dimensions-normal" src="/iotoptimized_quartzcrystals/assets/oscilator-styles.jpg"> <img alt="" class="dimensions-small" src="/iotoptimized_quartzcrystals/assets/crystal_dimensions_stacked-02.png"></div>
  			</div>
  		</div>
  	</div>
  </div>



    {% elseif block.type == "responsiveTable"%}


    <div class="container mt-50 mb-50">



    <table style = "width: 100%;" class = "responsive-table">

    <thead>
      <tr>
      {% for col in block.table.columns %}
        <th align="{{ col.align }}" width="{{ col.width }}">{{ col.heading }}</th>
      {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for row in block.table.rows %}
      <tr>
      {% for cell in row %}
        <td align="{{ block.table.columns[loop.index0].align }}">{{ cell | raw }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>

    </table>
    </div>




    {% elseif block.type == "logos"%}

    <div class="container container mb-80">
      <div class="text-center">
        <h2 class="blue underline pb-10 mb-50">Order Now</h2>
      </div>
      <div class="row flex wrap justify-center">
        {% for logo in block.logo %}
        <div class="col flex align-center justify-center">
        <a href="{{ logo.linkUrl }}" >
          <img src="{{ logo.logo.first.url }}" alt="{{ logo.logo.first.title }}" class = "img-responsive logos mb-10">
        </a>
        </div>
        {% endfor %}
      </div>
    </div>


    {% elseif block.type == "styles"%}
    {{ block.styles | raw}}

  {% elseif block.type == "wysiwgy "%}
    {{ block.wysiwgy }}
  {% else %}

  <div class="footer-banner pt-50 pb-50" style = "background-image: url(/assets/imgs/footer-banner.jpg); background-size: cover;">
  <div class="container">
  <div class="row flex align-center">
    <div class="col-8">
        <a href="{{ block.linkUrl }}" target="_blank">
  <h3 class="white h2 text-uppercase">{{ block.text}}</h3>
</a>
  </div>
  <div class="col-4 text-right">
    <a href="{{ block.linkUrl }}" target="_blank" class="btn">Contact</a>
  </div>
  </div>
  </div>
</div>
  {% endif %}

{% endfor %}
