{% extends "_layouts/base" %}

{# Give the body a .mobile class for mobile devices #}
{% if craft.request.isMobileBrowser(true) %}
	{% set bodyClass = (bodyClass is defined and bodyClass ? bodyClass~' ' : '') ~ 'mobile' %}
{% endif %}

{% set localeData = craft.i18n.getLocaleData() %}

{# Figure out which Datepicker i18n script to load #}
{%- switch craft.locale %}
	{%- case 'en_gb' %}
		{%- set datepickerLocale = 'en-GB' %}
	{%- case 'fr_ca' %}
		{%- set datepickerLocale = 'fr-CA' %}
	{%- default %}
		{%- set language = localeData.getLanguageID(craft.locale) %}
		{%- if language in ['ar', 'cs', 'da', 'de', 'fr', 'he', 'hu', 'it', 'ja', 'ko', 'nb', 'nl', 'nn', 'no', 'pl', 'pt', 'ru', 'sk', 'sv', 'tr', 'zh'] %}
			{%- set datepickerLocale = language %}
		{%- endif %}
{%- endswitch %}

{# Load scripts in reverse order #}

{%- if datepickerLocale is defined %}
	{%- includejsresource 'lib/datepicker-i18n/datepicker-'~datepickerLocale~'.js' first %}
{%- endif %}


{# Figure out which D3 i18n script to load #}

{%- set d3Locales = {
	'ca_es': 'ca-ES',
	'de_ch': 'de-CH',
	'de': 'de-DE',
	'en_ca': 'en-CA',
	'en_gb': 'en-GB',
	'en': 'en-US',
	'es': 'es-ES',
	'fi': 'fi-FI',
	'fr_ca': 'fr-CA',
	'fr': 'fr-FR',
	'he': 'he-IL',
	'hu': 'hu-HU',
	'it': 'it-IT',
	'ja': 'ja-JP',
	'ko': 'ko-KR',
	'nl': 'nl-NL',
	'pl': 'pl-PL',
	'pt': 'pt-BR',
	'ru': 'ru-RU',
	'sv': 'sv-SE',
	'zh': 'zh-CN',
} %}

{%- if d3Locales[craft.locale] is defined %}
	{% set d3Locale = d3Locales[craft.locale] %}
{%- elseif d3Locales[language] is defined %}
	{% set d3Locale = d3Locales[language] %}
{%- else %}
	{% set d3Locale = 'en-US' %}
{%- endif %}


{%- includejsresource 'lib/d3-i18n/'~d3Locale~'.js' first %}

{%- set useCompressedJs = craft.config.useCompressedJs %}
{%- includejsresource "js/cp.js" first -%}
{%- includejsresource "js/craft.js" first -%}
{%- includejsresource 'lib/garnish'~(useCompressedJs ? '.min')~'.js' first %}
{%- includejsresource 'lib/element-resize-detector'~(useCompressedJs ? '.min')~'.js' first %}
{%- includejsresource 'lib/picturefill'~(useCompressedJs ? '.min')~'.js' first %}
{%- includejsresource 'lib/fileupload/jquery.fileupload.js' first %}
{%- includejsresource 'lib/jquery.mobile-events'~(useCompressedJs ? '.min')~'.js' first %}
{%- includejsresource 'lib/selectize/selectize'~(useCompressedJs ? '.min')~'.js' first %}
{%- includecssresource 'lib/selectize/selectize.css' %}
{%- includejsresource 'lib/velocity'~(useCompressedJs ? '.min')~'.js' first %}
{%- includejsresource 'lib/jquery-ui'~(useCompressedJs ? '.min')~'.js' first %}
{%- includejsresource 'lib/jquery-2.2.4'~(useCompressedJs ? '.min')~'.js' first %}
{%- includejsresource 'lib/xregexp-all.js' first %}

{%- includeJsResource 'lib/d3/d3'~(useCompressedJs ? '.min')~'.js' first %}

{%- includeTranslations "Show", "Hide" %}

{% set orientation = localeData.getOrientation() %}

{% block foot %}

	<noscript>
		<div class="message-container no-access">
			<div class="pane notice">
				<p>{{ "JavaScript must be enabled to access the Craft control panel."|t }}</p>
			</div>
		</div>
	</noscript>

	<script type="text/javascript">
		// Create the Craft object
		window.Craft = {
			siteUid:               "{{ craft.app.getSiteUid()|e('js') }}",
			baseUrl:               "{{ url()|e('js') }}",
			baseCpUrl:             "{{ cpUrl()|e('js') }}",
			baseSiteUrl:           "{{ siteUrl()|e('js') }}",
			actionUrl:             "{{ actionUrl()|e('js') }}",
			resourceUrl:           "{{ resourceUrl()|e('js') }}",
			scriptName:            "{{ craft.request.getScriptName()|e('js') }}",
			omitScriptNameInUrls:  {{ craft.config.omitScriptNameInUrls() ? 'true' : 'false' }},
			usePathInfo:           {{ craft.config.usePathInfo() ? 'true' : 'false' }},
			useCompressedJs:       {{ useCompressedJs ? 'true' : 'false' }},
			resourceTrigger:       "{{ craft.config.getResourceTrigger()|e('js') }}",
			actionTrigger:         "{{ craft.config.actionTrigger|e('js') }}",
			path:                  "{{ craft.request.getPath()|e('js') }}",
			locale:                "{{ craft.locale|e('js') }}",
			orientation:           "{{ orientation|e('js') }}",
			left:                  "{{ orientation == 'ltr' ? 'left' : 'right' }}",
			right:                 "{{ orientation == 'ltr' ? 'right' : 'left' }}",
			username:              {{ currentUser is defined and currentUser ? ('"'~currentUser.username|e('js')~'"')|raw : 'null' }},
			authTimeout:           {{ craft.request.getFirstSegment() not in ['updates', 'manualupdate'] ? craft.session.getAuthTimeout() : 0 }},
			Personal:              {{ CraftPersonal }},
			Client:                {{ CraftClient }},
			Pro:                   {{ CraftPro }},
			edition:               {{ CraftEdition }},
			isLocalized:           {{ craft.isLocalized() ? 'true' : 'false' }},
			translations:          {{ getTranslations()|raw }},
			maxUploadSize:         {{ craft.app.getMaxUploadSize() }},
			forceConfirmUnload:    {{ forceConfirmUnload is defined and forceConfirmUnload ? 'true' : 'false' }},
			defaultIndexCriteria:  { localeEnabled: null },
			{% if craft.config.enableCsrfProtection %}
				csrfTokenValue:        "{{ craft.request.getCsrfToken()|e('js') }}",
				csrfTokenName:         "{{ craft.config.csrfTokenName|e('js') }}",
			{% endif %}
			runTasksAutomatically: {{ craft.config.runTasksAutomatically ? 'true' : 'false' }},
			slugWordSeparator:     "{{ craft.config.slugWordSeparator|e('js') }}",
			limitAutoSlugsToAscii: {{ craft.config.limitAutoSlugsToAscii ? 'true' : 'false' }},
			fileKinds:             {{ craft.app.getFileKinds()|json_encode|raw }},
			datepickerOptions: {
				constrainInput: false,
				dateFormat: "{{ craft.i18n.getDatepickerJsFormat()|e('js') }}",
				prevText: '{{ "Prev"|t|e('js') }}',
				nextText: '{{ "Next"|t|e('js') }}',
				firstDay: {{ currentUser is defined and currentUser ? currentUser.weekStartDay : craft.config.defaultWeekStartDay }},
				dayNames: {{ localeData.getWeekDayNames('wide', true)|json_encode|raw }},
				dayNamesShort: {{ localeData.getWeekDayNames('abbreviated', true)|json_encode|raw }},
				dayNamesMin: {{ localeData.getWeekDayNames('narrow', true)|json_encode|raw }},
				monthNames: {{ localeData.getMonthNames('wide', true)|values|json_encode|raw }},
				monthNamesShort: {{ localeData.getMonthNames('abbreviated', true)|values|json_encode|raw }}
			},
			publishableSections: [
				{% if isInstalled and currentUser is defined and currentUser %}
					{% for section in craft.sections.getEditableSections() %}
						{% if section.type != 'single' and currentUser.can('createEntries:'~section.id) %}
							{id: {{ section.id }}, name: "{{ section.name|t|e('js') }}", handle: "{{ section.handle|e('js') }}", type: "{{ section.type }}"}{% if not loop.last %},{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			],
			editableCategoryGroups: [
				{% if isInstalled %}
					{% for group in craft.categoryGroups.getEditableGroups() %}
						{id: {{ group.id }}, name: "{{ group.name|t|e('js') }}", handle: "{{ group.handle|e('js') }}"}{% if not loop.last %},{% endif %}
					{% endfor %}
				{% endif %}
			]
		};

		// Picture element HTML5 shiv
		document.createElement('picture');
	</script>
{% endblock %}
