{% extends "_layouts/basecp" %}

{% includecssresource "css/cp.css" first %}
{% includeTranslations
	"(blank)",
	"1 update available",
	"Actions",
	"Apply this to the {number} remaining conflicts?",
	"An unknown error occurred.",
	"Any changes will be lost if you leave this page.",
	"Are you sure you want to delete “{name}”?",
	"Are you sure you want to transfer your license to this domain?",
	"Buy {name}",
	"Cancel",
	"Choose a user",
	"Choose which table columns should be visible for this source, and in which order.",
	"Close",
	"Close Live Preview",
	"Continue",
	"Couldn’t delete “{name}”.",
	"Couldn’t save new order.",
	"Create",
	"day",
	"days",
	"Delete folder",
	"Delete heading",
	"Delete it",
	"Delete user",
	"Delete users",
	"Delete",
	"Display as thumbnails",
	"Display in a table",
	"Done",
	"Enter the name of the folder",
	"Enter your password to continue.",
	"Enter your password to log back in.",
	"Failed task",
	"Failed",
	"Handle",
	"Heading",
	"Hide sidebar",
	"hour",
	"hours",
	"Incorrect password.",
	"Instructions",
	"Keep me logged in",
	"License transferred.",
	"Log out now",
	"Login",
	"minute",
	"minutes",
	"More",
	"Move",
	"Name",
	"New category",
	"New child",
	"New entry",
	"New heading",
	"New order saved.",
	"New position saved.",
	"New subfolder",
	"New {group} category",
	"New {section} entry",
	"Options",
	"Password",
	"Pay {price}",
	"Pending",
	"Really delete folder “{folder}”?",
	"Remove",
	"Rename folder",
	"Reorder",
	"Save",
	"Score",
	"Search in subfolders",
	"second",
	"seconds",
	"Select transform",
	"Select",
	"Settings",
	"Show sidebar",
	"Show/hide children",
	"Sort by {attribute}",
	"Source settings saved",
	"Structure",
	"Submit",
	"Table Columns",
	"This can be left blank if you just want an unlabeled separator.",
	"Transfer it to:",
	"Try again",
	"Upload failed for {filename}",
	"Upload files",
	"week",
	"weeks",
	"What do you want to do with their content?",
	"What do you want to do?",
	"Your session has ended.",
	"Your session will expire in {time}.",
	"{ctrl}C to copy.",
	"{num} updates available",
	"“{name}” deleted."
%}


{% includejs 'Craft.cp.setTaskInfo('~craft.tasks.getTaskInfo()|json_encode|raw~', false);' %}
{% if craft.tasks.isTaskRunning() %}
	{% includejs 'Craft.cp.trackTaskProgress(true);' %}
{% elseif craft.tasks.areTasksPending() %}
	{% includejs 'Craft.cp.runPendingTasks();' %}
{% endif %}


{% set forceConfirmUnload = craft.session.hasFlash('error') %}
{% set fullPageForm = (fullPageForm is defined and fullPageForm) %}

{% if fullPageForm and extraPageHeaderHtml is not defined %}
	{% set extraPageHeaderHtml %}
		{%- spaceless %}
			{% block saveButton %}
				<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
			{% endblock %}
		{% endspaceless -%}
	{% endset %}
{% endif %}

{% set containerAttributes %}
    {%- block containerAttributes -%}
		id="container" {% if fullPageForm -%}
			method="post" accept-charset="UTF-8" data-saveshortcut{% if saveShortcutRedirect is defined %} data-saveshortcut-redirect="{{ saveShortcutRedirect }}"{% endif %} data-confirm-unload
		{%- endif %}
    {%- endblock -%}
{% endset %}


{% block body %}
	<header id="global-sidebar">

		{% if currentUser.admin and craft.config.devMode %}
			<div id="devmode" title="{{ 'Craft CMS is running in Dev Mode.'|t }}"></div>
		{% endif %}

		<div class="topbar">

			<a class="site-name{% if CraftEdition >= CraftClient and craft.rebrand.isIconUploaded %} has-icon{% endif %}" href="{{ siteUrl }}" title="{{ 'Site Homepage'|t }}" target="_blank">

				{% if CraftEdition >= CraftClient %}
					{% if craft.rebrand.isIconUploaded %}
						<div id="site-icon" class="photo-container">
							<img src="{{ craft.rebrand.icon.url }}" alt="">
						</div>
					{% endif %}
				{% endif %}

				<h2>{{ siteName|t }}</h2>
			</a>

			{% if currentUser.can('performUpdates') %}
				{% if craft.app.isUpdateInfoCached() %}
					{% set totalUpdates = craft.app.getTotalAvailableUpdates() %}
					{% if totalUpdates %}
						{% if totalUpdates == 1 %}
							{% set updateText = "1 update available"|t %}
						{% else %}
							{% set updateText = "{num} updates available"|t({ num: totalUpdates }) %}
						{% endif %}
						<a class="updates{% if craft.app.isCriticalUpdateAvailable() %} critical{% endif %}" href="{{ url('updates') }}" title="{{ updateText }}">
							<span data-icon="newstamp">
								<span>{{ totalUpdates }}</span>
							</span>
						</a>
					{% endif %}
				{% else %}
					{% includejs 'Craft.cp.checkForUpdates();' %}
				{% endif %}
			{% endif %}
		</div>

		<nav>
			<ul id="nav">

				{% for handle, item in craft.cp.nav() %}

					{% set hasSubnav = (subnav is defined and subnav) %}

					<li id="nav-{{ handle }}"{% if item.sel and hasSubnav %} class="has-subnav"{% endif %}>
						<a{% if item.sel %} class="sel"{% endif %} href="{{ item.url }}">
							<span class="icon">
								{%- if item.icon is defined -%}
									<span data-icon="{{ item.icon }}"></span>
								{%- elseif item.iconSvg is defined and item.iconSvg -%}
									{{ item.iconSvg|raw }}
								{%- else -%}
									{% include "_includes/defaulticon.svg" with { label: item.label } %}
								{%- endif -%}
							</span>

							<span class="label">
								{{- item.label -}}
							</span>

							{%- if item.badge is defined and item.badge -%}
								<span class="badge">{{ item.badge }}</span>
							{%- endif -%}
						</a>

						{% if item.sel and hasSubnav  %}
				            <ul class="subnav">
				                {% for itemId, item in subnav %}
				                    {% set itemIsSelected = (
				                        (selectedSubnavItem is defined and selectedSubnavItem == itemId) or
				                        (selectedSubnavItem is not defined and loop.first)
				                    ) -%}

				                    <li>
				                    	<a href="{{ url(item.url) }}"{% if itemIsSelected %} class="sel"{% endif %}>{{ item.label }}</a>
				                    </li>

				                {% endfor %}
				            </ul>
						{% endif %}

					</li>
				{% endfor %}
			</ul>
		</nav>

		<div class="bottombar">
			<a id="account-info" class="menubtn" title="{{ 'My Account'|t }}" role="button" data-menu-anchor="#account-menu-anchor">
				<div id="user-photo" class="photo-container">
					<img width="32" sizes="32px" srcset="{{ currentUser.getThumbUrl(32) }} 32w, {{ currentUser.getThumbUrl(64) }} 64w" alt="{{ currentUser.getName() }}">
				</div>
				<div class="username">
					{{ currentUser.name }}
					{% if currentUser.admin %}<div class="light">{{ 'admin'|t }}</div>{% endif %}
				</div>
				<div id="account-menu-anchor"></div>
			</a>
			<div class="menu" data-align="left">
				<ul>
					<li><a href="{{ url('myaccount') }}">{{ "My Account"|t }}</a></li>
					{% if CraftEdition == CraftClient and currentUser.admin %}
						<li><a href="{{ url('clientaccount') }}">{{ "Client’s Account"|t }}</a></li>
					{% endif %}
					<li><a href="{{ logoutUrl }}">{{ "Sign out"|t }}</a></li>
				</ul>
			</div>
		</div>

	</header>

	{% if fullPageForm %}
		<form {{ containerAttributes }}>
			{{ getCsrfInput() }}
	{% else %}
		<div {{ containerAttributes }}>
	{% endif %}

		<div id="notifications-wrapper">
			<div id="notifications">
				{% for type in ['notice', 'error'] %}
					{% set message = craft.session.getFlash(type) %}
					{% if message %}
						<div class="notification {{ type }}">{{ message }}</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>

		{% if craft.cp.areAlertsCached() %}
			{% set alerts = craft.cp.getAlerts() %}
			{% if alerts %}
				<ul id="alerts">
					{% for alert in craft.cp.getAlerts() %}
						<li>{{ alert|raw }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% else %}
			{% includejs 'Craft.cp.fetchAlerts();' %}
		{% endif %}

		<div class="topbar">
			{%- spaceless %}
				{% if crumbs is defined and crumbs %}
					<nav id="crumbs">
						<ul>
							{% for crumb in crumbs %}
								<li><a href="{{ crumb.url }}">{{ crumb.label }}</a></li>
							{% endfor %}
						</ul>
					</nav>
				{% endif %}
			{% endspaceless -%}
		</div>


		<header id="page-header">
			{% block pageHeader %}

				<div id="page-title">
					{% block pageTitle %}
						{% if title is defined and title %}
							<h1>{{ title }}</h1>
						{% endif %}
					{% endblock %}
				</div>

				{% if extraPageHeaderHtml is defined %}
					<div id="extra-headers">
						{{ extraPageHeaderHtml|raw }}
					</div>
				{% endif %}

			{% endblock %}
		</header>

		{# Is the template defining its own layout? #}
		{% set main = block('main')|trim %}
		{% set hasCustomLayout = (main is not empty) %}

		<main id="main" role="main"{% if not hasCustomLayout %} class="single-pane"{% endif %}>
			<div class="padded">
				{% if hasCustomLayout %}
					{{ main|raw }}
				{% else %}
					{% set sidebar = sidebar is defined ? sidebar : block('sidebar')|trim %}
					{% set hasSidebar = (sidebar is not empty) %}

					<div class="pane">
						{% if tabs is defined and tabs %}
							{% include "_includes/tabs" %}
						{% endif %}

						<div id="content" class="content{% if hasSidebar %} has-sidebar{% endif %}">
							{% if hasSidebar %}
								<div id="sidebar" class="sidebar">
									{{ sidebar|raw }}
								</div>
							{% endif %}

							<div class="body">
								{% block content %}
									{{ content is defined ? content }}
								{% endblock %}
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</main>

		{% if docsUrl is defined and docsUrl is not empty %}
			<div id="help-footer">
				<a id="help" class="help" title="{{ 'Help'|t }}" href="{{ docsUrl }}" target="_blank"></a>
			</div>
		{% endif %}

		<div id="footer">

			{%- spaceless %}
				{% set canUpgradeEdition = craft.app.canUpgradeEdition() %}
				{% set licensedEdition = craft.app.getLicensedEdition() %}
				{% set isTrial = licensedEdition is not sameas(null) and licensedEdition is not sameas(CraftEdition) %}

				<div id="edition" {% if canUpgradeEdition %}class="hot" title="{{ 'Manage your Craft CMS edition'|t }}"{% else %}class="edition"{% endif %}>
					<div id="edition-logo">
						<div class="edition-name">{{ craft.app.getEditionName() }}</div>
						{% if isTrial %}
							<div class="edition-trial">{{ "Trial"|t }}</div>
						{% endif %}
					</div>
					{% if canUpgradeEdition %}
						<div class="icon settings"></div>
					{% endif %}
				</div>
			{% endspaceless -%}

			<ul>
				<li>Craft CMS {{ craft.app.getVersion() }}</li>
				<li>© Pixel &amp; Tonic</li>
				{% if currentUser.can('performUpdates') %}
					<li><a id="footer-updates" href="{{ url('updates') }}">{{ craft.app.isUpdateInfoCached() and totalUpdates is defined and totalUpdates ? updateText : "Check for updates"|t }}</a></li>
				{% endif %}
				{% if currentUser.admin %}
					<li><a href="{{ url('utils/serverinfo') }}">{{ "Server Info"|t }}</a></li>
				{% endif %}
			</ul>
		</div>

	{% if fullPageForm %}
		</form>
	{% else %}
		</div>
	{% endif %}
{% endblock %}
