{% extends "_layouts/cp" %}

{% set elementTypeClass = elementType %}
{% set elementType = craft.elements.getElementType(elementTypeClass) %}
{% set context = 'index' %}

{% if not elementType %}
	{% exit 404 %}
{% endif %}

{% set sources = craft.elementIndexes.getSources(elementTypeClass, 'index') %}
{% set customizableSources = (sources is not empty and context == 'index' and currentUser.admin) %}

{% block sidebar %}
	{% if sources is not empty %}
		<nav>
			{% include "_elements/sources" %}
		</nav>

		{% if customizableSources %}
			<div class="heading"><span></span></div>
			<a class="customize-sources settings icon" title="{{ 'Customize sources'|t }}"></a>
		{% endif %}
	{% endif %}
{% endblock %}


{% block content %}
	<div class="elementindex">
		{% include "_elements/indexcontainer" %}
	</div>
{% endblock %}


{% block initJs %}
	Craft.elementIndex = Craft.createElementIndex('{{ elementTypeClass }}', $('#main'), {
		context:        '{{ context }}',
		storageKey:     'elementindex.{{ elementTypeClass }}',
		criteria:       Craft.defaultIndexCriteria
	});
{% endblock %}

{% includejs block('initJs') %}
