{% extends "_layouts/base" %}
{% set bodyClass = 'message' %}

{% block body %}
	<div class="message-container">
		<div id="message" class="pane">
			{% block message %}{% endblock %}
		</div>
	</div>
{% endblock %}

{% block foot %}
	<script type="text/javascript">
		var message = document.getElementById('message'),
			margin = -Math.round(message.offsetHeight / 2);
		message.setAttribute('style', 'margin-top: '+margin+'px !important;');
	</script>
{% endblock %}
