{% extends "_layouts/cp" %}

{% set docsUrl = 'http://craftcms.com/docs/sections-and-entries#sections' %}

{% import "_includes/forms" as forms %}
{% set fullPageForm = true %}

{% macro urlFormatText(sectionType, locale, section, name, value) %}
	{% from "_includes/forms" import text, errorList %}
	{% set errors = section.getErrors(name~'-'~locale.id) %}

	<div class="input{% if errors %} errors{% endif %}">
		{{ text({
			id: sectionType~'-'~name~'-'~locale.id,
			class: 'code ltr',
			name: 'types['~sectionType~']['~name~']['~locale.id~']',
			value: (value != '__home__' ? value : null),
			errors: errors
		}) }}
	</div>

	{{ errorList(errors) }}
{% endmacro %}

{% macro urlFormatInput(sectionType, brandNewSection, section) %}
	{% if craft.isLocalized() or sectionType == 'structure' %}
		<table class="data fullwidth">
			{% if sectionType == 'structure' %}
				<thead>
					{% if craft.isLocalized() %}
						<th></th>
					{% endif %}
					<th scope="col">{{ "Top-Level Entries"|t }}</th>
					<th scope="col">{{ "Nested Entries"|t }}</th>
				</thead>
			{% endif %}
			<tbody>
				{% for locale in craft.i18n.getSiteLocales() %}
					<tr class="for-locale-{{ locale.id }}{% if craft.isLocalized() and not brandNewSection and section.locales[locale.id] is not defined %} hidden{% endif %}">
						{% if craft.isLocalized() %}
							<th class="thin nowrap">{{ locale.id }}</th>
						{% endif %}
						<td class="topalign">
							{% set value = ((section.type == sectionType or sectionType != 'single') and section.locales[locale.id] is defined ? section.locales[locale.id].urlFormat : null) %}
							{{ _self.urlFormatText(sectionType, locale, section, 'urlFormat', value) }}
						</td>
						{% if sectionType == 'structure' %}
							<td class="topalign">
								{% set value = ((section.type == 'structure') and section.locales[locale.id] is defined ? section.locales[locale.id].nestedUrlFormat : '{parent.uri}/{slug}') %}
								{{ _self.urlFormatText(sectionType, locale, section, 'nestedUrlFormat', value) }}
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		{% set locale = craft.i18n.getPrimarySiteLocale() %}
		{% set value = ((section.type == sectionType or sectionType != 'single') and section.locales[locale.id] is defined ? section.locales[locale.id].urlFormat : null) %}
		{{ _self.urlFormatText(sectionType, locale, section, 'urlFormat', value) }}
	{% endif %}
{% endmacro %}

{% macro hasUrlsField(sectionType, section) %}
	{% from "_includes/forms" import checkboxField %}

	{{ checkboxField({
		label: "Entries in this section have their own URLs"|t,
		id: sectionType~'-hasUrls',
		name: 'types['~sectionType~'][hasUrls]',
		checked: section.hasUrls,
		toggle: sectionType~'-url-settings'
	}) }}
{% endmacro %}

{% macro templateField(sectionType, section) %}
	{% from "_includes/forms" import textField %}

	{{ textField({
		label: "Entry Template"|t,
		instructions: (sectionType == 'single' ? "The template to use when the entry’s URL is requested."|t : "The template to use when an entry’s URL is requested."|t),
		id: sectionType~'-template',
		class: 'ltr',
		name: 'types['~sectionType~'][template]',
		value: section.template,
		errors: section.getErrors('template')
	}) }}
{% endmacro %}

{% from _self import urlFormatInput, hasUrlsField, templateField %}

{% block content %}
	<input type="hidden" name="action" value="sections/saveSection">
	<input type="hidden" name="redirect" value="settings/sections">

	{% if section.id %}<input type="hidden" name="sectionId" value="{{ section.id }}">{% endif %}

	{{ forms.textField({
		first: true,
		label: "Name"|t,
		instructions: "What this section will be called in the CP."|t,
		id: 'name',
		name: 'name',
		value: section.name,
		errors: section.getErrors('name'),
		autofocus: true,
		required: true,
		translatable: true
	}) }}

	{{ forms.textField({
		label: "Handle"|t,
		instructions: "How you’ll refer to this section in the templates."|t,
		id: 'handle',
		class: 'code',
		name: 'handle',
		value: section.handle,
		errors: section.getErrors('handle'),
		required: true
	}) }}

	{% if craft.isLocalized() %}
		{% set localesInput %}
			<table class="data" style="width: auto;">
				<thead>
					<tr>
						<td></td>
						<th scope="col">{{ "Locale"|t }}</th>
						<th scope="col">{{ "Default Entry Status"|t }}</th>
					</tr>
				</thead>
				<tbody>
					{% for locale in craft.i18n.getSiteLocales() %}
						{% set localeSelected = (brandNewSection or section.locales[locale.id] is defined) %}
						<tr>
							<td>
								{{ forms.checkbox({
									id: 'locale-'~locale.id,
									name: 'locales[]',
									value: locale.id,
									checked: localeSelected,
									toggle: '.for-locale-'~locale.id
								}) }}
							</td>
							<td><label for="locale-{{ locale.id }}">{{ locale.name }} ({{ locale.id }})</label></td>
							<td class="centeralign">
								<div class="for-locale-{{ locale.id }}{% if not localeSelected %} hidden{% endif %}">
									{{ forms.lightswitch({
										name: 'defaultLocaleStatuses['~locale.id~']',
										on:   (brandNewSection or not section.locales[locale.id] is defined or section.locales[locale.id].enabledByDefault),
										small: true
									}) }}
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endset %}

		{{ forms.field({
			label: "Which locales should entries in this section target?"|t,
			errors: section.getErrors('localeErrors'),
		}, localesInput) }}
	{% endif %}

	{{ forms.selectField({
		label: "Section Type"|t,
		instructions: "What type of section is this?"|t ~ (section.id ? '<br><span class="error">'~"Careful—changing this may result in data loss."|t~'</span>' : ''),
		id: 'type',
		name: 'type',
		options: typeOptions,
		value: section.type,
		toggle: true,
		targetPrefix: '.type-',
		errors: section.getErrors('type')
	}) }}

	<hr>

	<div class="type-single {% if section.type != 'single' %}hidden{% endif %}">
		{% if canBeHomepage %}
			{{ forms.checkboxField({
				label: "This is for the homepage"|t,
				id: 'single-homepage',
				name: 'types[single][homepage]',
				checked: section.isHomepage(),
				reverseToggle: 'single-uri-container'
			}) }}
		{% endif %}

		<div id="single-uri-container"{% if section.isHomepage() %} class="hidden"{% endif %}>
			{{ forms.field({
				label: "URI"|t,
				instructions: "What the entry URI should be."|t,
				required: true,
				errors: section.getErrors('urlFormat')
			}, urlFormatInput('single', brandNewSection, section)) }}
		</div>

		{{ templateField('single', section) }}
	</div>

	{% set urlFormatParams = {
		label: "Entry URL Format"|t,
		instructions: "What the entry URLs should look like. You can include tags that output entry properties, such as {ex1} or {ex2}."|t({ ex1: '<code>{slug}</code>', ex2: '<code>{postDate|date("Y")}</code>' }),
		required: true,
		errors: section.getErrors('urlFormat')
	} %}

	<div class="type-channel {% if section.type != 'channel' %}hidden{% endif %}">
		{{ hasUrlsField('channel', section) }}

		<div id="channel-url-settings" class="nested-fields{% if not section.hasUrls %} hidden{% endif %}">
			{{ forms.field(urlFormatParams, urlFormatInput('channel', brandNewSection, section)) }}

			{{ templateField('channel', section) }}
		</div>
	</div>

	<div class="type-structure {% if section.type != 'structure' %}hidden{% endif %}">
		{{ hasUrlsField('structure', section) }}

		<div id="structure-url-settings" class="nested-fields{% if not section.hasUrls %} hidden{% endif %}">
			{{ forms.field(urlFormatParams, urlFormatInput('structure', brandNewSection, section)) }}

			{{ templateField('structure', section) }}
		</div>

		{{ forms.textField({
			label: "Max Levels"|t,
			instructions: "The maximum number of levels this section can have. Leave blank if you don’t care."|t,
			id: 'structure-maxLevels',
			name: 'types[structure][maxLevels]',
			value: section.maxLevels,
			size: 5,
			errors: section.getErrors('maxLevels')
		}) }}
	</div>

	<hr>

	{% if not craft.isLocalized() %}
		<div class="type-channel type-structure {% if section.type == 'single' %}hidden{% endif %}">
			{% set locale = craft.i18n.getPrimarySiteLocale() %}
			{% set value = (section.type != 'single' and section.locales[locale.id] is defined ? section.locales[locale.id].enabledByDefault : true) %}

			{{ forms.lightswitchField({
				label: "Default Entry Status"|t,
				id: 'defaultEntryStatus',
				name: 'defaultLocaleStatuses['~locale.id~']',
				on: value
			}) }}
		</div>
	{% endif %}

	{{ forms.checkboxField({
		label: "Enable versioning for entries in this section?"|t,
		id: 'enableVersioning',
		name: 'enableVersioning',
		checked: section.enableVersioning
	}) }}
{% endblock %}


{% includejs %}
	{% if not section.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}

	{% for locale in craft.i18n.getSiteLocales() %}
		{% if section.locales[locale.id] is not defined or not section.locales[locale.id].urlFormat %}
			new Craft.EntryUrlFormatGenerator('#name', '#single-urlFormat-{{ locale.id }}');
			new Craft.EntryUrlFormatGenerator('#name', '#channel-urlFormat-{{ locale.id }}',   { suffix: '/{slug}' });
			new Craft.EntryUrlFormatGenerator('#name', '#structure-urlFormat-{{ locale.id }}', { suffix: '/{slug}' });
		{% endif %}
	{% endfor %}

	{% if brandNewSection %}
		new Craft.EntryUrlFormatGenerator('#name', '#single-template');
		new Craft.EntryUrlFormatGenerator('#name', '#channel-template',   { suffix: '/_entry' });
		new Craft.EntryUrlFormatGenerator('#name', '#structure-template', { suffix: '/_entry' });
	{% endif %}
{% endincludejs %}
