{% extends "_layouts/cp" %}
{% set title = "Sections"|t %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}

{% set docsUrl = 'http://craftcms.com/docs/sections-and-entries#sections' %}


{% set extraPageHeaderHtml %}
	<div id="newsectioncontainer" class="buttons right">
		<a href="{{ url('settings/sections/new') }}" class="btn submit add icon">{{ "New section"|t }}</a>
	</div>
{% endset %}


{% block content %}
	<div id="nosections"{% if sections %} class="hidden"{% endif %}>
		<p>{{ "No sections exist yet."|t }}</p>
	</div>

	{% if sections|length %}
		<table id="sections" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Handle"|t }}</th>
				<th scope="col">{{ "Type"|t }}</th>
				<th scope="col">{{ "URL Format"|t }}</th>
				<th scope="col">{{ "Entry Types"|t}}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for section in sections %}
					<tr data-id="{{ section.id }}" data-name="{{ section.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('settings/sections/' ~ section.id) }}">{{ section.name|t }}</a></th>
						<td data-title="{{ 'Handle'|t }}"><code>{{ section.handle }}</code></td>
						<td data-title="{{ 'Type'|t }}">{{ section.type|title|t }}</td>
						<td data-title="{{ 'URL Format'|t }}" dir="ltr">
							{%- if section.isHomepage() -%}
								<div data-icon="home" title="{{ 'Homepage'|t }}"></div>
							{%- else -%}
								{{ section.getUrlFormat() }}
							{%- endif -%}
						</td>
						<td data-title="{{ 'Entry Types'|t }}">
							{% if section.type == 'single' and section.getEntryTypes()|length == 1 %}
								{% set entryType = section.getEntryTypes()[0] %}
								<a href="{{ entryType.getCpEditUrl() }}">{{ "Edit entry type"|t }}</a>
							{% else %}
								<a href="{{ url('settings/sections/' ~ section.id ~ '/entrytypes') }}">{{ "Edit entry types ({count})"|t({ count: section.getEntryTypes()|length }) }}</a>
								<a class="menubtn" title="{{ 'Entry Types'|t }}"></a>
								<div class="menu">
									<ul>
										{% for entryType in section.getEntryTypes() %}
											<li><a href="{{ entryType.getCpEditUrl() }}">{{ entryType.name|t }}</a></li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}


{% includejs %}
	var adminTable = new Craft.AdminTable({
		tableSelector: '#sections',
		noObjectsSelector: '#nosections',
		newObjectBtnSelector: '#newsectioncontainer',
		deleteAction: 'sections/deleteSection',
		confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its entries?"|t }}',
		onDeleteObject: function()
		{
			// Hide the Entries tab if that was the last one
			if (adminTable.totalObjects == 0)
			{
				$('#nav-entries').remove();
			}
		}
	});
{% endincludejs %}
