<div class="crop-image">
    <div class="image-chooser" style="width: {{ width }}px; height: {{ height }}px;">
        <img src="{{ imageUrl }}" width="{{ width }}" height="{{ height }}" />
    </div>
</div>
<div class="footer">
    <div class="right buttons">
        <div class="btn cancel">{{ "Cancel"|t }}</div>
        <div class="btn submit">{{ "Save"|t }}</div>
    </div>
</div>
