* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.white {
  color: white; }

body {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #142143;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%; }

.container {
  max-width: 1000px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto; }

.text-center {
  text-align: center; }

ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0; }

li {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 200; }

h1 {
  font-size: 60px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 64px;
  margin: 0;
  font-weight: 600; }

h2 {
  font-size: 30px;
  color: #243C77;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0;
  font-weight: 500; }

h3, .footer-banner a {
  font-size: 18px;
  color: #142143;
  letter-spacing: 2px;
  line-height: 39px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 13px;
  font-weight: 600; }

h4 {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.08px;
  line-height: 39px;
  margin: 0; }

p.large {
  font-size: 35px;
  color: #142143;
  letter-spacing: 0;
  line-height: 35px;
  font-weight: 400; }

p.small {
  font-size: 15px;
  color: #142143;
  letter-spacing: 0;
  line-height: 20px; }

p {
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100; }

.application-title {
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 16px; }

.jumbotron {
  padding-top: 60px;
  padding-bottom: 220px;
  border-top: solid 27px #243C77;
  background-image: url(../header.jpg);
  background-position: left calc(100% + 1px);
  background-size: cover;
  position: relative; }
  .jumbotron .container {
    position: relative;
    z-index: 1; }

.bottom-triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  overflow: hidden; }
  .bottom-triangle img {
    width: calc(100% + 4px);
    max-width: none;
    position: relative;
    bottom: -7px; }

.logo {
  margin-bottom: 30px; }

.img-background {
  max-width: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  .img-background h1 {
    margin-bottom: 0; }

.col-12 {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px; }

.col-6 {
  width: 50%;
  float: left;
  padding-left: 25px;
  padding-right: 25px; }

.col-8 {
  width: 66.66666%;
  float: left;
  padding-left: 25px;
  padding-right: 25px; }

.col-4 {
  width: 33.33333%;
  float: left;
  padding-left: 25px;
  padding-right: 25px; }

.col-5 {
  width: 41.6666666%;
  float: left;
  padding-left: 25px;
  padding-right: 25px; }

.col-7 {
  width: 58.333333%;
  float: left;
  padding-left: 25px;
  padding-right: 25px; }

.offset-1 {
  margin-left: 8.33333333%; }

.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .row, *:first-child + html .row {
  zoom: 1; }
.main-nav .row{
  margin-left: 0;
  margin-right: 0;
}
.row {
  margin-left: -25px;
  margin-right: -25px; }

.crystal-img {
  float: right;
  margin-left: -20px;
  margin-top: -70px; }

.product-information {
  background-color: #EDEDED;
  padding-top: 80px;
  padding-bottom: 80px; }
  .product-information p.large {
    margin-bottom: 35px; }
  .product-information .container {
    background-color: white; }

.product-information .col-6{
  padding-left: 0;
}
.blue-headline {
  background-color: #243C77;
  color: white;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
margin-bottom: 0;}
.dark-grey-background{

  padding: 35px 50px 25px;
  white-space: nowrap;
}
.dark-grey-background a{
  text-decoration: none;
  color: inherit;
}
.dark-grey-background h3{
  display: inline-block;
  line-height: 20px;
  margin-left: 12px;
  position: relative;
}
.dark-grey-background h3:after{
  content: "";
      position: absolute;
      right: -38px;
      top: -15px;
      height: 61px;
      width: 1px;
      background-color: #979797;
}
.dark-grey-background img{
  width: 40px;
}
.dark-grey-background .col-4:last-child{
  padding-left: 71px;
}
.dark-grey-background div p:first-child{
  margin-top: 0
}
.white{
  color: white;
}
.footer-banner{
  background-size: cover;
  background-image: url(../footer-banner.jpg);
  background-color:blue;
  padding-top: 75px;
  padding-bottom: 75px;
}
.footer-banner a{text-decoration: none;}
.footer-banner a.btn{
min-width: 300px;
border: solid 3px white;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 2px;
line-height: 39px;
text-decoration: none;
display: inline-block;
text-align: center;
padding: 10px 0px;
margin-top: 20px;
transition: all .2s ease;
}
.footer-banner a.btn:hover{
  background-color: rgba(255,255,255, .4)
}
.text-right{
  text-align: right;
}
.footer-banner p.large{
  color: white;
}
.underline {
  position: relative;
  margin-top: 70px; }
  .underline:after {
    content: "";
    height: 2px;
    width: 36px;
    background-color: #243C77;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 28px); }

.first-section {
  margin-top: 40px;
  padding-bottom: 70px;
  position: relative;
padding-left: 15px; padding-right: 15px; }

.learn-btn {
  position: relative;
  /* padding: 10px; */
  cursor: pointer;
  display: block;
  text-align: center;
  bottom: -46px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro-text {
  margin-bottom: 30px; }

form .row {
  margin-bottom: 10px; }
  form .row .col-6:first-child {
    padding-left: 0;
    padding-right: 10px; }
  form .row .col-6:last-child {
    padding-right: 0px;
    padding-left: 10px; }

form .col-12 {
  padding-left: 0;
  padding-right: 0; }

.img-links {
  margin-top: 0px; }
  .img-links a:first-child img {
   }
  .img-links a:last-child {
    position: relative;
  }
  .img-links img {
    margin: 10px;}

input {
  width: 100%;
  border: solid 2px #979797;
  letter-spacing: 1.08px;
  line-height: 39px;
  padding: 2px 10px;
  color: #9B9B9B; }
  input:focus {
    outline: none;
    border: solid 2px #243C77; }
  input.submit {
    border: none;
    color: white;
    background-color: #243C77;
    font-size: 14px;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer; }

.table {
  padding: 35px 50px 50px; }
  .table .col-8 {
    padding-right: 25px; }
  .table .col-4 {
    padding-left: 70px; }
  .table .border-right {
    border-right: solid 1px #979797; }
  .table p {
    margin-bottom: 10px; }

.footer {
  background-color: #243C77;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }
  .footer p {
    color: #172644; }
  .footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }

.dimension-title {
  margin-top: 40px;
  margin-bottom: 30px; }

.features-mobile {
  display: none; }

.download-holder {
  display: none; }
  .download-holder div {
    background-color: #E6E6E6;
    padding: 50px 0 60px;
    margin-top: 20px; }
  .download-holder img {
    padding: 20px 20px 0; }
  .download-holder a {
    text-decoration: none; }
  .download-holder h4 {
    text-decoration: none;
    color: #243C77; }

.dimensions-small {
  display: none; }

.form-holder {
  position: relative; }

.form-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.6); }

input, textarea, select, button {
  font-family: inherit; }

@media (max-width: 940px) {
  .dark-grey-background{
    text-align: center;
  }
  .dark-grey-background h3:after{
    content: none;
  }
  .dark-grey-background .col-4:last-child{
    padding-left: 25px;
  }
    .dark-grey-background .col-4{
      margin-bottom: 15px;
      margin-top: 15px;
    }
    .footer-banner{
      text-align: center;
    }
    .footer-banner .text-right{
      text-align: center;
    }
  .logo {
    margin-bottom: 30px; }
  .jumbotron {
    text-align: center;
    padding-bottom: 90px;
    padding-top: 60px; padding-bottom: 200px;}
    .jumbotron h1 {
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 30px;  }
  .crystal-img {
    float: none;
    margin: 0;
    width: 300px;
display: none;}
  .bottom-triangle, .dimensions-normal {
    display: none; }
  .dimensions-small {
    display: block; }
  .col-6, .col-8, .col-4 {
    width: 100%;
    float: none; }
  .form-holder, .download-holder {
    position: relative;
    z-index: 3;
    background-color: white;
    margin-top: -110px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 30px 80px 0; }
  .first-section {
    padding-bottom: 60px; }
  form .row .col-6:first-child, form .row .col-6:last-child {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px; }
  .product-information {
    padding-top: 60px; }
    .product-information p.large {
      padding-left: 25px;
      padding-right: 25px; }
  .table {
    padding: 40px 10px; }
    .table .border-right {
      border-right: none;
      border-bottom: solid 1px #979797;
      margin-bottom: 20px;
      padding-bottom: 20px; }
    .table .col-6 {
      width: 50%;
      float: left; }
    .table .col-4 {
      padding-left: 25px; }
  .features-mobile {
    display: block; }
  .features-normal {
    display: none; } }


@media max-width(991px) {
  .img-background{
    padding-top: 60px;
padding-bottom: 66px;
  }
}


@media (max-width: 600px) {
  .form-holder, .download-holder {
    margin-top: -200px;
    padding: 30px 80px 0; }
  .jumbotron .container {
    z-index: 5; } }
.video-btn{
    margin-top: 20px;
    display: inline-block;}
.modal-backdrop{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	display: none;
	transition: all .2s;
	z-index: 99;
}

.modal-backdrop.show-me{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.6);
}

.modal-container{
	width: 100%;
	max-width: 700px;

}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media (max-width: 900px;) {
	.modal-container{
		max-width: 100%;
	}
}
