{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set title = 'Product: ' ~ ( ( product.id ) ? product.title : ':  New Product' ) %}

{% set crumbs = [
    { label: "Products", url: url('products') },
    { label: "Settings", url: url('products/settings') },
] %}

{% block saveButton %}
    <div class="buttons">
        <div class="btngroup submit first">
            <input type="submit" class="btn submit" value="{{ 'Save Product' | t }}">
        </div>
    </div>
{% endblock %}

{% block main %}
    <input type="hidden" name="action" value="products/save">
    <input type="hidden" name="redirect" value="products">
    {% if product.id %}<input type="hidden" name="product_id" value="{{ product.id }}">{% endif %}
    {{ getCsrfInput() }}

    <div class="grid first" data-max-cols="3">
        <div class="item" data-position="left">
            <div class="pane">
                <div>
                    {{ forms.textField({
                        label: "Title"|t,
                        id: 'title',
                        name: 'title',
                        value: product.title,
                        errors: product.getErrors('title'),
                        first: true,
                        autofocus: true,
                        required: true
                    }) }}

                    {{ forms.textField({
                        label: "Datasheet"|t,
                        id: 'datasheet',
                        name: 'datasheet',
                        value: product.datasheet,
                        errors: product.getErrors('datasheet')
                    }) }}

                    {{ forms.textareaField({
                        label: "Product Description" | t,
                        id: 'product_desc',
                        name: 'product_desc',
                        class: 'myFieldsRedactorClass',
                        value: product.body,
                        errors: product.getErrors('product_desc'),
                        rows: 18
                    }) }}
                </div>
            </div>
        </div>

        <div class="item" data-position="right">
            <div class="pane meta">
                {% set statusInput %}
                    <div class="left">
                        {{ forms.lightswitch({
                            id: 'enabled',
                            name: 'enabled',
                            on: product.enabled
                        }) }}
                    </div>
                    {% if product.id %}
                        <div class="right">
                            <input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}" data-action="ACNewsletters/email/delete" data-confirm="{{ 'Are you sure you want to delete this email?'|t }}" data-redirect="acnewsletters/emails">
                        </div>
                    {% endif %}
                {% endset %}
                {{ forms.field({
                    label: "Status"|t,
                    id: 'enabled'
                }, statusInput) }}
            </div>

            {% if product.id %}
                <div class="pane lightpane meta">
                    <div class="data">
                        <h5 class="heading">{{ "Date Created"|t }}</h5>
                        <div class="value">{{ product.dateCreated.localeDate() }} {{ product.dateCreated.localeTime() }}</div>
                    </div>
                    <div class="data">
                        <h5 class="heading">{{ "Date Updated"|t }}</h5>
                        <div class="value">{{ product.dateUpdated.localeDate() }} {{ product.dateUpdated.localeTime() }}</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
