{% extends '_layouts/elementindex' %}
{% import "_includes/forms" as forms %}
{% set elementType = 'Products' %}

{% set fullPageForm = true %}
{% set title = 'Products' %}

{% set tabs = {
    products: { label: "Products"|t, url: url('products') },
    settings: { label: "Settings"|t, url: url('products/settings') },
} %}
{% set selectedTab = 'products' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ url('products/new') }}" class="btn submit add icon">{{ "Add New Product"|t }}</a>
    </div>
{% endset %}

{% block sidebar %}
    {% if sources is not empty %}
        <nav>
            {% include "_elements/sources" %}
        </nav>
    {% endif %}
{% endblock %}
