{% extends "_layouts/cp" %}

{% set title = "Import"|t %}

{% set tabs = {
    products: { label: "Products"|t, url: url('products') },
    settings: { label: "Settings"|t, url: url('products/settings') },
} %}
{% set selectedTab = 'settings' %}

{# {% includeJsResource 'import/js/import.js' %} #}

{% import "_includes/forms" as forms %}

{% set content %}
    <form id="import-form" method="post" class="centered" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="products/importCSV">

        {# {% set elementTypes = {} %}
        {% for elementType in craft.elements.getAllElementTypes if craft.import.getGroups(elementType.getClassHandle()) %}
            {% set elementTypes = elementTypes|merge([elementType]) %}
        {% endfor %} #}

        <table class="data">
            <tbody>
                <tr class="importFile">
                    <td>
                        <div class="field">
                            <div class="heading">
                                <label>{{ "File"|t }}</label>
                                <div class="instructions">
                                    <p>{{ "Choose the file you want to import.<br />Valid file formats: CSV"|t|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <div class="input">
                                <input type="file" name="file" accept=".csv">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border-bottom: none"><input type="submit" class="btn submit" value="{{ 'Import'|t }}"></td>
                </tr>
            </tbody>
        </table>

    </form>
{% endset %}
