@charset "UTF-8";
@import "shared";

@mixin container-topbar-styles {
	border-bottom: 1px solid rgba(0,0,0,0.05); background: rgba(0,0,0,0.03);
}

html,
body { overflow-x: hidden; }

#alerts { background: $errorcolor; padding: 9px 0; text-align: center; border-bottom: 1px solid rgba(0,0,0,0.05); color: #fff; }
#alerts li { padding: 4px 24px; }
#alerts li:before { @include icon; @include margin(-1px, 3px, 0, 0); content: 'alert'; font-size: 16px; }
#alerts li a { color: #fff; text-decoration: underline; }
#alerts li a.go { text-decoration: none; white-space: nowrap; border: 1px solid rgba(255,255,255,0.5); border-radius: $btnBorderRadius; padding: 3px 5px; margin: 0 2px; }
#alerts li a.go:after { color: #fff; }
#alerts li a.go:hover { border-color: #fff;
	@include transition(border-color linear 100ms);
}


/* Shared sidebar/container styles */
#container,
#global-sidebar { transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

.topbar { @include display-flex; @include align-items(stretch); }

/* global sidebar */
#global-sidebar { @include display-flex; @include flex-direction(column); position: fixed; top: 0; @include left(0); width: 220px; height: 100vh; @include light-on-dark-text; background: $headerBgColor; z-index: 100; overflow: auto; }

#global-sidebar nav { @include flex-grow(1); -ms-flex-preferred-size: auto; }

#global-sidebar #devmode { width: 100%; height: 4px; background: url(../images/dev-mode.svg) repeat-x 15px 0; cursor: help; }

#global-sidebar a { color: hsl($hue, 5%, 85%);
	@include transition(color linear 100ms);
}
#global-sidebar a .icon {
	@include transition(opacity linear 100ms);
}

#global-sidebar a:hover,
#global-sidebar a.active,
#global-sidebar a:active,
#global-sidebar a:focus { color: #fff; text-decoration: none; }
#global-sidebar a:hover { background: rgba(255,255,255,0.05); }
#global-sidebar a:hover .icon { opacity: 1; }
#global-sidebar a:active { background: rgba(255,255,255,0.07); }
#global-sidebar a:focus { background: rgba(255,255,255,0.07); }

#global-sidebar .photo-container { vertical-align: middle; width: 32px; height: 32px; }
#global-sidebar .photo-container img { display: block; width: 32px; height: 32px; border-radius: $elementBorderRadius; }

#global-sidebar .light { color: #717983; }

#global-sidebar .topbar > a { @include display-flex; @include align-items(center); padding: 0 14px; }
#global-sidebar .topbar > a:focus { background: none; }

#global-sidebar .topbar { min-height: -webkit-min-content; min-height: -moz-min-content; }
#global-sidebar .topbar a.site-name { @include flex-grow(1); padding: 14px; min-width: 0; }
#global-sidebar .topbar a.site-name .photo-container { @include margin-right(14px); flex-shrink: 0; }
#global-sidebar .topbar a.site-name h2 { padding: 0; margin: 0; word-break: normal; word-wrap: break-word; min-width: 0; flex-basis: 100%; }
#global-sidebar .topbar a.updates { position: relative; color: $noticecolor; }
#global-sidebar .topbar a.updates.critical { color: $submitcolor; }
#global-sidebar .topbar a.updates:hover { color: #fff !important; }
#global-sidebar .topbar a.updates > span { position: relative; }
#global-sidebar .topbar a.updates > span:before { font-size: 22px; }
#global-sidebar .topbar a.updates > span > span { display: block; position: absolute; left: 0; top: 0; width: 100%; text-align: center; color: $headerBgColor; font-weight: bold; font-size: 11px; line-height: 22px; }
#global-sidebar .topbar .settings { @include padding-right(0); }
#global-sidebar .topbar .settingsmenu { @include padding-left(0); }

#global-sidebar #taskicon > span.icon { display: block; position: relative; width: 16px; height: 16px; }
#global-sidebar #taskicon > span.icon > canvas { display: block; position: absolute; width: 16px; height: 16px; }
#global-sidebar #taskicon > span.icon > canvas#taskicon-hover { opacity: 0; @include transition(opacity linear 100ms); }
#global-sidebar #taskicon:hover .icon > span.icon > canvas#taskicon-hover { opacity: 1; }

#global-sidebar #taskicon .progressbar { position: static; margin: 8px 2px; width: auto; border-color: hsl($hue, 5%, 85%); @include transition(color linear 100ms); }
#global-sidebar #taskicon .progressbar-inner { background: hsl($hue, 5%, 85%); @include transition(color linear 100ms); }
#global-sidebar #taskicon:hover .progressbar { border-color: #fff; }
#global-sidebar #taskicon:hover .progressbar-inner { background: #fff; }

#global-sidebar .bottombar #account-info { height: 60px; @include display-flex; @include align-items(center); position: relative; @include padding(0, 17px, 0, 7px); }
#global-sidebar .bottombar #account-info:after { display: none; }
#global-sidebar .bottombar #account-info > div { padding: 7px; }
#global-sidebar .bottombar #account-info .username { width: 108px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 16px; }
#global-sidebar .bottombar #account-info #account-menu-anchor { padding: 7px 0; width: 28px; text-align: center; }
#global-sidebar .bottombar #account-info #account-menu-anchor:after { @include icon; content: '\25bd'; font-size: 24px; }

/* container */

#container { overflow: auto; display: block; @include flex-direction(column); position: relative; @include box-sizing(border-box); }
#container > .topbar,
#container > #page-header,
#container > #main,
#container > #help-footer,
#conatiner > #footer { min-height: -webkit-min-content; min-height: -moz-min-content; }

body.mobile #container {
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

#main { @include flex-grow(1); }
#main:not(.single-pane) .padded { padding: 0 24px; }
#main.single-pane .padded { @include display-flex; }
#main.single-pane .padded > .pane { @include display-flex; @include flex-direction(column); @include flex-grow(1); border-radius: 0; overflow-x: hidden; }
#main.single-pane .padded > .pane > .content { @include display-flex; @include flex-direction(column); }
#main.single-pane .padded > .pane > .content > .sidebar + .body { width: calc(100% - 0); }

@media only screen and (min-width: 993px)
{
    #container { @include padding-left(220px); }
}

@media only screen and (max-width: 992px)
{
    #container { max-width: none; }

    body.showing-nav #global-sidebar { @include display-flex; }

    body.ltr.showing-nav #container { @include transform(translate(220px,0)); }
    body.rtl.showing-nav #container { @include transform(translate(-220px,0)); }

    body.ltr:not(.showing-nav) #global-sidebar { @include transform(translate(-220px,0)); }
    body.rtl:not(.showing-nav) #global-sidebar { @include transform(translate(220px,0)); }
}

@media print
{
	#container { @include padding-left(220px); }
}

#tasks-hud { padding: 0; overflow: auto; }
#tasks-hud .task { @include padding(14px, 138px, 14px, 24px); overflow: hidden; }
#tasks-hud .task:after { @include clearafter; }
#tasks-hud .task + .task { border-top: 1px solid $hairlineColor; }
#tasks-hud .task .task-description { position: relative; }
#tasks-hud .task .task-description .indent { position: absolute; top: -1px; @include left(-24px); @include margin-left(0); }
#tasks-hud .task .task-status { @include floatright; @include margin-right(-114px); width: 100px; color: $lighttextcolor; text-align: center; }
#tasks-hud .task .task-status .progressbar { position: static; margin-top: 4px; width: auto; }
#tasks-hud .task .task-status .menubtn { @include margin-right(-22px); }

#settingsmenu ul li a { @include padding-left(46px); }
#settingsmenu ul li a img { width: 16px; height: 16px; position: absolute; margin-left: -23px; margin-top: 1px; }
#settingsmenu ul li a:before { @include margin(1px, 0, 0, -22px); font-size: 15px; }

#nav li a { @include display-flex; @include align-items(center); margin: 0; padding: 10px 14px; min-height: 24px; @include box-sizing(border-box); border-left: 0px solid transparent; }
#nav li a:active .icon { opacity: 1; }
#nav li a.active { color: #fff; }
#nav li:not(.has-subnav) a.sel { color: #fff; background: rgba(255, 255, 255, 0.1); border-color: $submitcolor; opacity: 1; }

#nav li a:not(.sel) .badge { color: #333 !important; }
#nav li a.menubtn { line-height: 26px; }
// #nav li.has-subnav { background: $headerLinkActiveColor; }
#nav li ul li a { @include padding-left(60px); }

#nav li a .icon { @include display-flex; @include align-items(center); @include justify-content(center); width: 16px; @include margin-right(10px); opacity: 0.5; }
#nav li a .icon span[data-icon] { font-size: 16px; color: #fff; }
#nav li a .icon span[data-icon]::before { display: block; }
#nav li a .icon svg { width: 16px; max-height: 16px; @include svg-mask(#fff); }
#nav li:not(.has-subnav) a.sel  .icon { opacity: 1; }

/* HIDE */
#customize-nav-btn span { display: none; }
#overflow-nav #customize-nav-btn span { display: inline-block; }
/* end HIDE */

#global-sidebar #nav li a .badge,
#overflow-nav li a .badge { display: inline-block; position: relative; top: -6px; border-radius: 6px; padding: 0 3px; font-size: 10px; line-height: 12px; color: #fff; background: $submitcolor; }
#overflow-nav li a:hover .badge { color: $headerBgColor; }

/* HIDE */
#overflow-nav li a { @include padding-left(30px); }
#overflow-nav li#customize-nav-btn a:before { @include floatleft; @include margin-left(-21px); }
/* end HIDE */

/* notifications */
#notifications-wrapper { position: fixed; z-index: 101; @include left(0); width: 100%; pointer-events: none; }
#notifications-wrapper.fixed { position: fixed; top: 0; }
#notifications { text-align: center; }
#notifications .notification { display: inline-block; padding: 5px 10px; border-radius: 0 0 3px 3px; border-width: 0 1px 1px; color: #fff !important; pointer-events: auto;
	@include light-on-dark-text;
	@include box-shadow(0 0 5px rgba(0,0,0,0.25));
}
#notifications .notification.notice { background: $noticecolor; }
#notifications .notification.error { background: $submitcolor; }

#container .topbar:not(:empty) { padding: 0 24px; @include container-topbar-styles; }
#container .topbar .show-nav { width: 24px; height: 24px; padding: 10px; display: block; line-height: 22px; color: $secondarySubmitColor; text-align: center;
	@include margin-left(-24px);
}
#container .topbar .show-nav:before { @include icon; content: 'menu'; font-size: 16px; line-height: 0; }



/* page header */
#page-header { @include display-flex; @include justify-content(space-between); position: relative; z-index: 1; padding: 20px 24px; }

#page-header #page-title { @include display-flex; @include flex-grow(1); }
#page-header #page-title { overflow: hidden; text-overflow: ellipsis;  }
#page-header #page-title h1 { line-height: 1.3; margin: 0; display: inline; white-space: nowrap; @include margin-right(7px); color: $submitcolor; }
#page-header #page-title .btn { vertical-align: bottom; }

#page-header #extra-headers { flex-shrink: 0; }
#page-header #extra-headers:after { @include clearafter; }

#page-header #extra-headers .buttons { @include display-flex; }
#page-header #extra-headers .buttons > .btngroup { margin-top: 0; float: none; display: inline-block; }
#page-header #extra-headers .buttons > .btngroup .btn { display: inline-block; }
#page-header #extra-headers .buttons > .btn { float: none; display: inline-block; margin-top: 0; }

#crumbs { margin: 0; font-size: 0; }
#crumbs:after { @include clearafter; }
#crumbs li { display: inline-block; font-size: 13px; }
#crumbs li:after { @include icon; margin: -1px 5px 0; font-size: 11px; color: $mediumtextcolor;
	body.ltr & { content: 'rightangle'; }
	body.rtl & { content: 'leftangle'; }
}
#crumbs li a { display: inline-block; padding: 14px 0; color: $mediumtextcolor; }
#crumbs li a:hover { color: $linkcolor; text-decoration: none; }


/* tabs */
.tabs:after { @include clearafter; }
.tabs .tab { display: block; padding: 10px 24px; color: #777; white-space: nowrap; }
.tabs .tab:hover { text-decoration: none; color: $linkcolor; }
.tabs .tab.sel { color: #000; padding-bottom: 10px; cursor: default; }
.tabs .tab.sel { @include pane; }

.pane > .tabs { margin: -24px -24px 24px; padding: 0 0; font-size: 0; border-radius: 4px 4px 0 0; overflow: hidden;
	@include linear-gradient(hsl($hue, 8%, 97%), hsl($hue, 8%, 96%));
	@include box-shadow(inset 0 -1px 0 rgba(0,0,0,0.05));
}
.pane > .tabs li { display: inline-block; font-size: 13px; }
.pane > .tabs li a { color: #555; }
.pane > .tabs li a:not(.sel):hover { color: $linkcolor; }

/* grids */
.grid { position: relative; margin: -7px; }
.grid:first-child { margin-top: -7px !important; }
.grid:last-child { margin-bottom: -7px !important; }
.grid + .grid { margin-top: 17px; }
.grid:after { @include clearafter; }
.grid > .item { display: none; padding: 7px; @include box-sizing(border-box); }

/* footer */
#footer { padding: 24px; text-align: center; font-size: 0; }
#footer #edition { display: inline-block; margin: 0 auto 14px; }
#footer #edition #edition-logo { border: 1px solid $lighttextcolor; border-radius: 3px; display: inline-block; height: 23px; cursor: default; @include transition(border-color linear 100ms); }
#footer #edition #edition-logo > .edition-name,
#footer #edition #edition-logo > .edition-trial { display: inline-block; padding: 8px 8px 7px; font-size: 12px; line-height: 8px; font-weight: 500; }
#footer #edition #edition-logo > .edition-name { color: $mediumtextcolor; letter-spacing: 2.2px; padding-right: 5.8px; text-transform: uppercase; @include transition(color linear 100ms); }
#footer #edition #edition-logo > .edition-trial { display: inline-block; position: relative; @include margin-left(5px); @include padding-left(5px); background: $lighttextcolor; color: $bgcolor; border-radius: 0 1px 1px 0; letter-spacing: 1px; @include padding-right(7px); text-transform: lowercase; @include transition(background linear 100ms); }
#footer #edition #edition-logo > .edition-trial:before { display: block; position: absolute; top: 0; content: '.'; font-size: 0; width: 0; height: 0; border-style: solid; @include transition(border-color linear 100ms); }
body.ltr #footer #edition #edition-logo > .edition-trial:before { left: -10px; border-width: 0 10px 23px 0; border-color: transparent $lighttextcolor transparent transparent; }
body.rtl #footer #edition #edition-logo > .edition-trial:before { right: -10px; border-width: 0 0 23px 10px; border-color: transparent transparent transparent $lighttextcolor; }
#footer #edition.hot #edition-logo { cursor: pointer; }
#footer #edition.hot #edition-logo + .settings { cursor: pointer; display: inline-block; position: relative; top: -1px; width: 13px; @include margin(0, -18px, 0, 6px); font-size: 13px; color: hsla($hue, 10%, 75%, 0.5); @include transition(color linear 100ms); }
#footer #edition.hot:hover #edition-logo { border-color: $linkcolor; }
#footer #edition.hot:hover #edition-logo > .edition-name { color: $linkcolor; }
#footer #edition.hot:hover #edition-logo > .edition-trial { background: $linkcolor; }
body.ltr #footer #edition.hot:hover #edition-logo > .edition-trial:before { border-color: transparent $linkcolor transparent transparent; }
body.rtl #footer #edition.hot:hover #edition-logo > .edition-trial:before { border-color: transparent transparent transparent $linkcolor; }
#footer #edition.hot:hover #edition-logo + .settings { color: $linkcolor; }
#footer li { display: inline-block; font-size: 11px; color: $lighttextcolor; white-space: nowrap; }
#footer li:not(:last-child):after { display: inline-block; margin: 0 7px; content: '•'; }
#footer li a { color: $lighttextcolor; text-decoration: underline; }
#footer li a:hover { color: $mediumtextcolor; }
#footer #upgradepromo { margin-top: 14px; }
#footer #upgradepromo a { display: inline-block; border-radius: 5px; padding: 14px; border: 2px solid $hairlineColor; font-size: 15px; color: $mediumtextcolor; }
#footer #upgradepromo a .go { color: $linkcolor; }
#footer #upgradepromo a .go:after { @include padding-left(5px); }
#footer #upgradepromo a:hover { text-decoration: none; }
#footer #upgradepromo a:hover .go { text-decoration: underline; }
#footer #upgradepromo a:hover .go:after { color: $linkcolor; }

/* upgrade modal */
#upgrademodal { min-height: 550px; }
#upgrademodal.loading { background-image: url(../images/spinner_big.gif); background-repeat: no-repeat; background-position: 50% 50%; }
#upgrademodal .body { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: auto; }

#upgrademodal .logo { margin: 0 auto 24px; font-weight: 500; font-size: 18px; color: $submitcolor; letter-spacing: 3.3px; line-height: 14px; border: 1px solid $submitcolor; border-radius: 3px; padding: 10px 6.7px 9px 10px; text-transform: uppercase; display: inline-block; }

#upgrademodal-compare table th,
#upgrademodal-compare table td { width: 33.33%; }
#upgrademodal-compare table th.feature { font-weight: normal; color: $mediumtextcolor; }
#upgrademodal-compare table thead th { font-size: 13px; line-height: 18px; font-weight: normal; }
#upgrademodal-compare table thead tr.logos th { padding-bottom: 14px; }
#upgrademodal-compare table thead tr.logos th .logo { margin-bottom: 0; }
#upgrademodal-compare table thead tr.logos th p { white-space: normal; max-width: 250px; }
#upgrademodal-compare table thead tr.license-statuses td { padding-top: 0; padding-bottom: 14px; }
#upgrademodal-compare table thead tr.license-statuses td .license-status:before { border: 1px solid; border-radius: 9px; width: 17px; height: 17px; line-height: 17px; margin-right: 5px; }
#upgrademodal-compare table thead tr.license-statuses td .installed { color: $successcolor; }
#upgrademodal-compare table thead tr.license-statuses td .licensed { color: $noticecolor; }
#upgrademodal-compare table thead tr.license-statuses td .installed:before { border-color: $successcolor; }
#upgrademodal-compare table thead tr.license-statuses td .licensed:before { border-color: $noticecolor; }
#upgrademodal-compare table thead tr.price th,
#upgrademodal-compare table thead tr.price td { position: relative; padding-top: 14px; }
#upgrademodal-compare table thead tr.price td .listedprice { @include margin-right(5px); text-decoration: line-through; color: $lighttextcolor; }
#upgrademodal-compare table thead tr.price th:before,
#upgrademodal-compare table thead tr.price td:before { position: absolute; top: 0; display: block; width: 24px; height: 1px; content: '.'; font-size: 0; background: $hairlineColor; }
#upgrademodal-compare table thead tr.price th:before { @include left(0); }
#upgrademodal-compare table thead tr.price td:before { @include left(14px); }
#upgrademodal-compare table tbody th,
#upgrademodal-compare table tbody td { width: 33.33%; }
#upgrademodal-compare table tbody tr:first-child th,
#upgrademodal-compare table tbody tr:first-child td { border-top: none; }
#upgrademodal-compare table tbody th.group { padding-top: 30px; border-bottom-style: solid; color: $mediumtextcolor; }
#upgrademodal-compare table tbody th.group:before { margin-top: -2px; width: 24px; font-size: 17px; }
#upgrademodal-compare table tbody tr.buybtns td { padding-top: 14px; border-bottom: none; }

#upgrademodal-checkout { background: $lightBgColor; }
#upgrademodal-checkout .logowrapper { text-align: center; }
#upgrademodal-checkout form { max-width: 350px; margin: 0 auto !important; padding-bottom: 10px; }
#upgrademodal-checkout form .field { margin: 14px 0; }
#upgrademodal-checkout form p.icon.secure { margin-top: 24px; }
#upgrademodal-checkout form p.icon.secure:before { @include margin-right(5px); }
#upgrademodal-checkout .buttons > .left,
#upgrademodal-checkout .buttons > .right { margin-top: 5px; }
#upgrademodal-checkout #pay-button { @include floatleft; @include margin-right(5px); }
#upgrademodal-checkout #pay-spinner { margin: 0; }
#upgrademodal-checkout .spinner#coupon-spinner { position: absolute; top: 0; margin-top: 0; @include right(-24px); }

#upgrademodal-success .message { display: block; position: absolute; top: 50%; left: 0; width: 100%; margin-top: -71px; padding-top: 62px; text-align: center; background: url(../images/success.png) no-repeat 50% 0; }
#upgrademodal-success .message p { margin-bottom: 24px; font-size: 15px; line-height: 1.4; }

/* field layout forms */

$fldBgColor: #fff;
$fldChalkColor: #2f1fb5;
$fldGuideColor: #f4f3fb;

.fieldlayoutform,
.fld-tab,
.fld-field { color: $fldChalkColor; font-style: italic; text-transform: uppercase; }

.fieldlayoutform { padding: 24px; background-image: url(../images/fieldlayoutform-bg.png);
	body.ltr & { background-position: 25px 24px; }
	body.rtl & { background-position: calc(100% - 24px) 24px; }
}
.fieldlayoutform:after { @include clearafter; }
.fieldlayoutform h2 { margin: 3px 0 27px !important; font-size: 20px; line-height: 30px; font-weight: normal; text-decoration: underline; color: $fldChalkColor; margin-bottom: 30px; }
.fieldlayoutform .instructions { margin: -30px 0 30px; line-height: 30px; }

.fieldlayoutform .fld-tabs { @include margin(0, 0, 29px, -30px); }
.fieldlayoutform .unusedfields { @include margin(30px, 0, -30px, -30px); }

.fieldlayoutform .fld-tabs:after,
.fieldlayoutform .unusedfields:after { @include clearafter; }

.fieldlayoutform .newtabbtn-container { @include margin(0, 0, 61px, 0); @include display-flex; }
.fieldlayoutform .newtabbtn-container .btn.add { border: 1px solid $fldChalkColor; padding: 6px 10px 5px; color: $fldChalkColor; background: transparent;
	@include box-shadow(none);
}
.fieldlayoutform .newtabbtn-container .btn.add:before { margin-top: -2px; }
.fieldlayoutform .newtabbtn-container h3 { @include flex-grow(1); @include margin(0, 0, 0, 30px); line-height: 30px; }

.fld-tab { @include floatleft; @include margin(0, -1px, 30px, 30px); width: 211px; }

.fld-tab .tabs .tab,
.fld-tab .fld-tabcontent,
.fld-field { border: 1px solid $fldChalkColor; }

.fld-tab .icon,
.fld-field .icon { @include margin-left(5px); }
.fld-tab .icon:before,
.fld-field .icon:before { margin-top: -2px; font-size: 16px; color: $fldChalkColor; opacity: 0.5; }
.fld-tab .icon:hover:before,
.fld-tab .icon.active:before,
.fld-field .icon:hover:before,
.fld-field .icon.active:before { opacity: 1; }

.fld-tab .menubtn,
.fld-field .menubtn { padding: 0; }
.fld-tab .menubtn:after,
.fld-field .menubtn:after { display: none; }

.fld-tab .tabs { position: relative; z-index: 1; padding: 0 10px; }
.fld-tab .tabs .tab { @include floatleft; margin: -1px; border-radius: 3px 3px 0 0; padding: 8px 10px 3px; border-bottom-color: $fldGuideColor; color: $fldChalkColor; white-space: normal; background: none; @include box-shadow(none); }
.fld-tab .tabs .tab.draggable { cursor: move; }
.fld-tab .fld-tabcontent { padding: 13px; }
.fld-tab-caboose { min-height: 31px; }

.fld-field { padding: 7px 8px 4px; cursor: move; }
.fld-field + .fld-field { margin-top: 7px; }
.fld-field.fld-required span:after { @include icon; @include margin(-2px, 0, 0, 5px); color: $fldChalkColor; content: '*'; font-size: 8px; }
.fld-field .icon { @include floatright; }

.fld-tab.unused .tabs .tab,
.fld-tab.unused .fld-tabcontent,
.fld-field.unused { border-style: dashed; }
.fld-tab.unused .tabs .tab { border-bottom-style: solid; }

.fld-tab.fld-insertion .tabs .tab,
.fld-tab.fld-insertion .fld-tabcontent,
.fld-field.fld-insertion { border-style: dashed; }
.fld-tab.fld-insertion .tabs .tab { border-bottom-style: solid; }

.fld-tab.draghelper .tabs { margin: -5px 0 -1px; padding-top: 5px; padding-bottom: 1px; overflow: hidden; }
.fld-tab.draghelper .tabs .tab,
.fld-tab.draghelper .fld-tabcontent,
.fld-field.draghelper { background: #fff;
	@include box-shadow(0 2px 10px -2px rgba(0,0,0,0.25));
}
.fld-tab.draghelper .tabs .tab { border-bottom-color: #fff; }

/* Preview buttons and Live Preview */
.previewbtns { display: block; position: relative; }
.previewbtns .livepreviewbtn { @include margin-right(40px); }
.previewbtns .sharebtn { position: absolute !important; top: 0; @include right(0); width: 41px; }

.livepreviewbtn { display: block; position: relative; }
.livepreviewbtn .spinner { position: absolute; top: 3px; @include right(7px); }

.lp-editor-container,
.lp-iframe-container { position: fixed; top: 0; height: 100%; background: #fff; z-index: 100; }
.lp-iframe-container.dragging:after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ''; font-size: 0; }

.lp-editor,
.lp-iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.lp-editor { padding: 0 24px; overflow: auto; @include box-shadow(0 0 0 1px rgba(0,0,0,0.1));
	@include box-sizing(border-box);
}
.lp-editor header { margin: 0 -24px 24px; padding: 14px 24px 13px; background: rgba(0, 0, 0, 0.03); }
.lp-editor header .btn { @include floatleft; }
.lp-editor header .btn.submit { @include floatright; }
.lp-editor header h1 { margin: 0; font-size: 25px; line-height: 30px; color: #333; }
.lp-editor > .field:last-child { margin-bottom: 24px !important; }

.lp-draghandle { position: absolute; top: 0; @include right(-4px); width: 4px; height: 100%; cursor: col-resize; }


/* Sidebar */

.show-sidebar { background: #fafafa; border-bottom: 1px solid #eee; display: block; position: relative; top: -24px; margin: 0 -24px; padding: 14px 24px; color: $secondarySubmitColor; z-index: 11; line-height: 21px; }
.show-sidebar:hover { text-decoration: none; background: #fcfcfc; }
.show-sidebar:after { @include icon; font-size: 16px; width: 43px; line-height: 20px; content: '▼'; @include floatright; @include margin-right(-24px); }

.sidebar { position: absolute; width: 220px; padding: 24px; overflow: auto; background: $lightBgColor; @include box-sizing(border-box); }
.sidebar { @include margin(-24px, 0, -24px, -242px); }

.content.has-sidebar:not(.hiding-sidebar) { @include margin-left(218px); }

.sidebar .heading { position: relative; @include margin(14px, 0, 2px, -24px); padding: 0 24px; }
.sidebar .heading span { display: inline-block; position: relative; z-index: 1; padding: 0 5px; margin: 0 -5px; text-transform: uppercase; color: $lighttextcolor; font-size: 11px; font-weight: bold; }

.sidebar nav { @include margin-left(-24px); @include padding-left(24px); overflow: auto; }
.sidebar nav li { position: relative; }
.sidebar nav li a { display: block; @include margin-left(-24px); padding: 9px 0; @include border-radius(0, 2px, 2px, 0); color: $textcolor; @include user-select(none); outline: none; }
.sidebar nav li a:hover { text-decoration: none; color: $textcolor; background: $sidebarLinkHoverBgColor; }

.sidebar nav li .toggle { position: absolute; top: 6px; }
.sidebar nav li ul { display: none; }
.sidebar nav li.expanded > ul { display: block; }

.sidebar nav li a.sel { background: $darkselcolor; @include light-on-dark-text; cursor: default; }
.sidebar nav li a.sel,
.sidebar nav li a.sel + .toggle { color: #fff; }

.sidebar nav > ul > li > a { @include padding-left(24px); }
.sidebar nav > ul > li > ul > li > a { @include padding-left(44px); }
.sidebar nav > ul > li > ul > li > ul > li > a { @include padding-left(64px); }
.sidebar nav > ul > li > ul > li > ul > li > ul > li > a { @include padding-left(84px); }
.sidebar nav > ul > li > ul > li > ul > li > ul > li > ul > li a { @include padding-left(104px); }

.sidebar nav > ul > li > .toggle { @include left(-20px); }
.sidebar nav > ul > li > ul > li > .toggle { @include left(0px); }
.sidebar nav > ul > li > ul > li > ul > li > .toggle { @include left(20px); }
.sidebar nav > ul > li > ul > li > ul > li > ul > li > .toggle { @include left(40px); }
.sidebar nav > ul > li > ul > li > ul > li > ul > li > ul > li .toggle { @include left(60px); }

> .sidebar { @include padding(0, 0, 0, 0); @include margin(0, 0, 0, 0); }
> .sidebar nav li a { @include margin-left(0); }

body > .sidebar li { width: auto !important; }

@media only screen and (max-width: 768px) {

	#content.content.has-sidebar:not(.hiding-sidebar) { @include margin-left(0); }

	#sidebar.sidebar { width: 100vw; height: auto !important; min-height: auto; z-index: 10; border-bottom: 1px solid #eee; background: #fff; }
	#sidebar.sidebar { @include margin(-24px, 0, 24px, -24px); @include box-shadow(0 0 32px 0 rgba(0,0,0,0.05)); }

	#sidebar.sidebar .btngroup { float: none !important; }
	#sidebar.sidebar .btngroup .btn { display: inline-block; }

	#content:not(.showing-sidebar) .sidebar { display: none; }
}

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (   -moz-min-device-pixel-ratio: 1.5),
	   only screen and (     -o-min-device-pixel-ratio: 3/2),
	   only screen and (        min-device-pixel-ratio: 1.5),
	   only screen and (        min-resolution: 1.5dppx)
{
	.fieldlayoutform { background-image: url(../images/fieldlayoutform-bg_2x.png); background-size: 30px 30px; }
	#upgrademodal.loading { background-image: url(../images/spinner_big_2x.gif); background-size: 48px; }
	#upgrademodal-success .message { background-image: url(../images/success_2x.png); background-size: 48px; }
}
