@charset "UTF-8";
@import "shared";

.widget.gethelp .front .pane { padding: 0; overflow: hidden; }
.widget.gethelp .front .pane > h2 { display: none; }

.cs-screen { position: relative; @include box-sizing(border-box); }
.cs-screen:not(:first-child) { display: none; opacity: 0; }

.cs-screen .cs-opt-icon svg { display: block; margin: 0 auto 14px; width: 50px; height: 50px; @include svg-mask($bgcolor); }

.cs-screen-home .cs-opt { display: block; padding: 24px; text-align: center; cursor: pointer; }
.cs-screen-home .cs-opt:first-child { border-radius: 4px 4px 0 0; }
.cs-screen-home .cs-opt:not(:first-child) { border-top: 1px solid $lightBgColor; }
.cs-screen-home .cs-opt:last-child { border-radius: 0 0 4px 4px; }
.cs-screen-home .cs-opt h2 { margin: -7px 0 0; font-weight: normal; }
.cs-screen-home .cs-opt p { margin-top: 3px; color: $lighttextcolor; }
.cs-screen-home .cs-opt:hover { background: $lightBgColor; }

.cs-screen-2,
.cs-screen-support { padding: 24px; }

.cs-screen-2 .cs-search-results-container { position: relative; margin: 0 -24px; padding: 0 24px; max-height: 250px; overflow: scroll; background: $lightBgColor;
  @include box-shadow(inset 0 2px 2px -2px rgba(0,0,0,.1), inset 0 -2px 2px -2px rgba(0,0,0,.1));
}
.cs-screen-2 .cs-search-results-container .cs-search-icon { padding-top: 10px; }
.cs-screen-2 .cs-search-results-container .cs-search-icon svg { display: block; margin: 0 auto; width: 30px; height: 30px; }
.cs-screen-2 .cs-search-results-container h2 { margin: 7px 0 14px; font-weight: normal; text-align: center; color: $mediumtextcolor; }
.cs-screen-2 .cs-search-results { position: relative; padding: 14px 0 14px; }
.cs-screen-2 .cs-search-results:before { display: block; content: '.'; font-size: 0; position: absolute; top: 0; left: 50%; margin: 0 -10px; width: 20px; height: 1px; background: $hairlineColor; }
.cs-screen-2 .cs-search-results a { display: block; position: relative; @include padding(3px, 0, 3px, 20px); }
.cs-screen-2 .cs-search-results a .status { position: absolute; top: 6px; @include left(0); }

.cs-screen-2 .cs-forms { position: relative; }
.cs-screen-2 .cs-forms .submit { display: block; margin: 0 auto; max-width: 365px; }

.cs-screen-2 .cs-search-form { @include transition(padding-top linear 100ms); }
.cs-screen-2.with-results .cs-search-form { padding-top: 24px; }
.cs-screen-2 .cs-search-form p { text-align: center; }

.cs-screen-2 .cs-support-form .submit { @include transition(margin-top linear 100ms); }
.cs-screen-2 .cs-support-form .cs-support-more:not(.hidden) + .submit { margin-top: 24px; }
.cs-screen-2 .cs-support-form .spinner { position: absolute; bottom: 0; @include right(-24px); }
