@charset "UTF-8";
@import "shared";

#deprecationnotice { text-align: center; }
#deprecationnotice:before { color: $mediumtextcolor; @include margin-right(5px); }

/* widgets */
.widget { position: relative; @include perspective(1000);
	-webkit-transition: opacity linear 200ms, -webkit-transform linear 200ms;
	-moz-transition: opacity linear 200ms, -moz-transform linear 200ms;
	-ms-transition: opacity linear 200ms, -ms-transform linear 200ms;
	transition: opacity linear 200ms, transform linear 200ms;
}
.widget.scaleout { opacity: 0; @include transform(scale(0.5)); }
.widget > .front,
.widget > .back { @include backface-visibility(hidden); @include transition(600ms); }
.widget > .back { position: absolute; top: 0; left: 0; width: 100%; }
.widget:not(.flipped) > .front { @include transform(rotateY(0deg)); }
.widget:not(.flipped) > .back { @include transform(rotateY(-180deg)); }
.widget.flipped > .front { @include transform(rotateY(180deg)); }
.widget.flipped > .back { @include transform(rotateY(0deg)); }
.widget:not(.flipped) > .back,
.widget.flipped > .front { opacity: 0; }

.widget > .front > .pane > .spinner.body-loading { display: none; }
.widget.loading > .front > .pane > .spinner.body-loading { display: block; @include floatright; @include margin-left(10px); }
.widget.loading-new.new > .front > .pane { height: 252px; }
.widget.loading-new.new > .front > .pane > .spinner.body-loading { display: block; position: absolute; top: calc(50% - 15px); left: calc(50% - 12px); }

.widget > .front > .pane > .icon.settings { display: block; @include floatright; opacity: 0; @include margin-left(7px); cursor: pointer; @include transition(opacity linear 200ms); }
.widget:not(.flipped):hover > .front > .pane > .icon.settings { opacity: 0.3; }
.widget:not(.flipped) > .front > .pane > .icon.settings:hover { opacity: 1; }

.widget h2 { margin-top: 0; }
.widget form + .errors { margin-top: 15px; }

.widget > .back > .pane { background: $lightBgColor; }
.widget > .back > .pane > .errors { margin-top: 24px; }

/* Recent Entries widget */
.recententries .body { overflow: hidden; }


/* New Users Widget */
.newusers .chart { height: 200px; margin: -10px -24px; }

/* New Widget Menu */
.newwidgetmenu ul li a { position: relative; @include padding-left(40px); }
.newwidgetmenu ul li a .icon { position: absolute; top: 8px; @include left(14px); width: 16px; }
.newwidgetmenu ul li a .icon svg,
.widgetmanagerhud-icon svg { width: 16px; height: 16px; @include svg-mask($mediumtextcolor); }

/* New Widget Menu */
.widgetmanagerhud { max-width: 400px; }
.widgetmanagerhud .body { min-width: 400px; }
.widgetmanagerhud .colspan-picker { height: 18px; white-space: nowrap; }
.widgetmanagerhud .colspan-picker:not(.hover) a.active { border: 1px solid #999; background: #fff; @include border-left(medium none); @include border-right(medium none); height: 15px; margin-top: 0; margin-bottom: 0 }
.widgetmanagerhud .colspan-picker:not(.hover) a.active.last { @include border-right(1px solid #999); }
.widgetmanagerhud .colspan-picker a { border: 1px solid rgba(0, 0, 0, .15); @include border-left(medium none); background-image: none; width: 7px; height: 13px; margin-left: 0; display: inline-block; margin-top: 1px; margin-bottom: 1px; box-sizing: border-box }
.widgetmanagerhud .colspan-picker a:first-child { width: 8px; @include border-left(1px solid #999!important); }
.widgetmanagerhud .colspan-picker a:hover { @include border-right(1px solid #999!important); }
.widgetmanagerhud .colspan-picker a.highlight { border: 1px solid #999; @include border-left(medium none); @include border-right(medium none); height: 15px; margin-top: 0; margin-bottom: 0 }
.widgetmanagerhud .colspan-picker a.highlight.last { @include border-right(medium none); }

.widgetmanagerhud-img { width: 15px; }

@media only screen and (max-width: 673px) {

    .widgetmanagerhud { max-width: 300px; }
    .widgetmanagerhud .body { min-width: 300px; }
    .widgetmanagerhud .widgetmanagerhud-col-colspan-picker { display: none; }
    .widgetmanagerhud .widgetmanagerhud-col-move { display: none; }
}
