@charset "UTF-8";
@import "shared";

#traces.loading { background-image: url(../images/spinner_big.gif); background-repeat: no-repeat; background-position: 50% 50%; }

#traces .body { width: 100%; height: 100%; overflow: auto; }
#traces .body strong { color: $mediumtextcolor; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (   -moz-min-device-pixel-ratio: 1.5),
	   only screen and (     -o-min-device-pixel-ratio: 3/2),
	   only screen and (        min-device-pixel-ratio: 1.5),
	   only screen and (        min-resolution: 1.5dppx)
{
	#traces.loading { background-image: url(../images/spinner_big_2x.gif); background-size: 48px; }
}