@charset "UTF-8";
@import "shared";

span.draft { margin-top: -4px; display: inline-block; border: 2px solid #bbb; border-radius: 4px; padding: 0 4px; height: 16px; vertical-align: middle; font-size: 11px; line-height: 16px; text-transform: uppercase; font-weight: bold; color: $textcolor; }
h1 span.draft span { display: none; }

#locales { @include padding(0, 0, 0, 24px); }
#locales li { position: relative; @include padding(7px, 45px, 7px, 0); }
#locales li + li { border-top: 1px solid $hairlineColor; }
#locales li.sel { cursor: default; }
#locales li.sel:before { @include floatleft; @include margin(3px, 0, 0, -16px); font-size: 11px; @include icon; content: 'check'; }
#locales li a { color: $textcolor; }
#locales li a:hover { color: $linkcolor; cursor: pointer; }
#locales li .lightswitch { position: absolute; top: 50%; @include right(9px); margin-top: -9px; }
#locales li .status { display: block; position: absolute; top: 50%; @include right(16px); margin: -5px 0 0; }
