@charset "UTF-8";
@import "shared";

#addlocale .text { @include padding-right(30px); }
#addlocale .spinner { position: absolute; top: 0; @include right(5px); }

#confirmdeletemodal { max-width: 400px; }
#confirmdeletemodal .options label { display: inline-block; line-height: 30px; }
#confirmdeletemodal #transferselect { @include margin-left(10px); display: inline-block; vertical-align: middle; }
#confirmdeletemodal .buttons .spinner { @include floatright; @include margin-right(-20px); @include margin-left(-4px); }
