@charset "UTF-8";
@import "shared";

html, body { height: 100%; }

#login-form { display: block; position: absolute; top: 50%; left: 50%; margin: -208px 0 0 -150px; width: 300px; background: no-repeat center top; }
#login-form.has-logo { padding-top: 116px; }
#login-form h1 { text-align: center; font-size: 3em; color: $textcolor; word-wrap: break-word; }
#login-form .field { margin: 0; }
#login-form .btn { display: block; }

#login-form .text:focus { position: relative; z-index: 1; }
.passwordwrapper .password-toggle { z-index: 1; }


#loginName { padding: 14px 16px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
#login-form.reset-password #loginName { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

#password { margin-top: -1px; padding: 14px 5em 14px 16px; border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

#password-field .passwordwrapper .password-toggle { top: 14px; @include right(14px); }
#rememberMe-field { padding-top: 24px; }

#forgot-password { position: relative; z-index: 1; display: block; @include floatright; font-style: normal; font-size: 11px; color: $mediumtextcolor; margin-top: 24px; }
#forgot-password:hover { color: $linkcolor; text-decoration: none; }

#login-form .buttons { position: relative; text-align: center; }
#login-form #ssl-icon { position: absolute; top: 0; @include left(0); z-index: 1; line-height: 30px; width: 2.2em; color: #fff; text-align: center; cursor: pointer; }
#login-form #ssl-icon.disabled { opacity: 0.75; cursor: default; }
#login-form #ssl-icon + #submit { @include padding-left(2em); }
#login-form .submit { display:block; width: auto; float: none; padding: 14px 16px; height: auto; width: 100%; border-radius: 4px; }

#spinner { position: absolute; top: 58px; left: 50%; margin-left: -12px; }

p.error { text-align: center; }

#poweredby { display: block; text-align: center; margin-top: 70px; margin-bottom: 48px; opacity: .6; }
#poweredby:hover { opacity: 0.8; }
#poweredby:active { opacity: 1; }

.modal.email-sent { width: 300px; }
.modal.email-sent .body { @include padding-left(68px); }
.modal.email-sent .body:before { @include icon; display: block; position: absolute; top: 17px; top: 24px; @include left(24px); content: 'mail'; font-size: 30px; color: $linkcolor; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (   -moz-min-device-pixel-ratio: 1.5),
       only screen and (     -o-min-device-pixel-ratio: 3/2),
       only screen and (        min-device-pixel-ratio: 1.5),
       only screen and (        min-resolution: 1.5dppx)
{
	#login-form { background-size: 202px; }
}
