@charset "UTF-8";
@import "shared";

div.user-photo { height: 100px; }
div.user-photo #current-photo { position: relative; @include floatleft; width: 100px; height: 100px; }
div.user-photo #current-photo:after { position: absolute; top: 0; left: 0; display: block; content: '.'; font-size: 0; width: 100%; height: 100%; border-radius: $paneBorderRadius; @include box-shadow(inset 0 0 0 1px $hairlineColorAlpha); }
div.user-photo #current-photo img { display: block; border-radius: $paneBorderRadius; }
div.user-photo div.user-photo-controls { @include margin-left(115px); position: relative; }

div.user-photo-controls .progress-shade{ background: rgba(255,255,255,0.8); width: 100%; height: 100%; position: absolute; top: 0; @include left(0); display: none;}
div.user-photo-controls.uploading .progress-shade{ display: block;}

div.user-photo div.user-photo-controls .upload-photo ul { display: none; }
div.user-photo div.user-photo-controls .QqUploader-uploader { display: inline-block;}

div.profile-image-modal { width: 500px; }
