@charset "UTF-8";
@import "shared";

div.cp-image div.cp-current-image { border-radius: $paneBorderRadius; width: 100px; height: 100px; background: no-repeat; @include box-shadow(inset 0 0 0 1px $hairlineColorAlpha); }
div.cp-image div.cp-image-controls { margin-top: 10px; float: none; position: relative;}

div.cp-image-controls .progress-shade{ background: rgba(255,255,255,0.8); width: 100%; height: 100%; position: absolute; top: 0; @include left(0); display: none;}
div.cp-image-controls.uploading .progress-shade{ display: block;}

.cp-image-modal { width: 500px; }
