@charset "UTF-8";
@import "shared";

#routes { margin: 0 1px 25px; }

.route { @include pane; position: relative; margin: 15px 0; padding: 0; border-radius: 2px; @include linear-gradient(#fafafa, #f3f3f3); cursor: pointer; }
.route:hover:after { position: absolute; top: 9px; @include right(5px); @include icon; content: 'edit'; color: $linkcolor; }

.route .url-container,
.route .template { padding: 7px 14px; }

.route .url-container { position: relative; @include margin-right(20px); @include padding-right(10px); @include border-radius(2px, 0, 0, 2px); @include floatleft; color: $linkcolor; background: #fff; }
.route .url-container:after { display: block; content: '.'; text-indent: -100%; overflow: hidden; position: absolute; top: 0; @include right(-15px); width: 15px; height: 32px; background-repeat: no-repeat;
	body.ltr & { background-image: url(../images/route-bg.png); }
	body.rtl & { background-image: url(../images/route-bg_rtl.png); }
}

.route .url-container .locale { display: inline-block; @include margin(-1px, 8px, -1px, 0); border-radius: 3px; padding: 1px 5px; background: hsl($hue, 15%, 95%); @include box-shadow(inset 0 0 0 1px rgba(0,0,0,0.05)); color: $mediumtextcolor; }
.route .url-container .url .token { margin: 0 2px; }
.route .template { color: $mediumtextcolor; }
.route .template:before { @include icon; @include margin(0, 5px, 0, 0); content: 'template'; }

.modal.route-settings { width: 500px; }
.modal.route-settings .body { height: calc(100% - 130px); overflow: auto; }
.modal.route-settings .body .url { width: auto; padding-top: 0; padding-bottom: 0; cursor: text; }
.modal.route-settings .body .url .token { cursor: default; }

.route-settings .url-tokens { margin-top: 10px; border-radius: 5px; padding: 15px 25px; background: #fafafa;
	@include box-shadow(inset 0 0 0 1px rgba(0,0,0,0.05), inset 0 1px 2px rgba(0,0,0,0.1));
}
.route-settings .url-tokens h4 { margin-bottom: 5px; text-align: center; }
.route-settings .url-tokens .token { @include margin(5px, 5px, 0, 0); cursor: pointer; }

.route-settings .delete { display: block; @include floatleft; margin-top: 7px; color: $errorcolor; }


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (   -moz-min-device-pixel-ratio: 1.5),
       only screen and (     -o-min-device-pixel-ratio: 3/2),
       only screen and (        min-device-pixel-ratio: 1.5),
       only screen and (        min-resolution: 1.5dppx)
{
	.route .url-container:after { background-size: 15px 32px;
		body.ltr & { background-image: url(../images/route-bg_2x.png); }
		body.rtl & { background-image: url(../images/route-bg_rtl_2x.png); }
	}
}
