@charset "UTF-8";
@import "shared";

#main #graphic { display: block; margin: 200px auto 0; }
#main #graphic.error { background-image: url(../images/error.png); }
#main #graphic.success { background-image: url(../images/success.png); }

#main #status { margin: 20px auto 250px; text-align: center; font-size: 16px; line-height: 20px; color: #666; }


#main .critical { @include margin-left(5px); border-radius: 2px; padding: 2px 5px; font-weight: normal; color: #fff; background: #d6301a; }

#main .release { direction: ltr; }

/* Keep this LTR since the actual release notes are only LTR */
#main .update .header { @include display-flex; @include align-items(center); margin: -24px -24px 24px; padding: 24px; }
#main .update .header h1 { @include flex-grow(1); margin: 0; }
#main .update .header .buttons { margin: 0; }

#main .update .release h2 { margin-bottom: 0; }
#main .update .release + .release { margin-top: 24px; }
#main .update .release .release-date { margin-top: 4px; }
#main .update .release .release-notes { position: relative; direction: ltr; }
#main .update .release .release-notes.fade-out { max-height: 120px; overflow: hidden; }
#main .update .release .release-notes.fade-out:after { display: block; position: absolute; left: 0; bottom: 0; content: '.'; font-size: 0; width: 100%; height: 48px; @include linear-gradient(top, rgba(255,255,255,0), #fff); }
#main .update .release .release-notes ul li { @include padding(3px, 0, 3px, 24px); }
#main .update .release .release-notes ul li:before { @include icon; @include floatleft; @include margin(1px, 0, 1px, -24px); font-size: 16px; }
#main .update .release .release-notes ul li.added:before { content: 'wand'; color: $noticecolor; }
#main .update .release .release-notes ul li.improved:before { content: 'brush'; }
#main .update .release .release-notes ul li.fixed:before { content: 'screwdriver'; color: $submitcolor; }

#main .update .release .show-full-notes { display: block; @include margin(7px, 0, 0, 24px); }
