@charset "UTF-8";
@import "shared";

.user-permissions { position: relative; }
.user-permissions h3:first-child { margin-top: 14px !important; }
.user-permissions .select-all { font-size: 0.9em; margin: 13px 0; color: $linkcolor; cursor: pointer; }
.user-permissions .select-all:hover { text-decoration: underline; }

.user-permissions .checkbox { position: absolute; right: 0; }
.user-permissions input.checkbox:disabled + label { opacity: .5; }
.user-permissions input.checkbox:disabled + label:before,
.user-permissions div.checkbox.disabled:before { opacity: 0.5; }

.user-permissions ul ul li:before { display: block; position: absolute; margin-top: 8px; content: '.'; font-size: 0; width: 10px; height: 0; border-top: 1px solid #eee; }
.user-permissions ul ul ul li:before { width: 30px; }
.user-permissions ul ul ul ul li:before { width: 45px; }

.user-permissions h3 { @include padding-right(0.5em); @include border-right(1px solid #eee); @include margin-right(0.5em); }
.user-permissions h3,
.user-permissions .select-all { @include floatleft; }

.user-permissions ul { clear: both; }
.user-permissions ul ul li .checkbox + label { @include padding-left(35px); }
.user-permissions ul ul ul li .checkbox + label { @include padding-left(55px); }
.user-permissions ul ul li:before { @include left(20px); }
