@charset "UTF-8";
@import "shared";

#page-header { display: none; }

#content h1,
#content p { margin: 48px auto !important; text-align: center; }

#content h1 + p,
#content p + p { margin-top: -25px !important; }

#content h1 { color: $textcolor; }
#content p { font-size: 17px; line-height: 1.4; }

#content .screenshot,
#content #video-wrapper { display: block; margin: 48px auto; }
#content .screenshot { position: relative; max-width: 100%; width: 1000px; }
#content .screenshot:after { display: block; position: absolute; top: 0; left: 0; border-radius: $paneBorderRadius; width: 100%; height: 100%; content: '.'; font-size: 0; @include box-shadow(inset 0 0 0 1px $hairlineColorAlpha); }
#content .screenshot img { display: block; width: 100%; height: auto; border-radius: $paneBorderRadius; }
#content #video-wrapper { max-width: 870px; }

#content header h1 { font-size: 40px; color: $errorcolor; }
#content header p { font-size: 19px; }
