{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% includeCssResource "css/entry.css" %}
{% includeCssResource "seomatic/css/style.css" %}
{% includeCssResource "seomatic/css/css-reset.css" %}
{% includeCssResource "seomatic/css/prism.min.css" %}
{% includeJsResource "seomatic/js/seomatic.js" %}
{% includeJsResource "seomatic/js/type_list.js" %}
{% includeJsResource "seomatic/js/identity.js" %}
{% includeJsResource "seomatic/js/jquery.bpopup.min.js" %}
{% includeJsResource "seomatic/js/prism.min.js" %}

{% set title = craft.seomatic.getPluginName() %}

{% set fullPageForm = true %}
{% set hasCustomLayout = true %}

{% set docsUrl = "https://github.com/nystudio107/seomatic/wiki" %}

{% set localeUrlSuffix = "" %}
{% if craft.isLocalized %}
    {% set localeUrlSuffix = "/" ~ identity.locale %}
{% endif %}
{% set seomaticSections = {
    seometrics: { label: "SEOmetrics"|t, url: url('seomatic/seometrics') },
    meta:       { label: "Template Meta"|t, url: url('seomatic/meta') },
    site:       { label: "Site Meta"|t, url: url('seomatic/site' ~ localeUrlSuffix ) },
    identity:   { label: "Site Identity"|t, url: url('seomatic/identity' ~ localeUrlSuffix ) },
    social:     { label: "Social Media"|t, url: url('seomatic/social' ~ localeUrlSuffix ) },
    creator:    { label: "Site Creator"|t, url: url('seomatic/creator' ~ localeUrlSuffix ) },
    settings:   { label: "Settings"|t, url: url('seomatic/settings') },
} %}

{% set crumbs = [
    { label: craft.seomatic.getPluginName(), url: url('seomatic') },
    { label: "Site Identity"|t, url: url('seomatic/identity') },
] %}

{% if craft.app.version < 2.5 %}
    {% set tabs = seomaticSections %}
    {% set selectedTab = 'identity' %}
{% else %}
    {% set subnav = seomaticSections %}
    {% set selectedSubnavItem = 'identity' %}
{% endif %}

{% block main %}

    {% include "seomatic/_preview_display_modal" with {'previewMetaPath': '', 'elementId': 0,  'locale': identity.locale } %}
    {% include "seomatic/_preview_tags_modal" with {'previewMetaPath': '', 'elementId': 0, 'locale': identity.locale } %}

<!-- Needed for for Craft < 2.5 -->

    {% if craft.app.version < 2.5 %}
    <form id="identity-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
    {% endif %}

        <input type="hidden" name="action" value="seomatic/saveIdentity" />
        <input type="hidden" name="redirect" value="seomatic/identity{% if craft.isLocalized %}/{{ identity.locale }}{% endif %}" />
        {{ getCsrfInput() }}

        <input type="hidden" name="locale" value="{{ identity.locale }}">

        <div class="grid first">
            <div class="item" data-position="left" data-min-colspan="2">
                <div id="fields" class="pane">
                    {% if tabs is defined and tabs|length %}
                        {% include "_includes/tabs" %}
                    {% endif %}

<!-- Site Ownership -->

                    <h2>{{ "Site Ownership" |t }}</h2>

                    {{ forms.textField({
                        label: "Google Site Verification"|t,
                        instructions: "For the <code>&lt;meta name='google-site-verification'&gt;</code> tag.  Only enter the code in the <code>content=''</code>, not the entire tag.  <a href='https://www.google.com/webmasters/verification/' target='_blank'>Here's how to get it.</a>" |t |raw,
                        id: 'googleSiteVerification',
                        class: 'nicetext',
                        name: 'googleSiteVerification',
                        value: identity.googleSiteVerification,
                        required: false,
                        locale: identity.locale,
                    }) }}

                    {{ forms.textField({
                        label: "Bing Site Verification"|t,
                        instructions: "For the <code>&lt;meta name='msvalidate.01'&gt;</code> tag.  Only enter the code in the <code>content=''</code>, not the entire tag.  <a href='https://www.bing.com/webmaster/help/how-to-verify-ownership-of-your-site-afcfefc6' target='_blank'>Here's how to get it.</a>" |t |raw,
                        id: 'bingSiteVerification',
                        class: 'nicetext',
                        name: 'bingSiteVerification',
                        value: identity.bingSiteVerification,
                        required: false,
                        locale: identity.locale,
                    }) }}

                    {{ forms.textField({
                        label: "Google Tag Manager ID"|t,
                        instructions: "If you enter your Google Tag Manager ID here, the Google Tag Manager script tags will be included in your <code>&lt;head&gt;</code> (the script is not included if <code>devMode</code> is on or during Live Preview).  Only enter the ID, e.g.: <code>GTM-XXXXXX</code>, not the entire script code.  <a href='https://support.google.com/tagmanager/answer/6102821?hl=en' target='_blank'>Here's how to get it.</a>" |t |raw,
                        id: 'googleTagManagerID',
                        class: 'nicetext',
                        name: 'googleTagManagerID',
                        value: identity.googleTagManagerID,
                        required: false,
                        locale: identity.locale,
                    }) }}

                    {{ forms.textField({
                        label: "Google Analytics Tracking ID"|t,
                        instructions: "If you enter your Google Analytics Tracking ID here, the Google Analytics script tags will be included in your <code>&lt;head&gt;</code> (the script is not included if <code>devMode</code> is on or during Live Preview).  Only enter the ID, e.g.: <code>UA-XXXXXX-XX</code>, not the entire script code.  <a href='https://support.google.com/analytics/answer/1032385?hl=en' target='_blank'>Here's how to get it.</a>" |t |raw,
                        id: 'googleAnalyticsUID',
                        class: 'nicetext',
                        name: 'googleAnalyticsUID',
                        value: identity.googleAnalyticsUID,
                        required: false,
                        locale: identity.locale,
                    }) }}

                     {{ forms.lightswitchField({
                        label: "Automatically send Google Analytics PageView"|t,
                        instructions: "Controls whether the Google Analytics script automatically sends a PageView to Google Analytics when your pages are loaded" |t |raw,
                        id: 'googleAnalyticsSendPageview',
                        name: 'googleAnalyticsSendPageview',
                        on: identity.googleAnalyticsSendPageview,
                    }) }}

                     {{ forms.lightswitchField({
                        label: "Google Analytics IP Anonymization"|t,
                        instructions: "When a customer of Analytics requests IP address anonymization, Analytics anonymizes the address as soon as technically feasible at the earliest possible stage of the collection network" |t |raw,
                        id: 'googleAnalyticsAnonymizeIp',
                        name: 'googleAnalyticsAnonymizeIp',
                        on: identity.googleAnalyticsAnonymizeIp,
                    }) }}

                    <div class="field">
                        <div class="heading">
                            <label>{{ "Google Analytics Plugins"|t}}{% if craft.isLocalized and identity.locale %}<span class="locale">{{ identity.locale }}</span>{% endif %}</label>
                            <div class="instructions"><p>{{ "Select which Google Analytics plugins to enable.  <a href='https://developers.google.com/analytics/devguides/collection/analyticsjs/' target='_blank'>Learn More</a>" |t |raw}}</p></div>
                        </div>
                        <div class="lightswitch-list-container">
                            <div class="inline-item">
                             {{ forms.lightswitchField({
                                id: 'googleAnalyticsAdvertising',
                                name: 'googleAnalyticsAdvertising',
                                class: "inline-item",
                                fieldClass: "inline-item",
                                on: identity.googleAnalyticsAdvertising,
                            }) }}
                           </div>
                            <div class="inline-item">
                                <label for="googleAnalyticsAdvertising">{{ "Display Features"|t}}</label>
                            </div>
                        </div>
                        <div class="lightswitch-list-container">
                            <div class="inline-item">
                             {{ forms.lightswitchField({
                                id: 'googleAnalyticsEcommerce',
                                name: 'googleAnalyticsEcommerce',
                                class: "inline-item",
                                fieldClass: "inline-item",
                                on: identity.googleAnalyticsEcommerce,
                            }) }}
                           </div>
                            <div class="inline-item">
                                <label for="googleAnalyticsEcommerce">{{ "Ecommerce"|t}}</label>
                            </div>
                        </div>
                        <div class="lightswitch-list-container">
                            <div class="inline-item">
                             {{ forms.lightswitchField({
                                id: 'googleAnalyticsEEcommerce',
                                name: 'googleAnalyticsEEcommerce',
                                class: "inline-item",
                                fieldClass: "inline-item",
                                on: identity.googleAnalyticsEEcommerce,
                            }) }}
                           </div>
                            <div class="inline-item">
                                <label for="googleAnalyticsEEcommerce">{{ "Enhanced Ecommerce"|t}}</label>
                            </div>
                        </div>
                        <div class="lightswitch-list-container">
                            <div class="inline-item">
                             {{ forms.lightswitchField({
                                id: 'googleAnalyticsLinkAttribution',
                                name: 'googleAnalyticsLinkAttribution',
                                class: "inline-item",
                                fieldClass: "inline-item",
                                on: identity.googleAnalyticsLinkAttribution,
                            }) }}
                           </div>
                            <div class="inline-item">
                                <label for="googleAnalyticsLinkAttribution">{{ "Enhanced Link Attribution"|t}}</label>
                            </div>
                        </div>
                        <div class="lightswitch-list-container">
                            <div class="inline-item">
                             {{ forms.lightswitchField({
                                id: 'googleAnalyticsLinker',
                                name: 'googleAnalyticsLinker',
                                class: "inline-item",
                                fieldClass: "inline-item",
                                on: identity.googleAnalyticsLinker,
                            }) }}
                           </div>
                            <div class="inline-item">
                                <label for="googleAnalyticsLinker">{{ "Linker"|t}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="heading">
                            <label for="siteOwnerType">{{ "Site Owner Entity Type"|t}}{% if craft.isLocalized and identity.locale %}<span class="locale">{{ identity.locale }}</span>{% endif %}</label>
                            <div class="instructions"><p>{{ "The type of entity that owns this website.  Choose as general or specific of an Entity Type as you wish.  Leave a sub-type blank if you don't want to specify a sub-type." |t |raw}}</p></div>
                        </div>
                        <div>
                            <div class="inline-item">
                                {{ forms.selectField({
                                    id: "siteOwnerType",
                                    class: "inline-item",
                                    fieldClass: "inline-item",
                                    options: {
                                        "Organization": "Organization"|t,
                                        "Person": "Person"|t,
                                    },
                                    name: "siteOwnerType",
                                    value: identity.siteOwnerType,
                                    required: true,
                                    locale: identity.locale,
                                }) }}
                            </div>
                            <div class="inline-item">
                               {{ forms.selectField({
                                    id: "siteOwnerSubType",
                                    label: "&rarr;",
                                    class: "inline-item",
                                    fieldClass: "inline-item",
                                    options: {
                                        "": "",
                                        "Airline": "Airline"|t,
                                        "Corporation": "Corporation"|t,
                                        "EducationalOrganization": "Educational Organization"|t,
                                        "GovernmentOrganization": "Government Organization"|t,
                                        "LocalBusiness": "Local Business"|t,
                                        "NGO": "Non-Government Organization"|t,
                                        "PerformingGroup": "Performing Group"|t,
                                        "SportsOrganization": "Sports Organization"|t,
                                    },
                                    name: "siteOwnerSubType",
                                    value: identity.siteOwnerSubType,
                                    required: false,
                                    locale: identity.locale,
                                }) }}
                            </div>
                            <div class="inline-item">
                                {{ forms.selectField({
                                    id: "siteOwnerSpecificType",
                                    label: "&rarr;",
                                    class: "inline-item",
                                    fieldClass: "inline-item",
                                   options: {
                                    },
                                    name: "siteOwnerSpecificType",
                                    value: identity.siteOwnerSpecificType,
                                    required: false,
                                    locale: identity.locale,
                                }) }}
                            </div>
                        </div>
                    </div>
                    {% set myJs %}
                        setSelectedValue("{{ identity.siteOwnerSpecificType }}");
                    {% endset %}
                    {% includeJs myJs %}

<!-- General Info -->
                    <h2>{{ "General Info" |t }}</h2>

                    {{ forms.textField({
                        label: "Entity Name"|t,
                        instructions: "The name of the entity that owns the website" |t |raw,
                        id: 'genericOwnerName',
                        class: 'nicetext',
                        name: 'genericOwnerName',
                        value: identity.genericOwnerName,
                        required: true,
                        locale: identity.locale,
                    }) }}

                    {{ forms.textField({
                        label: "Alternate Entity Name"|t,
                        instructions: "An alternate or nickname for the entity that owns the website" |t |raw,
                        id: 'genericOwnerAlternateName',
                        class: 'nicetext',
                        name: 'genericOwnerAlternateName',
                        value: identity.genericOwnerAlternateName,
                        required: false,
                        locale: identity.locale,
                    }) }}

                    <div class="field" id="genericOwnerDescription-field">
                        <div class="heading">
                            <label for="genericOwnerDescription">{{ "Entity Description"|t}}{% if craft.isLocalized and identity.locale %}<span class="locale">{{ identity.locale }}</span>{% endif %}</label>
                            <div class="instructions"><p>{{ "A description of the entity that owns the website" |t |raw}}</p></div>
                        </div>
                        {{ forms.textarea({
                            label: "Entity Description"|t,
                            instructions: "A description of the entity that owns the website" |t |raw,
                            id: 'genericOwnerDescription',
                            class: 'nicetext',
                            name: 'genericOwnerDescription',
                            value: identity.genericOwnerDescription,
                            maxlength: 1024,
                            showCharsLeft: true,
                            required: false,
                            locale: identity.locale,
                        }) }}
                    </div>

                    {{ forms.textField({
                        label: "Entity URL"|t,
                        instructions: "A URL for the entity that owns the website" |t |raw,
                        id: 'genericOwnerUrl',
                        class: 'nicetext',
                        name: 'genericOwnerUrl',
                        value: identity.genericOwnerUrl,
                        required: false,
                        locale: identity.locale,
                    }) }}

                    <div class="field" id="genericOwnerImageId-field">
                        <div class="heading">
                            <label for="genericOwnerImageId">{{ "Entity Brand"|t}}{% if craft.isLocalized and identity.locale %}<span class="locale">{{ identity.locale }}</span>{% endif %}</label>
                            <div class="instructions"><p>{{ "An image or logo that represents the entity that owns the website.  The image must be in JPG, PNG, or GIF format." |t |raw}}</p></div>
                        </div>
                        <div class="input">
                            {% if assetsSourceExists %}
                                {{ forms.elementSelect({
                                    elements: elementsOwnerImage,
                                    id: 'genericOwnerImageId',
                                    name: 'genericOwnerImageId',
                                    elementType: elementType,
                                    criteria: {
                                        'kind': ['image'],
                                        'localeEnabled': null,
                                        'locale': craft.locale,
                                    },
                                    sourceElementId: genericOwnerImageId,
                                    jsClass: 'Craft.AssetSelectInput',
                                    addButtonLabel: "Select Brand Image" |t,
                                    limit: 1,
                                    locale: identity.locale,
                                }) }}
                            {% else %}
                                <p class="error">No assets sources currently exist. <a href="{{ newAssetsSourceUrl }}">Create one now...</a></p>
                            {% endif %}
                        </div>
                    </div>

                    {{ forms.textField({
                        label: "Entity Telephone"|t,
                        instructions: "The primary contact telephone number for the entity that owns the website" |t |raw,
                        id: 'genericOwnerTelephone',
                        class: 'nicetext',
                        name: 'genericOwnerTelephone',
                        value: identity.genericOwnerTelephone,
                        required: false,
                        locale: identity.locale,
                    }) }}

                    {{ forms.textField({
                        label: "Entity Email"|t,
                        instructions: "The primary contact email address for the entity that owns the website" |t |raw,
                        id: 'genericOwnerEmail',
                        class: 'nicetext',
                        name: 'genericOwnerEmail',
                        value: identity.genericOwnerEmail,
                        required: false,
                        locale: identity.locale,
                    }) }}

<!-- Location -->
                    <h2>{{ "Location Info" |t }}</h2>

                    {{ forms.textField({
                        label: "Entity Street Address"|t,
                        instructions: "The street address of the entity that owns the website, e.g.: 123 Main Street" |t |raw,
                        id: 'genericOwnerStreetAddress',
                        class: 'nicetext',
                        name: 'genericOwnerStreetAddress',
                        value: identity.genericOwnerStreetAddress,
                        required: false,
                        locale: identity.locale,
                    }) }}

                    <div class="field">
                        <div class="half-width-field half-width-field-left">
                        {{ forms.textField({
                            label: "Entity Locality"|t,
                            instructions: "The locality of the entity that owns the website, e.g.: Portchester" |t |raw,
                            id: 'genericOwnerAddressLocality',
                            class: 'nicetext',
                            name: 'genericOwnerAddressLocality',
                            value: identity.genericOwnerAddressLocality,
                            required: false,
                            locale: identity.locale,
                        }) }}
                        </div>
                        <div class="half-width-field">
                        {{ forms.textField({
                            label: "Entity Region"|t,
                            instructions: "The region of the entity that owns the website, e.g.: New York or NY" |t |raw,
                            id: 'genericOwnerAddressRegion',
                            class: 'nicetext',
                            name: 'genericOwnerAddressRegion',
                            value: identity.genericOwnerAddressRegion,
                            required: false,
                            locale: identity.locale,
                        }) }}
                        </div>
                    </div>

                    <div class="field">
                        <div class="half-width-field half-width-field-left">
                        {{ forms.textField({
                            label: "Entity Postal Code"|t,
                            instructions: "The postal code of the entity that owns the website, e.g.: 14580" |t |raw,
                            id: 'genericOwnerPostalCode',
                            class: 'nicetext',
                            name: 'genericOwnerPostalCode',
                            value: identity.genericOwnerPostalCode,
                            required: false,
                            locale: identity.locale,
                        }) }}
                        </div>
                        <div class="half-width-field">
                        {{ forms.textField({
                            label: "Entity Country"|t,
                            instructions: "The country in which the entity that owns the website is located, e.g.: US" |t |raw,
                            id: 'genericOwnerAddressCountry',
                            class: 'nicetext',
                            name: 'genericOwnerAddressCountry',
                            value: identity.genericOwnerAddressCountry,
                            required: false,
                            locale: identity.locale,
                        }) }}
                        </div>
                    </div>

                    <div class="field">
                        <div class="half-width-field half-width-field-left">
                        {{ forms.textField({
                            label: "Entity Latitude"|t,
                            instructions: "The latitude of the location of the entity that owns the website, e.g.: -120.5436367" |t |raw,
                            id: 'genericOwnerGeoLatitude',
                            class: 'nicetext',
                            name: 'genericOwnerGeoLatitude',
                            value: identity.genericOwnerGeoLatitude,
                            required: false,
                            locale: identity.locale,
                        }) }}
                        </div>

                        <div class="half-width-field">
                        {{ forms.textField({
                            label: "Entity Longitude"|t,
                            instructions: "The longitude of the location of the entity that owns the website, e.g.: 80.6033588" |t |raw,
                            id: 'genericOwnerGeoLongitude',
                            class: 'nicetext',
                            name: 'genericOwnerGeoLongitude',
                            value: identity.genericOwnerGeoLongitude,
                            required: false,
                            locale: identity.locale,
                        }) }}
                        </div>
                    </div>

                    <div class="buttons">
                        <div class="btngroup first">
                            <input id="geolookup" type="button" class="btn" value="{{ 'Look up Latitude/Longitude'|t }}">
                        </div>
                    </div>
                    <div id="geolookup-errors" class="geolookup-errors-wrapper">
                        <ul class="errors">
                            <li>{{ "No location found.  Perhaps the address is wrong/incomplete?" |t }}</li>
                        </ul>
                    </div>
<!-- ========== siteCreatorType ========== -->

<!-- Person-specific fields -->

                    <div id="Person" class="metaPane field">
                        <h2>{{ "Person Info" |t }}</h2>
                        <div class="field">
                            <div class="half-width-field half-width-field-left">
                            {{ forms.selectField({
                                label: "Person Gender"|t,
                                instructions: "The gender of the person" |t |raw,
                                id: 'personOwnerGender',
                                class: 'nicetext',
                                options: {
                                    "Male": "Male"|t,
                                    "Female": "Female"|t,
                                    "Other": "Other"|t,
                                },
                                name: 'personOwnerGender',
                                value: identity.personOwnerGender,
                                required: false,
                                locale: identity.locale,
                            }) }}
                            </div>
                            <div class="half-width-field">
                            {{ forms.textField({
                                label: "Person Birth Place"|t,
                                instructions: "The place where the person was born" |t |raw,
                                id: 'personOwnerBirthPlace',
                                class: 'nicetext',
                                name: 'personOwnerBirthPlace',
                                value: identity.personOwnerBirthPlace,
                                required: false,
                                locale: identity.locale,
                            }) }}
                            </div>
                        </div>
                    </div>

<!-- General Organization fields -->

                    <div id="Organization" class="metaPane">
                        <h2>{{ "Organization Info" |t }}</h2>

                        <div class="field">
                            <div class="half-width-field half-width-field-left">
                            {{ forms.textField({
                                label: "Organization DUNS Number"|t,
                                instructions: "The DUNS (Dunn & Bradstreet) number of the organization/company/restaurant that owns the website" |t |raw,
                                id: 'organizationOwnerDuns',
                                class: 'nicetext',
                                name: 'organizationOwnerDuns',
                                value: identity.organizationOwnerDuns,
                                required: false,
                                locale: identity.locale,
                            }) }}
                            </div>
                            <div class="half-width-field">
                            {{ forms.textField({
                                label: "Organization Founder"|t,
                                instructions: "The name of the founder of the organization/company/restaurant" |t |raw,
                                id: 'organizationOwnerFounder',
                                class: 'nicetext',
                                name: 'organizationOwnerFounder',
                                value: identity.organizationOwnerFounder,
                                required: false,
                                locale: identity.locale,
                            }) }}
                            </div>
                        </div>

                        <div class="field">
                            <div class="half-width-field half-width-field-left">
                            {{ forms.textField({
                                label: "Organization Founding Date"|t,
                                instructions: "The date the organization/company/restaurant was founded" |t |raw,
                                id: 'organizationOwnerFoundingDate',
                                class: 'nicetext',
                                name: 'organizationOwnerFoundingDate',
                                value: identity.organizationOwnerFoundingDate,
                                required: false,
                                locale: identity.locale,
                            }) }}
                            </div>
                            <div class="half-width-field">
                            {{ forms.textField({
                                label: "Organization Founding Location"|t,
                                instructions: "The location where the organization/company/restaurant was founded" |t |raw,
                                id: 'organizationOwnerFoundingLocation',
                                class: 'nicetext',
                                name: 'organizationOwnerFoundingLocation',
                                value: identity.organizationOwnerFoundingLocation,
                                required: false,
                                locale: identity.locale,
                            }) }}
                            </div>
                        </div>

                        <h2>{{ "Organization Contact Points" |t }}</h2>

                        <div class="field">
                        <div class="heading">
                            <label for="organizationOwnerContactPoints">{{ "Contact Points"|t}}{% if craft.isLocalized and identity.locale %}<span class="locale">{{ identity.locale }}</span>{% endif %}</label>
                            <div class="instructions"><p>{{ "Use <a href='https://developers.google.com/structured-data/customize/contact-points' target='_blank'>organization contact points</a> to add your organizations's contact information to the Google Knowledge panel in some searches.  The Telephone Number <strong>must be</strong> an internationalized version of the phone number, starting with the '+' symbol and country code (+1 in the US and Canada).  e.g.: <code>+1-800-555-1212</code> or <code>+44-2078225951</code>" |t |raw}}</p></div>
                        </div>
                            {{ forms.editableTable({
                                id: 'organizationOwnerContactPoints',
                                name: 'organizationOwnerContactPoints',
                                required: false,
                                cols: {
                                    telephone: {
                                        heading: "Telephone Number" |t,
                                        type: "singleline" |t,
                                    },
                                    contactType: {
                                        heading: "Contact Type" |t,
                                        type: "select" |t,
                                        options: {
                                            "customer support": "Customer Support",
                                            "technical support": "Technical Support",
                                            "billing support": "Billing Support",
                                            "bill payment": "Bill Payment",
                                            "sales": "Sales",
                                            "reservations": "Reservations",
                                            "credit card support": "Credit Card Support",
                                            "emergency": "Emergency",
                                            "baggage tracking": "Baggage Tracking",
                                            "roadside assistance": "Roadside Assistance",
                                            "package tracking": "Package Tracking",
                                        }
                                    }
                                },
                                rows: identity.organizationOwnerContactPoints,
                                locale: identity.locale,
                            }) }}
                        </div>

                    </div>

<!-- ========== siteCreatorSubType ========== -->

<!-- Airline-specific fields -->

                    <div id="Airline" class="metaSubPane field">
                    </div>

<!-- Corporation-specific fields -->

                    <div id="Corporation" class="metaSubPane field">
                        <h2>{{ "Corporation Info" |t }}</h2>
                        {{ forms.textField({
                            label: "Corporation Ticker Symbol"|t,
                            instructions: "The exchange ticker symbol of the corporation" |t |raw,
                            id: 'corporationOwnerTickerSymbol',
                            class: 'nicetext',
                            name: 'corporationOwnerTickerSymbol',
                            value: identity.corporationOwnerTickerSymbol,
                            required: false,
                            locale: identity.locale,
                        }) }}
                    </div>

<!-- EducationalOrganization-specific fields -->

                    <div id="EducationalOrganization" class="metaSubPane field">
                    </div>

<!-- GovernmentOrganization-specific fields -->

                    <div id="GovernmentOrganization" class="metaSubPane field">
                    </div>

<!-- LocalBusiness-specific fields -->

                    <div id="LocalBusiness" class="metaSubPane field">
                        <h2>{{ "Local Business Info" |t }}</h2>

                    {{ forms.selectField({
                        label: "Price Range"|t,
                        instructions: "The approximate price range of the goods or services offered by this local business."|t,
                        id: "localBusinessPriceRange",
                        options: {
                            "$": "$",
                            "$$": "$$",
                            "$$$": "$$$",
                            "$$$$": "$$$$",
                            "$$$$$": "$$$$$",
                        },
                        name: "localBusinessPriceRange",
                        value: identity.localBusinessPriceRange,
                        locale: identity.locale,
                    }) }}

                        <div class="field" id="localBusinessOwnerOpeningHours-field">
                            <div class="heading">
                                <label for="localBusinessOwnerOpeningHours">{{ "Opening Hours"|t}}{% if craft.isLocalized and identity.locale %}<span class="locale">{{ identity.locale }}</span>{% endif %}</label>
                                <div class="instructions"><p>{{ "The opening hours for this local business.  If the business is closed on a given day, just leave the hours for that day blank.  If you leave everything blank, no opening hours will be listed." |t |raw}}</p></div>
                            </div>

                            {% macro day(id, name, value, day) %}
                                {% from "_includes/forms" import time %}
                                    <tr>
                                        <th>
                                            {{ craft.i18n.getLocaleData().getWeekDayName(day) }}
                                        </th>
                                        <td>
                                            {{ time({
                                                id: id~'-'~day~'-open',
                                                name: name~'['~day~'][open]',
                                                value: value ? value[day].open
                                            }) }}
                                        </td>
                                        <td>
                                            {{ time({
                                                id: id~'-'~day~'-close',
                                                name: name~'['~day~'][close]',
                                                value: value ? value[day].close
                                            }) }}
                                        </td>
                                    </tr>
                            {% endmacro %}

                            {% from _self import day %}

                            {% set localeData = craft.i18n.getLocaleData() %}

                            <table class="data">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <th>Opening Time</th>
                                        <th>Closing Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in 0..6 %}
                                        {{ day('localBusinessOwnerOpeningHours', 'localBusinessOwnerOpeningHours', identity.localBusinessOwnerOpeningHours, i) }}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

<!-- NGO-specific fields -->

                    <div id="NGO" class="metaSubPane field">
                    </div>

<!-- PerformingGroup-specific fields -->

                    <div id="PerformingGroup" class="metaSubPane field">
                    </div>

<!-- SportsOrganization-specific fields -->

                    <div id="SportsOrganization" class="metaSubPane field">
                    </div>

<!-- ========== siteCreatorSpecificType ========== -->

<!-- FoodEstablishment-specific fields -->

                    <div  class="metaSpecificPane field FoodEstablishment Bakery BarOrPub Brewery CafeOrCoffeeShop FastFoodRestaurant IceCreamShop Restaurant Winery">
                        <h2>{{ "Food Establishment Info" |t }}</h2>
                        {{ forms.textField({
                            label: "Food Establishment Cuisine"|t,
                            instructions: "The primary type of cuisine that the food establishment serves" |t |raw,
                            id: 'restaurantOwnerServesCuisine',
                            class: 'nicetext',
                            name: 'restaurantOwnerServesCuisine',
                            value: identity.restaurantOwnerServesCuisine,
                            required: false,
                            locale: identity.locale,
                        }) }}

                        {{ forms.textField({
                            label: "Food Establishment Menu URL"|t,
                            instructions: "URL to the food establishment's menu" |t |raw,
                            id: 'restaurantOwnerMenuUrl',
                            class: 'nicetext',
                            name: 'restaurantOwnerMenuUrl',
                            value: identity.restaurantOwnerMenuUrl,
                            required: false,
                            locale: identity.locale,
                        }) }}

                        {{ forms.textField({
                            label: "Food Establishment Reservations URL"|t,
                            instructions: "URL to the food establishment's reservations page" |t |raw,
                            id: 'restaurantOwnerReservationsUrl',
                            class: 'nicetext',
                            name: 'restaurantOwnerReservationsUrl',
                            value: identity.restaurantOwnerReservationsUrl,
                            required: false,
                            locale: identity.locale,
                        }) }}
                    </div>

                    <p>&nbsp;</p>
                    <p>{{ "<p>You can use any Craft <code>environmentVariables</code> in these fields in addition to static text, e.g.:<br /> <code>This is my {baseUrl}</code></p>" |t |raw }}</p>

                </div>

            </div>

            <div class="item" data-position="right" data-colspan="1">

                <div id="preview-display" class="btn big livepreviewbtn secondbtn">
                    {{ "Preview SEO Meta Display" |t }}
                </div>

                <div id="preview-tags" class="btn big livepreviewbtn secondbtn">
                    {{ "Preview SEO Meta Tags" |t }}
                </div>

                {% if craft.isLocalized %}
                    <ul id="locales" class="pane">
                        {% for locale in craft.i18n.getSiteLocales() %}
                            {% if locale == identity.locale %}
                                <li class="sel">{{ locale.name }}</li>
                            {% else %}
                                <li><a href="{{ url('seomatic/identity') ~ '/' ~ locale.id }}">{{ locale.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li><p class="instructions">{{ "If any field is left blank for a setting in a particular locale, it will fall back on the primary locale." |t |raw }}</p></li>
                    </ul>
                {% endif %}

                <div class="pane">
                    <div style="text-align:center; margin:0 auto;">
                        <img src="{{ resourceUrl('seomatic/images/site_identity.svg') }}" width="64px" height="auto" />
                    </div>
                    {{ "<p>These Site Identity settings are used to globally define the identity and ownership of the website.</p><p>They are used in combination with the SEO Template Meta & SEO Entry Meta settings to generate <a href='https://developers.google.com/schemas/formats/json-ld?hl=en' target='_blank'>JSON-LD</a> microdata, <a href='http://dublincore.org' target='_blank'>Dublin Core</a> core metadata, <a href='https://dev.twitter.com/cards/overview' target='_blank'>Twitter Cards</a>, <a href='https://developers.facebook.com/docs/sharing/opengraph' target='_blank'>Facebook OpenGraph</a>, and as well as HTML meta tags.<p>The Site Owner type determines the JSON-LD schema that will be used to identity the website to search engines.</p><p>Leave any fields blank that aren't applicable or which you do not want as part of the SEO schema.</p>" |t |raw }}
                </div>

            </div>

<!-- Needed for for Craft < 2.5 -->

            {% if craft.app.version < 2.5 %}
            <div class="item" data-position="left" data-colspan="1">
                <div class="buttons">
                    <div class="btngroup submit first">
                        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
                    </div>
                </div>
            </div>
            {% endif %}

        </div>

<!-- Needed for for Craft < 2.5 -->

    {% if craft.app.version < 2.5 %}
    </form>
    {% endif %}

{% endblock %}
