/* ==========================================================================
// Super Table Settings
// ========================================================================== */

.supertable-configurator > .field {
    max-width: none;
}

.supertable-configurator > .field > .input {
    min-height: 400px;
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.supertable-configurator .stc-sidebar {
    width: 200px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e3e5e8;
    background: rgba(0, 0, 0, 0.03);
}

.supertable-configurator .stc-sidebar > .col-inner-container > .field-items {
    margin-top: -1px;
    padding-top: 1px;
}

.supertableconfigitem {
    position: relative;
    margin-top: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

body.ltr .supertableconfigitem {
    padding: 11px 45px 10px 14px;
}

body.rtl .supertableconfigitem {
    padding: 11px 14px 10px 45px;
}

.supertableconfigitem.sel {
    background: rgba(0, 0, 0, 0.05);
}

.supertableconfigitem.error {
    background: rgba(255, 0, 0, 0.1);
}

.supertableconfigitem.sel.error {
    background: rgba(200, 0, 0, 0.2);
}

.supertableconfigitem .handle {
    font-size: 11px;
    color: #8f98a3;
}

.supertableconfigitem .actions {
    position: absolute;
    width: 24px;
}

body.ltr .supertableconfigitem .actions {
    right: 0;
}

body.rtl .supertableconfigitem .actions {
    left: 0;
}

.supertableconfigitem.stci-field .actions {
    top: 20px;
}

.supertableconfigitem .actions .icon {
    display: block;
    margin-bottom: 1px;
    text-align: center;
}

.supertable-configurator .stc-sidebar > .col-inner-container > .field-items .btn {
    margin: 14px;
}

.supertable-configurator .stc-settings {
    border: 1px solid #e3e5e8;
    border-radius: 0 3px 3px 0;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    -ms-flex-negative: 9999;
    flex-shrink: 9999;
}

body.ltr .supertable-configurator .stc-settings {
    border-left: 0;
}

body.rtl .supertable-configurator .stc-settings {
    border-right: 0;
}

.supertable-configurator .stc-settings > .col-inner-container > .field-items {
    padding: 24px;
}

.supertable-configurator .stc-sidebar > .col-inner-container > .heading,
.supertable-configurator .stc-settings > .col-inner-container > .heading {
    padding: 7px 14px 6px;
    color: #8f98a3;
    margin: 0;
    border-bottom: 1px solid #e3e5e8;

    background-image: -webkit-linear-gradient(#f7f7f8, #f4f5f6);
    background-image: -moz-linear-gradient(#f7f7f8, #f4f5f6);
    background-image: -ms-linear-gradient(#f7f7f8, #f4f5f6);
    background-image: -o-linear-gradient(#f7f7f8, #f4f5f6);
    background-image: linear-gradient(#f7f7f8, #f4f5f6);
}

.supertable-configurator .stc-settings > .col-inner-container > .heading {
    padding-left: 24px;
}



/* ==========================================================================
// Matrix > Super Table > Matrix Fixes
// ========================================================================== */

.matrix-configurator .supertable-configurator .matrix-configurator .mc-sidebar .items {
    padding: 0;
}

/* Fix for outer Matrix > ST > Matrix container to allow x-axis scrolling. Otherwise, very difficult to use */
/* This actually applies to all Matrix fields everywhere, but testing hasn't proved any issues yet... */
.matrix-configurator > .field > .input {
    overflow-x: auto;

    /* Safari Fix */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.matrix-configurator > .field > .input > .field-settings {
    width: 100%;
}




