{% extends "_layouts/main" %}

{% block main %}

{% set banner = entry.banner.first %}


  <div class="products-jumbotron img-background" style = "background-image: url({{ banner.background.first.url }})">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1 class="white mb-0">{{ banner.headerText }}</h1>
          <p class="white">{{ banner.description }}</p>
        </div>
      </div>
    </div>
  </div>
  {% set thumb = {
      mode: 'Fit',
      width: 420,
      quality: 90,
    } %}

<div class="leadership-section bottom-img-background"  >
  <div class="medium-container ">
      <div class="row  \">
        {% for entry in craft.entries.section("leadership") %}
          <div class="col-sm-6 col-md-4 text-center mb-40 ">
            <img src="{{ entry.headshot.first.url(thumb) }}" alt="{{ entry.headshot.first.title }}" class = "img-responsive">
            <h3 class="blue text-uppercase">{{ entry.title }}</h3>
            <h4 class="light-blue text-uppercase">{{ entry.jobTitle }}</h4>
            <p>{{ entry.snippet }}</p>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
