{% set banner = entry.banner.first %}
<div class="jumbotron application-jumbotron">
  <div class="row no-gutters">
    <div class="col-lg-4 no-gutters stationary-left-block col hidden-md">
      <img alt="" class="circuit-background" src="/assets/icons/banner-circuit.svg">
      <div class="inner-container">
        <h2 class="white">Applications</h2>
        <p class="large white">{{ banner.description }}</p>
      </div>
    </div>
    <div class="col-lg-8  col-xs-12  no-gutters col center-medium " >
      <div class="application-slider">
        {% for slides in entry.applicationsCarousel %}
        <div style = "background-image: url({{ slides.backgroundImage.first.url }});background-position: {{ slides.backgroundImage.first.focusPctX }}% {{ slides.backgroundImage.first.focusPctY }}%;">
        <div class=" center-mobile background-img" >
          <div class="">
          <div class="row no-gutters">
            <div class="text-center col-sm-12 center-medium">
              <a href="{{ slides.application.first.url }}" class = "white">
                <h2 class="white h1">{{ slides.headerText }}</h2>
              </a>
              <p class="white">{{ slides.description }}</p><a class="btn" href="{{ slides.application.first.url }}">Learn More</a>
            </div>
          </div>
        </div>
        </div>
        </div>
        {% endfor %}
      </div>

      <div class="text-center applicaiton-navigation">
          <div class="sliderNavigation"></div>
          </div>
    </div>

    </div>
  </div>
