{% extends "_layouts/main" %}

{% block main %}


{% set banner = entry.banner.first %}
<div class="jumbotron text-center application-page-jumboton img-background jumbotron-padding" style = "background-image: url({{ banner.backgroundImage.first.url }})">
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="icon-block">
        <div class="icon-holder"><img alt="{{ entry.displayIcon.first.title }}" src="{{ entry.displayIcon.first.url }}"></div>
      </div>
      <h1 class="white mt-15 mb-15">{{ banner.headerText }}</h1>
      <p class = "white">{{ banner.description }}</p>
      {#
      <a href=" {{ banner.ctaLink }}" class="blue-btn light-blue-outline reverse-btn">{{ banner.ctaText}}</a>
    #}
    </div>
  </div>
</div>
</div>

{% set diagram = entry.diagram.first %}
<div class="application-intro">
  <div class="container">
  <div class="row">
    <div class="col-lg-5">
      <h2 class="blue">{{ diagram.headerText }}</h2>
      <p>{{ diagram.description }}</p>

    </div>
    <div class="col-lg-7 text-center">
      <img src="{{ diagram.image.first.url }}" alt="{{ diagram.image.first.title }}">
    </div>
  </div>
</div>
{{ entry.codeBlock | raw }}
</div>






<div class="related-products light-grey-background bottom-img-background" style="background-image: url(/assets/icons/circuit-fade.png)">
<div class="container">
  <h2 class="blue">Related Products</h2>
  <div class="blue-line"></div>

{% for product in entry.relatedProducts %}


  <h3 class="light-blue text-uppercase">{{ product.productCategory.first.title  }}</h3>

  <div class="table white-background" style = "">
    <div class="row no-gutters">
      <div class="col-sm-3 blue-background border-right"><h4 class="white text-uppercase text-center hidden-sm">Function</h4></div>
      <div class="col-sm-3 blue-background border-right"><h4 class="white text-uppercase text-center  ">Product</h4></div>
      <div class="col-sm-6 blue-background "><h4 class="white text-uppercase hidden-sm">Description</h4></div>
    </div>
  {% for row in product.products %}
<div class="row {% if not loop.last %} border-bottom {% endif %} flex ">
  <div class="col-sm-3 white-background border-right flex align-center justify-center text-center hidden-sm">{{ row.function }}</div>
  <div class="col-sm-3 white-background border-right flex align-center justify-center text-center"><a href="{{ row.productLink }}" class = "blue" target = "_blank" ><b style = "font-weight: 600">{{ row.product }}</b></a></div>
  <div class="col-sm-6 white-background border-right flex">{{ row.description }}</div>
</div>
  {% endfor %}

  </div>


{% endfor %}

</div>
</div>
<div class="related-resources">
	<div class="container">
    <h2 class="blue">Related Resources</h2><span class="blue-line"></span>


    <div class="row mt-20">
        {% for resources in entry.relatedResources|batch(2) %}
      {% for resource in resources %}
      <div class="col-md-6 related-resource">
        <a href="{{ resource.url }}" class = "body-grey">
        <p class="large">{{ resource.title }}</p><img alt="download icon" src="/assets/icons/download-btn.svg"></a>
      </div>
      {% endfor %}
      {% endfor %}


      {% for resource in entry.additionalResources %}
      <div class="col-md-6 related-resource">
        <a href="{{ resource.linkUrl }}" class = "body-grey" {% if resource.newTab %} target = "_blank" {% endif %}>
        <p class="large">{{ resource.title }}</p><img alt="download icon" src="/assets/icons/otherresources_arrow.svg"></a>
      </div>
      {% endfor %}

    </div>



  </div>
</div>
<div class="application-box gradient-background" style = "">
  <div class="container">
    <div class="row applications-intro">
      <div class="col-sm-6">
        <h2 class="white">Featured Appliations</h2><span class="blue-line"></span>
      </div>
      <div class="col-sm-6 text-right">
        <a class="btn blue-outline" href = "/applications">
          Learn More
        </a>
      </div>
    </div>
    <div class="row">
			{% for application in craft.entries({ section: 'applications',  id: 'not ' ~ entry.id }) %}

			<div class="featured-application col-lg-4">
				<a href="{{ application.url }}" class = "body-grey">
				<p class="large white">{{ application.title }}</p>
				<img src="{{ application.displayIconAlt.first.url }}" alt="{{ application.displayIcon.first.title }}">
				</a>
			</div>

	  {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
