{% extends "_layouts/main" %}

{% block main %}

{% include "applications/_application-landing-banner.html" %}




<div class="application-list bottom-img-background text-center " style="background-image: url(/assets/icons/circuit-fade.png)">
  <div class="medium-container">
<div class="row no-gutters flex justify-center wrap">
  {% set applications = craft.entries.section("applications") %}
  {% set batchSize = applications|length / 2 %}
  {% for applications in craft.entries.section("applications")|batch(batchSize) %}


  {% for application in applications %}

    <div class="application-card-smol">
      <a href="{{ application.url }}">
        {% set thumb = {
            mode: 'Fit',
            width: 300,
            quality: 75,
          } %}
          <img alt="{{ application.thumbnail.first.title }}" src="{{ application.thumbnail.first.url(thumb) }}" class = "application-thumb">
      </a>
      <div class="product-card-inner">
        <div class="icon-block">
          {% set icon = application.displayIcon.first %}
          {% if icon|length %}
          <div class="icon-holder"><img alt="{{ icon.title }}" src="{{ icon.url }}"></div>
                {% endif %}
        </div>
        <h3 class="blue"><a href="{{ application.url }}" class = "blue text-uppercase">{{ application.title }}</a></h3>
        <p>{{ application.snippet }}</p>
      </div>
      <div class="thin-blue-bar blue-bar blue-background shadow">
        <div class="row">
          <div class="col-sm-12 text-left white relative arrow-link">
            <a class="h4 text-uppercase blue-outline white" href="{{ application.url }}">
              Learn More
            <div class = "arrow-container">
              <span class = "medium-arrow-btn">
                <img alt="arrow >" class="white-arrow-btn" src="/assets/icons/learn-more-arrow.svg">
                <img alt="arrow >" class="white-arrow-btn" src="/assets/icons/learn-more-arrow.svg">
              </span>
            </div>
              </a>
          </div>
        </div>
      </div>
    </div>


  {% endfor %}


  {% endfor %}</div>
</div>
</div>

{% endblock %}
