{% set banner = entry.banner.first %}
<div class="products-jumbotron img-background" style = "background-image: url({{ banner.background.first.url }})">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="white {% if banner.description|length %} mb-10 {% endif %}">{{ banner.headerText }}</h1>
        <p class = "white">{{ banner.description }}</p>
      </div>
    </div>
  </div>
</div>
