{% set banner = entry.banner.first %}
{% if banner.type == "banner" %}
<div class="jumbotron text-center jumbotron-padding fixed-bg fixed-jumbo test" style = "background-image: url({{ banner.background.first.url }})">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
      <h1 class="white {% if banner.description|length %} mb-15 {% endif %}">{{ banner.headerText }}</h1>
      <p class="white"> {{ banner.description }}</p>
    </div>
    </div>
  </div>
</div>
{% elseif banner.type == "bannerWithCta" %}

  {% if banner.extraPadding %}
  <div class="contact-jumbotron support-jumbotron img-background fixed-bg" style = "background-image: url({{ banner.backgroundImage.first.url }})">
    <div class="container">
      <div class="row">
      <div class=" text-center col-md-8 col-md-offset-2">
        <h1 class="white">{{ banner.headerText }}</h1>
        <p class="white">{{ banner.description }} </p>
          {% if banner.ctaLink | length %}   <a href="{{ banner.ctaLink }}" class="btn mr-10 mb-10 ml-10 mt-10 blue-outline">{{ banner.ctaText }}</a>   {% endif %}
          {% if banner.secondaryCta | length  %}
          <a href="{{ banner.secondaryCtaLink }}" class="btn mr-10 mb-10 ml-10  mt-10 blue-outline" target = "_blank">{{ banner.secondaryCta }}</a>
          {% endif %}
      </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="products-jumbotron img-background" style = "background-image: url({{ banner.backgroundImage.first.url }})">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1 class="white {% if banner.description|length %} mb-10 {% endif %}">{{ banner.headerText }}</h1>
          <p class = "white mb-20">{{ banner.description }}</p>
            {% if banner.ctaLink | length %}  <a href="{{ banner.ctaLink }}" class="btn ">{{ banner.ctaText }}</a> {% endif %}
            {% if banner.secondaryCta | length  %}
            <a href="{{ banner.secondaryCtaLink }}" class="btn mr-10 mb-10 ml-10  mt-10 " target = "_blank">{{ banner.secondaryCta }}</a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}


{% elseif banner.type == "productBanner" %}
<div class="products-jumbotron img-background" style = "background-image: url({{ banner.background.first.url }})">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="white {% if banner.description|length %} mb-10 {% endif %}">{{ banner.headerText }}</h1>
        <p class = "white">{{ banner.description }}</p>
      </div>
    </div>
  </div>
</div>

{% elseif banner.type == "careersBanner" %}

<div class="img-left-section text-left-section">
  <div class="row no-gutters flex">
    <div class="col-xs-12 col-md-7 no-gutters relative hidden-overflow image-background-row text-col careers-container" style="background-image: url(/uploads/banner-images/background.png)">
      <div class="mr-20">
      <h1 class="white">{{ banner.headerText }}</h1>
      <p class="white large">{{ banner.description }}</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 dark-blue-background bottom-right-img-background text-col" style="background-image: url(/assets/imgs/large-bottom-right-circuit.png)">
      <h3 class="light-blue text-uppercase">{{ banner.subHeader1 }}</h3>
      <p class="white">{{ banner.subDescription1 }}</p>
      <h3 class="light-blue text-uppercase">{{ banner.subHeader2 }}</h3>
      <p class="white">{{ banner.subDescription2 }}</p>
    </div>
  </div>
</div>

{% endif %}
