
<div class="jumbotron home-jumbotron ">
  <div class="row no-gutters">

    <div class="col-lg-4  col-xs-12  no-gutters stationary-left-block col">
      <img alt="" class="circuit-background" src="/assets/icons/banner-circuit.svg">
      <div class="inner-container">
        <h1 class="p large white">{{ entry.headerText }}</h1>
        <div class = "video-btn" data-link = "https://www.youtube.com/embed/Q8YwuD4_nRY">
        <h5 class="h4 text-uppercase blue-outline white mt-20  inline-block">{{ entry.videoCta}}</h5>
        <span class="smol-arrow blue-arrow" style = "margin-left: 10px;">
                <img alt="arrow >" src="/assets/icons/nav-arrow-right.svg">
                <img alt="arrow >" src="/assets/icons/nav-arrow-right.svg">
        </span>
        </div>
        {{ entry.codeBlock | raw }}

        <div class="jumbo-social">
          <h4 class="inline-block text-uppercase white">Connect</h4>
          <a href="{{ socialMediaLinks.twitter }}" target="_blank" rel = "nofollow"><img alt="twitter" src="/assets/icons/twitter-blue.svg"></a>
          <a href="{{ socialMediaLinks.facebook }}" target="_blank" rel = "nofollow"><img alt="facebook" src="/assets/icons/linkedin-share.svg" style = "margin-top: -2px;"></a>
        </div>
      </div>
    </div>


    <div class="col-lg-8  col-xs-12  no-gutters banner-bg col center-medium "  style = "background-image: none;">
      <div class="slider">
        {% for slides in entry.carousel %}
        {% if slides.type == "slideWMobileBanner" %}

        <div  class = "backgroundSlide-{{loop.index}}" style = "">
          <style>


        .slider  .backgroundSlide-{{loop.index}}{
            background-image: url({{ slides.backgroundImageLarge.first.url }});
            background-position: 71% center;
          }
          @media (min-width: 1500px) {
            .slider  .backgroundSlide-{{loop.index}}{
                background-image: url({{ slides.backgroundImageLarge.first.url }});
                background-position: right center;
              }
          }

          @media (min-width: 1600px) {
            .slider  .backgroundSlide-{{loop.index}}{
                background-image: url({{ slides.backgroundImageLarge.first.url }});
                background-position: right center;
              }
              .slider .slider-block{
                max-width: none;
              }
              .slider  .backgroundSlide-{{loop.index}}  .text-block{
                float: right;
                width: 35%;
              }
          }


          @media (max-width: 1200px) {
            .slider  .backgroundSlide-{{loop.index}}{
              background-position: center bottom
              }
              .slider-block .h1 br{
                display: none;
              }

          }
@media (max-width: 990px) {
.slider .slider-block{
  max-width: 100%;
}
.slider  .backgroundSlide-{{loop.index}}{
    background-image: url({{ slides.backgroundImageLarge.first.url }});
    background-position: center center
  }
}

          @media (max-width: 768px) {
          .slider   .backgroundSlide-{{loop.index}}{
              background-image: url({{ slides.backgroundImageSmall.first.url }});
              background-position: center center;
              background-size: 780px;
            }
          }


        </style>
          <div class="slider-block  flex align-center justify-center ">
          <div class="row">
            <div class="col-md-7  col-xs-12  right-overflow center-medium"></div>
            <div class="col-md-5  col-xs-12 center-medium bottom-padding-mobile  text-block">
              <a href="{{ slides.linkUrl }}" class = "white" {% if slides.newTab %} target = "_blank" {% endif %}>
                <h2 class="white h1">{{ slides.headerText|nl2br|raw }}</h2>
              </a>
              <h3 class="light-blue">{{ slides.subtext}}</h3>
              <p class="white ">{{ slides.description }}</p>
              <div class="center-mobile"><a class="btn" href="{{ slides.linkUrl }}" {% if slides.newTab %} target = "_blank" {% endif %}>{{ slides.linkText }}</a></div>
            </div>
          </div>
        </div>
        </div>
        {% else %}
        <div  style = "background-image: url({{ slides.backgroundImage.first.url }}); background-position: {{slides.backgroundImage.first.focusX}}% {{ slides.backgroundImage.first.focusX}}%">
          <div class="slider-block  flex align-center justify-center ">
          <div class="row">
            <div class="col-md-7  col-xs-12  right-overflow center-medium">{% if slides.productImage|length %}<img alt="{{ slides.productImage.first.title }}" src="{{ slides.productImage.first.url }}">{% endif %}</div>
            <div class="col-md-5  col-xs-12 center-medium bottom-padding-mobile left-mobile text-block">
              <a href="{{ slides.linkUrl }}" class = "white">
                <h2 class="white h1">{{ slides.headerText }}</h2>
              </a>
              <h3 class="light-blue">{{ slides.subtext}}</h3>
              <p class="white left-mobile">{{ slides.description }}</p>
              <div class="center-mobile"><a class="btn" href="{{ slides.linkUrl }}">{{ slides.linkText }}</a></div>
            </div>
          </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>
      <div class="homepage-navigation text-center">
          <div class="sliderNavigation"></div>
          </div>
    </div>
  </div>
</div>
