<div class="footer">
  <div class="main-footer container">
    <div class="row">
      <div class="col-xs-12 col-md-2  footer-logo">
        <a href="/"><img alt="Abracon" src="/assets/icons/footer-logo.svg"></a>
      </div>
      <div class="col-xs-6 col-md-2  center-medium">
        <h3><a class="light-grey" href="/about">About Us</a></h3><span class="grey-divider"></span>
        <ul class="list-unstyled">
          <li>
            <a href="/leadership">Leadership</a>
          </li>
          <li>
            <a href="/careers">Careers</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-2  center-medium">
        {% set products = craft.entries.section('products') %}
        <h3><a class="light-grey" href="/product-lineup">Products</a></h3><span class="grey-divider"></span>
        <ul class="list-unstyled">
          {% for productCategory in products.level(1) %}
          <li>
            <a href="{{ productCategory.url }}" >{{ productCategory.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-4 col-md-2  center-medium">
        <h3><a class="light-grey" href="/applications">Applications</a></h3><span class="grey-divider"></span>
        <ul class="list-unstyled">
              {% set applications = craft.entries.section("applications") %}
                {% for application in applications %}
          <li>
            <a href="{{ application.url }}">{{ application.title }}</a>
          </li>
              {% endfor %}
        </ul>
      </div>
      <div class="col-xs-4 col-md-2   center-medium">
        <h3><a class="light-grey" href="/news">News</a></h3>
      </div>
      <div class="col-xs-4 col-md-2   center-medium">
        <h3><a class="light-grey" href="/contact">Contact</a></h3>
      </div>
    </div>
  </div>
  <div class="lower-footer">
    <div class="large-container">
      <div class="row no-gutters">
        <div class=" col-md-9 no-gutters hidden-sm col-xs-12">
          <ul class="list-unstyled">
            <li>
              <a href="/support">Support</a>
            </li>
            <li>|</li>
            <li>
              <a  href="http://dilp.netcomponents.com/abracon.html"  target = "_blank">Inventory</a>
            </li>
            <li>|</li>
            <li>
              <a href="/resources">Resources</a>
            </li>
            <li>|</li>
            <li>
              <a href="/how-to-buy">How to Buy</a>
            </li>
            <li>|</li>
            <li>
              <a href="/Support/terms.pdf">Terms & Conditions of Sale</a>
            </li>
                <li>|</li>
            <li>
              <a href="/privacy-policy">Privacy Policy</a>
            </li>
                <li>|</li>
            <li>
              <a href="/cookie-policy">Cookie Policy</a>
            </li>

          </ul>
        </div>
        <div class="text-right col-md-3 col-xs-12 no-gutters center-medium">
          <ul class="list-unstyled">
            <li>
              <a href="mailto:{{  contactInformation.email }}" target="_blank" rel = "nofollow"><img alt="email" src="/assets/icons/footer-mail.svg"></a>
            </li>
            <li>
              <a href="{{  socialMediaLinks.twitter }}" target="_blank" rel = "nofollow"><img alt="twitter" src="/assets/icons/footer-twitter.svg"></a>
            </li>
            <li>
              <a href="{{  socialMediaLinks.facebook }}" target="_blank" rel = "nofollow"><img alt="linkedin" src="/assets/icons/linkedin-grey.svg" style = "margin-top: -5px"></a>
            </li>
            <li style="font-weight: 600; font-size: 15px; margin-left: 10px">&copy;Abracon, {{ "now"|date("Y") }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="customer-login-pop pop-up">
<div class="close-me"><img src="/assets/icons/close-me.svg" alt="X"></div>
  <div class="container contact-form">
      <div class="text-center">
        <h2 class="h1 light-blue">Customer Login</h2>
      </div>

            <form name="userLogin" id="userLogin" method="post" autocomplete="off">

                  <div class="row">
                    <div class="col-sm-6"> <input name="user" id="user" type="text" maxlength="50" required placeholder="User Name"></div>
                    <div class="col-sm-6"> <input name="pw" id="pw" type="password" maxlength="50" required placeholder="Password"><input type="text" name="hp" id="hp" class="nodisplay" style = "display: none;"></div>
                  </div>


              <div class="text-center">
                        <p ><button id="loginButton" class="reverse-btn blue-btn blue-outline submit ">Log In</button></p> <br>
                        <p class = "white">Forgot Your Password? <a href="javaScript:void(0);" title="Have your password emailed." class="forgotPassword light-blue">Click Here.</a></p>
                        </div>

          </form>
</div>

</div>
<div class="reference-design-login-pop pop-up">
  <div class="close-me"><img src="/assets/icons/close-me.svg" alt="X"></div>
    <div class="container contact-form">
        <h2 class="h1 light-blue">Sales Login</h2>
  <form action="/linklogin.php" method="post" name="userlogin" target="_self">
<div class="row">
  <div class="col-sm-6">    <div class="formdata"><input name="username" type="text" value="" required placeholder="User Name"></div></div>
  <div class="col-sm-6">
      <div class="formdata"><input name="password" type="password" value="" required placeholder="Password"></div>
    </div>
</div>


                    <div align="center"><input name="login" type="submit" value="Log In" class="reverse-btn blue-btn blue-outline submit"></div>
                    </form>
                    </div>
</div>

<!--
<style>#_aoCookieModal butto234n,#_aoCookieModal button{padding:10px 20px!important;letter-spacing:2px!important;font-weight:700!important;font-family:'Open Sans',sans-serif!important;display:inline-block!important;text-transform:uppercase!important}#_aoCookieModal button:hover,#_aoCookieModal p{color:#fff!important}body{background-color:#000}#_aoCookieModal{background-color:#253c75!important;border:2px solid #fff!important;display:block!important;padding:20px 30px 10px!important}#_aoCookieModal p{font-size:13px;line-height:17px;font-family:'Open Sans',sans-serif!important;-webkit-font-smoothing:antialiased}#_aoCookieModal butto234n{border:2px solid #61b6e2!important;border-radius:40px!important;transition:all .2s;line-height:24px;color:#253c75;background-color:#fff;font-size:10px!important;margin:10px 7px!important;width:100px!important;text-align:center!important}#_aoCookieModal button{background-color:transparent!important;font-size:12px!important;line-height:17px!important;border:none!important;color:#61b6e2!important;margin:5px!important}
</style>
-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>



	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>


<script>

  WebFont.load({
    google: {
      families: ['Open Sans:400,400i,500,600,700,800,900']
    }
  });
</script>
<script src="/assets/js/modernizr-custom.js" type="text/javascript"></script>
<script src="/assets/js/slick.min.js" type="text/javascript"></script>
<script>




  console.log( getCookie("gdpr") );

  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
  }


if(  $('input[type="file"]').length){
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $(this).parent().find("label").text("" + fileName + "");

        });
}



var $window = $(window);

var lastScrollTop = 0;

$(".apply-btn").click(function(e){
  e.preventDefault();
  $(".careers-pop").addClass("show-me");
})

$(".sales-login").click(function(e){
  e.preventDefault();
  $(".reference-design-login-pop").addClass("show-me");
})

$(".customer-login").click(function(e){
  e.preventDefault();
  $(".customer-login-pop").addClass("show-me");
})

$(".close-me").click(function(e){

  $(this).parent().removeClass("show-me");


})


  $window.scroll(function() {
  if(  $window.scrollTop() > 200  ){
  $("body").addClass("scrolling");
    $(".search-drop").removeClass("dropped");

    var st = $(this).scrollTop();
      if (st > lastScrollTop){
            $("body").removeClass("up");
      } else {
          $("body").addClass("up");
      }
      lastScrollTop = st;

}


else{
$("body").removeClass("scrolling");

}




  })


    if( $(".slider-block").length  ==  1 ){
    $(".homepage-navigation").hide();
    }

   $(".slider-container, .application-slider, .slider").slick({
       dots: true,
       prevArrow: '<button type="button" class="slick-prev"><img src = "/assets/icons/slick-arrow-l.svg"><\/button>',
       nextArrow: '<button type="button" class="slick-next"><img src = "/assets/icons/slick-arrow-r.svg"><\/button>',
       appendDots: $(".sliderNavigation"),
       appendArrows: $(".sliderNavigation"),
       autoplay: true,
  autoplaySpeed: 7000
     });

  {% if craft.request.getSegment(1) == "" %}



 $(".video-carousel").slick({
     dots: true,
     autoplay: true,
autoplaySpeed: 7000,
prevArrow: '<button type="button" class="video-prev"><img src = "/uploads/icons/video-arrow-l.svg"><\/button>',
nextArrow: '<button type="button" class="video-next"><img src = "/uploads/icons/video-arrow-r.svg"><\/button>',
slidesToShow: 5,
dots: false,
responsive: [
      {
        breakpoint: 1250,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 1,
          dots: false
        }
      },
      {
        breakpoint: 1000,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
          dots: false
        }
      },
      {
        breakpoint: 800,
          settings: {
          slidesToShow: 2,
          arrows: false,
          dots: true
      }
    },

    {
      breakpoint: 500,
        settings: {
        slidesToShow: 1,
        arrows: false,
        dots: true
    }
      }


    ]
   });



  {% endif %}


  $( ".video-btn" )
  	.click( function( e ) {
  		var leg = $( this )
  			.data( "link" ) + "?rel=0&autoplay=1";
  		e.preventDefault();
  		$( ".modal-backdrop" )
  			.addClass( "show-me" );
  		$( ".modal-backdrop iframe" )
  			.attr( "src", leg );
  	} )




    $(".dropdown .curr").click(function(){
      $(this).parent().find(".dropdown-list").toggleClass("show-me");
    })


    $(".country-list a").click(function(e){
      e.preventDefault();
      var country = $(this);
      $(".representative").hide();

      var currentText = country.text();
        $(".country-list .curr, .country-name").text(currentText);
        $(".dropdown-list").removeClass("show-me");
      if(country.hasClass("murica")){
      $(".state-list").show();
      }
      else{
        $(".state-list").hide();
        var representativeList = country.data("target").split(",");
        for (i = 0; i < representativeList.length; i++) {
            $(representativeList[i]).show();

          }
    }
    })

    $(".state-list a").click(function(e){

            e.preventDefault();
            $(".representative").hide();
            var country = $(this);
            var representativeList = country.data("target").split(",");

            var currentText = country.text();

          $(".state-list .curr, .country-name").text(currentText);
          $(".dropdown-list").removeClass("show-me");


            for (i = 0; i < representativeList.length; i++) {
                $(representativeList[i]).show();

              }
    })
    $(".resource-list a").click(function(e){
      e.preventDefault();
      $(".show-me").removeClass("show-me");
      $(".show-me-flex").removeClass("show-me-flex");
      $(".curr").text($(this).text());

      $($(this).data("target")).addClass("show-me-flex");
    })



    $(".area-dropdown a").click(function(e){
      e.preventDefault();
      $(".dropdown-list").removeClass("show-me");
      $(".logo-holder").css("display", "none");
      $($(this).data("target")).css("display", "flex");
      $(".area-dropdown .curr").text($(this).text());

    })

    $(".clear-btn").click(function(){
      $(".search-page-input").val("");
    })

    $(".resource-tab").click(function(){
      $(".active").removeClass("active");
      $(this).addClass("active");
      $(".resource-category-list").removeClass("show-me-flex");
      $($(this).data("target")).addClass("show-me-flex");
    })

  $(".tabs li, .tab-dropdown a").click(function(){
    $($(".active-tab").data("target")).addClass("hidden-tab");
    $(".active-tab").removeClass("active-tab");
    $(".dropdown-list").removeClass("show-me");
    $(".curr").text($(this).text());
    $(this).addClass("active-tab");
      $($(this).data("target")).removeClass("hidden-tab");


  })

$(".search").hover(function(){
  $(".search-drop").addClass("dropped");
})




$("body").click(function(){
  $(".search-drop").removeClass("dropped");
})
$(".has-supernav-drop, .has-drop").hover(function(){
  $(".search-drop").removeClass("dropped");
})

$(".mobile-trigger").click(function(){
  $(this).toggleClass("open");
  $(".nav").toggleClass("open");
})

$('.career-target').click(function(){
  $($(this).data("target")).addClass("show-me");
})


$(".crossref-button").click(function(e){
  e.preventDefault();

  $(".part-modal").addClass("show-me");

  $("#form-input-partNumber").val($(this).data("target"));




})
$(".date-field").click(function(){

  $(this).find("label").hide();
  $(this).find("input").trigger('click');


})

$("#samples, #rfq-quote").click(function(){
  if($("#rfq-quote input").is(':checked') ){
    $("#form-input-quantity").removeClass("disabled-input").attr("disabled", false);

  }
  else{
      $("#form-input-quantity").addClass("disabled-input").attr("disabled", true);
  }

})






$(".modal-backdrop, .close-btn").click(function(){
$(".modal-backdrop").removeClass("show-me");
      $(".modal-backdrop iframe").attr("src","");
})








$(".toggle-columns").click(function(){

  $(this).toggleClass("opened");
  $($(this).data("target")).toggle();



})


$(".expandor").click(function(){
  $(this).parents("tr").next(".additional-info").toggle();
  $(this).toggleClass("opened");
})






</script>
{% if craft.request.getSegment(1) == "contact" %}
   <script>
     var map;


     function initMap() {
       map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 30.354668, lng: -98.042011},
         zoom: 14,
         styles:
         [
  {
    "stylers": [
      {
        "hue": "#e7ecf0"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "stylers": [
      {
        "saturation": -70
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "water",
    "stylers": [
      {
        "saturation": -60
      },
      {
        "visibility": "simplified"
      }
    ]
  }
]
       });
       var marker = new google.maps.Marker({
          position: {lat: 30.352668, lng: -98.042011},
          map: map,
          title: 'Abracon HQ',
          icon: "/assets/icons/marker.png"
        });
     }
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUHIsfs-iEMuQVRnq86Qq7TyfabKRXd-8&callback=initMap"
   async defer></script>
{% endif %}
