
<div class="mobile-nav">
  <div class="mobile-logo">
    <a href="/"><img alt="Abracon Logo" src="/assets/icons/logo.svg"></a>
  </div>
  <div class="mobile-trigger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div class="nav-hider"></div>
<div class="nav">
  <div class="upper-nav text-right text-uppercase row no-gutters">
    <ul class="list-unstyled float-right">
      <!-- <li class="hide-mobile">
        <a href="/cross-reference-search" class="white">Cross Reference</a>
      </li> -->
      <li class="has-drop inline-block-mobile">
        <a href="/support" class="white">Support</a>
        <div class="drop">
          <ul class="list-unstyled">
            <li>
              <a class="white text-uppercase arrow-link" href="/support/tech-support-form">
                <div>Tech<br> Support
                  <br> Form
                </div>
                <div class="">
                  <div class="x-smol-arrow-btn blue-arrow">
                    <img alt="arrow >" src="/assets/icons/nav-arrow-right.svg">
                    <img alt="arrow >" src="/assets/icons/nav-arrow-right.svg">
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a class="white text-uppercase arrow-link" href="/support/regulatory-request-form">
                <div>regulatory<br> request
                  <br> form
                </div>
                <div class="">
                  <div class="x-smol-arrow-btn blue-arrow">
                    <img alt="arrow >" src="/assets/icons/nav-arrow-right.svg">
                    <img alt="arrow >" src="/assets/icons/nav-arrow-right.svg">
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="inline-block-mobile">
        <a href="https://dilp.netcomponents.com/abracon.html" class="white" target="_blank" rel = "nofollow">Inventory</a>
      </li>
      <li class="inline-block-mobile no-right-border-mobile">
        <a href="/resources" class="white">Resources</a>
      </li>
      <li class="has-drop btn-mobile right-mobile">
        <a href="/login-page" class="white">Login</a>
        <div class="drop">
          <ul class="list-unstyled">
            <li class="h5">
              <a class="white text-uppercase arrow-link " href="https://www.abraconlink.com/linklogin.php" target = "_blank">Sales<br>
              Login <div class="">
  <div class ="x-smol-arrow-btn blue-arrow">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
</div>
</div></a>
            </li>
            <li>
              <a class="white text-uppercase arrow-link " href="/login.php">Customer<br>
              Login <div class="">
  <div class ="x-smol-arrow-btn blue-arrow">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
</div>
</div></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="dark-blue-background btn-mobile has-drop">
        <a href="/how-to-buy" class="white">How to buy</a>
        <div class="drop">
          <ul class="list-unstyled">
            <li class="h5">
              <a class="white text-uppercase arrow-link " href="https://www.abraconlink.com/samplelink/samplerequest.php" target = "_blank">Sample<br>
              Request <div class="">
  <div class ="x-smol-arrow-btn blue-arrow">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
</div>
</div></a>
            </li>

          </ul>
        </div>
      </li>
      <li class="hide-mobile ">
        <a class="social-icon" href="{{ socialMediaLinks.twitter }}" target="_blank" rel = "nofollow"><img alt="twitter" src="/assets/icons/twitter-blue.png" width="12px"></a>
      </li>
      <li class="hide-mobile">
        <a class="social-icon" href="{{ socialMediaLinks.facebook }}" target="_blank" rel = "nofollow"><img alt="facebook" src="/assets/icons/linkedin-share.svg" style="margin-top: -2px;
    margin-left: -4px;
    height: 11px;
    width: auto;"></a>
      </li>
    </ul>
  </div>
  <div class="main-nav row no-gutters">
    <div class="large-container">
      <div class="logo pull-left">
        <a href="/"><img alt="Abracon" src="/assets/icons/logo.svg"></a>
      </div>
      <div class="float-right">
        <ul class="list-unstyled">
          <li class="has-supernav-drop">
            <a href="/about" class="blue"><span class ="blue-text">About Us</span><img alt="" class="nav-drop arrow-dark" src="/assets/icons/nav-down-arrow-dark.svg"><img alt="" class="nav-drop arrow-light" src="/assets/icons/nav-down-arrow-light.svg"></a>
            <div class="drop-helper"></div>
            <div class="supernav-drop">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <h2 class="h2 white"><a href="/about" class="white">About Us</a></h2>
                    <h5 class="h5 white text-uppercase"><a class="white arrow-link" href="/about">Learn More <div class="">
  <div class ="x-smol-arrow-btn blue-arrow">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
</div>
</div></a></h5>
                    <h5 class="h5 white text-uppercase"><a class="white arrow-link" href="/contact">Contact Us <div class="">
  <div class ="x-smol-arrow-btn blue-arrow">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
</div>
</div></a></h5>
                  </div>
                  <div class="col-md-6">
                    <p class="white">{{ craft.entries.id(34).first.snippet }}</p>
                  </div>
                  <div class="col-md-3">
                    <h4 class="h4 text-uppercase"><a class="light-blue" href="/leadership">Leadership</a></h4>
                    <h4 class="h4 text-uppercase"><a class="light-blue" href="/careers">Careers</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </li>


          <li class="has-supernav-drop">
            <a href="/product-lineup" class="blue">
              <span>Products</span>
              <img alt="arrow down" class="nav-drop arrow-dark" src="/assets/icons/nav-down-arrow-dark.svg">
              <img alt="arrow down alt" class="nav-drop arrow-light" src="/assets/icons/nav-down-arrow-light.svg">
            </a>
            <div class="drop-helper"></div>
            <div class="supernav-drop">
              <div class="container">
                <div class="row">
                  {% set products = craft.entries.section('products') %}
                  <div class="col-md-3">
                    <h2 class="h2 white"><a href="/product-lineup" class = "white">Products</a></h2>
                    <h5 class="h5 white text-uppercase"><a class="white arrow-link" href="/product-lineup">Learn More <div class="">
  <div class ="x-smol-arrow-btn blue-arrow">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
  </div>
  </div></a></h5>
                    <h5 class="h5 white text-uppercase"><a class="white arrow-link" href="/contact">Contact Us <div class="">
  <div class ="x-smol-arrow-btn blue-arrow">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
</div>
</div></a></h5>
                  </div>
                  {% for productCategory in products.level(1) %}
                  <div class="col-md-3">
                    <h4 class="light-blue text-uppercase product-nav-title"><a href="{{ productCategory.url }}" class="light-blue no-left-padding">{{ productCategory.title }}</a></h4>

                    <ul class="list-unstyled product-list-items">

                      {% for product in craft.entries.descendantOf(productCategory) %}
                      <li>
                        <a class="white" href="{{ product.url }}">{{ product.title }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </li>




          <li class="has-supernav-drop">
            <a href="/applications" class="blue"><span>Applications</span><img alt="arrow down" class="nav-drop arrow-dark" src="/assets/icons/nav-down-arrow-dark.svg"><img alt="" class="nav-drop arrow-light" src="/assets/icons/nav-down-arrow-light.svg"></a>
            <div class="drop-helper"></div>
            <div class="supernav-drop">
              <div class="container">
                <div class="row">

                  <div class="col-md-4">
                    <h2 class="h2 white"><a href="/applications" class="white">Applications</a></h2>
                    <h5 class="h5 white text-uppercase"><a class="white arrow-link" href="/applications">Learn More <div class="">
  <div class ="x-smol-arrow-btn blue-arrow">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
</div>
</div></a></h5>
                    <h5 class="h5 white text-uppercase"><a class="white arrow-link" href="/contact">Contact Us <div class="">
  <div class ="x-smol-arrow-btn blue-arrow">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
    <img alt="arrow >"  src="/assets/icons/nav-arrow-right.svg">
</div>
</div></a></h5>
                  </div>


                  {% set applications = craft.entries.section("applications") %} {% set batchSize = applications|length / 2 %} {% for applications in craft.entries.section("applications")|batch(batchSize) %}

                  <div class="col-md-4">
                    <ul class="list-unstyled application-list-item">
                      {% for application in applications %}
                      <li>
                        <a class="white" href="{{ application.url }}">
                          <div class="icon-block">
                            {% set icon = application.displayIcon.first %} {% if icon|length %}
                            <div class="icon-holder"><img alt="{{ icon.title }}" src="{{ icon.url }}" class="{{ icon.title | kebab }}"></div>
                            {% endif %}
                          </div>{{ application.title }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>

                  {% endfor %}

                </div>
              </div>
            </div>
          </li>






          <li>
            <a href="/news" class="blue"><span>News</span></a>
          </li>

  	<li class="has-drop">
    		<a class="blue" href="/contact"><span>Contact</span><img alt="arrow down " class="arrow-dark ml-5 hidden-nav-mobile" src="/assets/icons/nav-down-arrow-dark.svg"></a>

        <div class="drop special-drop">
  	<ul class="list-unstyled">
  		<li class="h5">
  			<a class="white text-uppercase arrow-link flex" href="/how-to-buy" target="_blank">
  			<div>
  				Find Your<br>
  				Rep
  			</div>
  			<div class="special-arrow">
  				<div class="x-smol-arrow-btn blue-arrow"><img alt="arrow &gt;" src="/assets/icons/nav-arrow-right.svg"> <img alt="arrow &gt;" src="/assets/icons/nav-arrow-right.svg"></div>
  			</div></a>
  		</li>
  		<li class="h5">
  			<a class="white text-uppercase arrow-link flex" href="/how-to-buy" style="display: flex; align-items: center; justify-content: center;" target="_blank">
  			<div>
  				Find Your<br>
  				Distributor
  			</div>
  			<div class="special-arrow" style="/* float: right; */ margin-left: auto; height: 20px;">
  				<div class="x-smol-arrow-btn blue-arrow"><img alt="arrow &gt;" src="/assets/icons/nav-arrow-right.svg"> <img alt="arrow &gt;" src="/assets/icons/nav-arrow-right.svg"></div>
  			</div></a>
  		</li>
  	</ul>
  </div>

  	</li>



          <li class="show-mobile">
            <a href="/search/search-start" class="blue"><span>Search</span></a>
          </li>
          <li class="show-mobile">
            <a href="/products.php" class="blue"><span>Parametric Search</span></a>
          </li>
          <!-- <li class="show-mobile">
            <a href="/cross-reference-search" class="blue"><span>Cross Reference Search</span></a>
          </li> -->
          <li class="search">
            <div class="drop-helper"></div>
            <div class="search-toggle"><img alt="magnifying glass" src="/assets/icons/search.svg"></div>
            <div class="search-drop">

              <form action="/search">
                <input type="search" name="q" placeholder="SEARCH">
                <input class="submit-arrow" type="submit" value="">
              </form>

              <!-- <form action="/cross-reference-search">
                <input type="search" name="partNumber" placeholder="CROSS REFERENCE SEARCH">
                <input class="submit-arrow" type="submit" value="">
              </form> -->


              <a href="/products.php" class="blue-btn blue-outline header-btn">Parametric Search </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% cache %}
  {% if craft.request.getSegment(1) !="" and craft.request.getSegment(1) !="base" and entry.section.handle != "landingPages"%}
  <div class="breadcrumbs">
    <div class="large-container">
      <ul class="list-unstyled text-uppercase">
        <li>
          <a href="/" class="body-grey">Home</a>
        </li>

        <li>/</li>

        {% if craft.request.getSegment(1) == "product-lineup" and  craft.request.getSegment(2) != "" %}
        <li>
          <a href="/product-lineup" class="body-grey">Products</a>
        </li>
        <li>/</li>
        {% if craft.request.getSegment(2) != "" %}

        {% for crumb in entry.getAncestors() %}
        <li>
          <a href="{{ crumb.url }}" class="body-grey">{{ crumb.title }}</a>
        </li>
        <li>/</li>
        {% endfor %}
        <li class="bold blue"><b>{{ entry.title }}</b></li>
        {% else %}
        <li class="bold blue"><b>
              Products
            </li>
          {% endif %}

        {% elseif craft.request.getSegment(1) == "applications"%}

              {% if craft.request.getSegment(2) != "" %}
                <li>
                  <a href = "/applications" class = "body-grey">Applications</a>
                </li>
                <li>/</li>

                {% for crumb in entry.getAncestors() %}
                <li>
                  <a href = "{{ crumb.url }}" class = "body-grey">{{ crumb.title }}</a>
                </li>
                <li>/</li>

                {% endfor %}
                  <li class = "bold blue"><b>{{ entry.title }}</b></li>
        {% else %}
        <li class="bold blue"><b>
                  Applications
                </li>
              {% endif %}

          {% else %}

          {% for crumb in entry.getAncestors() %}
          <li>
            <a href = "{{ crumb.url }}" class = "body-grey">{{ crumb.title }}</a>
          </li>
          <li>/</li>

          {% endfor %}
          {% if craft.request.getSegment(1) == "news" and craft.request.getSegment(2) != "" %}
          <li>
            <a href = "/news" class = "body-grey">News</a>
          </li>
          <li>/</li>
          {% endif %}
          {% if craft.request.getSegment(1) == "careers" and craft.request.getSegment(2) != "" %}
          <li>
            <a href = "/careers" class = "body-grey">careers</a>
          </li>
          <li>/</li>
          {% endif %}
  <li class = "bold blue"><b>{{ craft.request.getLastSegment()|replace('-', ' ')}}</b></li>


        {% endif %}



      </ul>
    </div>
  </div>
  {% endif %}
</div>
{% endcache %}
<!-- END HEADER  -->
