{% set banner = entry.banner.first %}
<div class="product-image-jumbotron" style="background-image: url(/assets/icons/grey-slantarooski.png)">
  <div class="container">
    <div class="row flex align-center wrap-md justify-center">
      <div class="col-md-7 right-overflow"><img alt="{{ banner.productBannerImage.first.title }}" src="{{ banner.productBannerImage.first.url }}" class = "img-responsive"></div>
      <div class="col-md-5">
        <h1 class="blue {% if entry.title | length  > 24 %} smol-title {% endif %}">   {% if entry.databaseUrl|length %}<a href="{{ entry.databaseUrl }}" class="blue">{{ entry.title }}</a>{% else %}{{ entry.title }}{% endif %}</h1>
        <p>{{ banner.description }}</p>
        {% if entry.databaseUrl|length %}<a class="blue-btn reverse-btn" href="{{ entry.databaseUrl }}" target = "_blank">Search Parametric</a>{% endif %}
      </div>
    </div>
  </div>
</div>
<div class="light-grey-background text-center lineup-title-text">
</div>
