<div class="row no-gutters image-columns">
  {% for block in entry.relatedPages %}
  {% if block.type == "databaseBlock"%}
    <div class="col-lg-6 col col-xs-12 img-background hidden-overflow relative" style="background-image: url(/assets/imgs/img-background-1.jpg)">
      <div class="row">
        <div class="col-sm-6 relative hidden-xs">
          <img src="{{ block.computerScreenshot.first.url }}" alt="{{ block.computerScreenshot.first.title }}" class = "floating-laptop">
        </div>
        <div class="col-sm-6 col-xs-12">
          <a href=" {{ block.linkUrl }}"  target = "_blank"><h2 class="white">{{ block.headerText}}</h2></a>
          <p class="white">{{ block.description }}</p>
        </div>
        <span class="white-arrow-btn">
          <a href="{{ block.linkUrl }}" class ="blue-arrow large-arrow" target = "_blank"><img alt="arrow >"  src="/assets/icons/white-arrow.svg"><img alt="arrow >"  src="/assets/icons/white-arrow.svg"></a>
        </span>
      </div>
    </div>
    {% elseif block.type == "phaseCalculator" %}
  <div class="col-lg-6 col col-xs-12 graph-background hidden-overflow relative" style="background-image: url(/assets/icons/phasenoise_graph2.svg)">
    <div class = "row">
      <div class="col-sm-12">
        <a href=" {{ block.linkUrl }}"><h2 class="white">{{ block.headerText}}</h2></a>
        <p class="white">{{ block.description }}</p>
      </div>
      <span class="white-arrow-btn">
        <a href="{{ block.linkUrl }}" class ="blue-arrow large-arrow"><img alt="arrow >"  src="/assets/icons/white-arrow.svg"><img alt="arrow >"  src="/assets/icons/white-arrow.svg"></a>
      </span>    </div>
  </div>
  {% elseif block.type == "coloredBackground" %}

  <div class="col-lg-6 col col-xs-12 img-background hidden-overflow relative bottom-img-background dark-blue-background" style="background-image: url({{ block.backgroundImage.first.url }}); background-color: {{ block.backgroundColor }}">
    <div class="row">
      <div class="col-sm-9">
        <a href="{{ block.linkUrl }}">
      <h2 class="h2 white">{{ block.headerText }}</h2></a>
      <p class="white">{{ block.description }}</p>

    </div>
    <span class="white-arrow-btn">
      <a href="{{ block.linkUrl }}" class ="blue-arrow large-arrow"><img alt="arrow >"  src="/assets/icons/white-arrow.svg"><img alt="arrow >"  src="/assets/icons/white-arrow.svg"></a>
    </span>
    </div>

    </div>

{% elseif block.type == "componentsSolutionsCatalog" %}
<div class="col-lg-6 col col-xs-12 img-background hidden-overflow relative bottom-img-background dark-blue-background" style="background-image: url(/assets/icons/texture-2.png)">
  <div class="row text-center">
    <div class="col-sm-12">
      <a href="{{ block.linkUrl }}" class = "white">
    <h2 class="h2 white">{{ block.headerText }}</h2></a>
    <p class="white mb-40">{{ block.description }}</p>
    <a href="{{ block.linkUrl }}" class="blue-btn blue-outline transparent-background white-text mb-30">{{ block.linkText }}</a>
  </div>

</div>

  </div>


{% elseif block.type == "warrantyBlock" %}


<div class="warranty-padding col-lg-6 col-xs-12 col bottom-img-background hidden-overflow relative blue-background" style="background-image: url(/assets/icons/texture-2.png)">
  <div class="row text-center">
    <a href="{{ block.linkUrl }}" class = "white">
    <h2 class="h2 white">{{ block.headerText }}</h2></a>
    <p class="white mb-40 smol">{{ block.description }}</p>
    <div class = "relative flex align-center justify-center warranty-div">

      <a href="{{ block.linkUrl }}" class = "">
        <h4 class="white text-uppercase pr-20 text-right">
          {{ block.linkText|raw|nl2br }}
        </h4>
          </a>
        <span class="">
          <a href="{{ block.linkUrl }}" class ="blue-arrow large-arrow"><img alt="arrow >"  src="/assets/icons/white-arrow.svg"><img alt="arrow >"  src="/assets/icons/white-arrow.svg"></a>
        </span>



    </div>
  </div>

</div>




  {% endif %}
  {% endfor %}
</div>
