{% set database = entry.databaseDescription.first %}
<div class="database-laptop">
  <div class="bottom-right-img-background relative" >
    <img src="/assets/icons/product-connect.png" alt="circuits" class="floating-bottom-right-circuit hidden-md">
    <div class="container">
        <div class="row">
          <div class="col-md-3 relative right-overflow">
              <img src="{{ database.laptopImage.first.url }}" alt="{{ database.laptopImage.first.title }}" class = "floating-laptop hidden-md">
          </div>
          <div class="col-md-6">
            <h2 class="blue"><a href="{{ database.linkUrl }}" class="blue">{{ database.headerText }}</a></h2>
            <p>{{ database.description }}</p>
          </div>
          <div class="col-md-3 text-right text-left-sm">
            <a href="{{ database.linkUrl }}" class="blue-btn reverse-btn">{{ database.linkText }}</a>
          </div>
        </div>
    </div>
    <div class="blue-laptop-bar blue-backgound hidden-md"></div>
  </div>
</div>
