<tr>
    <td>
      {% if entry.description | length %}
      <div class="expandor">
        <span></span>
        <span></span>
      </div>
      {% endif %}
    </td>
    <td>
      {% if entry.productLine | length and  entry.productLine | length < 2 %}
      {% for type in entry.productLine %}
        <span class = "{{ type.id }}">{{ type }}</span>
      {% endfor %}
      {% elseif entry.productType | length >= 2   %}
        <span>Multiple</span>
      {% else %}
        <span>All</span>
      {% endif %}
    </td>
    <td>
      {% if entry.productType | length and  entry.productType | length < 2 %}
        {% for type in entry.productType %}
          <span class = "{{ type.id }}">{{ type }}</span>
        {% endfor %}
      {% elseif entry.productType | length >= 2   %}
        <span>Multiple</span>
      {% else %}
        <span>None</span>
      {% endif %}
    </td>
    <td>
      <a href="{{ entry.upload.first.url }}" target = "_blank">
        {{ entry.title }}
      </a>
    </td>
    <td>
      {{ entry.dateUpdated |date('m/d/Y') }}
    </td>
</tr>
{% if entry.description | length %}
<tr class = "additional-info" style = "display: none;">
  <td colspan="5">
    <div class="flex align-center pt-30 pb-30">
    {% for thumb in entry.assetThumbnail %}
      <a href="{{ entry.upload.first.url }}" target = "_blank">
        <img src="{{ thumb.url }}" alt="{{ thumb.title }}" class = "product-thumb-img">
      </a>
    {% endfor %}
    <div class = "pr-70">
    <p>{{ entry.description }}</p>
    </div>
    </div>
  </td>
</tr>
{% endif %}
