@import "colors"
.application-jumbotron
  h2
    margin-bottom: 25px
  h1
    margin-top: 13px
  .blue-btn
    margin-top: 70px
  .circuit-background
    top: -104px
  .inner-content
    min-height: 400px
  .col
    height: 500px
.stationary-right-block
  padding-top: 60px
  background-position: center right


.application-intro
  padding-top: 80px
  padding-bottom: 40px
  h2
    margin-top: 30px
    margin-bottom: 25px
  img
    max-width: 120%
.featured-application
  border: solid 2px $light-blue
  width: calc(33.33333% - 30px)
  margin: 10px 15px
  position: relative
  padding: 0
  float: left
  a
    padding-left: 15px
  p
    line-height: 66px
    display: inline-block
  img
    position: absolute
    height: 33px
    right: 26px
    top: 17px
.application-slider
  height: 520px
  .container-fluid
    width: 100%
  .h1
    margin-top: -95px
  .slick-slide
    height: 500px
    background-size: cover
    display: flex
    align-items: center
  .slick-list
    height: 500px
  p
    margin-bottom: 40px
  .background-img
    width: 800px
    margin-left: auto
    margin-right: auto
.application-jumbotron
  .sliderNavigation
    top: -80px
    left: 0
.application-list
  padding-top: 110px
  padding-bottom: 120px
.application-box
  background-image: url(/assets/icons/applications-bg.png), linear-gradient(-177deg, #2C549B 0%, #253C75 100%)
  background-position: bottom right
  background-repeat: no-repeat
  padding-top: 80px
  padding-bottom: 80px
.applications-intro
  margin-bottom: 50px
  .btn
    padding-top: 10px
    padding-bottom: 10px
    display: inline-block
    min-width: 190px
.application-card-smol
  width: 300px
  display: inline-block
  box-shadow: 0 0 10px 2px rgba(0,0,0,.2)
  margin-bottom: 30px
  margin-left: 10px
  margin-right: 10px
  transition: all .2s ease
  .product-card-inner
    padding: 0 20px 20px
    background-color: white
    min-height: 140px
    .icon-block
      margin-top: -27px
  h3
    margin-top: 15px
    margin-bottom: 10px
  .application-thumb
    width: 100%
  &:hover
    box-shadow: 0 0 18px 5px rgba(0, 0, 0, 0.2)
.table
  background-color: white
  .row
    margin: 0
    >div
      overflow: hidden
  h4
    padding: 20px
  .blue-background.border-right
    border-right: solid 3px white
  .white-background
    background-color: white
    padding: 20px
  .white-background.border-right
    border-right: solid 3px #F1F1F1
  .border-bottom
    border-bottom: solid 3px #F1F1F1

@media (max-width: 1600px)
  .application-page-jumboton
    background-attachment: fixed
    background-size: auto 550px
    background-position: 0 69px
    background-repeat: no-repeat
@media (max-width: 1200px)

  .application-slider .h1
    margin-top: 20px
  .application-slider
    height: auto
  .application-slider .slick-list
    height: auto
  .application-slider .slick-slide
    height: auto
    height: auto
    padding-bottom: 60px
    padding: 45px 40px 128px
  .application-slider .row .col
    padding-bottom: 0
  .application-jumbotron .row .col
    padding-bottom: 0
  .applicaiton-navigation
    height: 0px
  .application-slider
    .slick-track
      display: flex
  .application-jumbotron .stationary-left-block
    display: none
  .application-intro img
    max-width: 100%
    margin-top: 40px

@media(max-width: 992px)
  .applications-intro
    .btn
      display: none
  .featured-application
    .btn
      display: none
  .related-products
    padding-top: 50px
  .application-page-jumboton
    background-size: cover
    background-position: center top
    background-attachment: inherit

  .featured-application
    width: calc(100% - 30px)
  .application-list
    padding-top: 40px
    padding-bottom: 50px
  .stationary-left-block .inner-container
    margin-top: 50px
    margin-bottom: 60px
  .background-img
    width: 100%
    margin-left: auto
    margin-right: auto
  .application-intro
    padding-top: 40px
    img
      max-width: 100%
      margin-top: 40px
  .application-slider
    .slick-slide
      align-items: flex-start
  .application-jumbotron .sliderNavigation
    top: -50px
@media(max-width: 768px)
  .table .row:not(.no-gutters)
    padding-bottom: 20px
  .application-intro
    padding-top: 40px

  .relatedProducts
    padding-top: 40px
  .table
    .white-background.border-right
      border-right: none
      padding-top: 10px
      padding-bottom: 0px
  .application-slider .slick-slide
    padding: 20px 30px 90px
    align-items: flex-start
    p
      margin-bottom: 20px
@media(max-width: 600px)
  .featured-application
    width: calc(100% - 30px)

  .application-jumbotron .sliderNavigation
    top: -44px
