.h1, h1
  font-size: 45px
  letter-spacing: 0
  line-height: 45px
  font-weight: 700
.h2, h2
  font-size: 30px
  letter-spacing: 0
  line-height: 30px
  font-weight: 700
.h3, h3
  font-size: 18px
  letter-spacing: 1.8px
  line-height: 18px
  font-weight: 700
.h4, h4
  font-size: 12px
  letter-spacing: 2px
  line-height: 17px
  font-weight: 700
.h5, h5
  font-size: 10px
  letter-spacing: 1.67px
  line-height: 10px
  font-weight: 600

p, .p
  font-weight: 100
.large
  font-size: 21px
  letter-spacing: 0
  line-height: 27px
  font-weight: 600
body
  font-size: 16px
  letter-spacing: 0
  line-height: 24px
  font-weight: 100
h1, h2, h3, h4, h5, h6, p
  margin: 0
.smol
  font-size: 12px
  line-height: 14px
.smol-title
  font-size: 35px
  line-height: 40px
th
  font-size: 12px
  line-height: 12px
  font-weight: 300
th.long
  min-width: 150px
th.medium
  min-width: 115px
@media (max-width: 768px)
  .h1, h1
    font-size: 40px
    line-height: 40px
