@import 'colors'
.footer
  padding-top: 70px
  background-color: #2A2B35
  font-size: 14px
  letter-spacing: 0px
  .light-grey, li, a
    color: #717177
    letter-spacing: 0px

  a:hover
    color: white
.main-footer
  padding-bottom: 70px
  li
    margin-bottom: 8px
    line-height: 16px
    a
      font-weight: 300
    h3
      font-weight: 500
  .footer-logo
    direction: rtl
.lower-footer
  background-color: $dark-grey
  padding-top: 10px
  padding-bottom: 10px
  .light-grey, li, a
    color: #454650
  li
    display: inline-block
    padding: 4px
    font-weight: 600
    font-size: 13px
    color: #454650
    letter-spacing: 0
  img
    padding-left: 3px
    padding-right: 3px
    margin-top: -4px


.grey-divider
  display: inline-block
  background-color: #717177
  height: 2px
  width: 20px
  margin-top: 18px
  margin-bottom: 8px
@media (max-width: 992px)
  .footer
    padding-top: 50px
  .footer-logo
    margin-bottom: 20px
