@import "colors"
.first-white-section
  z-index: 1
  background-color: white
  .large-container
    padding-bottom: 120px
    padding-top: 80px
    position: relative
  .circuit-background
    position: absolute
    bottom: -97px
    left: -180px
  h2
    margin-bottom: 20px
.icon-col
  padding-left: 50px
  position: relative
  padding-top: 50px
  >div
    width: 100%
  a.arrow-link
    position: absolute
    bottom: -40px
  .icon-block-smol
    position: absolute
    left: 0
  h3
    margin-bottom: 20px
  ul
    &:first-child
      padding-right: 10px
  li
    margin-bottom: 10px
    line-height: 18px
    font-size: 14px
    padding-bottom: 3px
    border-left: solid 1px transparent
    transition: all .2s
    &:hover
      padding-left: 5px
      margin-left: -5px
      border-left: solid 1px $dark-blue
.jumbotron .col
  height: 550px

.stationary-left-block
  background-color: $dark-blue
  position: relative
  overflow: hidden

  .inner-container
    border-left: solid 1px $light-blue
    padding-left: 25px
    max-width: 340px
    margin-left: auto
    margin-right: auto
    margin-top: 100px
    min-height: 452px
    position: relative
  .circuit-background
    position: absolute
    top: -126px
    left: 0
.jumbo-social
  position: absolute
  bottom: 60px
  left: 25px
  width: 200px
  a
    padding: 5px
    margin-left: 10px
    &:hover img
      filter: saturate(0) brightness(200%)
  img
    height: 18px
    transition: all .1s ease


.banner-bg
  background-image: url(/assets/icons/banner-background.jpg)
  background-size: 100%
  background-attachment: fixed
  background-position: center 67px
.slider-container
  max-width: 800px
  margin-left: auto
  margin-right: auto
  margin-top: 60px
  p
    margin-top: 20px
    margin-bottom: 40px
  img
    max-width: 100%
.hidden-slide
  display: none
.slider
  .h1
    margin-bottom: 15px
  h3
    margin-bottom: 20px
  p
    margin-bottom: 30px
  .slider-block
    max-width: 900px
    margin-left: auto
    margin-right: auto
  .slider-block .row
    width: 100%
  .slick-list
  .slick-slide
    background-size: cover
    background-position: center right
    img
      max-width: 100%
.slider .slider-block, .slider .slick-list, .slider, .slider.slick-slide
  height: 550px
.homepage-navigation
  margin-top: -50px
.video-btn:hover
  img
    transition: all .3s ease
  .smol-arrow
    img:first-child
      transform: translateX(39px)
    img:last-child
      transform: translateX(39px)

@media (max-width: 1200px)
  .slider-block .text-block
    position: absolute
    bottom: 0
    left: 0
    padding-top: 20px
    padding-bottom: 25px
    z-index: 5
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5490196078431373))
    width: 100%
    text-align: center
  .slider-block .h1, .slider-block p, .slider h3
    color: white

  .slider .slider-block, .slider .slick-list, .slider, .slider.slick-slide
    height: 600px
  .slider-block
    position: relative
    .h1, p, h3
      color: white
  .homepage-navigation
    margin-top: -70px
    height: 0px
  .slider .slick-slide
    background-position: center center
    img
      margin-left: auto
      margin-right: auto
      max-height: 225px
  .first-white-section .flex
    flex-wrap: wrap
  .jumbotron > .row
    display: flex
    flex-wrap: wrap-reverse
    .col:last-child
      width: 100%
      height: 600px
    .col:first-child
      width: 100%
      height: auto

  .stationary-left-block

    height: auto
    h1
      font-size: 30px
      line-height: 36px
      margin-bottom: 10px
    .circuit-background
      left: 0
      top: -43%
      width: 100%
    .inner-container
      max-width: 600px
      text-align: center
      padding-left: 0
      border-left: none
      min-height: 0
      margin-bottom: 100px
  .video-btn
    cursor: pointer
    margin-bottom: 50px
  .resource-vid .video-btn
    margin-bottom: 0
  .banner-bg
    order: 1
    padding-bottom: 50px
    background-size: cover
    background-attachment: inherit
  .jumbo-social
    width: auto
    position: relative
    bottom: 0
    left: 0
  .first-white-section
    .large-container
      padding-left: 50px
  .bottom-padding-mobile
    padding-bottom: 25px
  .home-jumbotron .banner-bg
    padding-bottom: 0

  .homepage-navigation
    .slick-dots
      display: none !important
    .sliderNavigation
      position: inherit
    .slick-prev
      left: 0
      top: calc(50% - 50px)
    .slick-next
      right: 0
      top: calc(50% - 50px)
  .slider-block .right-overflow
    display: none
  .slider .slider-block
    max-width: none
@media (max-width: 992px)
  .slider-container
    padding-left: 25px
    padding-right: 25px
  .first-white-section .large-container
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 20px
  .icon-col
    padding: 50px 25px 30px
    text-align: center
    background: #FFFFFF
    margin-top: 79px
    margin-bottom: 30px

    h3 br
      display: none
    .arrow-link
      display: block
      width: 100%
      background-color: $blue
      margin-left: -25px
      margin-right: -25px
      padding-top: 10px
      padding-bottom: 20px
      img
        filter: saturate(0) brightness(500%)
  .icon-col .icon-block-smol
    left: calc(50% - 24px)
    top: -24px
    width: 48px
    height: 48px
    .connectivity-icon
      width: 27px
      height: 24px
    .power-icon
      width: auto
      height: 25px
    .icon-holder
      width: 100%
      height: 100%
      img
        max-height: 24px
        max-width: 24px


.fifth-col
  width: 20%


.video-carousel
  padding-top: 30px
  margin-top: 15px
  h4
    line-height: 13px
    text-transform: none
  h5
    line-height: 12px
    text-transform: none
.resource-vid
  h4
    line-height: 13px
    text-transform: none
  h5
    line-height: 12px
    text-transform: none
.video-carousel .slick-track
  margin-bottom: 0

.video-carousel img, .resource-vid img
  width: 100%
.video-carousel img
  max-width: 350px
.video-carousel .vid-thumb, .resource-vid .vid-thumb, .video-carousel .link-thumb
  position: relative
  overflow: hidden
.video-carousel .video-btn:hover .vid-thumb::after, .resource-vid .video-btn:hover .vid-thumb::after, .video-carousel .link-thumb:hover:after
  transform: scale(1.1)
  background-color: rgba(0,0,0,0)


.video-carousel .vid-thumb::after, .resource-vid .vid-thumb::after, .video-carousel .link-thumb::after
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-image: url(/uploads/icons/play-btn.svg)
  transition: all .2s ease
  background-color: rgba(0,0,0,.3)
.video-carousel .link-thumb::after
  background-image: none
.video-carousel a, .resource-vid a
  outline: none
.video-prev
  position: absolute
  top: 56px
  left: -65px

.video-next
  position: absolute
  top: 56px
  right: -65px

.video-container
  padding-left: 80px
  padding-right: 80px
  .slick-dots
    margin-bottom: 0
    margin-top: 30px
  .slick-dots button
    border: solid 2px #253c75
  .slick-active button
    background-color: #253c75

@media (max-width: 768px)

  .video-container
    padding-left: 25px
    padding-right: 25px


  .video-btn
    margin-bottom: 30px
  .slider .slider-block, .slider .slick-list, .slider, .slider.slick-slide
    height: 550px
  .jumbotron>.row .col:last-child
    width: 100%
    height: 550px

  .slider-block .text-block
    background: rgba( 255, 255, 255, .5)
    a
      background-color: $blue
      color: white
      border-color: $light-blue
  .slider-block
    position: relative
    .h1, p, h3
      color: $blue
    .h1
      font-size: 30px
      line-height: 34px
      margin-bottom: 5px
    h3
      margin-bottom: 15px
    p
      margin-bottom: 20px
    .btn
      margin-bottom: 10px
  .slider-container
    padding-left: 15px
    padding-right: 15px
  .stationary-left-block
    text-align: left
    position: relative
    h1
      font-size: 21px
      letter-spacing: 0
      line-height: 27px
    .circuit-background
      display: none
      left: 0
    .inner-container
      text-align: left
  .jumbo-social
    display: none
  .first-white-section .large-container
    padding-top: 40px
  .slider-container
    p
      margin-bottom: 20px
    img
      max-height: 190px
      margin-bottom: 20px
  .home-jumbotron .slider-container .col
    padding-bottom: 70px
  .slider-container
    margin-top: 40px
  .first-white-section.mt-40
    margin-top: 0
