/* Slider

.slick-slider
  position: relative
  display: block
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-touch-callout: none
  -khtml-user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent

.slick-list
  position: relative
  display: block
  overflow: hidden
  margin: 0
  padding: 0
  &:focus
    outline: none
  &.dragging
    cursor: pointer
    cursor: hand

.slick-slider
  .slick-track, .slick-list
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.slick-track
  position: relative
  top: 0
  left: 0
  display: block
  margin-left: auto
  margin-right: auto
  margin-bottom: -20px
  &:before
    display: table
    content: ''
  &:after
    display: table
    content: ''
    clear: both

.slick-loading .slick-track
  visibility: hidden

.slick-slide
  display: none
  float: left
  height: 100%
  min-height: 1px

[dir='rtl'] .slick-slide
  float: right

.slick-slide
  img
    display: block
  &.slick-loading img
    display: none
  &.dragging img
    pointer-events: none

.slick-initialized .slick-slide
  display: block
  outline: none
.slick-loading .slick-slide
  visibility: hidden

.slick-vertical .slick-slide
  display: block
  height: auto
  border: 1px solid transparent

.slick-arrow.slick-hidden
  display: none

.slick-arrow
  position: absolute
  z-index: 10
  background-color: white
  outline: none


.slick-prev
  left: 0

.slick-next
  right: 0

.slick-dots
  position: absolute
  bottom: 2px
  display: block
  width: 100%
  padding: 0
  left: 70px
  list-style: none
  text-align: center
  li
    position: relative
    display: inline-block
    width: 40px
    height: 40px
    margin: 0 5px
    padding: 0
  button
    font-size: 0
    line-height: 0
    display: block
    width: 40px
    height: 40px
    padding: 5px
    color: transparent
    border: 0
    outline: none
    background: transparent
    &:hover, &:focus
      outline: none
    &:hover:before, &:focus:before
      opacity: 1
    &:before
      font-family: 'slick'
      font-size: 40px
      line-height: 20px
      position: absolute
      top: 0
      left: 0
      width: 40px
      height: 40px
      content: '•'
      text-align: center
      opacity: .25
      color: white
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
    &.slick-active button:before
      opacity: 1
      color: white
.sliderNavigation
  position: relative
  width: auto
  display: inline-block
  margin-left: auto
  margin-right: auto
  left: 60px
.slick-dots
  width: calc(100% - 70px)
  li
    width: 20px
    height: 20px
    display: inline-block
    margin-left: 2px
    margin-right: 2px
  .slick-active
    button
      background-color: white
  button
    width: 12px
    height: 12px
    padding: 0
    display: inline-block
    line-height: 12px
    font-size: 12px
    border: solid 2px white
    border-radius: 50%
    &:before
      content: none
.slick-prev
  left: -25px
.slick-next
  right: -25px
.slick-arrow
  background: none
  border: none
  position: absolute
.slick-dots
  margin-top: 3px
  position: relative
  left: 0
  width: auto
  bottom: 0
@media (max-width: 1200px)
  .sliderNavigation
    left: 0
    bottom: -15px
