{% extends "_layouts/cp" %}

{% if CraftEdition == CraftPro and currentUser.can('editUsers') %}
	{% set crumbs = [
		{ label: "Users"|t, url: url('users') }
	] %}
{% endif %}

{% import "_includes/forms" as forms %}

{% includeTranslations
	"Are you sure you want to delete this photo?"
%}

{% includejsresource "lib/fileupload/jquery.fileupload.js" %}
{% includejsresource "lib/jcrop/jquery.Jcrop.min.js" %}
{% includejsresource "js/profile.js" %}
{% includecssresource "lib/jcrop/jquery.Jcrop.min.css" %}
{% includecssresource "css/profile.css" %}


{% set photoInput %}
	{% include 'users/_userphoto' with {account: account} only %}
{% endset %}

{% set saveUserButtons %}

	<div class="buttons">
		{% if not currentUser.can('registerUsers') or CraftEdition != CraftPro %}
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		{% else %}
			<div class="btngroup">
				<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
				<div class="btn submit menubtn"></div>
				<div class="menu">
					<ul>
						<li><a class="formsubmit" data-redirect="users/{id}">
							{{ forms.optionShortcutLabel('S') }}
							{{ "Save and continue editing"|t }}
						</a></li>
						<li><a class="formsubmit" data-redirect="users/new">{{ "Save and add another"|t }}</a></li>
					</ul>
				</div>
			</div>
		{% endif %}
	</div>

{% endset %}

{% set requireEmailVerification = craft.systemSettings.users.requireEmailVerification %}

{% set hiddenInputs %}
	{{ getCsrfInput() }}
	{% if not isNewAccount -%}
		<input type="hidden" name="userId" value="{{ account.id }}">
	{%- endif %}
{% endset %}

{% hook "cp.users.edit" %}

{% block main %}
	<div class="grid" data-max-cols="3">
		<div class="item" data-position="left" data-colspan="2">
			<form id="userform" class="pane" method="post" accept-charset="UTF-8" autocomplete="off" data-saveshortcut data-saveshortcut-redirect="{{ account.isCurrent() ? 'myaccount' : (CraftEdition == CraftPro and currentUser.can('editUsers') ? 'users/{id}' : 'dashboard') }}">
				<input type="hidden" name="action" value="users/saveUser">
				<input type="hidden" name="redirect" value="{{ CraftEdition == CraftPro and currentUser.can('editUsers') ? 'users' : 'dashboard' }}">
				{{ hiddenInputs }}

				{% include "_includes/tabs" %}

				<div id="account">
					{% include "users/_accountfields" %}

					{% if isNewAccount %}

						{{ forms.textField({
							label: "Email"|t,
							instructions: (requireEmailVerification and not currentUser.admin ? 'A verification email will be sent automatically.'|t),
							id: 'email',
							name: 'email',
							value: account.email,
							required: true,
							errors: account.getErrors('email')
						}) }}

						{% if requireEmailVerification and currentUser.admin %}
							{{ forms.checkboxField({
								label: "Send an activation email now?"|t,
								name: 'sendVerificationEmail',
								checked: true
							}) }}
						{% endif %}

					{% elseif account.isCurrent() or currentUser.admin or currentUser.can('changeUserEmails') %}

						{{ forms.textField({
							label: "Email"|t,
							instructions: (requireEmailVerification and not currentUser.admin ? 'New email addresses must be verified before taking effect.'|t),
							id: 'email',
							name: 'email',
							value: account.email,
							required: true,
							errors: account.getErrors('email')
						}) }}

						{% if account.isCurrent() %}
							{{ forms.textField({
								label: "New Password"|t,
								id: 'newPassword',
								name: 'newPassword',
								type: 'password',
								errors: account.getErrors('newPassword')
							}) }}
						{% endif %}

						{% if currentUser.admin %}
							{{ forms.checkboxField({
								label: "Require a password reset on next login"|t,
								name: 'passwordResetRequired',
								checked: account.passwordResetRequired
							}) }}
						{% endif %}

					{% endif %}

					{% if craft.isLocalized() %}
						{% set localeInput %}
							<div class="select">
								<select id="preferredLocale" name="preferredLocale">
									{% set allSiteLocales = craft.i18n.getSiteLocales %}
									{% set userLocale = account.preferredLocale ? account.preferredLocale : (account.isCurrent() ? craft.locale : allSiteLocales[0]) %}

									{% for locale in allSiteLocales %}
										<option value="{{ locale.id }}" {% if locale.id == userLocale %}selected{% endif %}>{{ locale.getName() }}</option>
									{% endfor %}
								</select>
							</div>
						{% endset %}

						{{ forms.field({
							id: 'preferredLocale',
							label: "Preferred Locale"|t
						}, localeInput) }}
					{% endif %}

					{% if account.isCurrent() %}
						{{ forms.selectField({
							label: "Week Start Day"|t,
							id: 'weekStartDay',
							name: 'weekStartDay',
							options: craft.i18n.getLocaleData().getWeekDayNames(),
							value: account.weekStartDay
						}) }}
					{% endif %}

					{{ saveUserButtons }}
				</div>

				{% if not isNewAccount or CraftEdition == CraftPro %}
					<div id="profile" class="hidden">
						{% if not isNewAccount %}
							{{ forms.field({
								label: "Photo"|t
							}, photoInput) }}

							<hr>
						{% endif %}

						{% if CraftEdition == CraftPro %}
							{% include "_includes/fields" with {
								fields: craft.fields.getLayoutByType('User').getFields(),
								element: account
							} only %}

							{{ saveUserButtons }}

						{% endif %}
					</div>
				{% endif %}

				{% if CraftEdition >= CraftClient and currentUser.can('assignUserPermissions') %}
					<div id="perms" class="hidden">

						{% if CraftEdition == CraftPro %}
							<h2>{{ "User Groups"|t }}</h2>

							{% set assignableGroups = craft.userGroups.getAssignableGroups(account) %}
							{% set currentGroupIds = account.getGroups('id')|keys %}

							{% set userGroupsInput %}
								<input type="hidden" name="groups" value="">

								{% if assignableGroups %}
									<ul>
										{% for group in assignableGroups %}
											<li>
												{{ forms.checkbox({
													label: group.name|t|e,
													name: 'groups[]',
													value: group.id,
													checked: (group.id in currentGroupIds)
												}) }}
											</li>
										{% endfor %}
									</ul>

								{% else %}
									<p>{{ "No user groups exist yet."|t }}</p>
								{% endif %}
							{% endset %}

							{{ forms.field({
								fieldId: 'user-groups'
							}, userGroupsInput) }}

							<hr>
						{% endif %}

						<h2>{{ "Permissions"|t }}</h2>

						{% if currentUser.admin and CraftEdition == CraftPro %}
							{{ forms.checkboxField({
								label: '<strong>' ~ "Admin"|t ~ '</strong>',
								name: 'admin',
								id: 'admin',
								checked: account.admin,
								reverseToggle: 'permissions'
							}) }}
						{% endif %}

						<input type="hidden" name="permissions" value="">

						<div id="permissions" class="field{% if account.admin %} hidden{% endif %}">
							{% include "_includes/permissions" with {
								userOrGroup: (account.admin ? null : account),
								groupPermissions: craft.userPermissions.getGroupPermissionsByUserId(account.id)
							} only %}
						</div>

						{{ saveUserButtons }}

					</div>
				{% endif %}
			</form>
		</div><!--/item-->

		{% if CraftEdition >= CraftClient and not isNewAccount %}
			<div class="item" data-position="right">
				<form class="pane lightpane meta" method="post" accept-charset="UTF-8">
					{{ hiddenInputs }}
					<div class="data first">
						<h5 class="heading">{{ "Account Status"|t }}</h5>
						<div class="value flex">
							<div class="flex-grow"><span class="status {{ account.status }}"></span> {{ statusLabel }}</div>

							{% if actions|length %}
								<div>
									<div id="action-menubtn" class="btn menubtn" data-icon="settings" title="{{ 'Actions'|t }}"></div>
									<div class="menu">
										{% for actionList in actions %}
											{% if not loop.first %}<hr>{% endif %}
											<ul>
												{% for actionItem in actionList %}
													<li><a
														{%- if actionItem.id is defined %} id="{{ actionItem.id }}"{% endif %}
														{%- if actionItem.action is defined %} class="formsubmit" data-action="{{ actionItem.action }}"{% endif -%}
													>{{ actionItem.label }}</a></li>
												{% endfor %}
											</ul>
										{% endfor %}
									</div>
									<div id="action-spinner" class="spinner hidden"></div>
								</div>
							{% endif %}
						</div>
					</div>

					{% if account.status == 'locked' and craft.config.cooldownDuration and account.remainingCooldownTime %}
						<div class="data">
							<h5 class="heading">{{ "Cooldown Time Remaining"|t }}</h5>
							<p class="value">{{ account.remainingCooldownTime.humanDuration() }}</p>
						</div>
					{% endif %}

					<div class="data">
						<h5 class="heading">{{ "Registration Date"|t }}</h5>
						<p class="value">{{ account.dateCreated.localeDate() }} {{ account.dateCreated.localeTime() }}</p>
					</div>

					{% if account.status != 'pending' %}
						<div class="data">
							<h5 class="heading">{{ "Last Login Date"|t }}</h5>
							<p class="value">{% if account.lastLoginDate %}{{ account.lastLoginDate.localeDate() }} {{ account.lastLoginDate.localeTime() }}{% else %}{{ "Never"|t }}{% endif %}</p>
						</div>

						<div class="data">
							<h5 class="heading">{{ "Last Invalid Login Date"|t }}</h5>
							<p class="value">{% if account.lastInvalidLoginDate %}{{ account.lastInvalidLoginDate.localeDate() }} {{ account.lastInvalidLoginDate.localeTime() }}{% else %}{{ "Never"|t }}{% endif %}</p>
						</div>

						<div class="data">
							<h5 class="heading">{{ "Last Password Change Date"|t }}</h5>
							<p class="value">{% if account.lastPasswordChangeDate %}{{ account.lastPasswordChangeDate.localeDate() }} {{ account.lastPasswordChangeDate.localeTime() }}{% else %}{{ "Never"|t }}{% endif %}</p>
						</div>

						<div class="data">
							<h5 class="heading">{{ "Invalid Login Count"|t }}</h5>
							<p class="value">{% if account.invalidLoginCount %}{{ account.invalidLoginCount }}{% else %}0{% endif %}</p>
						</div>
					{% endif %}
				</form>

				{# Give plugins a chance to add other panes here #}
				{% hook "cp.users.edit.right-pane" %}
			</div><!--/item-->
		{% endif %}
	</div><!--/grid-->
{% endblock %}

{% includejs %}
	{% if account.isCurrent() %}
		var changeSidebarPicture = true;
	{% else %}
		var changeSidebarPicture = false;
	{% endif %}

	new Craft.ElevatedSessionForm('#userform', [
		'#email',
		'#newPassword',
		'#admin:not(:checked)',
		'#user-groups input[type="checkbox"]:not(:checked)',
		'#permissions input[type="checkbox"]:not(:checked)'
	]);
{% endincludejs %}
