<div class="user-photo" data-user="{{ account.id }}">
	<div id="current-photo">
		<img width="100" height="100" sizes="100px" srcset="{{ account.getThumbUrl(100) }} 100w, {{ account.getThumbUrl(200) }} 200w" alt="">
	</div>

	<div class="user-photo-controls">
		{% if account.photo %}
			<div class="btn upload-photo">{{ "Change photo"|t }}</div>
			<div class="btn delete-photo">{{ "Delete photo"|t }}</div>
		{% else %}
			<div class="btn upload-photo">{{ "Upload a photo"|t }}</div>
		{% endif %}
	</div>
</div>
