{% if CraftEdition != CraftPro %}
	{% exit 404 %}
{% endif %}

{% requirePermission 'editUsers' %}

{% extends "_layouts/elementindex" %}
{% set title = "Users"|t %}
{% set elementType = 'User' %}

{% set docsUrl = 'http://craftcms.com/docs/users' %}

{% if currentUser.can('registerUsers') %}
    {% set extraPageHeaderHtml %}
    	<div class="buttons right">
        	<a class="btn submit add icon" href="{{ url('users/new') }}">{{ "New user"|t }}</a>
        </div>
    {% endset %}
{% endif %}
