{% if page is not defined %}
    {% set page = "" %}
{% endif %}

<ul id="resources" class="dropdown-content">
    <li><a href="https://solspace.com/craft/freeform/">Freeform</a></li>
    <li><a href="https://solspace.com/craft/freeform/docs/">Documentation</a></li>
    <li><a href="https://solspace.com/craft/freeform/support/">Support</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="{{ siteUrl }}demo/materialize" class="brand-logo">Freeform Demo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ siteUrl }}demo/bootstrap">Bootstrap</a></li>
            <li><a href="{{ siteUrl }}demo/foundation">Foundation</a></li>
            <li class="active"><a href="{{ siteUrl }}demo/materialize">Materialize</a></li>
            <li><a href="{{ siteUrl }}demo/ajax">AJAX</a></li>

            <!-- Dropdown Trigger -->
            <li>
                <a class="dropdown-button" href="#!" data-activates="resources">
                    Resources<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>

        </ul>
    </div>
</nav>
