{% extends "_layouts/message" %}
{% set title = "Page Not Found"|t %}

{% block message %}
	<h2>{{ title }}</h2>

	{% if message %}
		{% filter md %}{{ message }}{% endfilter %}
	{% else %}
		<p>{{ "The requested URL was not found on this server."|t }}</p>
	{% endif %}
{% endblock %}
