{% extends "_layouts/message" %}
{% set title = "Internal Server Error"|t %}

{% block message %}
	<h2>{{ title }}</h2>

	{% if message %}
		{% filter md %}{{ message }}{% endfilter %}
	{% else %}
		<p>{{ "An error occurred while processing your request."|t }}</p>
	{% endif %}
{% endblock %}
