{% extends "_layouts/message" %}
{% set title = "Service Unavailable"|t %}

{% block message %}
	<h2>{{ title }}</h2>

    {% if message %}
		{% filter md %}{{ message }}{% endfilter %}
	{% else %}
		<p>{{ "Our site is temporarily unavailable. Please try again later."|t }}</p>
	{% endif %}
{% endblock %}
