{% extends "_layouts/cp" %}
{% set title = "Thanks for updating to Craft 2.5" %}
{% set bodyClass = 'whats-new' %}
{% includeCssResource "css/whats-new.css" %}

{% block pageHeader %}{% endblock %}

{% set url = 'http://craftcms.com/updates/2.5' %}
{% set vimeoVideoId = '147139440' %}

{% block content %}
	<header>
		<h1>{{ title }}</h1>
		<p>Craft 2.5 packs <a href="{{ url }}">180 new features and improvements</a> focused on improving the Author Experience.<br>We hope you like it!</p>
	</header>

	<div id="video-wrapper">
		<iframe id="video" class="video" data-vimeo-id="{{ vimeoVideoId }}" src="//player.vimeo.com/video/{{ vimeoVideoId }}" width="870" height="489" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
{% endblock %}
