{% switch block.headerSize %}

  {% case "h1" %}
  <h2 class="h1 blue">
    {{ block.headerText }}
  </h2>
  {% case "h2" %}
  <h2 class="h2 blue">
    {{ block.headerText }}
  </h2>
  {% case "h3" %}
  <h3 class="h3 blue">
    {{ block.headerText }}
  </h3>
  {% case "h4" %}
  <h4 class="h4 blue">
    {{ block.headerText }}
  </h4>
  {% case "h5" %}
  <h5 class="h5 blue">
    {{ block.headerText }}
  </h5>
  {% case "h6" %}
  <h6 class="h6 blue">
    {{ block.headerText }}
  </h6>

{% endswitch %}
