{% switch block.position %}

  {% case "left" %}
    <img src="{{ block.image.first.url }}" alt="{{ block.image.first.title }}" class = "float-left img-responsive">
  {% case "right" %}
    <img src="{{ block.image.first.url }}" alt="{{ block.image.first.title }}" class = "float-left img-responsive">
  {% case "center" %}
    <img src="{{ block.image.first.url }}" alt="{{ block.image.first.title }}" class = "center-img img-responsive">
  {% case "full" %}
    <img src="{{ block.image.first.url }}" alt="{{ block.image.first.title }}" class = "full-img img-responsive" style = "max-width: 100%;">

{% endswitch %}
