
<div class="product-list bottom-img-background text-center container-fluid" style="background-image: url(/assets/icons/circuit-fade.png)">
    <div class="medium-container">
  <div class="text-center product-intro">
    <h2 class="blue">Product Lineup</h2>
    </div>


  {% set batchSize = craft.entries.descendantOf(entry)|length() / 2 %}


  <div class="text-center row flex wrap justify-center">
      {% for product in craft.entries.descendantOf(entry) %}

    <div class="product-card-smol flex wrap ">
      <div class="product-card-inner">{% if product.banner.first.productBannerImage.first | length %}

        {% set thumb = {
            mode: 'Fit',
            width: 260,
            quality: 75,
          } %}
        <a href="{{ product.url }}">
        <img alt="{{ product.banner.first.productBannerImage.first.title }}" src="{{ product.banner.first.productBannerImage.first.url(thumb) }}" >
        </a>
        {% endif %}
        <h3 class="blue text-uppercase"><a href="{{ product.url }}" class="blue">{{ product.title }}</a></h3>
        <p>
        {% if product.snippet | length > 140 %}
        {{ product.snippet | slice(0, 140) }}...
          {% else %}
          {{ product.snippet }}
          {% endif %}
    </p>
      </div>
      <div class="thin-blue-bar blue-bar blue-background shadow">
        <div class="row">
          <div class="col-xs-12 text-left white relative arrow-link">
            <a class="h4 text-uppercase blue-outline white" href="{{ product.url }}">
              Learn More
            <div class = "arrow-container">
              <span class = "medium-arrow-btn">
                <img alt="arrow >" class="white-arrow-btn" src="/assets/icons/learn-more-arrow.svg">
                <img alt="arrow >" class="white-arrow-btn" src="/assets/icons/learn-more-arrow.svg">
              </span>
            </div>
              </a>
          </div>
        </div>
      </div>
    </div>

      {% endfor %}
  </div>

</div>
<div class="container mt-40">
  <span class="h4 blue text-uppercase ">
          <a href="/product-lineup" class="return-arrow blue">
            <span class="return-arrow-btn">
              <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class="return-arrow">
              <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class="return-arrow">

            </span>
          Products
          </a>
        </span>
</div>
</div>
<div class="application-box gradient-background" style = "">
  <div class="container">
    <div class="row applications-intro">
      <div class="col-sm-6">
        <h2 class="white">Featured Applications</h2><span class="blue-line"></span>
      </div>
      <div class="col-sm-6 text-right">
        <a class="btn blue-outline" href = "/applications">
          Learn More
        </a>
      </div>
    </div>
    <div class="row">
      {% for application in entry.featuredApplications %}

      <div class="featured-application col-md-4 col-xs-12">
        <a href="{{ application.url }}">
        <p class="large white">{{ application.title }}</p>
        <img src="{{ application.displayIconAlt.first.url }}" alt="{{ application.displayIcon.first.title }}">
        </a>
      </div>

  {% endfor %}

    </div>
  </div>

</div>
{% if entry.relatedResources | length %}
<div class="related-resources light-grey-background">
  <div class="container">
    <h2 class="blue">Related Resources</h2><span class="blue-line"></span>
    {% for resources in entry.relatedResources|batch(2) %}
    <div class="row">
      {% for resource in resources %}
      <div class="col-md-6 related-resource">
        <a href="{{ resource.url }}" class = "body-grey">
        <p class="large">{{ resource.title }}</p><img alt="download icon" src="/assets/icons/download-btn.png"></a>
      </div>
      {% endfor %}
    </div>
{% endfor %}


  </div>
</div>
{% endif %}
