
{% if entry.tabbedContent | length %}

<div class="tabbed-list bottom-img-background" style="background-image: url(/assets/icons/circuit-fade.png)">
  <div class="text-center product-intro">
    <h2 class="blue">Product Lineup</h2>
    </div>
<div class="text-center">
  <div class="dropdown mb-40 tab-dropdown">
    <div class="curr">Select a product</div>
    <div class="dropdown-list ">
    {% for tab in entry.tabbedContent %}
        <a data-target=".tab-{{loop.index}}">{{ tab.tab}}</a>
    {% endfor %}
    </div>
  </div>
</div>

  <div class="tabbed-items">

{% set width = 0 %}
      {% set tabs = entry.tabbedContent %}
        {% if tabs|length %}

        {% if tabs|length > 7 %}

          {% set width1  =  100 / (((tabs | length ) / 2 ) | round(0, 'floor') ) %}
          {% set width2  =  100 / (((tabs | length ) / 2 ) | round ) %}
          {% set half = (((tabs | length ) / 2 ) | round ) %}
          <ul class="list-unstyled tabs text-center">
            {% for tab in tabs %}

            <li data-target = ".tab-{{loop.index}}"   {% if loop.first %} class = "active-tab" {% endif %} {% if loop.index < half %}style = "width: calc({{ width1}}%);" {% else %}style = "width: calc({{ width2}}%);"  {% endif %}>{{ tab.tab }}</li>

            {% endfor %}
          </ul>
        {% else %}


          {% set width1  =  100 / (tabs | length ) %}
          <ul class="list-unstyled tabs text-center">
            {% for tab in tabs %}
            <li data-target = ".tab-{{loop.index}}"   {% if loop.first %} class = "active-tab" {% endif %} style = "width: calc({{ width1}}%);">{{ tab.tab }}</li>
            {% endfor %}
          </ul>
        {% endif %}
  {% endif %}





  {% set mysize = 0 %}

    {% for tab in tabs %}



    {% if (tab.relatedResources | length) or (tab.featuredApplications | length) or (tab.featuredDescriptionHeader | length) or (tab.featuredListHeader | length) %}
        {% set mysize = 1 %}
    {% endif %}

    <div class="size-{{ mysize}} tab {% if not loop.first %}hidden-tab{% endif %} tab-{{ loop.index }}">

      <div class="row {% if (tab.relatedResources | length ) or (tab.featuredApplications | length )  %}  border-bottom {% endif %} top-info ">
        <div class="col-md-6">
          {% set thumb = {
              mode: 'Fit',
              width: 500,
              quality: 75,
            } %}
          <img src="{{ tab.productImage.first.url(thumb) }}" alt="{{ tab.productImage.first.title }}" class = "tab-img img-responsive">
        </div>
        <div class="col-md-6">
          <h2><a href="{{ tab.databaseLink }}" class = "blue" target = "_blank"> {{ tab.tabHeader }}</a></h2>
          <p>{{ tab.description }}</p>
          <a href="{{ tab.databaseLink}}" class="btn blue-btn reverse-btn" target = "_blank">Search Parametric</a>
        </div>
      </div>









      <div class="row bottom-section">

          {% if tab.featuredApplications| length %}
                {% set featuredApplications  = tab.featuredApplications %}
                {% set batchSize = featuredApplications|length / 2 %}


        <div class="col-md-6 featured-block {% if (tab.relatedResources | length ) and (tab.featuredApplications | length )  %}border-right{% endif %}">
            <h3 class="blue featured-item-text text-uppercase">Featured Applications</h3>
          <div class="row ">




            {% for applications in featuredApplications|batch(batchSize) %}
            <div class="col-sm-5 ">
              <ul class = "list-unstyled">
                {% for application in applications %}
                  <li> <a href="{{ application.url }}" class = "body-grey">{{ application.title }}</a>  </li>
                {% endfor %}
              </ul>
            </div>
              {% endfor %}

          </div>




        </div>
          {% endif %}

        {% if tab.relatedResources| length %}
          {% set featuredResources  = tab.relatedResources %}
          {% set batchSize = featuredApplications|length / 2 %}


        <div class="col-md-6 featured-block">
          <h3 class="blue featured-item-text text-uppercase">Featured Resources</h3>
            <div class="row ">


          {% set batchSize = featuredResources|length / 2 %}

          {% for resources in featuredResources|batch(batchSize) %}
            <div class="col-sm-6 featured-item-text">
          <ul class = "list-unstyled">
            {% for resource in resources %}
              <li> <a href="{{ resource.url }}" class = "body-grey">{{ resource.title }}</a>  </li>
            {% endfor %}
          </ul>
            </div>
          {% endfor %}

        </div>
          </div>
              {% endif %}


              {% if tab.featuredDescriptionHeader|length %}
              <div class="col-md-6 featured-block ">
                  <h3 class="blue featured-item-text text-uppercase">{{ tab.featuredDescriptionHeader }}</h3>
                  <p>{{ tab.featuredDescription }}</p>

              </div>
              {% endif %}


              {% if tab.featuredListHeader|length %}
              <div class="col-md-6 featured-block ">
                  <h3 class="blue featured-item-text text-uppercase">{{ tab.featuredListHeader }}</h3>
                  <ul>
                    {% for bullet in tab.featuredList %}
                    <li> {{ bullet.bullet }}</li>
                    {% endfor %}
                  </ul>

              </div>
              {% endif %}






      </div>


    </div>
    {% endfor %}




  </div>

  <div class="container  mt-60 mb-0 text-center back-tabbed">
  <span class="h4 blue text-uppercase ">
          <a href="{{ entry.parent.url }}" class="return-arrow blue">
            <span class="return-arrow-btn">
              <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class="return-arrow">
              <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class="return-arrow">

            </span>
          {{ entry.parent.title }}
          </a>
        </span>
</div>

	</div>
{% else %}

<div class="container  mt-60 mb-60  text-center back-untabbed">
<span class="h4 blue text-uppercase ">
        <a href="{{ entry.parent.url }}" class="return-arrow blue">
          <span class="return-arrow-btn">
            <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class="return-arrow">
            <img src="/assets/icons/back-arrow-blue.svg" alt="< arrow" class="return-arrow">

          </span>
        {{ entry.parent.title }}
        </a>
      </span>
</div>




{% endif %}
