{% extends "_layouts/main" %}

{% block main %}

{% include "_partials/banner.html" %}

<div class="first-white-section mt-80">
  <div class="container container-fluid">



    <div class="row  ">
      <div class="col-xs-12">

        {% set products = craft.entries.section('products') %}
        {% for productCategory in products.level(1) %}
        <div class="row product-lineup ">
      <div class="col-lg-4 col-md-12 col-xs-12 icon-col icon-col-no-top relative">


        <a href="{{ productCategory.url }}">
        <div class="icon-block-smol">
          <div class="icon-holder">
            <img alt="{{ productCategory.displayIcon.first.title }}" src="{{ productCategory.displayIcon.first.url }}" class = "{{ productCategory.displayIcon.first.title | kebab }}">
          </div>
        </div>
        {% set cat =  productCategory.title | split('&') %}
        <h3 class="h2 blue">{{ cat[0] }} & <br> {{ cat[1] }}</h3>
      </a>
      <p> {{ productCategory.snippet }} </p>

  </div>


              {% set batchSize = craft.entries.descendantOf(productCategory)|length() / 2 %}


                {% for products in craft.entries.descendantOf(productCategory)|batch(batchSize) %}
                    <div class="col-md-4 col-xs-12  ">
            <ul class="list-unstyled item-list blue ">
              {% for product in products %}
              <li><a href="{{ product.url }}" class = "blue large">{{ product.title}}</a></li>
              {% endfor %}
            </ul>
                      </div>
                  {% endfor %}




      <!-- <a class="white h4 text-uppercase light-blue arrow-link" href="{{ productCategory.url }}">
        Learn More
        <span class="smol-arrow blue-arrow">
          <img alt="arrow >" src="/assets/icons/arrow-r-blue-smol.svg">
          <img alt="arrow >" src="/assets/icons/arrow-r-blue-smol.svg">
        </span>
      </a> -->

</div>
{% if not loop.last %}
<hr class = "product-lineup-hr">
{% endif %}
      {% endfor %}
</div>
    </div>
  </div>
</div>


{% include "_partials/screenshot-block.html"%}

{% endblock %}
