{% extends "_layouts/message" %}
{% set title = "Update Craft CMS"|t %}

{% block message %}
	{% set handle = craft.updates.getManualUpdateHandle() %}

	{% if handle is null %}
		{% set handle = 'Craft' %}
		{% set name = 'Craft CMS' %}
	{% endif %}

	{% set name = craft.updates.getManualUpdateDisplayName() %}

	<p>{{ "To complete the {name} update, some changes must be made to your database."|t({ name: name }) }}</p>
	<div class="buttons">
		<a class="btn submit" href="{{ url('manualupdate/' ~ handle|lower) }}">{{ "Finish up"|t }}</a>
	</div>

{% endblock %}
