<html>
<body>
	<div style="max-width: 500px; font-size: 13px; line-height: 18px; font-family: HelveticaNeue, sans-serif; color: #29323d; background: #fff;">
		{{ body }}
	</div>
</body>
</html>
