{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% includeCssResource "retour/css/Retour.css" %}
{% includeJsResource "retour/js/Retour.js" %}

{% set title = craft.retour.getPluginName() %}

{% set fullPageForm = true %}

{% set docsUrl = "https://github.com/nystudio107/retour/blob/master/README.md" %}

{% set retourSections = {
    redirects:      { label: "Redirects"|t, url: url('retour/redirects') },
    statistics:     { label: "Statistics"|t, url: url('retour/statistics') },
    settings:       { label: "Settings"|t, url: url('retour/settings') },
} %}

{% set crumbs = [
    { label: craft.retour.getPluginName(), url: url('retour') },
    { label: "Redirects"|t, url: url('retour/redirects') },
    { label: "Edit"|t, url: url(craft.request.url) },
] %}

{% if craft.app.version < 2.5 %}
    {% set tabs = retourSections %}
    {% set selectedTab = 'redirects' %}
{% else %}
    {% set subnav = retourSections %}
    {% set selectedSubnavItem = 'redirects' %}
{% endif %}

{% set content %}

<!-- Needed for for Craft < 2.5 -->

    {% if craft.app.version < 2.5 %}
    <form id="edit-redirect-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="retour/saveRedirect">
    {% endif %}

    <input type="hidden" name="action" value="retour/saveRedirect" />
    <input type="hidden" name="redirect" value="retour/redirects" />
    {{ getCsrfInput() }}

<!-- Edit a redirect -->

            {{ forms.hidden({
                id: "redirectId",
                name: "redirectId",
                value: redirectId,
            }) }}

            <div class="field first">
                <div class="heading">
                    <div class="instructions"><p>{{ "Retour will look for 404 (Not Found) URLs that match the Legacy URL Pattern below, and redirect them to Destination URL." |t |raw}}</p></div>
                </div>
            </div>

            <div class="field">
                <div class="heading">
                    <label for="redirectSrcUrl">{{ "Legacy URL Pattern"|t}}</label>
                    <div class="instructions"><p>{{ "Enter the URL pattern that Retour should match.  This matches against the path, the part of the URL after the domain name.  e.g.: Exact Match: <code>/recipes/</code> or RegEx Match: <code>.*RecipeID=(.*)</code>" |t |raw}}</p></div>
                </div>
               {{ forms.textField({
                    fieldClass: 'nomarginfield',
                    id: "redirectSrcUrl",
                    class: 'nicetext',
                    name: "redirectSrcUrl",
                    value: values.redirectSrcUrl,
                    maxlength: 255,
                    showCharsLeft: true,
                    required: true,
                }) }}
            </div>

            <div class="field">
                <div class="heading">
                    <label for="redirectDestUrl">{{ "Destination URL"|t}}</label>
                    <div class="instructions"><p>{{ "Enter the destination URL that should be redirected to.  This can either be a fully qualified URL or a relative URL.  e.g.: Exact Match: <code>/new-recipes/</code> or RegEx Match: <code>/new-recipes/$1</code>" |t |raw}}</p></div>
                </div>
               {{ forms.textField({
                    fieldClass: 'nomarginfield',
                    id: "redirectDestUrl",
                    class: 'nicetext',
                    name: "redirectDestUrl",
                    value: values.redirectDestUrl,
                    maxlength: 255,
                    showCharsLeft: true,
                    required: true,
                }) }}
            </div>

            <div class="field">
                <div class="heading">
                    <label for="redirectMatchType">{{ "Pattern Match Type"|t}}</label>
                    <div class="instructions"><p>{{ "What type of matching should be done with the Legacy URL Pattern.  Details on RegEx matching can be found at <a href='http://regexr.com/' target='blank'>regexr.com</a>  If a plugin provides a custom matching function, you can select it here." |t |raw}}</p></div>
                </div>
                {{ forms.selectField({
                    fieldClass: 'nomarginfield',
                    class: 'selectField',
                    id: "redirectMatchType",
                    options: matchList,
                    name: "redirectMatchType",
                    value: values.redirectMatchType,
                }) }}
            </div>

            <div class="field">
                <div class="heading">
                    <label for= "redirectHttpCode">{{ "Redirect Type"|t}}</label>
                    <div class="instructions"><p>{{ "Select whether the redirect should be permanent or temporary." |t |raw}}</p></div>
                </div>
                {{ forms.selectField({
                    fieldClass: 'nomarginfield',
                    class: 'selectField',
                    id: "redirectHttpCode",
                    options: {
                        "301": "301 - Permanent"|t,
                        "302": "302 - Temporary"|t,
                        "410": "410 - Gone"|t,
                    },
                    name: "redirectHttpCode",
                    value: values.redirectHttpCode,
                }) }}
            </div>

<!-- Needed for for Craft < 2.5 -->

        {% if craft.app.version < 2.5 %}
        <div class="item" data-position="left" data-colspan="1">
            <div class="buttons">
                <div class="btngroup submit first">
                    <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
                </div>
            </div>
        </div>
        {% endif %}


<!-- Needed for for Craft < 2.5 -->

    {% if craft.app.version < 2.5 %}
    </form>
    {% endif %}

{% endset %}
