<ul>
	{% for key, source in sources %}
		{% if source.heading is defined %}
			<li class="heading"><span>{{ source.heading|t }}</span></li>
		{% else %}
			<li>
				<a data-key="{{ source.key is defined ? source.key : key }}"
					{%- if source.hasThumbs is defined and source.hasThumbs %} data-has-thumbs{% endif %}
					{%- if source.structureId is defined and source.structureId %} data-has-structure{% endif %}
					{%- if source.defaultSort is defined %}{% set defaultSort = source.defaultSort %} data-default-sort="{{ defaultSort is iterable ? defaultSort|join(':') : defaultSort }}"{% endif %}
					{%- if source.data is defined -%}
						{% for dataKey, dataVal in source.data %} data-{{ dataKey }}="{{ dataVal }}"{% endfor %}
					{%- endif %}>
						{%- if source.status is defined and source.status -%}
							<span class="status {{ source.status }}"></span>
						{%- endif -%}
						{{- source.label -}}
				</a>
				{% if source.nested is defined and source.nested is not empty %}
					<div class="toggle"></div>
					{% include "_elements/sources" with {
						sources: source.nested
					} %}
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
</ul>
