{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: "Date Time Type"|t,
    instructions: "Use only date, time or both."|t,
    value: field.getProperty('dateTimeType'),
    name: "types[datetime][dateTimeType]",
    id: "dateTimeTypeSelector",
    options: {
        "both": "Both"|t,
        "date": "Date"|t,
        "time": "Time"|t,
    },
    required: false,
}) }}

{{ forms.textField({
    label: "Default Value"|t,
    instructions: "You can use 'now', 'today', '5 days ago', '2017-01-01 20:00:00', etc, which will format the default value according to the chosen format."|t,
    id: "initialValue",
    name: "types[datetime][initialValue]",
    value: field.getProperty('initialValue'),
    errors: field.getErrors("initialValue"),
    required: false
}) }}

{% set generatePlaceholder = field.getProperty("generatePlaceholder", true) %}

{{ forms.lightswitchField({
    label: "Use datepicker for this field"|t,
    name: "types[datetime][useDatepicker]",
    on: field.getProperty('useDatepicker', true),
}) }}

{{ forms.lightswitchField({
    label: "Generate Placeholder"|t,
    instructions: "Enable this to automatically generate a placeholder based on the given date format settings."|t,
    name: "types[datetime][generatePlaceholder]",
    on: generatePlaceholder,
    reverseToggle: 'placeholder-wrapper',
}) }}

<div id="placeholder-wrapper"
     style="margin-bottom: 20px;"
     class="{{ generatePlaceholder ? 'hidden' : '' }}">
    {{ forms.textField({
        label: "Placeholder"|t,
        instructions: "The default text that will be shown if the field doesn’t have a value."|t,
        id: "placeholder",
        name: "types[datetime][placeholder]",
        value: field.placeholder,
        errors: field.getErrors("placeholder"),
        required: false
    }) }}
</div>

<div id="date-time-date">
    {{ forms.selectField({
        label: "Date Order"|t,
        instructions: "Choose the order in which to show day, month and year."|t,
        value: field.getProperty('dateOrder'),
        name: "types[datetime][dateOrder]",
        options: {
            "ymd": "year month day"|t,
            "mdy": "month day year"|t,
            "dmy": "day month year"|t,
        },
        required: false,
    }) }}

    {{ forms.lightswitchField({
        label: "Four digit year?"|t,
        name: "types[datetime][date4DigitYear]",
        on: field.getProperty('date4DigitYear', true),
    }) }}

    {{ forms.lightswitchField({
        label: "Date leading zero"|t,
        instructions: "If enabled, a leading zero will be used for days and months."|t,
        name: "types[datetime][dateLeadingZero]",
        on: field.getProperty('dateLeadingZero', true),
    }) }}


    {{ forms.selectField({
        label: "Date Separator"|t,
        instructions: "Used to separate date values."|t,
        value: field.getProperty('dateSeparator', '/'),
        name: "types[datetime][dateSeparator]",
        options: {
            "": "None"|t,
            " ": "Space"|t,
            "/": "/",
            "-": "-",
            ".": ".",
        },
    }) }}
</div>

<div id="date-time-clock" class="field">
    {% set clock24h = field.getProperty('clock24h', false) %}

    {{ forms.lightswitchField({
        label: "24h clock?"|t,
        name: "types[datetime][clock24h]",
        on: clock24h,
        reverseToggle: '12h-clock-wrapper',
    }) }}

    {{ forms.selectField({
        label: "Clock Separator"|t,
        instructions: "Used to separate hours and minutes."|t,
        value: field.getProperty('clockSeparator', ':'),
        name: "types[datetime][clockSeparator]",
        options: {
            "": "None"|t,
            " ": "Space"|t,
            ":": ":",
            "-": "-",
            ".": ".",
        },
    }) }}

    <div id="12h-clock-wrapper"
         style="margin-bottom: 20px;"
         class="{{ clock24h ? 'hidden' : '' }}">

        {{ forms.lightswitchField({
            label: "Lowercase AM/PM?"|t,
            name: "types[datetime][lowercaseAMPM]",
            on: field.getProperty('lowercaseAMPM'),
        }) }}


        {{ forms.lightswitchField({
            label: "Separate AM/PM with a space?"|t,
            name: "types[datetime][clockAMPMSeparate]",
            on: field.getProperty('clockAMPMSeparate'),
        }) }}

    </div>
</div>
