{% import "_includes/forms" as forms %}


<table class="shadow-box editable value-group" id="dynamic_recipients-table" data-type="dynamic_recipients">
    <thead>
    <tr>
        <th scope="col" class="header field-label">{{ "Label" }}</th>
        <th scope="col" class="header field-value">{{ "Email" }}</th>
        <th scope="col" colspan="3" class="header">{{ "Selected?" }}</th>
    </tr>
    </thead>
    <tbody>
    {% for option in field.options %}
        <tr data-id="{{ loop.index0 }}">
            <td class="textual field-label">
                <textarea name="types[dynamic_recipients][labels][]" rows="1">{{ option.label }}</textarea>
            </td>
            <td class="textual field-value">
                <textarea name="types[dynamic_recipients][values][]" class="code" rows="1">{{ option.value }}</textarea>
            </td>
            <td>
                {% set isChecked = option.value in field.values or option.value == field.value %}
                <input type="hidden" value="{{ isChecked }}" name="types[dynamic_recipients][checked][]" />
                <input type="radio" name="dynamic_recipients_is_checked" {{ isChecked ? "checked" : "" }} />
            </td>
            <td class="thin action"><a class="move icon" title="{{ 'Reorder'|t }}"></a></td>
            <td class="thin action"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="btn add icon">{{ addRowLabel is defined ? addRowLabel : "Add a row"|t }}</div>
