{% extends "_layouts/main" %}

{% block main %}
{% set banner = entry.banner.first %}
<div class="contact-jumbotron img-background fixed-bg" style = "background-image: url(/uploads/banner-images/background.png)">
  <div class="container">
    <div class="row">
    <div class=" text-center col-md-8 col-md-offset-2">
      <h1 class="white">{{ banner.headerText }}</h1>

      <h3 class="contact-icons white text-uppercase mb-30">
        <a href="tel:{{ contactInformation.phoneNumber }}" class = "white"><img src="/assets/icons/phone.svg" alt="phone">{{ contactInformation.phoneNumber }}</a><span></span>
        <a href="mailto:{{ contactInformation.email }}" class = "white"><img src="/assets/icons/email.svg" alt="email">{{ contactInformation.email }}</a>
      </h3>


      <a href="/how-to-buy" class = "btn white-outline ml-10 mr-10 mb-20">Find Your Local Rep</a>
        <a href="/how-to-buy" class = "btn white-outline ml-10 mr-10">Find Your Local Distributor</a>
    </div>
    </div>
  </div>
</div>


<div class="container contact-container">
    <div class="row blue-background text-center">
      <div class="col-xs-12">
        {% set textBlock = entry.contactPageText.first %}

    <p class="white large">{{ textBlock.description|nl2br|raw }}</p>
  </div>
</div>

<div class="row pt-40 pb-40">
  {% for block in entry.supportTypes %}
  <div class="col-md-6  col-xs-12 pt-20 pb-20 ">

    <div class="row flex align-center">
      <div class="col-xs-9">
          <a href="{{ block.linkUrl }}" class = "body-grey">
        <p class="large">{{ block.headerText }}</p>
        <p>{{ block.description}} </p>
          </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="{{ block.linkUrl }}" class="medium-large-arrow blue">
              <img src="/assets/icons/large-arrow-blue.svg" alt="> arrow" >
              <img src="/assets/icons/large-arrow-blue.svg" alt="> arrow" >

          </a>
      </div>
    </div>

  </div>
  {% endfor %}
</div>

</div>

<div class="container support-section">
  <div class="text-center">
  <h2 class=" blue">General Contact Form</h2>
</div>
    {{ craft.freeform.form("contact").render() }}

</div>


<div class="map-holder relative">

  <div class="map-inner white-background absolute text-center">
    <a href="https://www.google.com/maps/place/5101+Hidden+Creek+Ln,+Spicewood,+TX+78669/@30.3486679,-98.0446821,17z/data=!3m1!4b1!4m5!3m4!1s0x865b393592bc04bd:0x5f38a181dfbe9806!8m2!3d30.3486679!4d-98.0424934">
    <img src="/assets/icons/logo.svg" alt="logo">
    <p class="h3 body-grey text-uppercase">
      5101 Hidden Creek Lane<br>Spicewood, TX 78669
    </p>
</a>
  </div>
  <div id="map" style = "width: 100%; height: 430px;"></div>


</div>



{% endblock %}
