{% if element is not defined %}{% set element = null %}{% endif %}
{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

{% namespace namespace %}
    {% for index, field in fields %}
        {% if settings is defined and settings.fieldLayout == 'row' %}

            <tr data-id="">
                <td class="thin rowHeader">
                    <span class="heading-text {% if field.required %}required{% endif %}">
                        {{ field.getField().name | t }}

                        {% if field.getField().instructions %}
                            <span class="info">{{ field.getField().instructions | t }}</span>
                        {% endif %}
                    </span>
                </td>

                <td>
                    {% include "supertable/field" with {
                        field:    field.getField(),
                        required: field.required,
                        element:  element,
                        static:   (static is defined ? static : null)
                    } only %}
                </td>

                {% if settings.staticField is defined and not settings.staticField %}
                    <td class="thin placeholder"></td>
                {% endif %}
            </tr>

        {% else %}
            <td>
                {% include "supertable/field" with {
                    field:    field.getField(),
                    required: field.required,
                    element:  element,
                    static:   (static is defined ? static : null)
                } only %}
            </td>
        {% endif %}
    {% endfor %}
{% endnamespace %}

