{% import "_includes/forms" as forms %}

{% includeCssResource 'supertable/css/SuperTableInput.css' %}

<input type="hidden" name="{{ name }}" value="">

<div id="{{ id }}" class="superTableContainer rowLayout">
    <div class="rowLayoutContainer">
        {% set totalNewBlocks = 0 %}

        {% if settings.staticField %}
            {% if blocks %}
                {% set blocks = [blocks] %}
            {% endif %}
        {% endif %}

        {% for block in blocks %}
            {% set blockId = block.id %}

            {% if not blockId %}
                {% set totalNewBlocks = totalNewBlocks + 1 %}
                {% set blockId = 'new'~totalNewBlocks %}
            {% endif %}

            <div class="superTableRow" data-id="{{ blockId }}">
                <input type="hidden" name="{{ name }}[{{ blockId }}][type]" value="{{ block.getType() }}">

                <table class="shadow-box editable superTable">
                    <tbody>
                        {% include "supertable/fields" with {
                            namespace: name~'['~blockId~'][fields]',
                            element: block,
                            fields: block.getType().getFieldLayout().getFields(),
                            settings: settings,
                        } %}
                    </tbody>

                    <tfoot {% if settings.staticField or static %}style="display: none;"{% endif %}>
                        <tr>
                            <td class="floating reorder"><a class="move icon" title="{{ 'Reorder'|t }}"></a></td>
                            <td class="floating delete"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {% endfor %}
    </div>

    <div class="superTableAddRow btn add icon" {% if settings.staticField or static %}style="display: none;"{% endif %}>{{ settings.selectionLabel | default("Add a row") | t }}</div>
</div>
