<input type="hidden" name="{{ name }}" value="">

<div class="matrix" id="{{ id }}">
    <div class="blocks">
        {% set totalNewBlocks = 0 %}
        {% for block in blocks %}
            {% set blockId = block.id %}
            {% if not blockId %}
                {% set totalNewBlocks = totalNewBlocks + 1 %}
                {% set blockId = 'new'~totalNewBlocks %}
            {% endif %}

            <div class="matrixblock" data-id="{{ blockId }}">
                {% if not static %}
                    <input type="hidden" name="{{ name }}[{{ blockId }}][type]" value="{{ block.getType() }}">
                    <input type="hidden" name="{{ name }}[{{ blockId }}][enabled]" value="{% if block.enabled %}1{% endif %}">
                    <div class="titlebar">
                        <div class="blocktype"></div>
                        <div class="preview"></div>
                    </div>
                    <div class="checkbox" title="{{ 'Select'|t }}"></div>
                    <div class="actions">
                        <div class="status off" title="{{ 'Disabled'|t }}"></div>
                        <a class="settings icon menubtn" title="{{ 'Actions'|t }}" role="button"></a>
                        <div class="menu">
                            <ul class="padded">
                                <li><a data-icon="remove" data-action="delete">{{ "Delete"|t }}</a></li>
                            </ul>
                        </div>
                        <a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a>
                    </div>
                {% endif %}
                <div class="fields">
                    {% include "_includes/fields" with {
                        namespace: name~'['~blockId~'][fields]',
                        element: block,
                        fields: block.getType().getFieldLayout().getFields(),
                        static: static
                    } %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if not static %}
        <div class="buttons">
            <div class="btngroup">
                    <div class="btn add icon">Add</div>
            </div>

            <div class="btn add icon menubtn hidden">{{ "Add a block"|t }}</div>
            <div class="menu">
                <ul>
                        <li><a>Add</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
</div>
