{% import "_includes/forms" as forms %}

{% includeCssResource 'supertable/css/SuperTableInput.css' %}

<input type="hidden" name="{{ name }}" value="">

{% set columnSettings = [] %}
{% if settings is defined and settings %}
    {% for col in settings.columns %}
        {% set columnSettings = columnSettings | merge([col]) %}
    {% endfor %}
{% endif %}

<div class="superTableContainer columnLayout">
    <div class="superTableColumn">
        <table id="{{ id }}" class="shadow-box editable superTable">
            <thead>
                <tr>
                    <th class="hidden"></th>

                    {% if table %}
                        {% for index, field in table.getFields() %}
                            {% if columnSettings[index] is defined %}
                                {% set width = columnSettings[index].width %}

                                {% if width %}
                                    {% if 'px' not in width and '%' not in width %}
                                        {% set width = width ~ '%' %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            <th scope="col" class="col-header" {% if width is defined and width %}style="width: {{ width }}"{% endif %}>
                                <span class="heading-text {% if field.required %}required{% endif %}">
                                    {{ field.name | t }} {% if field.instructions %}<span class="info">{{ field.instructions | t }}</span>{% endif %}
                                </span>
                            </th>
                        {% endfor %}
                    {% endif %}

                    {% if not settings.staticField %}
                        <th class="col-header" colspan="2"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% set totalNewBlocks = 0 %}

                {% if settings.staticField %}
                    {% if blocks %}
                        {% set blocks = [blocks] %}
                    {% endif %}
                {% endif %}
                
                {% for block in blocks %}
                    {% set blockId = block.id %}

                    {% if not blockId %}
                        {% set totalNewBlocks = totalNewBlocks + 1 %}
                        {% set blockId = 'new'~totalNewBlocks %}
                    {% endif %}

                    <tr data-id="{{ blockId }}">
                        <td class="hidden">
                            <input type="hidden" name="{{ name }}[{{ blockId }}][type]" value="{{ block.getType() }}">
                        </td>
                        
                        {% include "supertable/fields" with {
                            namespace: name~'['~blockId~'][fields]',
                            element: block,
                            fields: block.getType().getFieldLayout().getFields(),
                            settings: settings,
                        } %}

                        <td class="thin action super-table-action {% if settings.staticField or static %}hidden{% endif %}">
                            <a class="move icon" title="{{ 'Reorder'|t }}"></a>
                        </td>

                        <td class="thin action super-table-action {% if settings.staticField or static %}hidden{% endif %}">
                            <a class="delete icon" title="{{ 'Delete'|t }}"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="btn add icon" {% if settings.staticField or static %}style="display: none;"{% endif %}>{{ settings.selectionLabel | default("Add a row") | t }}</div>
    </div>
</div>


