{% requireAdmin %}

{% extends "_layouts/cp" %}
{% set title = "Fields"|t %}

{% set docsUrl = 'http://craftcms.com/docs/fields' %}

{% includejsresource "js/fields.js" %}

{% includeTranslations
	"What do you want to name your group?",
	"Could not create the group:",
	"Could not create the group:",
	"Are you sure you want to delete this group and all its fields?",
	"Could not delete the group.",
	"Group renamed."
%}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') }
] %}


{% set groups = craft.fields.getAllGroups('id') %}

{% if groupId is defined %}
	{% if groups[groupId] is not defined %}
		{% exit 404 %}
	{% endif %}

	{% set fields = groups[groupId].getFields() %}
{% else %}
	{% set fields = craft.fields.getAllFields() %}
{% endif %}


{% set extraPageHeaderHtml %}
	{% if groups %}
		<div class="buttons right">
			{% set newFieldUrl = url('settings/fields/new', (groupId is defined ? { groupId: groupId } : null)) %}
			<a href="{{ newFieldUrl }}" class="submit btn add icon">{{ "New field"|t }}</a>
		</div>
	{% endif %}
{% endset %}


{% block sidebar %}
	<nav>
		<ul id="groups">
			<li><a href="{{ url('settings/fields') }}"{% if groupId is not defined %} class="sel"{% endif %}>{{ "All Fields"|t }}</a></li>
			{% for group in groups %}
				<li><a href="{{ url('settings/fields/'~group.id) }}"{% if groupId is defined and group.id == groupId %} class="sel"{% endif %} data-id="{{ group.id }}">{{ group.name|t }}</a></li>
			{% endfor %}
		</ul>
	</nav>

	<div class="buttons">
		<div id="newgroupbtn" class="btn add icon">{{ "New group"|t }}</div>

		{% if groupId is defined %}
			<div id="groupsettingsbtn" class="btn settings icon menubtn" title="{{ 'Settings' }}"></div>
			<div class="menu">
				<ul>
					<li><a data-action="rename" role="button">{{ "Rename selected group"|t }}</a></li>
					<li><a data-action="delete" role="button">{{ "Delete selected group"|t }}</a></li>
				</ul>
			</div>
		{% endif %}
	</div>
{% endblock %}


{% block content %}
	<p id="nofields"{% if fields %} class="hidden"{% endif %}>
		{% if groupId is defined %}
			{{ "This group doesn’t have any fields yet."|t }}
		{% else %}
			{{ "No fields exist yet."|t }}
		{% endif %}
	</p>

	{% if fields %}
		<table id="fields" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Handle"|t }}</th>
				<th scope="col">{{ "Type"|t }}</th>
				{% if groupId is not defined %}<th scope="col">{{ "Group"|t }}</th>{% endif %}
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for field in fields %}
					<tr data-id="{{ field.id }}" data-name="{{ field.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('settings/fields/edit/' ~ field.id) }}">{{ field.name|t }}</a>
							{%- if field.required %} <span class="required"></span>{% endif -%}
						</th>
						<td data-title="{{ 'Handle'|t }}"><code>{{ field.handle }}</code></td>
						<td data-title="{{ 'Type'|t }}">
							{% set fieldType = field.getFieldType() %}
							{% if fieldType %}
								{{ fieldType.name }}
							{% else %}
								<span class="error">{{ field.type }}</span>
							{% endif %}
						</td>
						{% if groupId is not defined %}<td data-title="{{ 'Group'|t }}">{{ field.group.name|t }}</td>{% endif %}
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}


{% includejs %}
	new Craft.AdminTable({
		tableSelector: '#fields',
		noObjectsSelector: '#nofields',
		deleteAction: 'fields/deleteField'
	});
{% endincludejs %}

