{% extends "_layouts/cp" %}
{% set fullPageForm = true %}

{% set docsUrl = 'http://craftcms.com/docs/globals' %}

{% import "_includes/forms" as forms %}


{% block content %}
	<input type="hidden" name="action" value="globals/saveSet">
	<input type="hidden" name="redirect" value="settings/globals">

	{% if globalSet.id %}<input type="hidden" name="setId" value="{{ globalSet.id }}">{% endif %}

	<div id="set-settings">
		{{ forms.textField({
			first: true,
			label: "Name"|t,
			instructions: "What this global set will be called in the CP."|t,
			id: 'name',
			name: 'name',
			value: globalSet.name,
			errors: globalSet.getErrors('name'),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: "Handle"|t,
			instructions: "How you’ll refer to this global set in the templates."|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: globalSet.handle,
			errors: globalSet.getErrors('handle'),
			required: true
		}) }}

	</div>

	<div id="set-fieldlayout" class="hidden">
		{% include "_includes/fieldlayoutdesigner" with {
			fieldLayout: globalSet.getFieldLayout(),
			customizableTabs: false,
			tab: 'fieldlayout'
		} only %}
	</div>
{% endblock %}


{% if not globalSet.handle %}
	{% includejs %}
		new Craft.HandleGenerator('#name', '#handle');
	{% endincludejs %}
{% endif %}
