/*
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 */

body {
  padding-top: 100px;
}

ul.nav-tabs {
  margin-bottom: 25px;
}

label.required:after {
  content: "*";
  color: #d00;
  margin-left: 5px;
}

ul.errors.help-block {
  padding: 0 20px;
  margin: 0;
}

ul.errors.help-block > li {
  font-size: 12px;
}

.submit-align-left {
  text-align: left;
}

.submit-align-right {
  text-align: right;
}

.submit-align-center {
  text-align: center;
}

.submit-align-left button:not(:first-of-type),
.submit-align-right button:not(:first-of-type),
.submit-align-center button:not(:first-of-type) {
  margin-left: 5px;
}

.submit-align-spread button:first-child {
  float: left;
}

.submit-align-spread button:last-child {
  float: right;
}
