{% if seomaticMeta.og is defined and seomaticMeta.og %}
<div class="Facebook-container">
    <div class="">
        <a href="{{ seomaticMeta.canonicalUrl }}" target="_blank">
            <div class="Facebook-image-wrap">
                <div id="facebook-post-image" class="Facebook-post-image" style="width:470px;height:246px;">
                </div>
            </div>
        </a>
    </div>
    <div class="facebook-text-wrap">
        <div class="Facebook-text-container">
            <div class="Facebook-headline">
                <a class="Facebook-link" href="{{ seomaticMeta.canonicalUrl }}" target="_blank">{{ seomaticMeta.og.title |raw }}</a>
            </div>
            <div class="Facebook-text">
                {{ seomaticMeta.og.description |raw }}
            </div>
            <div class="Facebook-site-url-wrapper">
                <div>
                    <div class="Facebook-site-url">
                        {{ siteUrl | replace({'http://': ''}) | replace({'https://': ''})  | replace({'/': ''}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var x = document.getElementsByClassName("Facebook-post-image");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.backgroundImage = "url(" + "{{ resourceUrl('seomatic/images/no_image_set.png') }}" + ")";
        {% if seomaticMeta.og.image %}
            x[i].style.backgroundImage = "url(" + "{{ seomaticMeta.og.image }}" + ")";
        {% endif %}
    }
</script>
{% else %}
<p>No Facebook Profile ID has been set</p>
{% endif %}