<div class="rc" data-hveid="27">
	<h3 class="googleDisplay">
		<a class="googleDisplay" href="{{ seomaticMeta.canonicalUrl }}" target="_blank">{{ seomaticMeta.og.title |raw }}</a>
	</h3>
	<div class="googleDisplay1">
		<div>
			<div class="googleDisplay2" style="white-space:nowrap">
				<cite class="googleDisplay">{{ seomaticMeta.canonicalUrl | replace({'http://': ''}) | replace({'https://': ''}) }}</cite>
				<div class="googleDisplay3">
					<span class="googleDisplay1"></span>
				</div>
			</div>
			<span class="googleDisplay2">{{ seomaticMeta.seoDescription |raw }}</span>
		</div>
	</div>
</div>