{% if seomaticHelper.ownerGoogleAnalyticsUID %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ seomaticHelper.ownerGoogleAnalyticsUID |raw }}', 'auto'{% if seomaticHelper.googleAnalyticsLinker %}, {allowLinker: true}{% endif %});
{% if seomaticHelper.googleAnalyticsAnonymizeIp %}
  ga('set', 'anonymizeIp', true);
{% endif %}
{% if seomaticHelper.googleAnalyticsAdvertising %}
  ga('require', 'displayfeatures');
{% endif %}
{% if seomaticHelper.googleAnalyticsEcommerce %}
  ga('require', 'ecommerce');
{% endif %}
{% if seomaticHelper.googleAnalyticsEEcommerce %}
  ga('require', 'ec');
{% endif %}
{% if seomaticHelper.googleAnalyticsLinkAttribution %}
  ga('require', 'linkid');
{% endif %}
{% if seomaticHelper.googleAnalyticsLinker %}
  ga('require', 'linker');
{% endif %}
{% if seomaticHelper.googleAnalyticsSendPageview %}
  ga('send', 'pageview');
{% endif %}
</script>
{% endif %}