/* TEAM */

{% if seomaticCreator.name is defined and seomaticCreator.name %}
Creator: {{ seomaticCreator.name }}
{% endif %}
{% if seomaticCreator.url is defined and seomaticCreator.url %}
URL: {{ seomaticCreator.url }}
{% endif %}
{% if seomaticCreator.description is defined and seomaticCreator.description %}
Description: {{ seomaticCreator.description }}
{% endif %}

/* THANKS */

Pixel & Tonic - https://pixelandtonic.com

/* SITE */

Standards: HTML5, CSS3
Components: Craft CMS, Yii, PHP, Javascript, SEOmatic