{%- set tabs = {
	meta:		{ label: "SEO Template Meta"|t, url: url('seomatic/meta') },
	identity:	{ label: "Site Identity"|t, url: url('seomatic/identity') },
	social:		{ label: "Social Media"|t, url: url('seomatic/social') },
} -%}