<!-- BEGIN SEOmatic rendered SEO Meta -->

<title>{% if craft.config.devMode %}{{ seomaticSiteMeta.siteDevModeTitle }} {% endif %}{% if seomaticSiteMeta.siteSeoTitlePlacement == "before" %}{{ seomaticSiteMeta.siteSeoName |raw }}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{% endif %}{{ seomaticMeta.seoTitle |raw }}{% if seomaticSiteMeta.siteSeoTitlePlacement == "after" %}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{{ seomaticSiteMeta.siteSeoName |raw }}{% endif %}</title> <!-- {% verbatim %}{% if craft.config.devMode %}[devMode] {% endif %}{% if seomaticSiteMeta.siteSeoTitlePlacement == "before" %}{{ seomaticSiteMeta.siteSeoName |raw }}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{% endif %}{{ seomaticMeta.seoTitle |raw }}{% if seomaticSiteMeta.siteSeoTitlePlacement == "after" %}{% if seomaticMeta.seoTitle %} {{ seomaticSiteMeta.siteSeoTitleSeparator }} {% endif %}{{ seomaticSiteMeta.siteSeoName |raw }}{% endif %}{% endverbatim %} -->

<!-- Standard SEO -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="referrer" content="no-referrer-when-downgrade" />
{% if seomaticMeta.robots is defined and seomaticMeta.robots %}
<meta name="robots" content="{{ seomaticMeta.robots |raw }}" /> <!-- {% verbatim %}{{ seomaticMeta.robots }}{% endverbatim %} -->
{% endif %}
{% if seomaticMeta.seoKeywords is defined and seomaticMeta.seoKeywords %}
<meta name="keywords" content="{{ seomaticMeta.seoKeywords |raw }}" /> <!-- {% verbatim %}{{ seomaticMeta.seoKeywords }}{% endverbatim %} -->
{% endif %}
{% if seomaticMeta.seoDescription is defined and seomaticMeta.seoDescription %}
<meta name="description" content="{{ seomaticMeta.seoDescription |raw }}" /> <!-- {% verbatim %}{{ seomaticMeta.seoDescription }}{% endverbatim %} -->
{% endif %}
<meta name="generator" content="SEOmatic" /> <!-- {% verbatim %}SEOmatic{% endverbatim %} -->
{% if seomaticMeta.canonicalUrl |length %}
<link rel="canonical" href="{{ seomaticMeta.canonicalUrl }}" /> <!-- {% verbatim %}{{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url){% endverbatim %} -->
{% endif %}
{% set localizedUrls = getLocalizedUrls() %}
{% if localizedUrls |length > 0 %}
<link rel="alternate" href="{{ localizedUrls |first }}" hreflang="x-default" />
{% else %}
<link rel="alternate" href="{{ seomaticMeta.canonicalUrl }}" hreflang="x-default" />
{% endif %}
{% if localizedUrls |length > 1 %}
{% for key, value in localizedUrls %}
<link rel="alternate" hreflang="{{ key |lower |replace ('_', '-') }}" href="{{ value }}" /> <!-- {% verbatim %}hreflang="{{ key |lower |replace ('_', '-') }}" href="{{ value }}"{% endverbatim %} -->
{% endfor %}
{% endif %}
{% if seomaticIdentity.address.addressRegion is defined and seomaticIdentity.address.addressRegion %}
<meta name="geo.region" content="{{ seomaticIdentity.address.addressRegion |raw }}" /> <!-- {% verbatim %}{{ seomaticIdentity.address.addressRegion }}{% endverbatim %} -->
{% endif %}
{% if seomaticIdentity.location.geo.latitude is defined and seomaticIdentity.location.geo.latitude and seomaticIdentity.location.geo.longitude is defined and seomaticIdentity.location.geo.longitude %}
<meta name="geo.position" content="{{ seomaticIdentity.location.geo.latitude |raw }},{{ seomaticIdentity.location.geo.longitude |raw }}" /> <!-- {% verbatim %}{{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}{% endverbatim %} -->
<meta name="ICBM" content="{{ seomaticIdentity.location.geo.latitude |raw }},{{ seomaticIdentity.location.geo.longitude |raw }}" /> <!-- {% verbatim %}{{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}{% endverbatim %} -->
{% endif %}
{% if seomaticIdentity.location.name is defined and seomaticIdentity.location.name %}
<meta name="geo.placename" content="{{ seomaticIdentity.location.name |raw }}" /> <!-- {% verbatim %}{{ seomaticIdentity.location.name }}{% endverbatim %} -->
{% endif %}

<!-- Dublin Core basic info -->

<meta name="dcterms.Identifier" content="{{ seomaticMeta.canonicalUrl }}" /> <!-- {% verbatim %}{{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url){% endverbatim %} -->
<meta name="dcterms.Format" content="text/html" /> <!-- {% verbatim %}text/html{% endverbatim %} -->
<meta name="dcterms.Relation" content="{{ seomaticSiteMeta.siteSeoName |raw }}" /> <!-- {% verbatim %}{{ seomaticSiteMeta.siteSeoName }}{% endverbatim %} -->
<meta name="dcterms.Language" content="{{ craft.locale | slice (0,2) }}" /> <!-- {% verbatim %}{{ craft.locale }}{% endverbatim %} -->
<meta name="dcterms.Publisher" content="{{ seomaticSiteMeta.siteSeoName |raw }}" /> <!-- {% verbatim %}{{ seomaticSiteMeta.siteSeoName }}{% endverbatim %} -->
<meta name="dcterms.Type" content="text/html" /> <!-- {% verbatim %}text/html{% endverbatim %} -->
<meta name="dcterms.Coverage" content="{{ siteUrl }}" /> <!-- {% verbatim %}{{ siteUrl }}{% endverbatim %} -->
<meta name="dcterms.Rights" content="{{ seomaticHelper.ownerCopyrightNotice |raw }}" /> <!-- {% verbatim %}{{ seomaticHelper.ownerCopyrightNotice }}{% endverbatim %} -->
<meta name="dcterms.Title" content="{{ seomaticMeta.seoTitle |raw }}" /> <!-- {% verbatim %}{{ seomaticMeta.seoTitle }}{% endverbatim %} -->
{% if seomaticCreator.name is defined and seomaticCreator.name %}
<meta name="dcterms.Creator" content="{{ seomaticCreator.name |raw }}" /> <!-- {% verbatim %}{{ seomaticCreator.name }}{% endverbatim %} -->
{% endif %}
<meta name="dcterms.Subject" content="{{ seomaticMeta.seoKeywords |raw }}" /> <!-- {% verbatim %}{{ seomaticMeta.seoKeywords }}{% endverbatim %} -->
<meta name="dcterms.Contributor" content="{{ seomaticSiteMeta.siteSeoName |raw }}" /> <!-- {% verbatim %}{{ seomaticSiteMeta.siteSeoName }}{% endverbatim %} -->
<meta name="dcterms.Date" content="{{ now | date('Y-m-d') }}" /> <!-- {% verbatim %}{{ now | date('Y-m-d') }}{% endverbatim %} -->
<meta name="dcterms.Description" content="{{ seomaticMeta.seoDescription |raw }}" /> <!-- {% verbatim %}{{ seomaticMeta.seoDescription }}{% endverbatim %} -->

{% if seomaticMeta.og is defined and seomaticMeta.og %}
<!-- Facebook OpenGraph -->

{% if seomaticSocial.facebookProfileId %}
<meta property="fb:profile_id" content="{{ seomaticSocial.facebookProfileId |raw }}" /> <!-- {% verbatim %}{{ seomaticSocial.facebookProfileId }}{% endverbatim %} -->
{% endif %}
{% if seomaticSocial.facebookAppId %}
<meta property="fb:app_id" content="{{ seomaticSocial.facebookAppId |raw }}" /> <!-- {% verbatim %}{{ seomaticSocial.facebookAppId }}{% endverbatim %} -->
{% endif %}
{% for key, value in seomaticMeta.og %}
{% if value %}
{% if value is iterable %}
{% for subvalue in value %}
<meta property="og:{{ key }}" content="{{ subvalue |raw }}" /> <!-- {% verbatim %}{{ {% endverbatim %}seomatic.og.{{ key }}[{{ loop.index0 }}]{% verbatim %} }} {% endverbatim %}-->
{% endfor %}
{% else %}
<meta property="og:{{ key }}" content="{{ value |raw }}" /> <!-- {% verbatim %}{{ {% endverbatim %}seomatic.og.{{ key }}{% verbatim %} }}{% endverbatim %} -->
{% endif %}
{% endif %}
{% endfor %}
{% if seomaticMeta.article is defined and seomaticMeta.article %}
{% for key, value in seomaticMeta.article %}
{% if value %}
{% if value is iterable %}
{% for subvalue in value %}
<meta property="article:{{ key }}" content="{{ subvalue |raw }}" /> <!-- {% verbatim %}{{ {% endverbatim %}seomatic.article.{{ key }}[{{ loop.index0 }}]{% verbatim %} }} {% endverbatim %}-->
{% endfor %}
{% else %}
<meta property="article:{{ key }}" content="{{ value |raw }}" />  <!-- {% verbatim %}{{ {% endverbatim %}seomatic.article.{{ key }}{% verbatim %} }}{% endverbatim %} -->
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% if seomaticMeta.twitter is defined and seomaticMeta.twitter %}
<!-- Twitter Card -->

{% for key, value in seomaticMeta.twitter %}
{% if value %}
<meta name="twitter:{{ key }}" content="{{ value |raw }}" /> <!-- {% verbatim %}{{ {% endverbatim %}seomatic.twitter.{{ key }}{% verbatim %} }}{% endverbatim %} -->
{% endif %}
{% endfor %}

{% endif %}
{% if seomaticSocial.googlePlusHandle %}
<!-- Google Publisher -->

<link rel="publisher" href="{{ seomaticHelper.googlePlusUrl }}" /> <!-- {% verbatim %}{{ seomaticHelper.googlePlusUrl }}{% endverbatim %} -->
{% endif %}

<!-- Humans.txt authorship http://humanstxt.org -->

<link type="text/plain" rel="author" href="/humans.txt" />

<!-- Domain verification -->

{% if seomaticHelper.ownerGoogleSiteVerification %}
<meta name="google-site-verification" content="{{ seomaticHelper.ownerGoogleSiteVerification |raw }}" /> <!-- {% verbatim %}{{ seomaticHelper.ownerGoogleSiteVerification }}{% endverbatim %} -->
{% endif %}
{% if seomaticHelper.ownerBingSiteVerification %}
<meta name="msvalidate.01" content="{{ seomaticHelper.ownerBingSiteVerification |raw }}" />  <!-- {% verbatim %}{{ seomaticHelper.ownerBingSiteVerification }}{% endverbatim %} -->
{% endif %}

<!-- Google Tag Manager -->

{{ craft.seomatic.renderGoogleTagManager(null, null, true) |raw }}

<!-- Google Analytics -->

{{ craft.seomatic.renderGoogleAnalytics(null, null, true) |raw }}

<!-- END SEOmatic rendered SEO Meta -->
