{% if seomaticMeta.twitter is defined and seomaticMeta.twitter %}
{% set lg = false %}
{% if seomaticMeta.twitter.card == "summary_large_image" %}
	{% set lg = true %}
{% endif %}
<div class="TwitterCardsGrid{% if lg %} TwitterCardsGrid-Large{% endif %}">
	<div class="TwitterCardGrid-col{% if lg %} TwitterCardGrid-col-Large{% endif %}">
		<a class="TwitterCard-container{% if lg %} TwitterCard-container-Large{% endif %}" href="{{ seomaticMeta.canonicalUrl }}" target="_blank">
			<div class="TwitterCard-summary-image{% if lg %} TwitterCard-summary-image-Large{% endif %}">
				<div class="TwitterCard-image-container{% if lg %} TwitterCard-image-container-Large{% endif %}">
					<div id="twitter-card-image" class="TwitterCard-image-wrapper{% if lg %} TwitterCard-image-wrapper-Large{% endif %}">
					</div>
				</div>
			</div>
			<div class="TwitterCard-summary-content-container{% if lg %} TwitterCard-summary-content-container-Large{% endif %}">
				<div class="TwitterCard-summary-content{% if lg %} TwitterCard-summary-content-Large{% endif %}">
					<h2 class="TwitterCard-title">{{ seomaticMeta.twitter.title |raw }}</h2>
					<p class="TwitterCard-text{% if lg %} TwitterCard-text-Large{% endif %}">{{ seomaticMeta.twitter.description |raw }}</p>
					<span class="TwitterCard-destination">{{ siteUrl | replace({'http://': ''}) | replace({'https://': ''})  | replace({'/': ''}) }}</span>
				</div>
			</div>
		</a>
	</div>
</div>

<script type="text/javascript">
	var x = document.getElementsByClassName("TwitterCard-image-wrapper");
	var i;
	for (i = 0; i < x.length; i++) {
		x[i].style.backgroundImage = "url(" + "{{ resourceUrl('seomatic/images/no_image_set.png') }}" + ")";
		{% if seomaticMeta.twitter.image %}
			x[i].style.backgroundImage = "url(" + "{{ seomaticMeta.twitter.image }}" + ")";
		{% endif %}
	}
</script>
{% else %}
<p>Twitter Handle has not been set</p>
{% endif %}