{% import "_includes/forms" as forms %}

<div>
    {% if assetSources %}
        {{ forms.checkboxSelectField({
            label: "Asset Sources"|t,
            instructions: "Which sources do you want to select assets from?"|t,
            id: 'assetSources',
            name: 'assetSources',
            options: assetSources,
            values: settings.assetSources
        })}}
    {% else %}
        {{ forms.field({
            label: "Asset Sources"|t,
        }, '<p class="error">' ~ "No asset sources exist yet."|t ~ '</p>') }}
    {% endif %}

    <!-- Main Eneity of Page -->

    <div class="field">
    <div class="heading">
        <label for="seoMainEntityOfPage">{{ "Main Entity of Page"|t}}</label>
        <div class="instructions"><p>{{ "Default Main Entity of Page.  The Main Entity of Page is a more specific, additional type that describes this entry.  This additional JSON-LD structured data entity will be added to your page, more specifically describing the page's content.  It is accessible via the <code>seomaticMainEntityOfPage</code> Twig variable, should you wish to modify or add to it" |t |raw}}</p></div>
    </div>
    <div>
        <div class="inline-item">
            {{ forms.selectField({
                id: "seoMainEntityCategory",
                class: "inline-item",
                fieldClass: "inline-item",
                options: {
                    "CreativeWork": "CreativeWork",
                    "Event": "Event",
                    "Organization": "Organization",
                    "Person": "Person",
                    "Product": "Product",
                },
                name: "seoMainEntityCategory",
                value: settings.seoMainEntityCategory,
            }) }}
        </div>
        <div class="inline-item">
            {{ forms.selectField({
                label: "&rarr;",
                class: "inline-item",
                fieldClass: "inline-item",
                id: "seoMainEntityOfPage",
                options: {
                },
                name: "seoMainEntityOfPage",
                value: settings.seoMainEntityOfPage,
            }) }}
        </div>
        <div class="inline-item">
            <div class="inline-item inline-item-padding seomaticSchemaInfo">
            </div>
        </div>
    </div>
    </div>
    {% set myJs %}
    setSelectedValue("{{ settings.seoMainEntityOfPage }}");
    {% endset %}
    {% includeJs myJs %}

    <div class="field comboField-wrapper first">
        <div class="heading">
            <label for="seoTitleSource">{{ "Default SEO Title"|t}}</label>
            <div class="instructions"><p>{{ "Set what the SEO Title should default to for each entry." |t |raw}}</p></div>
        </div>

        <div class="source-container">
            <div class="source-item">
                <p>{{ "Source" |t }} </p>
            </div>
            <div class="source-item">
                {{ forms.selectField({
                    fieldClass: 'nomarginfield',
                    class: 'selectField',
                    id: 'seoTitleSource',
                    options: {
                        "custom": "Custom Text"|t,
                        "field": "From Field"|t,
                    },
                    name: 'seoTitleSource',
                    value: settings.seoTitleSource,
                }) }}
            </div>
        </div>
        <div id="seoTitleSourceField-wrapper" class="selectFieldWrapper">
            {{ forms.selectField({
                fieldClass: 'nomarginfield',
                id: 'seoTitleSourceField',
                options: fieldList,
                name: 'seoTitleSourceField',
                value: settings.seoTitleSourceField,
            }) }}
        </div>
        <div id ="seoTitle-wrapper" class="field customFieldWrapper">
            <div class="heading">
                <div class="instructions"><p>{{ "You can include tags that output entry properties, such as <code>{title}</code> or <code>{myCustomField}</code> in the text field below." |t |raw}}</p></div>
            </div>
           {{ forms.textField({
                fieldClass: 'nomarginfield',
                id: 'seoTitle',
                class: 'nicetext',
                name: 'seoTitle',
                value: settings.seoTitle,
                maxlength: titleLength,
                showCharsLeft: true,
                required: false,
            }) }}
        </div>

        {{ forms.lightswitchField({
            label: "SEO Title Source Changeable"|t,
            name: 'seoTitleSourceChangeable',
            instructions: "Whether to allow the user to change the SEO Title source while editing the entry"|t,
            on: settings.seoTitleSourceChangeable,
        }) }}
    </div>

    <!-- seoDescriptionSource -->

    <div class="field comboField-wrapper" id="seoDescription-field">
        <div class="heading">
            <label for="seoDescriptionSource">{{ "Default SEO Description"|t}}</label>
            <div class="instructions"><p>{{ "Set what the SEO Description should default to for each entry." |t |raw}}</p></div>
        </div>

        <div class="source-container">
            <div class="source-item">
                <p>{{ "Source" |t }} </p>
            </div>
            <div class="source-item">
                {{ forms.selectField({
                    fieldClass: 'nomarginfield',
                    class: 'selectField',
                    id: 'seoDescriptionSource',
                    options: {
                        "custom": "Custom Text"|t,
                        "field": "From Field"|t,
                    },
                    name: 'seoDescriptionSource',
                    value: settings.seoDescriptionSource,
                }) }}
            </div>
        </div>
        <div id="seoDescriptionSourceField-wrapper" class="selectFieldWrapper">
            {{ forms.selectField({
                fieldClass: 'nomarginfield',
                id: 'seoDescriptionSourceField',
                options: fieldList,
                name: 'seoDescriptionSourceField',
                value: settings.seoDescriptionSourceField,
            }) }}
        </div>
        <div id ="seoDescription-wrapper" class="field customFieldWrapper">
            <div class="heading">
                <div class="instructions"><p>{{ "You can include tags that output entry properties, such as <code>{title}</code> or <code>{myCustomField}</code> in the text field below." |t |raw}}</p></div>
            </div>
            {{ forms.textarea({
                id: 'seoDescription',
                fieldClass: 'nomarginfield',
                class: 'nicetext',
                name: 'seoDescription',
                value: settings.seoDescription,
                maxlength: 160,
                showCharsLeft: true,
                required: false,
            }) }}
        </div>

        {{ forms.lightswitchField({
            label: "SEO Description Source Changeable"|t,
            name: 'seoDescriptionSourceChangeable',
            instructions: "Whether to allow the user to change the SEO Description source while editing the entry"|t,
            on: settings.seoDescriptionSourceChangeable,
        }) }}
    </div>

    <!-- seoKeywordsSource -->

    <div class="field comboField-wrapper" id="seoKeywords-field">
        <div class="heading">
            <label for="seoKeywordsSource">{{ "Default SEO Keywords"|t}}</label>
            <div class="instructions"><p>{{ "Set what the SEO Keywords should default to for each entry." |t |raw}}</p></div>
        </div>

        <div class="source-container">
            <div class="source-item">
                <p>{{ "Source" |t }} </p>
            </div>
            <div class="source-item">
                {{ forms.selectField({
                    fieldClass: 'nomarginfield',
                    class: 'selectField',
                    id: 'seoKeywordsSource',
                    options: {
                        "custom": "Custom Text"|t,
                        "field": "From Field"|t,
                        "keywords": "Keywords From Field"|t,
                    },
                    name: 'seoKeywordsSource',
                    value: settings.seoKeywordsSource,
                }) }}
            </div>
        </div>
        <div id="seoKeywordsSourceField-wrapper" class="selectFieldWrapper">
            {{ forms.selectField({
                fieldClass: 'nomarginfield',
                id: 'seoKeywordsSourceField',
                options: fieldList,
                name: 'seoKeywordsSourceField',
                value: settings.seoKeywordsSourceField,
            }) }}
        </div>
        <div id ="seoKeywords-wrapper" class="field customFieldWrapper">
            <div class="heading">
                <div class="instructions"><p>{{ "You can include tags that output entry properties, such as <code>{title}</code> or <code>{myCustomField}</code> in the text field below." |t |raw}}</p></div>
            </div>
            {{ forms.textarea({
                id: 'seoKeywords',
                class: 'nicetext',
                name: 'seoKeywords',
                value: settings.seoKeywords,
                maxlength: 200,
                showCharsLeft: true,
                required: false,
            }) }}
        </div>

        {{ forms.lightswitchField({
            label: "SEO Keywords Source Changeable"|t,
            name: 'seoKeywordsSourceChangeable',
            instructions: "Whether to allow the user to change the SEO Keywords source while editing the entry"|t,
            on: settings.seoKeywordsSourceChangeable,
        }) }}
    </div>

    <!-- seoImageIdSource -->

    <div class="field comboField-wrapper" id="seoImageId-field">
        <div class="heading">
            <label for="seoImageIdSource">{{ "Default SEO Image"|t}}</label>
            <div class="instructions"><p>{{ "Set what the SEO Image should default to for each entry.  This image is also used for Twitter Cards and Facebook OpenGraph images, if they are not specified.  The image must be in JPG, PNG, or GIF format." |t |raw}}</p></div>
        </div>

        <div class="source-container">
            <div class="source-item">
                <p>{{ "Source" |t }} </p>
            </div>
            <div class="source-item">
                {{ forms.selectField({
                    fieldClass: 'nomarginfield',
                    class: 'selectField',
                    id: 'seoImageIdSource',
                    options: {
                        "custom": "Custom Image"|t,
                        "field": "From Field"|t,
                    },
                    name: 'seoImageIdSource',
                    value: settings.seoImageIdSource,
                }) }}
            </div>
        </div>
        <div id="seoImageIdSourceField-wrapper" class="selectFieldWrapper">
            {{ forms.selectField({
                fieldClass: 'nomarginfield',
                id: 'seoImageIdSourceField',
                options: imageFieldList,
                name: 'seoImageIdSourceField',
                value: settings.seoImageIdSourceField,
            }) }}
        </div>
        {{ forms.lightswitchField({
            label: "SEO Image Source Changeable"|t,
            name: 'seoImageIdSourceChangeable',
            instructions: "Whether to allow the user to change the SEO Image source while editing the entry"|t,
            on: settings.seoImageIdSourceChangeable,
        }) }}
    </div>

    {{ forms.selectField({
        label: "Default SEO Image Transform"|t,
        instructions: "Set the default image transform to apply to the Site SEO Image."|t,
        id: "seoImageTransform",
        options: transformsList,
        name: "seoImageTransform",
        value: settings.seoImageTransform,
    }) }}

<!-- twitterCardType -->

    {{ forms.selectField({
        label: "Default Twitter Card Type"|t,
        instructions: "Set what the Twitter Card Type should default to for each entry.  Setting it to a blank value means 'no change'."|t,
        id: "twitterCardType",
        options: {
            "": "",
            "summary": "Summary Card"|t,
            "summary_large_image": "Summary Card with Large Image"|t,
        },
        name: "twitterCardType",
        value: settings.twitterCardType,
    }) }}

    {{ forms.lightswitchField({
        label: "Twitter Card Type Changeable"|t,
        name: 'twitterCardTypeChangeable',
        instructions: "Whether to allow the user to change the Twitter Card Type while editing the entry"|t,
        on: settings.twitterCardTypeChangeable,
    }) }}

    <!-- seoTwitterImageIdSource -->

    <div class="field comboField-wrapper" id="seoTwitterImageId-field">
        <div class="heading">
            <label for="seoTwitterImageIdSource">{{ "Default Twitter Card Image"|t}}</label>
            <div class="instructions"><p>{{ "Set what the Twitter Card Image should default to for each entry.  If no image is specified here, the Site SEO Image will be used for Twitter Cards instead.  The image must be in JPG, PNG, or GIF format." |t |raw}}</p></div>
        </div>

        <div class="source-container">
            <div class="source-item">
                <p>{{ "Source" |t }} </p>
            </div>
            <div class="source-item">
                {{ forms.selectField({
                    fieldClass: 'nomarginfield',
                    class: 'selectField',
                    id: 'seoTwitterImageIdSource',
                    options: {
                        "custom": "Custom Image"|t,
                        "field": "From Field"|t,
                    },
                    name: 'seoTwitterImageIdSource',
                    value: settings.seoTwitterImageIdSource,
                }) }}
            </div>
        </div>
        <div id="seoTwitterImageIdSourceField-wrapper" class="selectFieldWrapper">
            {{ forms.selectField({
                fieldClass: 'nomarginfield',
                id: 'seoTwitterImageIdSourceField',
                options: imageFieldList,
                name: 'seoTwitterImageIdSourceField',
                value: settings.seoTwitterImageIdSourceField,
            }) }}
        </div>
        {{ forms.lightswitchField({
            label: "Twitter Card Image Source Changeable"|t,
            name: 'seoTwitterImageIdSourceChangeable',
            instructions: "Whether to allow the user to change the Twitter Card Image source while editing the entry"|t,
            on: settings.seoTwitterImageIdSourceChangeable,
        }) }}
    </div>

    {{ forms.selectField({
        label: "Default Twitter Image Transform"|t,
        instructions: "Set the default image transform to apply to the Twitter SEO Image.  Twitter recommends: 120 x 120 pixels minimum size, 1:1 aspect ratio, 1mb max size for Summary Card images, and 280x150 pixels minimum size, 1.86:1 aspect ratio, 1mb max size for Summary Card with Large Image images."|t,
        id: "seoTwitterImageTransform",
        options: transformsList,
        name: "seoTwitterImageTransform",
        value: settings.seoTwitterImageTransform,
    }) }}

<!-- openGraphType -->

    {{ forms.selectField({
        label: "Default Facebook Open Graph Type"|t,
        instructions: "Set what the Facebook Open Graph Type should default to for each entry.  Setting it to a blank value means 'no change'."|t,
        id: "openGraphType",
        options: {
            "": "",
            "website": "Website"|t,
            "article": "Article"|t,
        },
        name: "openGraphType",
        value: settings.openGraphType,
    }) }}

    {{ forms.lightswitchField({
        label: "Facebook Open Graph Type Changeable"|t,
        name: 'openGraphTypeChangeable',
        instructions: "Whether to allow the user to change the Facebook Open Graph Type while editing the entry"|t,
        on: settings.openGraphTypeChangeable,
    }) }}

    <!-- seoFacebookImageIdSource -->

    <div class="field comboField-wrapper" id="seoFacebookImageId-field">
        <div class="heading">
            <label for="seoFacebookImageIdSource">{{ "Default Facebook OpenGraph Image"|t}}</label>
            <div class="instructions"><p>{{ "Set what the Facebook OpenGraph Image should default to for each entry.  If no image is specified here, the Site SEO Image will be used for Twitter Cards instead.  The image must be in JPG, PNG, or GIF format." |t |raw}}</p></div>
        </div>

        <div class="source-container">
            <div class="source-item">
                <p>{{ "Source" |t }} </p>
            </div>
            <div class="source-item">
                {{ forms.selectField({
                    fieldClass: 'nomarginfield',
                    class: 'selectField',
                    id: 'seoFacebookImageIdSource',
                    options: {
                        "custom": "Custom Image"|t,
                        "field": "From Field"|t,
                    },
                    name: 'seoFacebookImageIdSource',
                    value: settings.seoFacebookImageIdSource,
                }) }}
            </div>
        </div>
        <div id="seoFacebookImageIdSourceField-wrapper" class="selectFieldWrapper">
            {{ forms.selectField({
                fieldClass: 'nomarginfield',
                id: 'seoFacebookImageIdSourceField',
                options: imageFieldList,
                name: 'seoFacebookImageIdSourceField',
                value: settings.seoFacebookImageIdSourceField,
            }) }}
        </div>
        {{ forms.lightswitchField({
            label: "Facebook OpenGraph Image Source Changeable"|t,
            name: 'seoFacebookImageIdSourceChangeable',
            instructions: "Whether to allow the user to change the Facebook OpenGraph Image source while editing the entry"|t,
            on: settings.seoFacebookImageIdSourceChangeable,
        }) }}
    </div>

    {{ forms.selectField({
        label: "Default Facebook Image Transform"|t,
        instructions: "Set the default image transform to apply to the Facebook SEO Image.  Facebook recommends: 1200 x 630 pixels minimum size, 1.9:1 aspect ratio, 8mb max size."|t,
        id: "seoFacebookImageTransform",
        options: transformsList,
        name: "seoFacebookImageTransform",
        value: settings.seoFacebookImageTransform,
    }) }}

<!-- robots -->

    {{ forms.selectField({
        label: "Default Robots Meta Tag"|t,
        instructions: "Set what the Robots Meta Tag should default to for each entry.  Setting it to a blank value means 'no change'."|t,
        id: "robots",
        options: {
            "": "",
            "all": "all - Index this page and follow links (default)" |t,
            "noindex": "noindex - Do not index this page" |t,
            "nofollow": "nofollow - Do not follow links on this page" |t,
            "none": "none - Do not index or follow links on this page" |t,
        },
        name: "robots",
        value: settings.robots,
    }) }}

    {{ forms.lightswitchField({
        label: "Robots Meta Tag Changeable"|t,
        name: 'robotsChangeable',
        instructions: "Whether to allow the user to change the Robots Meta Tag while editing the entry"|t,
        on: settings.robotsChangeable,
    }) }}

</div>