{% extends "utils/_layout" %}

{% import "_includes/forms" as forms %}

{% macro table(heading, data) %}
	{% if data %}
		<h3>{{ heading }}</h3>
		<table class="data fullwidth">
			{% for key, value in data %}
				<tr>
					<th class="light" width="300">{{ key }}</th>
					<td style="word-break: break-word;">{{ value|nl2br }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endmacro %}

{% from _self import table %}

{% block content %}

	<div class="field">
		<select onchange="Craft.redirectTo('utils/logs/'+this.value);">
			{% for fileName in logFileNames %}
				<option{% if fileName == currentLogFileName %} selected{% endif %}>{{ fileName }}</option>
			{% endfor %}
		</select>
	</div>

	{% for logEntries in logEntriesByRequest %}

		{% if not loop.first %}<hr>{% endif %}

		{% for logEntry in logEntries %}

			{% if currentLogFileName == 'phperrors.log' %}

				<div>
					{{ logEntry.message|raw }}
				</div>

			{% else %}

				<h2>{{ logEntry.dateTime.format('Y-m-d H:i:s') }}</h2>

				<table class="data fullwidth">
					<tr>
						<th class="light" width="300">Level</th>
						<td>{{ logEntry.level }}</td>
					</tr>
					<tr>
						<th class="light" width="300">Category</th>
						<td>{{ logEntry.category }}</td>
					</tr>
					{% if logEntry.message %}
						<tr>
							<th class="light" width="300">Message</th>
							<td>{{ logEntry.message }}</td>
						</tr>
					{% endif %}
				</table>

				{{ table('Get Variables', logEntry.get) }}
				{{ table('Post Variables', logEntry.post) }}
				{{ table('Cookies', logEntry.cookie) }}
				{{ table('Session Data', logEntry.session) }}
				{{ table('Server Variables', logEntry.server) }}

				{% if logEntry.profile %}
					<h3>Profile</h3>
					<ul>
						{% for step in logEntry.profile %}
							{% for logEntry in step %}
								<li>{{ logEntry }}</li>
							{% endfor %}
						{% endfor %}
					</ul>
				{% endif %}

			{% endif %}

		{% endfor %}
	{% endfor %}

{% endblock %}
