{% extends "utils/_layout" %}

{% block content %}
	<h2>{{ "Requirement Report"|t }}</h2>
	<table class="data fullwidth">
		<tbody>
			{% for requirement in requirements %}
				<tr>
					<td>{{ requirement.getName() }}{% if requirement.getNotes() %} <span class="info">{{ requirement.getNotes()|raw }}</span>{% endif %}</td>
					<td class="centeralign">
						{% switch requirement.getResult() %}
							{% case 'success' %}
								<span class="success" title="{{ 'Passed'|t }}" data-icon="check"></span>
							{% case 'warning' %}
								<span class="warning" title="{{ 'Passed with warning'|t }}" data-icon="alert"></span>
							{% case 'failed' %}
								<span class="error" title="{{ 'Failed'|t }}" data-icon="error"></span>
						{% endswitch %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
