{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% set groupHandle = group.handle %}
{% set isNewCategory = category.id ? false : true %}

{% hook "cp.categories.edit" %}

{% block saveButton %}
	<div class="btngroup">
		<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

		<div class="btn submit menubtn"></div>
		<div class="menu">
			<ul>
				<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">
					{{ forms.optionShortcutLabel('S') }}
					{{ "Save and continue editing"|t }}
				</a></li>
				<li><a class="formsubmit" data-redirect="categories/{{ groupHandle }}/new?parentId={parent.id}">{{ "Save and add another"|t }}</a></li>

				{% if category.id %}
					<li><a class="formsubmit" data-param="categoryId" data-value="" data-redirect="{{ continueEditingUrl }}">{{ "Save as a new category"|t }}</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endblock %}


{% block main %}
		<input type="hidden" name="action" value="categories/saveCategory">
		<input type="hidden" name="redirect" value="categories/{{ groupHandle }}">

		<input type="hidden" name="groupId" value="{{ group.id }}">
		{% if category.id %}<input type="hidden" name="categoryId" value="{{ category.id }}">{% endif %}
		{% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ category.locale }}">{% endif %}

		<div class="grid first" data-max-cols="3">
			<div class="item" data-position="left" data-colspan="2">
				<div id="fields" class="pane">
					{% include "_includes/tabs" %}

					{{ forms.textField({
						label: "Title"|t,
						locale: category.locale,
						id: 'title',
						name: 'title',
						value: category.title,
						errors: category.getErrors('title'),
						first: true,
						autofocus: true,
						required: true,
						maxlength: 255
					}) }}

					<div>
						{% for tab in group.getFieldLayout().getTabs() %}
							<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
								{% include "_includes/fields" with {
									fields:  tab.getFields(),
									element: category
								} only %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div><!--/item-->

			<div class="item" data-position="right">

				{% if showPreviewBtn %}
					{% include "_includes/previewbtns" %}
				{% endif %}

				{% if craft.isLocalized() %}
					<ul id="locales" class="pane">
						{% set parentIdParam = craft.request.getParam('parentId.0') ?: craft.request.getParam('parentId') %}
						{% for localeId in localeIds %}
							{% set localeName = craft.i18n.getLocaleById(localeId).name %}
							<li{% if localeId == category.locale %} class="sel"{% endif %}>
								{%- if localeId == category.locale -%}
									{{ localeName }}
								{%- else -%}
									{% set localeUrl = url(
										'categories/'~groupHandle~'/'~craft.request.getSegment(3)~'/'~localeId,
										(parentIdParam ? { parentId: parentIdParam })
									) -%}
									<a href="{{ localeUrl }}">{{ localeName }}</a>
								{%- endif -%}
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				<div id="settings" class="pane meta">

					{{ forms.textField({
						label: "Slug"|t,
						locale: category.locale,
						id: 'slug',
						name: 'slug',
						value: category.slug,
						placeholder: "Enter slug"|t,
						errors: (category.getErrors('slug')|merge(category.getErrors('uri')))
					}) }}

					{% if parentOptionCriteria is defined %}
						{{ forms.elementSelectField({
							label: "Parent"|t,
							id: 'parentId',
							name: 'parentId',
							elementType: elementType,
							selectionLabel: "Choose"|t,
							sources: ['group:'~group.id],
							criteria: parentOptionCriteria,
							limit: 1,
							elements: (parent is defined and parent ? [parent]),
                            errors: category.getErrors('parent')
						}) }}
					{% endif %}

					{% set statusInput %}
						<div class="left">
							{{ forms.lightswitch({
								id: 'enabled',
								name: 'enabled',
								on: category.enabled
							}) }}
						</div>

						{% if not isNewCategory %}
							<div class="right">
								<input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}" data-action="categories/deleteCategory"
									data-confirm="{{ 'Are you sure you want to delete this category?'|t }}"
									data-redirect="categories">
							</div>
						{% endif %}
					{% endset %}

					{{ forms.field({
						label: "Enabled"|t,
						id: 'enabled'
					}, statusInput) }}

				</div><!--/pane-->

				{% if category.id %}
					<div class="pane lightpane meta">
						<div class="data">
							<h5 class="heading">{{ "Date Created"|t }}</h5>
							<div class="value">{{ category.dateCreated.localeDate() }} {{ category.dateCreated.localeTime() }}</div>
						</div>
						<div class="data">
							<h5 class="heading">{{ "Date Updated"|t }}</h5>
							<div class="value">{{ category.dateUpdated.localeDate() }} {{ category.dateUpdated.localeTime() }}</div>
						</div>
					</div>
				{% endif %}

				{# Give plugins a chance to add other panes here #}
				{% hook "cp.categories.edit.right-pane" %}

			</div><!--/item-->
		</div><!--/grid-->
	</form>
{% endblock %}


{% if not category.slug %}
	{% includejs "window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');" %}
{% endif %}
