{% requireEdition CraftPro %}
{% requireAdmin %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set fullPageForm = true %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') },
	{ label: "Users"|t, url: url('settings/users') },
	{ label: "User Groups"|t, url: url('settings/users') }
] %}

{% set docsUrl = 'http://craftcms.com/docs/users#user-groups' %}


{% if group is not defined and groupId is defined %}
	{% set group = craft.userGroups.getGroupById(groupId) %}
	{% if not group %}{% exit 404 %}{% endif %}
{% endif %}


{% set isNewGroup = (group is not defined or groupId is not defined) %}


{% if isNewGroup %}
	{% set title = "Create a new user group"|t %}
{% else %}
	{% set title = group.name|t %}
{% endif %}


{% block content %}
	<input type="hidden" name="action" value="userSettings/saveGroup">
	<input type="hidden" name="redirect" value="settings/users">

	{% if not isNewGroup %}<input type="hidden" name="groupId" value="{{ group.id }}">{% endif %}

	{{ forms.textField({
		first: true,
		label: "Name"|t,
		id: 'name',
		name: 'name',
		value: (group is defined ? group.name : null),
		errors: (group is defined ? group.getErrors('name') : null),
		autofocus: true,
		required: true,
		translatable: true
	}) }}

	{{ forms.textField({
		label: "Handle"|t,
		id: 'handle',
		name: 'handle',
		class: 'code',
		value: (group is defined ? group.handle : null),
		errors: (group is defined ? group.getErrors('handle') : null),
		required: true
	}) }}

	<hr>

	<h2>{{ "Permissions"|t }}</h2>

	<div id="permissions">
		{% include "_includes/permissions" with { userOrGroup: (group is defined ? group : null) } only %}
	</div>
{% endblock %}


{% includejs %}
	{% if group is not defined or not group.handle %}
		new Craft.HandleGenerator('#name', '#handle');
	{% endif %}

	{% if not isNewGroup %}
		new Craft.ElevatedSessionForm('#container', [
			'#permissions input[type="checkbox"]:not(:checked)'
		]);
	{% endif %}
{% endincludejs %}
