{% requireEdition CraftPro %}
{% requireAdmin %}

{% extends "settings/users/_layout" %}
{% set selectedNavItem = 'groups' %}

{% set docsUrl = 'http://craftcms.com/docs/users#user-groups' %}


{% set groups = craft.userGroups.getAllGroups %}


{% block content %}
	<p id="nogroups"{% if groups|length %} class="hidden"{% endif %}>
		{{ "No groups exist yet."|t }}
	</p>

	{% if groups|length %}
		<table id="groups" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "Name"|t }}</th>
				<th scope="col">{{ "Handle"|t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for group in groups %}
					<tr data-id="{{ group.id }}" data-name="{{ group.name|t }}">
						<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('settings/users/groups/' ~ group.id) }}">{{ group.name|t }}</a></th>
						<td data-title="{{ 'Handle'|t }}"><code>{{ group.handle }}</code></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div class="buttons">
		<a href="{{ url('settings/users/groups/new') }}" class="btn submit add icon">{{ "New user group"|t }}</a>
	</div>
{% endblock %}


{% includejs %}
	new Craft.AdminTable({
		tableSelector: '#groups',
		noObjectsSelector: '#nogroups',
		deleteAction: 'userSettings/deleteGroup'
	});
{% endincludejs %}
