{% extends "freeform/_layouts/main" %}

{% set selectedSubnavItem = 'settings' %}

{% set title = craft.freeform.name ~ " " ~("Settings"|t) %}

{% set navItems = navigation %}

{% set selectedItem = craft.request.getSegment(3)|default %}
{% set docTitle = navItems[selectedItem].title~' - '~title %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ url('freeform/settings/'~id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
