<div class="chartdoc">

    <h2>Bar</h2>

    <div id="bar" class="chart-container"></div>

    {% includejs %}

        var columns = [
            ['data1', 30, 200, 100, 400, 150, 250],
            ['data2', 130, 100, 140, 200, 150, 50]
        ];

        var $chart = $('#bar');

        var chart = new Craft.charts.Chart({
            bindto: this.$chart.get(0),
			orientation: '{{ craft.i18n.getLocaleData().getOrientation() }}',
            data: {
                columns: columns,
                type: 'bar'
            }
        });

    {% endincludejs %}

</div>
