{% extends "freeform/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = "settings" %}
{% set title = craft.freeform.name ~ ": " ~ ("Demo Templates"|t) %}

{% includeCssFile resourceUrl('freeform/css/code-pack.css') %}
{% includeJsFile resourceUrl('freeform/js/cp/code-pack.js') %}

{% macro listFiles(file) %}
    {% set isFolder = file.isFolder %}
    <li class="{{ isFolder ? 'dir' : 'file' }}">
        <span>{{ file.name }}</span>
        {% if isFolder %}
            <ul>
                {% for childFile in file.files %}
                    {{ _self.listFiles(childFile) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
{% import _self as dir %}

{% block content %}

    <h2>{{ "Demo Templates"|t }}</h2>

    <form method="post">
        <input type="hidden" name="action" value="freeform/codepack/install">
        <input type="hidden" name="redirect" value="freeform/settings/demo-templates">
        <input type="hidden" name="{{ craft.config.csrfTokenName }}" value="{{ craft.request.csrfToken }}">

        <table width="100%">
            <tr>
                <td width="95%">
                    {{ forms.textField({
                        label: "Prefix"|t,
                        id: 'prefix',
                        name: 'prefix',
                        value: prefix,
                        first: true,
                        autofocus: true
                    }) }}
                </td>
                <td>
                    <div class="buttons" style="margin: 18px 0 0 15px !important;">
                        <input type="submit" class="btn submit" value="{{ "Install"|t }}" />
                    </div>
                </td>
            </tr>
            {% if exceptionMessage is defined %}
                <tr>
                    <td colspan="2">
                        <div class="error">
                            {{ exceptionMessage|raw }}
                        </div>
                    </td>
                </tr>
            {% endif %}
        </table>
    </form>

    <div id="components-wrapper">
        {% if codePack.templates %}
            <div>
                <h3>{{ "Templates"|t }}</h3>

                <ul class="directory-structure">
                    <li class="dir">
                        <span data-name="/">demo</span>
                    </li>
                    <ul>
                        {% for file in codePack.templates.contents %}
                            {{ dir.listFiles(file) }}
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        {% endif %}

        {% if codePack.assets %}
            <div>
                <h3>{{ "Assets"|t }}</h3>

                <ul class="directory-structure">
                    <li class="dir">
                        <span data-name="/">demo</span>
                    </li>
                    <ul>
                        {% for file in codePack.assets.contents %}
                            {{ dir.listFiles(file) }}
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        {% endif %}

        {% if codePack.routes.data %}
            <div>
                <h3>{{ "Routes"|t }}</h3>

                <ul class="directory-structure routes">
                    {% for route in codePack.routes.data %}
                        <li>
                            <span class="route" data-name="/{{ route.urlPattern }}">
                                demo/{{ route.urlPattern }}
                            </span>

                            <div class="template">
                                {{ route.template }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}
