{% extends "_layouts/cp" %}

{% set entryTypes = section.getEntryTypes() %}
{% set multiple  = (entryTypes|length > 1) %}


{% set extraPageHeaderHtml %}
	{% if section.type != 'single' %}
		<div class="buttons">
			<a href="{{ url('settings/sections/' ~ section.id ~ '/entrytypes/new') }}" class="btn submit add icon">{{ "New entry type"|t }}</a>
		</div>
	{% endif %}
{% endset %}


{% block content %}
	<table id="entrytypes" class="data fullwidth collapsible">
		<thead>
			<th scope="col">{{ "Name"|t }}</th>
			<th scope="col">{{ "Handle"|t }}</th>
			{% if multiple %}
				<td class="thin"></td>
				<td class="thin"></td>
			{% endif %}
		</thead>
		<tbody>
			{% for entryType in entryTypes %}
				<tr data-id="{{ entryType.id }}" data-name="{{ entryType.name|t }}">
					<th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('settings/sections/' ~ section.id ~ '/entrytypes/' ~ entryType.id) }}">{{ entryType.name|t }}</a></th>
					<td data-title="{{ 'Handle'|t }}"><code>{{ entryType.handle }}</code></td>
					{% if multiple %}
						<td class="thin"><a class="move icon" title="{{ 'Reorder'|t }}" role="button"></a></td>
						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}


{% if section.type != 'single' %}
	{% includejs %}
		new Craft.AdminTable({
			tableSelector: '#entrytypes',
			deleteAction: 'sections/deleteEntryType',
			minObjects: 1,
			sortable: true,
			reorderAction: 'sections/reorderEntryTypes',
			confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all entries that use it?"|t }}',
		});
	{% endincludejs %}
{% endif %}
