{% extends "_layouts/cp" %}
{% set title = "Globals"|t %}

{% block pageTitle %}
	{{ parent() }}

	{% if craft.isLocalized() %}
		<div class="select">
			<select onchange="document.location.href='{{ url('globals/{locale}/'~globalSetHandle) }}'.replace('{locale}', this.value);">
				{% for locale in craft.i18n.getEditableLocales() %}
					<option value="{{ locale.id }}"{% if locale.id == localeId %} selected{% endif %}>{{ locale.name }}</option>
				{% endfor %}
			</select>
		</div>
	{% endif %}
{% endblock %}


{% block sidebar %}
	<nav>
		<ul>
			{% for theGlobalSet in globalSets %}
				<li><a{% if theGlobalSet.handle == globalSetHandle %} class="sel"{% endif %} href="{{ theGlobalSet.getCpEditUrl() }}">{{ theGlobalSet.name|t }}</a></li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}


{% block content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut data-confirm-unload>
		<input type="hidden" name="action" value="globals/saveContent">
		<input type="hidden" name="setId" value="{{ globalSet.id }}">
		<input type="hidden" name="locale" value="{{ localeId }}">
		{{ getCsrfInput() }}

		{% if globalSet.getFieldLayout().getFields() | length %}
			<div>
				{% include "_includes/fields" with {
				    fields: globalSet.getFieldLayout().getFields(),
				    element: globalSet
				} only %}
			</div>

			<div class="buttons">
				<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
			</div>
		{% else %}
			{{ "This global set doesn’t have any fields assigned to it in its field layout."|t }}
		{% endif %}
	</form>
{% endblock %}
