{%- set labelId = (labelId is defined ? labelId : (id is defined ? id~'-label' : null)) %}
{%- set fieldId = (fieldId is defined ? fieldId : (id is defined ? id~'-field' : null)) %}
{%- set label = (label is defined and label != '__blank__' ? label : null) %}
{%- set locale = ((craft.isLocalized() and locale is defined) ? locale : null) %}
{%- set instructions = (instructions is defined ? instructions : null) %}
{%- set warning = (warning is defined ? warning : null) %}
{%- set orientation = craft.i18n.getLocaleData(locale ?: craft.locale).getOrientation() %}
{%- set errors = (errors is defined ? errors : null) -%}
{%- set fieldClass = [
	'field',
	(first is defined and first ? 'first' : null),
	(errors ? 'has-errors' : null),
	(fieldClass is defined and fieldClass ? fieldClass : null)
]|filter|join(' ') -%}

<div class="{{ fieldClass }}"{% if fieldId %} id="{{ fieldId }}"{% endif %}>
	{% if label or instructions %}
		<div class="heading">
			{% if label %}
				<label {% if labelId %} id="{{ labelId }}"{% endif %}{% if required is defined and required %} class="required"{% endif %}{% if id is defined and id %} for="{{ id }}"{% endif %}>
					{{- label|raw -}}
					{%- if locale -%}
						<span class="locale">{{ locale }}</span>
					{%- endif -%}
				</label>
			{% endif %}
			{% if instructions %}
				<div class="instructions">{{ instructions|md|replace('/&amp;(\\w+);/', '&$1;')|raw }}</div>
			{% endif %}
		</div>
	{% endif %}
	<div class="input {{ orientation }}{% if errors %} errors{% endif %}">
		{{ input|raw }}
	</div>
	{% if warning %}
		<p class="warning">{{ warning }}</p>
	{% endif %}
	{% include "_includes/forms/errorList" with { errors: errors } %}
</div>
