/*
 * Freeform for Craft
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2018, Solspace, Inc.
 * @link          https://solspace.com/craft/freeform
 * @license       https://solspace.com/software/license-agreement
 */

div.top-bar {
  margin-bottom: 40px;
}

ul.pagemenu {
  margin-bottom: 25px;
}

label.required:after {
  content: "*";
  color: #d00;
  margin-left: 5px;

  font-size: 12px;
  font-family: serif;
  font-weight: bold;
}

ul.errors {
  padding: 0 20px;
  margin: 0;
  color: #d00;
}

ul.errors > li {
  font-size: 12px;
}

.submit {
  margin-top: 15px;
}

.submit-align-left {
  text-align: left;
}

.submit-align-right {
  text-align: right;
}

.submit-align-center {
  text-align: center;
}

.submit-align-left button:not(:first-of-type),
.submit-align-right button:not(:first-of-type),
.submit-align-center button:not(:first-of-type) {
  margin-left: 5px;
}

.submit-align-spread button:first-child {
  float: left;
}

.submit-align-spread button:last-child {
  float: right;
}
