{% extends "_layouts/main" %}

{% block main %}

<div class="jumbotron text-center jumbotron-padding" style = "background-image: url(/uploads/banner-images/background.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
      <h1 class="white mb-10">404</h1>
      <p class="white">We were unable to find the page you requested</p>
    </div>
    </div>
  </div>
</div>

<div class="application-list bottom-img-background text-center" style="background-image: url(/assets/icons/circuit-fade.png)">

  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center mb-20">
        <a href="/" class="blue-btn light-blue-outline reverse-btn">Home</a>
      </div>
      <div class="col-sm-4 text-center mb-20">
          <a href="/contact" class="blue-btn light-blue-outline reverse-btn" >Contact Us</a>
      </div>
      <div class="col-sm-4 text-center mb-20">
          <a href="/products.php" class="blue-btn light-blue-outline nowrap reverse-btn" target = "_blank">Search Parametric</a>
      </div>
    </div>
  </div>


</div>
{% endblock %}
