{% extends "_layouts/main" %}

{% block main %}



<div class="search-banner mb-40">


  <div class="container">
    <div class="text-center">
    <h1 class="white mb-20">Cross Reference Search</h1>
    </div>
    <div class="row no-gutters relative">


    <form id="se-cross-ref" method="get">

      <input type="text" name="partNumber" class = "search-page-input crossref-center" placeholder = "{% if craft.request.getParam('partNumber') | length %}{{ craft.request.getParam('partNumber') }}{% else %}Part Number {% endif %}" value="" style = "padding-left: 20px;"/>
      <input class="submit-glass" type="submit" value="">

    </form>
      </div>
</div>



</div>







{% if craft.request.getParam('partNumber')| length %}


<div class="large-container crossref-table">
  {% set rows = craft.crossReference.search(craft.request.getParam('partNumber'), craft.request.getParam('page')) %}

  <table class="table ">
    {% if rows | length  %}
      <thead>
      <tr>

          <th class = "medium">Part Number</th>
          <th>Manufacturer</th>
          <th>Lifecycle & <br> Datasheet</th>

          <th class = "long">Description</th>

                      <th>Availability</th>

          <th class = "medium">Abracon Part Number</th>




                  <th>Cross Lifecycle  <br> & Datasheet</th>
  <th class = "long">Cross Description</th>


          <th>Cross Match Type <sup><a href="#legend" class = "blue">[?]</a></sup></th>


      </tr>
      </thead>
      {% endif %}
      <tbody class = "smol">
      {% for row in rows %}
          <tr>

              <td>{{ row.PartNumber }}</td>
              <td>{{ row.Manufacturer }}</td>
              <td class = "text-center"> <div class = "mb-5 inline-block"> <b>{{ row.Lifecycle }}</b></div> <br> <a href="{{ row.Datasheet }}" class = "light-blue text-uppercase" target = "_blank">Datasheet</a> </td>

              <td>{{ row.Description }}</td>

                <td><a href="" class="btn blue blue-outline crossref-button reverse-btn" data-target = "{{ row.CrossPartNumber }}" >inquire</a></td>
              <td>{{ row.CrossPartNumber }}</td>



              <td class = "text-center">
                <div class = "mb-5 inline-block"> <b>{{ row.CrossLifecycle }}</b></div> <br> <a href="{{ row.CrossDatasheet }}" class = "light-blue text-uppercase" target = "_blank">Datasheet</a>
              </td>


              <td>{{ row.CrossDescription }}</td>


              <td>{{ row.Type }}</td>

          </tr>
      {% else %}

      {% endfor %}
      </tbody>
  </table>


{% if not rows  | length  %}

  <div class="text-center">
    <h2 class="blue">No results found</h2>
  </div>


{% endif %}



  {% if rows | length %}
  {% if craft.request.getParam('partNumber') %}

        {% set rows = craft.crossReference.search(craft.request.getParam('partNumber'), craft.request.getParam('page') + 1) %}



        {% if craft.request.getParam('page') != 1 and craft.request.getParam('page')|length %}

        <a href="?partNumber={{ craft.request.getParam('partNumber') }}&page={{ craft.request.getParam('page')|default(1) - 1 }}"><< Previous Page</a> {% if rows | length %}&nbsp;&nbsp;|&nbsp;&nbsp; {% endif %}



          {% endif %}


        {% if rows | length %}

      <a href="?partNumber={{ craft.request.getParam('partNumber') }}&page={{ craft.request.getParam('page')|default(1) + 1 }}">Next Page >></a>



        {% endif %}






  {% endif %}
  {% endif %}
  <br>
  <br>
    <br>
      <br>
</div>




<div class="container mb-60 relative">
  <div id="legend" class ="absolute" style = "top: -90px;"></div>

<div class="legend" >

  {% if rows | length  %}

<table class = "table">
  <tbody>
    <tr>
    <th>Code</th>
    <th>Definition</th>
    </tr>
    {% for row in crossMatchDescription.crossMatchType %}
    <tr>
      <td>{{ row.type }}</td>
      <td> {{ row.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}


</div>
</div>

{% else %}
<div class="container" style = "margin-bottom: 60px; margin-top: 40px;">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">

    <h2 class="blue">{{ entry.body }}</h2>

      </div></div>
  </div>
</div>

{% endif %}


<div class="part-modal pop-up ">
<div class="close-me parts-close"><img src="/assets/icons/close-me.svg" alt="X"></div>
<div class = "contact-inner">
  <div class="container contact-form">

      <div class="text-center">
        <h2 class="h1 light-blue">Check Availability</h2>
      </div>


      <div class = "form-container" >
      {{ craft.freeform.form("crossReference").render() }}


    </div>
</div>

</div>

</div>

{% endblock %}
