{% extends "_layouts/main" %}

{% block main %}
  {% set entry = craft.entries.id(2).first %}

{% include "./_partials/carousel.html" %}



<div class="video-section">
  <div class="large-container video-container">

    <div class="video-carousel">
      {% for vid in entry.videoCarousel %}
        {% if vid.type == "video" %}
      <div class = "col-fifth">
        <a href="" class = "video-btn" data-link = "{{ vid.videoLink }}">
          <div class="vid-thumb">
          <img src="{{ vid.thumbnail.first.url }}" alt="{{ vid.thumbnail.first.title  }}" class = "img-responsive">
          </div>
          <h4 class="light-blue text-uppercase mt-10 mb-5">{{ vid.videoTitle }}</h4>
          <h5 class="dark-blue text-uppercase">{{ vid.secondaryText }}</h5>
        </a>
      </div>
      {% else %}
      <div class = "col-fifth">
        <a href="{{ vid.linkUrl }}" class = "" {% if vid.newTab %} target = "_blank" {% endif %}>
          <div class="link-thumb">
          <img src="{{ vid.thumbnail.first.url }}" alt="{{ vid.thumbnail.first.title  }}" class = "img-responsive">
          </div>
          <h4 class="light-blue text-uppercase mt-10 mb-5">{{ vid.header }}</h4>
          <h5 class="dark-blue text-uppercase">{{ vid.secondaryText }}</h5>
        </a>
      </div>
      {% endif %}

      {% endfor %}





    </div>
  </div>

</div>





<div class="first-white-section hidden-overflow">
  <div class="large-container container-fluid">
    <img alt="" class="circuit-background hidden-md" src="/assets/icons/circuit-grey.svg">
    <div class="row flex">
      <div class="col-lg-3 col-md-9 col-xs-12">
        <h2 class="h1 dark-blue"><a href="/product-lineup" class="dark-blue">Our<br>  Products</a></h2>
        <p class="dark-blue">{{ entry.productSnippet }}</p>

      </div>
        {% set products = craft.entries.section('products') %}
        {% for productCategory in products.level(1) %}
      <div class="col-lg-3 col-md-4 col-xs-12 icon-col flex relative">
        <div class = 'center-mobile '>
        <a href="{{ productCategory.url }}">
        <div class="icon-block-smol">
          <div class="icon-holder"><img alt="{{ productCategory.displayIcon.first.title }}" src="{{ productCategory.displayIcon.first.url }}" class = "{{ productCategory.displayIcon.first.title | kebab }}"></div>
        </div>
        {% set cat =  productCategory.title | split('&') %}
        <h3 class="h2 blue">{{ cat[0] }} & <br> {{ cat[1] }}</h3>
      </a>
        <div class="row no-gutters left-medium center-mobile">
              {% set batchSize = craft.entries.descendantOf(productCategory)|length() / 2 %}
              {% for products in craft.entries.descendantOf(productCategory)|batch(batchSize) %}
            <div class="col-xs-12 no-gutters ">
            <ul class="list-unstyled item-list blue">
              {% for product in products %}
              <li><a href="{{ product.url }}" class = "blue">{{ product.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
      {% endfor %}
          </div>

            <a class="white h4 text-uppercase light-blue arrow-link" href="{{ productCategory.url }}">
              Learn More
              <span class="smol-arrow blue-arrow">
                <img alt="arrow >" src="/assets/icons/arrow-r-blue-smol.svg">
                <img alt="arrow >" src="/assets/icons/arrow-r-blue-smol.svg">
              </span>
            </a>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal-backdrop">

	<div class="modal-container">
    <div class="close-btn" style="

        /* pointer-events: none; */
    ">
          <img src="https://abracon.com/uploads/icons/close-btn.svg" alt="" role="presentation" style="
        width: 100%;">
        </div>
		<div class="videoWrapper">
		  <iframe width="560" height="315" src="https://www.youtube.com/embed/Q8YwuD4_nRY?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>


</div>




{% include "./_partials/related-pages-block.html" %}


{% endblock %}
