{% extends "_layouts/main" %}

{% block main %}

{% include "_partials/banner.html" %}

{% cache %}

	<div class="md-large-container card mt-140 shadow how-to-buy-section relative" >

		<div class="container">
      {% set block = entry.localRepresentativeText.first %}
			<div class="row ">
				<div class="col-md-5 col-xs-12 representative-blocks col">
					<h3 class="blue text-uppercase mb-5">
						{{ block.headerText }}
					</h3>

          <h4 class=  "mb-10"><a href="/rep-list-full" target = "_blank" class = "light-blue text-uppercase"> View full list   </a></h4>


					<p>{{ block.description }}</p>
          <div class="dropdown mb-20 country-list">
						<div class="curr ">Country</div>
						<div class="dropdown-list ">
              <a href="" class = "murica">United States</a>
							{% for country in craft.entries.section("countries").type("countries").order('title') %}
							<a href="" data-target = "{% for rep in country.representative %}.r{{country.id}}{{rep.id}},{% endfor %}">{{ country.title }}</a>
							{% endfor %}
						</div>
					</div>
						<div class="dropdown  state-list">
							<div class="curr">State</div>
								<div class="dropdown-list">
									{% for country in craft.entries.section("countries").type("state").order('title') %}
										<a href="" data-target = "{% for rep in country.representative %}.r{{country.id}}{{rep.id}},{% endfor %}">{{ country.title }}</a>
									{% endfor %}
								</div>
						</div>

{% for country in craft.entries.section("countries").order('title') %}


{% for rep in country.representative %}

					<div class="representative r{{country.id}}{{ rep.id }}">

						<h3 class="blue">{{ rep.title }}</h3>
            <h4 class="light-blue text-uppercase">
              {% if rep.rsm|length %}
              Regional Sales Manager
              {% else %}
							{% if rep.type == "representativeWLocation"%}{{ rep.locationName }}{% else %} <span class = "country-name"></span>{% endif %}
              {% endif %}
						</h4>
						<a href="mailto:{{ rep.email }}" class="body-grey">{{ rep.email }}</a> <br>
						{% if rep.phoneNumber|length %}<a href="tel:{{rep.phoneNumber }}" class = "body-grey mb-10">Ph: {{rep.phoneNumber}}</a> <br>{% endif %}

						{% if rep.isr|length %} <br> <span class="body-grey">	ISR: {{ rep.isr }}</span> <br>{% endif %}
            		{% if rep.isrEmail|length %}<a href="mailto:{{ rep.isrEmail }}" class="body-grey">	ISR Email: {{ rep.isrEmail }}</a> <br>{% endif %}
            			<span class="grey-line"></span>
					</div>

  {% endfor %}

  {% endfor %}



{% if entry.representativeListPdf|length %}


{% endif %}

				</div>


				<div class="floating-line"></div>


          {% set block = entry.authorizedDistributorText.first %}


				<div class="col-md-7 col-xs-12 col area-select" >
					<h3 class="blue text-uppercase">
						{{ block.headerText }}
					</h3>
					<p>{{ block.description}} </p>

					<div class="dropdown mb-20 area-dropdown">
						<div class="curr">Select Your Area</div>
						<div class="dropdown-list ">
              <a href="" data-target = ".global">Global</a>
							<a href="" data-target = ".americas">Americas</a>
              <a href="" data-target = ".asia">Asia</a>
              <a href="" data-target = ".emea">EMEA</a>
						</div>
					</div>


					<div class="logo-row  flex wrap align-center justify-center">
            {% for distributor in entry.authorizedDistributors %}
						<div class="logo-holder flex wrap align-center justify-center show-me-flex {% for check in distributor.locations %} {{ check.value  }} {% endfor %}"><a href="{{ distributor.website}}" target = "_blank" rel="nofollow"><img src="{{ distributor.logo.first.url }}" alt="{{ distributor.logo.first.title }}"></a></div>
            {% endfor %}

					</div>

				</div>
			</div>


		</div>


	</div>







{% set database = entry.databaseDescription.first %}
<div class="database-laptop">

<div class="bottom-right-img-background relative" >
<img src="/assets/icons/product-connect.png" alt="circuits" class="floating-bottom-right-circuit hidden-md">
  <div class="container">
        <div class="row">
          <div class="col-md-3 relative right-overflow hidden-md">
              <img src="{{ database.laptopImage.first.url }}" alt="{{ database.laptopImage.first.title }}" class = "floating-phone">
          </div>
          <div class="col-md-6 col-xs-12">
            <h2 class="blue"><a href="{{ database.linkUrl }}" class="blue">{{ database.headerText }}</a></h2>
            <p>{{ database.description }}</p>
          </div>
          <div class="col-md-3 col-xs-12 text-right text-left-sm">
            <a href="{{ database.linkUrl }}" class="blue-btn reverse-btn">{{ database.linkText }}</a>
          </div>
        </div>
  </div>
<div class="blue-laptop-bar blue-backgound hidden-md"></div>

</div>
</div>


{% endcache %}
{% endblock %}
