<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
		<link href="/assets/css/combined.min.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/manifest.json">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<style type="text/css">

#iubenda-cs-banner {

    bottom: 0px !important;

    left: 0px !important;

    position: fixed !important;

    width: 100% !important;

    z-index: 99999998 !important;

    background-color: black;

  }

  .iubenda-cs-content {

    display: block;

    margin: 0 auto;

    padding: 20px;

    width: auto;

    font-family: Helvetica,Arial,FreeSans,sans-serif;

    font-size: 14px;

    background: #000;

    color: #fff;}

  .iubenda-cs-rationale {

    max-width: 900px;

    position: relative;

    margin: 0 auto;

  }

  .iubenda-banner-content > p {

    font-family: Helvetica,Arial,FreeSans,sans-serif;

    line-height: 1.5;

  }

  .iubenda-cs-close-btn {

    margin:0;

    color: #fff;

    text-decoration: none;

    font-size: 14px;

    position: absolute;

    top: 0;

    right: 0;

    border: none;

  }

  .iubenda-cs-cookie-policy-lnk {

    text-decoration: underline;

    color: #fff;

    font-size: 14px;

    font-weight: 900;

  }

</style>

<script type="text/javascript">

var _iub = _iub || [];

_iub.csConfiguration = {"cookiePolicyInOtherWindow":true,"consentOnScroll":false,"lang":"en","siteId":1486675,"cookiePolicyId":14915140, "banner":{ "slideDown":false,"applyStyles":false } };

</script><script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>






<script src = "" data-suppressedsrc = "/assets/js/tracking.js" class="_iub_cs_activate" ></script>


<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0068/9046.js" async="async" class="_iub_cs_activate"></script>


</head>




  {% include "_partials/header.html"%}
  <body     {% if craft.request.getSegment(1) !="" %} class="has-breadcrumb" {% endif %}>






<div class="container" style = "padding-top: 90px; padding-bottom: 90px;">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum perferendis odit ex quisquam explicabo architecto fugit expedita blanditiis similique, temporibus nostrum ab, omnis facere distinctio minima voluptatibus facilis, voluptas nobis.</p>
</div>






  {% include "_partials/footer.html"%}




  </body>

</html>
