{% extends "_layouts/main" %}

{% block main %}

<div class="jumbotron text-center contact-jumbotron inherit-background" style = "background-image: url(/uploads/banner-images/background.png)">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 center-mobile">
      <h1 class="white">Login</h1>

    </div>
    </div>
  </div>
</div>

<div class="circuit-background">
<div class="container contact-container relative login-page ">

  <div class="row">
    <div class="floating-line"></div>
    <div class="col-md-6 contact-form">
      <div class="text-center">
      <h3 class="blue text-uppercase mt-20">Customer Login</h3>
      <a href="/login.php" class="blue-btn btn blue-outline mt-30 reverse-btn">Login</a>
        </div>

    </div>
    <div class="col-md-6 contact-form">
        <div class="text-center">
      <h3 class="blue text-uppercase mt-20 ">Sales Login</h3>
        <a href="https://www.abraconlink.com/linklogin.php" class="blue-btn btn blue-outline mt-30 reverse-btn" target="_blank">Login</a>
    </div>

    </div>
  </div>


</div>



</div>

{% endblock %}
