{% extends "_layouts/main" %}

{% block main %}

<div class="container pb-60">
  {% for row in craft.entries.section("representativeList").order("title")|batch(3) %}
  <div class="row">
{% for rep in row  %}
  <div class="col-md-4">
    <div class="representative r{{ rep.id }}" style = "display: block;">

      <h3 class="blue">{{ rep.title }}</h3>
      <h4 class="light-blue text-uppercase">
        {% if rep.rsm|length %}
        Regional Sales Manager
        {% else %}
        {% if rep.type == "representativeWLocation"%}{{ rep.locationName }}{% else %} <span class = "country-name"></span>{% endif %}
        {% endif %}
      </h4>
      <a href="mailto:{{ rep.email }}" class="body-grey">{{ rep.email }}</a> <br>
      {% if rep.phoneNumber|length %}<a href="tel:{{rep.phoneNumber }}" class = "body-grey mb-10">Ph: {{rep.phoneNumber}}</a> <br>{% endif %}

      {% if rep.isr|length %} <br> <span class="body-grey">	ISR: {{ rep.isr }}</span> <br>{% endif %}
          {% if rep.isrEmail|length %}<a href="mailto:{{ rep.isrEmail }}" class="body-grey">	ISR Email: {{ rep.isrEmail }}</a> <br>{% endif %}
            <span class="grey-line"></span>
    </div>
          </div>



{% endfor %}

  </div>
{% endfor %}

</div>

{% endblock %}
