{% extends "_layouts/main" %}

{% block main %}

<style>





  .responsive-table {
    background: white;
    border-radius:5px;
    border-collapse: collapse;
    margin: auto;
    max-width: 900px;
    padding:5px;
    width: 100%;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    line-height: normal;
  }

  .responsive-table th {
    color:#fff;
    background:#131F3D;
    border-bottom: 2px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 12px;
    font-weight: 600;
    padding:10px 15px 10px 15px;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }



  .responsive-table th:last-child {
    border-right:none;
  }

  .responsive-table tr {
    color:#333333;
    font-size:12px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  height: 50px;
  }

  .responsive-table tr:hover td {
    background:rgba(62, 117, 192, 0.75);
    color:#FFFFFF;
  }

  .responsive-table tr:hover a {
    color:#FFFFFF;
  }

  .responsive-table tr:first-child {
    border-top:none;
  }

  .responsive-table tr:last-child {
    border-bottom:none;
  }

  .responsive-table tr:nth-child(odd) td {
    background:#f2f2f2;
  }

  .responsive-table tr:nth-child(odd):hover td {
    background:rgba(62, 117, 192, 0.75);
  }

  .responsive-table tr:nth-child(odd):hover a {
  color: white;
  }



  .responsive-table tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }

  .responsive-table td {
    background:#FFFFFF;
    padding: 20px 15px;

    vertical-align:middle;
    font-weight:300;
    font-size:12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .responsive-table td:last-child {
    border-right: 0px;
  }



  .toggle-columns{
    position: relative;
    cursor: pointer;
  }
  .toggle-columns:after{
    content: "+";
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 30px;
  }



.collapse-small{
  display: none;
}



@media (max-width: 768px) {

  .scrolling-table{
    overflow: scroll;
  }

  .scrolling-table th{
    min-width: 250px;
  }

  .collapse-small{
    display: table;
  }

  .collapse-large{
    display: none;
  }


}






</style>





<div class="container mt-50 scrolling-table">


<h2 class="dark-blue mb-30">Scrolling Table</h2>


<table class = "responsive-table">

<thead>
  <tr>
  {% for col in entry.tableMakerTest.columns %}
    <th align="{{ col.align }}" width="{{ col.width }}">{{ col.heading }}</th>
  {% endfor %}
  </tr>
</thead>

<tbody>

  {% set flag = 0%}


  {% for row in entry.tableMakerTest.rows %}
  <tr>



  {% for cell in row %}
    {% if cell != "heading" and cell | length %}

      {% if flag == 1 %}
        {% set flag = 0 %}
          <td colspan = "100%" style = "background-color: #253c75; color: white;font-weight: bold; text-align: center;padding-top:10px;padding-bottom:10px;" align="{{ entry.tableMakerTest.columns[loop.index0].align }}">{{ cell | raw }}</td>
        {% else %}
        <td align="{{ entry.tableMakerTest.columns[loop.index0].align }}">{{ cell | raw }}</td>

      {% endif %}

    {% elseif cell == "heading" %}

            {% set flag = 1 %}

    {% else %}


    {% endif %}



  {% endfor %}
  </tr>
{% endfor %}
</tbody>

</table>
</div>




<div class="container mt-50 mb-50">



<h2 class="dark-blue mb-30">Collapsing Table</h2>


<table class = "responsive-table folding-table collapse-large">

<thead>
  <tr>
  {% for col in entry.tableMakerTest.columns %}
    <th align="{{ col.align }}" width="{{ col.width }}">{{ col.heading }}</th>
  {% endfor %}
  </tr>
</thead>

<tbody>
  {% for row in entry.tableMakerTest.rows %}
  <tr>
  {% for cell in row %}
  {% if cell != "heading" and cell | length %}

    {% if flag == 1 %}
      {% set flag = 0 %}
        <td colspan = "100%" style = "background-color: #253c75; color: white;font-weight: bold; text-align: center;padding-top:10px;padding-bottom:10px;" align="{{ entry.tableMakerTest.columns[loop.index0].align }}">{{ cell | raw }}</td>
      {% else %}
      <td align="{{ entry.tableMakerTest.columns[loop.index0].align }}">{{ cell | raw }}</td>

    {% endif %}

  {% elseif cell == "heading" %}

          {% set flag = 1 %}

  {% else %}


  {% endif %}
  {% endfor %}
  </tr>
{% endfor %}
</tbody>

</table>
</div>




<div class="container mt-50 mb-50">


  <table class = "responsive-table folding-table collapse-small">

  <tbody>

    {% for col in entry.tableMakerTest.columns %}
        <tr class = "mt-30 ">
      <th align="{{ col.align }}" width="{{ col.width }}" data-target = ".col-{{loop.index}}" class = "toggle-columns">{{ col.heading }}</th>
        </tr>
      {% for row in entry.tableMakerTest.rows %}
        {% for cell in row %}
        {% if loop.parent.loop.parent.loop.index == loop.index %}
        {% if cell != "heading" and cell | length %}
        <tr style = "display: none;" class = " col-{{ loop.index }}">
              <td align="{{ entry.tableMakerTest.columns[loop.index0].align }}">{{ cell | raw }}</td>
          </tr>
          {% endif %}

          {% endif %}

        {% endfor %}
      {% endfor %}
    {% endfor %}

  </tbody>

  </table>



</div>





{% endblock %}
