
{{ forms.textField({
	label: "Title"|t,
	id: 'title',
	class: 'nicetext',
	name: 'title',
	value: meta.title,
	errors: meta.getErrors('title'),
	first: true,
	autofocus: true,
	required: true,
	locale: meta.locale,
}) }}

{{ forms.textField({
	label: "Template Path"|t,
	instructions: "Enter the path to the template to associate this meta with (just as you would on the Section settings).  It will override the SEO Site Meta for this template.  Leave any field blank if you want it to fall back on the default global settings for that field." |t |raw,
	id: 'metaPath',
	class: 'nicetext',
	name: 'metaPath',
	value: meta.metaPath,
	errors: meta.getErrors('metaPath'),
	required: true,
	locale: meta.locale,
}) }}

<div class="field">
    <div class="heading">
        <label for="seoMainEntityOfPage">{{ "Main Entity of Page"|t}}{% if craft.isLocalized and meta.locale %}<span class="locale">{{ meta.locale }}</span>{% endif %}</label>
        <div class="instructions"><p>{{ "The Main Entity of Page is a more specific, additional type that describes this page.  This additional JSON-LD structured data entity will be added to your page, more specifically describing the page's content.  It is accessible via the <code>seomaticMainEntityOfPage</code> Twig variable, should you wish to modify or add to it." |t |raw}}</p></div>
    </div>
    <div>
        <div class="inline-item">
			{{ forms.selectField({
			    id: "seoMainEntityCategory",
                class: "inline-item",
                fieldClass: "inline-item",
			    options: {
			    	"CreativeWork": "CreativeWork",
			    	"Event": "Event",
                    "Organization": "Organization",
                    "Person": "Person",
			    	"Product": "Product",
				},
			    name: "seoMainEntityCategory",
			    value: meta.seoMainEntityCategory,
			    locale: meta.locale,
			}) }}
        </div>
        <div class="inline-item">
			{{ forms.selectField({
				label: "&rarr;",
                class: "inline-item",
                fieldClass: "inline-item",
			    id: "seoMainEntityOfPage",
			    options: {
				},
			    name: "seoMainEntityOfPage",
			    value: meta.seoMainEntityOfPage,
			    locale: meta.locale,
			}) }}
        </div>
        <div class="inline-item">
        	<div class="inline-item inline-item-padding seomaticSchemaInfo">
        	</div>
        </div>
	</div>
</div>
{% set myJs %}
    setSelectedValue("{{ meta.seoMainEntityOfPage }}");
{% endset %}
{% includeJs myJs %}

{{ forms.textField({
	label: "SEO Title"|t,
	instructions: "<a href='http://blog.woorank.com/2014/07/15-title-tag-optimization-guidelines-usability-seo/' target='_blank'>The SEO Title</a> should be between 10 and 70 characters (spaces included).  Make sure your title tag is explicit and contains your most important keywords. Be sure that each page has a unique title tag.  The <code>siteSeoName</code> length is subtracted from the 70 character limit automatically, since it is appended to the <code>seoTitle</code>.  <br /><br />You can include tags that output entry properties, such as <code>{title}</code> or <code>{myCustomField}</code> in the text field below." |t |raw,
	id: 'seoTitle',
	class: 'nicetext',
	name: 'seoTitle',
	value: meta.seoTitle,
	errors: meta.getErrors('seoTitle'),
	maxlength: titleLength,
	showCharsLeft: true,
	required: false,
	locale: meta.locale,
}) }}

<div class="field" id="seoDescription-field">
	<div class="heading">
		<label for="seoDescription">{{ "SEO Description"|t}}{% if meta.locale %}<span class="locale">{{ meta.locale }}</span>{% endif %}</label>
		<div class="instructions"><p>{{ "<a href='http://blog.woorank.com/2013/03/the-importance-of-meta-descriptions/' target='_blank'>The SEO Description</a> should be between 70 and 160 characters (spaces included).  Meta descriptions allow you to influence how your web pages are described and displayed in search results.  Ensure that all of your web pages have a unique meta description that is explicit and contains your most important keywords.  <br /><br />You can include tags that output entry properties, such as <code>{title}</code> or <code>{myCustomField}</code> in the text field below." |t |raw}}</p></div>
	</div>
{{ forms.textarea({
	id: 'seoDescription',
	class: 'nicetext',
	name: 'seoDescription',
	value: meta.seoDescription,
	errors: meta.getErrors('seoDescription'),
	maxlength: 160,
	showCharsLeft: true,
	required: false,
	locale: meta.locale,
}) }}
</div>

<div class="field" id="seoKeywords-field">
	<div class="heading">
		<label for="seoDescription">{{ "SEO Keywords"|t}}{% if meta.locale %}<span class="locale">{{ meta.locale }}</span>{% endif %}</label>
		<div class="instructions"><p>{{ "Google ignores <a href='http://blog.woorank.com/2014/06/meta-element-a-beguiners-guide/#metakeyword' target='_blank'>SEO Keywords tag</a>; though other search engines do look at it.  Utilize it carefully, as improper or spammy use most likely will hurt you, or even have your site marked as spam.  Avoid overstuffing the keywords and do not include keywords that are not related to the specific page you place them on.  <br /><br />You can include tags that output entry properties, such as <code>{title}</code> or <code>{myCustomField}</code> in the text field below." |t |raw}}</p></div>
	</div>
{{ forms.textarea({
	label: "SEO Keywords"|t,
	instructions: "Google ignores this tag; though other search engines do look at it.  Utilize it carefully, as improper or spammy use most likely will hurt you, or even have your site marked as spam.  Avoid overstuffing the keywords and do not include keywords that are not related to the specific page you place them on.  <br /><br />You can include tags that output entry properties, such as <code>{title}</code> or <code>{myCustomField}</code> in the text field below." |t |raw,
	id: 'seoKeywords',
	class: 'nicetext',
	name: 'seoKeywords',
	value: meta.seoKeywords,
	errors: meta.getErrors('seoKeywords'),
	maxlength: 200,
	showCharsLeft: true,
	required: false,
	locale: meta.locale,
}) }}
</div>

<div class="field" id="seoImageId-field">
	<div class="heading">
		<label for="seoImageId">{{ "SEO Image"|t}}{% if meta.locale %}<span class="locale">{{ meta.locale }}</span>{% endif %}</label>
		<div class="instructions"><p>{{ "This is the image that will be used for display as the webpage brand for this template, as well as on Twitter Cards and Facebook OpenGraph that link to this page, if they are not specified.  The image must be in JPG, PNG, or GIF format." |t |raw}}</p></div>
	</div>
	<div class="input">
		{% if assetsSourceExists %}
			{{ forms.elementSelect({
				elements: elements,
				id: 'seoImageId',
				name: 'seoImageId',
				elementType: elementType,
				criteria: {
					'kind': ['image'],
					'localeEnabled': null,
					'locale': craft.locale,
				},
				sourceElementId: seoImageId,
				jsClass: 'Craft.AssetSelectInput',
				addButtonLabel: "Select SEO Image" |t,
				limit: 1,
				locale: meta.locale,
			}) }}
		{% else %}
			<p class="error">No assets sources currently exist. <a href="{{ newAssetsSourceUrl }}">Create one now...</a></p>
		{% endif %}
	</div>
</div>

{{ forms.selectField({
    label: "SEO Image Transform"|t,
    instructions: "The image transform to apply to the Site SEO Image."|t,
    id: "seoImageTransform",
    options: transformsList,
    name: "seoImageTransform",
    value: meta.seoImageTransform,
    locale: meta.locale,
}) }}

{{ forms.selectField({
    first: true,
    label: "Twitter Card Type"|t,
    instructions: "With Twitter Cards, you can attach rich photos and information to Tweets that drive traffic to your website. Users who Tweet links to your content will have a “Card” added to the Tweet that’s visible to all of their followers.  Setting it to a blank value means 'no change'."|t,
    id: "twitterCardType",
    options: {
		"": "",
		"summary": "Summary Card"|t,
		"summary_large_image": "Summary Card with Large Image"|t,
    },
    name: "twitterCardType",
    value: meta.twitterCardType,
	locale: meta.locale,
}) }}

<div class="field" id="seoTwitterImageId-field">
    <div class="heading">
        <label for="seoTwitterImageId">{{ "Twitter Card Image"|t}}{% if meta.locale %}<span class="locale">{{ meta.locale }}</span>{% endif %}</label>
        <div class="instructions"><p>{{ "This is the image that will be used for Twitter Cards that link to this page.  If no image is specified here, the Site SEO Image will be used for Twitter Cards instead.  The image must be in JPG, PNG, or GIF format." |t |raw}}</p></div>
    </div>
    <div class="input">
        {% if assetsSourceExists %}
            {{ forms.elementSelect({
                elements: elementsTwitter,
                id: 'seoTwitterImageId',
                name: 'seoTwitterImageId',
                elementType: elementType,
                criteria: {
                    'kind': ['image'],
                    'localeEnabled': null,
                    'locale': craft.locale,
                },
                sourceElementId: seoTwitterImageId,
                jsClass: 'Craft.AssetSelectInput',
                addButtonLabel: "Select Twitter Card Image" |t,
                limit: 1,
                locale: meta.locale,
            }) }}
        {% else %}
            <p class="error">No assets sources currently exist. <a href="{{ newAssetsSourceUrl }}">Create one now...</a></p>
        {% endif %}
    </div>
</div>

{{ forms.selectField({
    label: "Twitter Card Image Transform"|t,
    instructions: "The image transform to apply to the Twitter Card Image.  Twitter recommends: 120 x 120 pixels minimum size, 1:1 aspect ratio, 1mb max size for Summary Card images, and 280x150 pixels minimum size, 1.86:1 aspect ratio, 1mb max size for Summary Card with Large Image images."|t,
    id: "seoTwitterImageTransform",
    options: transformsList,
    name: "seoTwitterImageTransform",
    value: meta.seoTwitterImageTransform,
    locale: meta.locale,
}) }}

{{ forms.selectField({
    first: true,
    label: "Facebook OpenGraph Type"|t,
    instructions: "Adding OpenGraph tags to your website influences the performance of your links on social media by allowing you to control what appears when a user posts a link to your content on Facebook.  Setting it to a blank value means 'no change'."|t,
    id: "openGraphType",
    options: {
		"": "",
		"website": "Website"|t,
        "article": "Article"|t,
    },
    name: "openGraphType",
    value: meta.openGraphType,
	locale: meta.locale,
}) }}

<div class="field" id="seoFacebookImageId-field">
    <div class="heading">
        <label for="seoFacebookImageId">{{ "Facebook OpenGraph Image"|t}}{% if meta.locale %}<span class="locale">{{ meta.locale }}</span>{% endif %}</label>
        <div class="instructions"><p>{{ "This is the image that will be used for Facebook posts that link to this page.  If no image is specified here, the Site SEO Image will be used for Facebook posts instead.  The image must be in JPG, PNG, or GIF format." |t |raw}}</p></div>
    </div>
    <div class="input">
        {% if assetsSourceExists %}
            {{ forms.elementSelect({
                elements: elementsFacebook,
                id: 'seoFacebookImageId',
                name: 'seoFacebookImageId',
                elementType: elementType,
                criteria: {
                    'kind': ['image'],
                    'localeEnabled': null,
                    'locale': craft.locale,
                },
                sourceElementId: seoFacebookImageId,
                jsClass: 'Craft.AssetSelectInput',
                addButtonLabel: "Select Facebook OpenGraph Image" |t,
                limit: 1,
                locale: meta.locale,
            }) }}
        {% else %}
            <p class="error">No assets sources currently exist. <a href="{{ newAssetsSourceUrl }}">Create one now...</a></p>
        {% endif %}
    </div>
</div>

{{ forms.selectField({
    label: "Facebook Image Transform"|t,
    instructions: "The image transform to apply to the Facebook OpenGraph Image.  Facebook recommends: 1200 x 630 pixels minimum size, 1.9:1 aspect ratio, 8mb max size."|t,
    id: "seoFacebookImageTransform",
    options: transformsList,
    name: "seoFacebookImageTransform",
    value: meta.seoFacebookImageTransform,
    locale: meta.locale,
}) }}

{{ forms.selectField({
    label: "Robots Meta Tag"|t,
    instructions: "The robots meta tag lets you utilize a granular, page-specific approach to controlling how an individual page should be indexed and served to users in search results.  Setting it to a blank value means 'no change'."|t,
    id: "robots",
    options: {
	   	"": "",
		"all": "all - Index this page and follow links (default)" |t,
		"noindex": "noindex - Do not index this page" |t,
		"nofollow": "nofollow - Do not follow links on this page" |t,
		"none": "none - Do not index or follow links on this page" |t,
    },
    name: "robots",
    value: meta.robots,
	locale: meta.locale,
}) }}
