<input type="hidden" name="{{ name }}" value="">

<div id="{{ id }}" class="categoriesfield">
	<ul class="elements structure">
		{% nav category in elements %}
			<li id="{{ id }}-category-{{ category.id }}">
				{% set indent = (category.level - 1) * 35 %}
				<div class="row" style="margin-left: -{{ indent }}px; padding-left: {{ indent }}px;">
					{%- include "_elements/element" with { element: category, context: 'field' } -%}
				</div>

				{% ifchildren %}
					<ul>
						{% children %}
					</ul>
				{% endifchildren %}
			</li>
		{% endnav %}
	</ul>

	<div class="btn add icon dashed">{{ selectionLabel }}</div>
</div>

{% if jsClass is defined %}
	{% includejs %}
		new {{ jsClass }}({
			id: "{{ id   | namespaceInputId   | e('js') }}",
			name: "{{ name | namespaceInputName | e('js') }}",
			elementType: "{{ elementType.getClassHandle()|e('js') }}",
			sources: {{ sources|json_encode|raw }},
			criteria: {{ criteria|json_encode|raw }},
			sourceElementId: {{ sourceElementId ?: 'null' }},
			limit: {{ limit ?: 'null' }},
			modalStorageKey: "{{ storageKey|e('js') }}",
			selectionLabel: "{{ selectionLabel|e('js') }}"
		});
	{% endincludejs %}
{% endif %}
