{% extends "freeform/_layouts/settings" %}

{% block content %}

    <h2>{{ "CRM"|t }}</h2>

    <div id="no-crm-integrations"{% if integrations|length %} class="hidden"{% endif %}>
        <p>{{ "No CRM integrations exist yet"|t }}</p>
    </div>

    {% if integrations|length %}
        <table id="crm-integrations" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "Handle"|t }}</th>
                <th scope="col">{{ "Service Provider"|t }}</th>
                <th scope="col">{{ "Last Updated"|t }}</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for integration in integrations %}
                <tr data-id="{{ integration.id }}" data-name="{{ integration.name }}">
                    <th scope="row" data-title="{{ 'Name'|t }}">
                        <a href="{{ url('freeform/settings/crm/'~integration.handle) }}">{{ integration.name }}</a>
                    </th>
                    <td data-title="{{ "Handle"|t }}" class="code">
                        {{ integration.handle }}
                    </td>
                    <td data-title="{{ "Service Provider"|t }}" class="code">
                        {{ integration.integrationObject.serviceProvider }}
                    </td>
                    <td data-title="{{ 'Last Updated'|t }}">
                        {{ integration.lastUpdate|date("Y-m-d H:i") }}
                    </td>
                    <td class="thin">
                        <a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

    {% if providers|length == 0 %}
        <div class="alert alert-info alert-dismissible">
            <a href="https://solspace.com/craft/freeform/pro">
                {{ "Upgrade to Pro to enable"|t }}
            </a>
        </div>
    {% endif %}

{% endblock %}


{% set extraPageHeaderHtml %}

    {% if currentUser.can("freeform-settingsManage") and providers|length > 0 %}
        <div class="buttons">
            <a href="{{ url('freeform/settings/crm/new') }}" class="btn submit add icon">
                {{ "New CRM Integration"|t }}
            </a>
        </div>
    {% endif %}

{% endset %}


{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#crm-integrations',
noObjectsSelector: '#no-crm-integrations',
newObjectBtnSelector: '#new-crm-integration',
deleteAction: 'freeform/crm/delete',
confirmDeleteMessage: '{{ "Are you sure you want to remove the “{name}” integration?"|t }}'
});
{% endincludejs %}
