{% extends "freeform/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "Formatting Templates"|t }}</h2>

    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="freeform/settings/saveSettings">
        <input type="hidden" name="redirect" value="freeform/settings/formatting-templates">
        {{ getCsrfInput() }}

        {{ forms.textField({
            class: "code",
            label: "Directory Path"|t,
            instructions: "Provide a relative path to the Craft root folder where your custom formatting templates directory is. This allows you to use Twig templates for your form formatting, and helps Composer locate these files to assign one of them to a form."|t,
            placeholder: "templates/freeform/",
            id: "formTemplateDirectory",
            name: "settings[formTemplateDirectory]",
            value: settings.formTemplateDirectory,
            errors: settings.getErrors("formTemplateDirectory"),
        }) }}

        {% if settings.absoluteFormTemplateDirectory %}

            {% set templateFiles = craft.freeform.settings.listTemplatesInFormTemplateDirectory() %}


            <div id="components-wrapper">
                <div>
                    <button type="button" class="btn submit small icon add" id="add-demo-template">
                        {{ "Add a sample template"|t }}
                    </button>

                    <ul class="directory-structure">
                        <li class="dir">
                            <span>{{ settings.formTemplateDirectory }}</span>
                            <ul>
                                {% for file in templateFiles %}
                                    <li class="file">
                                        <span>{{ file }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}

        <input type="submit" class="btn submit" value="{{ "Save"|t }}">
    </form>

{% endblock %}

{% set addDemoTemplateJs %}
    var data = {
        templateName: "sampletemplate",
    };

    data["{{ craft.config.csrfTokenName }}"] = "{{ craft.request.csrfToken }}";

    $("#add-demo-template").on({
        click: function() {
            $.ajax({
                url: "{{ url("freeform/settings/addDemoTemplate") }}",
                type: "post",
                dataType: "json",
                data: data,
                success: function(response) {
                    if (!response.errors.length) {
                        window.location.reload();
                    } else {
                        for (var i = 0; i < response.errors.length; i++ ) {
                            var message = response.errors[i];
                            Craft.cp.displayNotification("error", message);
                        }
                    }
                }
            });
        }
    });
{% endset %}
{% includeJs addDemoTemplateJs %}
