{% extends "freeform/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "General Settings"|t }}</h2>

    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="freeform/settings/saveSettings">
        <input type="hidden" name="redirect" value="freeform/settings/general">
        {{ getCsrfInput() }}

        {{ forms.textField({
            class: "code",
            label: "Custom Plugin Name"|t,
            instructions: "Override the plugin name by specifying your own here."|t,
            placeholder: craft.freeform.name,
            id: "pluginName",
            name: "settings[pluginName]",
            value: settings.pluginName,
            errors: settings.getErrors("pluginName"),
        }) }}

        {{ forms.lightswitchField({
            label: "Show Composer Tutorial"|t,
            instructions: "Enable this to show the interactive tutorial again in Composer. This setting disables again when the tutorial is completed or skipped."|t,
            name: "settings[showTutorial]",
            on: settings.showTutorial,
            errors: settings.errors("showTutorial"),
        }) }}

        {{ forms.selectField({
            label: "Default View"|t,
            instructions: "The default page to go to when clicking the Freeform nav item."|t,
            name: "settings[defaultView]",
            options: {
                forms: "Form view",
                submissions: "Submission view",
            },
            value: settings.defaultView,
            errors: settings.errors("defaultView"),
        }) }}

        {{ forms.selectField({
            label: "Display Order of Fields in Composer"|t,
            instructions: "The display order for the list of available fields in Composer."|t,
            name: "settings[fieldDisplayOrder]",
            value: settings.fieldDisplayOrder,
            errors: settings.errors("fieldDisplayOrder"),
            options: {
                type: "Field type, Field name (alphabetical)",
                name: "Field name (alphabetical)",
            },
        }) }}

        {{ forms.lightswitchField({
            label: "Include Default Freeform Formatting Templates"|t,
            instructions: "Disable this to hide the default Freeform formatting templates in the Formatting Template options list inside Composer."|t,
            name: "settings[defaultTemplates]",
            on: settings.defaultTemplates,
            errors: settings.errors("defaultTemplates"),
        }) }}

        {{ forms.lightswitchField({
            label: "Remove Newlines from Textareas for Exporting"|t,
            instructions: "Enable this to have newlines removed from Textarea fields in submissions when exporting."|t,
            name: "settings[removeNewlines]",
            on: settings.removeNewlines,
            errors: settings.errors("removeNewlines"),
        }) }}

        {{ forms.lightswitchField({
            label: "Disable Submit Button on Form Submit?"|t,
            instructions: "Enable this to automatically disable the form's submit button when the user submits the form. This will prevent the form from double-submitting."|t,
            name: "settings[formSubmitDisable]",
            on: settings.formSubmitDisable,
            errors: settings.errors("formSubmitDisable"),
        }) }}

        {{ forms.lightswitchField({
            label: "Include Freeform Scripts in the Page Footer?"|t,
            instructions: "Disable this to have Freeform's auto-generated javascript code loaded inside the form tag instead of the page footer."|t,
            name: "settings[footerScripts]",
            on: settings.footerScripts,
            errors: settings.errors("footerScripts"),
        }) }}

        <input type="submit" class="btn submit" value="{{ "Save"|t }}">
    </form>

{% endblock %}
