{% extends "freeform/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "reCAPTCHA"|t }}</h2>

    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="freeform/settings/saveSettings">
        <input type="hidden" name="redirect" value="freeform/settings/recaptcha">
        {{ getCsrfInput() }}

        {{ forms.lightswitchField({
            label: "Enable reCAPTCHA?"|t('freeform'),
            instructions: "Enable this to allow use of reCAPTCHA on your forms."|t('freeform'),
            name: "settings[recaptchaEnabled]",
            on: settings.recaptchaEnabled,
            toggle: 'recaptcha-fields',
            errors: settings.errors("recaptchaEnabled"),
        }) }}

        <div id="recaptcha-fields" class="field {{ not settings.recaptchaEnabled ? 'hidden' }}">
            {{ forms.textField({
                label: "reCAPTCHA Site Key"|t('freeform'),
                name: "settings[recaptchaKey]",
                required: true,
                value: settings.recaptchaKey,
                errors: settings.errors("recaptchaKey"),
            }) }}

            {{ forms.textField({
                label: "reCAPTCHA Secret Key"|t('freeform'),
                name: "settings[recaptchaSecret]",
                required: true,
                value: settings.recaptchaSecret,
                errors: settings.errors("recaptchaSecret"),
            }) }}
        </div>

        <input type="submit" class="btn submit" value="{{ "Save"|t }}">
    </form>

{% endblock %}
