{% extends "_layouts/main" %}

{% block main %}
{% cache %}

{% include "_partials/banner.html"%}


  <div class="  resource-section bottom-img-background"  style="background-image: url(/assets/icons/circuit-fade.png)">
    <div class="md-large-container">
      {% set categories = craft.categories.group("resources") %}
      <div class="row">
        <div class="col-md-4">

          {% for cat in categories %}
          <div class="resource-tab text-uppercase {% if loop.first %} active {% endif %}" data-target = ".{{ cat.title|kebab }}">
            <div class="icon-block">
              <div class="icon-holder"><img alt="{{ cat.displayIcon.first.title }}" src="{{ cat.displayIcon.first.url }}"></div>
            </div>{{ cat.title }}
          </div>
          {% endfor %}


          <div class="dropdown mb-30 resource-list">
            <div class="curr ">Category</div>
            <div class="dropdown-list ">
              {% for cat in categories %}
              <a href="" data-target = ".{{ cat.title|kebab }}">{{ cat.title }}</a>
              {% endfor %}
            </div>
          </div>


        </div>

        {% set additionalLinks = entry.additionalLinks %}



        <div class="col-md-8 resource-links">

          {% for cat in categories.limit(4) %}

              {% if loop.first %}
                {% set loopIndex = 0 %}
              {% else %}
                {% set loopIndex = 1 %}
              {% endif %}

              <div class="row {{ cat.title|kebab }} resource-category-list {% if loopIndex == 0 %} show-me-flex {% endif %} wrap">





            {% if cat.id == 17  or cat.id == 19%}

            {% for resource in craft.assets.relatedTo(cat).source("resources").limit(null).order('dateUpdated desc')|batch(3) %}
              {% for resource in resource %}
                <div class="col-sm-4  col-xs-12 flex mb-40"><a href="{{ resource.url }}" class="blue large  pb-10 bottom-border">{{ resource.title }}</a></div>
              {% endfor %}
            {% endfor %}

            {% else %}

            {% for resource in craft.assets.relatedTo(cat).source("resources").limit(null)|batch(3) %}
            {% for resource in resource %}
              <div class="col-sm-4  col-xs-12 flex mb-40"><a href="{{ resource.url }}" class="blue large  pb-10 bottom-border">{{ resource.title }}</a></div>
            {% endfor %}
            {% endfor %}

            {% endif %}


            {% for link in additionalLinks.limit(null) %}
            {% if cat.id == link.category.first.id %}
                  <div class="col-sm-4 col-xs-12 flex mb-40"><a href="{{ link.linkUrl }}" class="blue large  pb-10 bottom-border" {% if link.newTab %} target = "_blank" {% endif %}>{{ link.linkTitle }}</a></div>
            {% endif %}

            {% endfor %}


            {% if cat.id == 7656 %}
                  {% for vid in entry.videoCarousel %}

                  <div class = "col-sm-4  col-xs-6 flex mb-40 resource-vid">
                    <a href="" class = "video-btn" data-link = "{{ vid.videoLink }}">
                      <div class="vid-thumb">
                      <img src="{{ vid.thumbnail.first.url }}" alt="{{ vid.thumbnail.first.title  }}" class = "img-responsive">
                      </div>
                      <h4 class="light-blue text-uppercase mt-10 mb-5">{{ vid.videoTitle }}</h4>
                      <h5 class="dark-blue text-uppercase">{{ vid.secondaryText }}</h5>
                    </a>
                  </div>

                  {% endfor %}

                  {% endif %}



              </div>

          {% endfor %}


                    {% for cat in categories.offset(4) %}

                        {% if loop.first %}
                          {% set loopIndex = 0 %}
                        {% else %}
                          {% set loopIndex = 1 %}
                        {% endif %}

                        <div class="row {{ cat.title|kebab }} resource-category-list {% if loopIndex == 0 %} show-me-flex {% endif %} wrap">





                      {% if cat.id == 17  or cat.id == 19%}

                      {% for resource in craft.assets.relatedTo(cat).source("resources").limit(null).order('dateUpdated desc')|batch(3) %}
                        {% for resource in resource %}
                          <div class="col-sm-4  col-xs-12 flex mb-40"><a href="{{ resource.url }}" class="blue large  pb-10 bottom-border">{{ resource.title }}</a></div>
                        {% endfor %}
                      {% endfor %}

                      {% else %}

                      {% for resource in craft.assets.relatedTo(cat).source("resources").limit(null)|batch(3) %}
                      {% for resource in resource %}
                        <div class="col-sm-4  col-xs-12 flex mb-40"><a href="{{ resource.url }}" class="blue large  pb-10 bottom-border">{{ resource.title }}</a></div>
                      {% endfor %}
                      {% endfor %}

                      {% endif %}


                      {% for link in additionalLinks.limit(null) %}
                      {% if cat.id == link.category.first.id %}
                            <div class="col-sm-4 col-xs-12 flex mb-40"><a href="{{ link.linkUrl }}" class="blue large  pb-10 bottom-border" {% if link.newTab %} target = "_blank" {% endif %}>{{ link.linkTitle }}</a></div>
                      {% endif %}

                      {% endfor %}


                      {% if cat.id == 7656 %}
                            {% for vid in entry.videoCarousel %}

                            <div class = "col-sm-4  col-xs-6 flex mb-40 resource-vid">
                              <a href="" class = "video-btn" data-link = "{{ vid.videoLink }}">
                                <div class="vid-thumb">
                                <img src="{{ vid.thumbnail.first.url }}" alt="{{ vid.thumbnail.first.title  }}" class = "img-responsive">
                                </div>
                                <h4 class="light-blue text-uppercase mt-10 mb-5">{{ vid.videoTitle }}</h4>
                                <h5 class="dark-blue text-uppercase">{{ vid.secondaryText }}</h5>
                              </a>
                            </div>

                            {% endfor %}

                            {% endif %}



                        </div>

                    {% endfor %}


        </div>
      </div>



    </div>
  </div>
  <div class="modal-backdrop">

  	<div class="modal-container">
      <div class="close-btn">
        <img src="https://abracon.com/uploads/icons/close-btn.svg" alt="" role="presentation">
      </div>
  		<div class="videoWrapper">
  		  <iframe width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  		</div>
  	</div>


  </div>
  	{% include "./_partials/related-pages-block.html" %}
{% endcache %}
{% endblock %}
